<div class="myaccount-content">
  <div class="button-group">
   <button type="button" class="button address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
   {% if customer.tags contains "distributor" or customer.tags contains "Distributor" %}<button type="button" class="button store-locator" data-toggle="modal" data-target="#locatorModal">Map Marker Details</button>{% endif %}
  </div>
     
      <div id="AddressNewForm" class="form-vertical hide">
    	{% form 'customer_address', customer.new_address %} 
        	{% if form.posted_successfully? %}
            	<script>
            		window.location = "/account?tab=address";
            	</script>
			{% endif %}
        <h3>{{ 'customer.addresses.add_new' | t }}</h3>
        <div class="form-row form-row-first">
          <p class="minimal-form-input no-text">
            <label for="new-first_name">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.first_name' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[first_name]" id="new-first_name" value="{{ form.first_name }}" />
          </p>
        </div>
        <div class="form-row form-row-last">
          <p class="minimal-form-input no-text">
            <label for="new-last_name">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.last_name' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[last_name]" id="new-last_name" value="{{ form.last_name }}" />
          </p>
        </div>
        <div class="form-row form-row-wide">
          <p class="minimal-form-input no-text">
            <label for="new-company">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.company' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[company]" id="new-company" value="{{ form.company }}" />
          </p>
        </div>
        <div class="form-row form-row-wide">
          <p class="minimal-form-input no-text">
            <label for="new-address1">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.address1' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[address1]" id="new-address1" value="{{ form.address1 }}" />
          </p>
        </div>
        <div class="form-row form-row-wide">
          <p class="minimal-form-input no-text">
            <label for="new-address2">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.address2' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[address2]" id="new-address2" value="{{ form.address2 }}" />
          </p>
        </div>
        <div class="form-row form-row-wide">
          <p class="minimal-form-input no-text">
            <label for="new-city">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.city' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[city]" id="new-city" value="{{ form.city }}" />
          </p>
        </div>
        <div class="form-row form-row-wide">
          <p class="selector-wrapper">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <span class="variation-select">
              <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
            </span>
          </p>
        </div>
        <div class="form-row form-row-wide" id="AddressProvinceContainerNew" style="display:none">
          <p class="selector-wrapper">
            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <span class="variation-select">
              <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"></select>
            </span>
          </p>
        </div>
        <div class="form-row form-row-wide">
          <p class="minimal-form-input no-text">
            <label for="new-zip">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.zip' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[zip]" id="new-zip" value="{{ form.zip }}" autocapitalize="characters" />
          </p>
        </div>
        <div class="form-row form-row-wide">
          <p class="minimal-form-input no-text">
            <label for="new-phone">
              <span class="text"><span class="text-inner">{{ 'customer.addresses.phone' | t }}</span></span>
            </label>
            <input type="text" class="input-text" name="address[phone]" id="new-phone" value="{{ form.phone }}" />
          </p>
        </div>
        <div class="minimal-form">
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
        </div>
        <div class="minimal-form">
          <input type="submit" class="button" value="{{ 'customer.addresses.add' | t }}" />
          <button type="button" class="text-link address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button>
        </div>
        {% endform %}
      </div>
      {%- if customer.addresses.size > 0 -%}
      <div class="addresses">
        {%- for address in customer.addresses -%}
        <div class="medium-4 column">
          <div class="address">
            <h3>{{ 'customer.addresses.address' | t: count: forloop.index }} {% if address == customer.default_address %}<small>({{ 'customer.addresses.default' | t }})</small>{% endif %}</h3>
            <address>{{ address | format_address }}</address>
            <p>
              <span class="edit-link"><button type="button" class="post-edit-link address-edit-toggle" data-form-id="{{ address.id }}"><i class="fa fa-pencil"></i>{{ 'customer.addresses.edit' | t }}</button></span>
              <span class="delete-link"><button type="button" class="post-delete-link address-delete" data-customer-id="{{ customer.id }}" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"><i class="fa fa-close"></i>{{ 'customer.addresses.delete' | t }}</button></span>
            </p>
          </div>
          <div id="EditAddress_{{ address.id }}" class="hide">
            {% form 'customer_address', address %}
			{% if form.posted_successfully? %}
            	<script>
            		window.location = "/account?tab=address";
            	</script>
			{% endif %}
            <h3>{{ 'customer.addresses.edit_address' | t }}</h3>

            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.first_name != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-first_name-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.first_name' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[first_name]" id="edit-first_name-{{ form.id }}" value="{{ form.first_name }}" />
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.last_name != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-last_name-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.last_name' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[last_name]" id="edit-last_name-{{ form.id }}" value="{{ form.last_name }}" />
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.company != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-company-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.company' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[company]" id="edit-company-{{ form.id }}" value="{{ form.company }}" />
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.address1 != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-address1-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.address1' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[address1]" id="edit-address1-{{ form.id }}" value="{{ form.address1 }}" />
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.address2 != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-address2-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.address2' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[address2]" id="edit-address2-{{ form.id }}" value="{{ form.address2 }}" />
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.city != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-city-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.city' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[city]" id="edit-city-{{ form.id }}" value="{{ form.city }}" />
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="selector-wrapper">
                <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                <span class="variation-select">
                  <select id="AddressCountry_{{ form.id }}" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                </span>
              </p>
            </div>
            <div class="form-row form-row-wide" id="AddressProvinceContainer_{{ form.id }}" style="display:none">
              <p class="selector-wrapper">
                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                <span class="variation-select">
                  <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"></select>
                </span>
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.zip != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-zip-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.zip' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[zip]" id="edit-zip-{{ form.id }}" value="{{ form.zip }}" autocapitalize="characters" />
              </p>
            </div>
            <div class="form-row form-row-wide">
              <p class="minimal-form-input {% if form.phone != '' %}has{% else %}no{% endif %}-text">
                <label for="edit-phone-{{ form.id }}">
                  <span class="text"><span class="text-inner">{{ 'customer.addresses.phone' | t }}</span></span>
                </label>
                <input type="text" class="input-text" name="address[phone]" id="edit-phone-{{ form.id }}" value="{{ customer.phone }}" />
              </p>
            </div>
            <div class="minimal-form">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
            <div class="minimal-form">
              <input type="submit" class="button submit" value="{{ 'customer.addresses.update' | t }}" />
              <button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
            </div>
            {% endform %}
          </div>
        </div>
        {%- endfor -%}

        {%- if paginate.pages > 1 -%}
          {%- include 'pagination' -%}
        {%- endif -%}
      </div>
      {%- endif -%}



  
</div>


<script ype="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0fsIxkQi7szsujn5aze5Ci9i_SOzgW8E"></script>
<script type="text/javascript" >
  
  $(document).ready(function(){
    //prevent enter from being used to submit
      $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
    //hide the original fields
     $("#toggleLong").hide();
     $("#toggleLat").hide();
     $("#helpText").hide();
    //create variables for all of the input field 
    $distributorId = $('#distributorId').val();
	$store_name = $('#store-name').val();

 

    $("#country").on("change paste keyup", function(e) {
     	$('#country').val(e.target.value);
      	$store_name = $('#country').val();
	});
    
  	//this is our post request function    
  $('#id-locater').on('submit', function(e) {
       e.preventDefault();
        if(!$('#what3words').val()) {
          calculateGeocode();
        } else {
          calculateGeocodeFrom3Words()
        }
   });
    
//     function submitServer() {

//     }
  
  $('#facebook').on('change', function() {
      var re = /^(https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})/;
      if(!re.test($('#facebook').val())) {
        alert("Please insert a valid url. Don't forget to add 'https:\\www' at the beginning of the url. Example: https://www.facebook.com/pages/");
      }
  });
    
//   $('#what3words').on('paste change', function() {
//         let $element = $(this);
//         setTimeout(function(){
//             calculateGeocodeFrom3Words()
//         },0);
//   });
   let api = '{{settings.sweetlegs_rocks_api}}'
  let requestData = {};
   requestData.customer_id = '{{customer.id}}';
   requestData.shop_id = '{{settings.store_id}}';
   
  $('.button.store-locator').on('click', function(e) {
     $('.saveButton').attr('disabled', false);
     $.ajax({
       url: `${api}/api/id-locators/${$distributorId}`,
         type: 'get',
       	 data: requestData, 
         success: function (response) {
           if(response.IdLocatorDetail.hasOwnProperty('id')) {
             console.log(response);
              $('#store-name').val(response.IdLocatorDetail.store_name);
              $('#facebook').val(response.IdLocatorDetail.facebook);
              $('#long').val(response.IdLocatorDetail.long);
              $('#lat').val(response.IdLocatorDetail.lat);
              $('#city').val(response.IdLocatorDetail.city);
              $('#address').val(response.IdLocatorDetail.address);
              $('#country').val(response.IdLocatorDetail.country);
              $('#postal-code').val(response.IdLocatorDetail.postcode);
              $('#email').val(response.IdLocatorDetail.email);
              $('#phone').val(response.IdLocatorDetail.phone);
              $('#province').val(response.IdLocatorDetail.province);
             $('#firstName').val(response.IdLocatorDetail.first_name);
             $('#what3words').val(response.IdLocatorDetail.what3words);
             if(response.IdLocatorDetail.locked) {
               $('#long').prop('readonly', true);
               $('#lat').prop('readonly', true);
             }
           } else {
//              calculateGeocode();
           }
            $('.minimal-form-input').removeClass('no-text');
            $('.minimal-form-input').addClass('has-text');
         },
        });
  	});
  });
  
  function calculateGeocodeFrom3Words() {
     words = $('#what3words').val();
     if(words) {
            var settings = {
        "async": true,
        "crossDomain": true,
        "url": `https://api.what3words.com/v3/convert-to-coordinates?words=${words}&key=YRMNJDDX`,
        "method": "GET",
        "headers": {}
        }

        $.ajax(settings).done(function (response) {
           $('#long').val(response.coordinates.lng); 
           $('#lat').val(response.coordinates.lat);
          submitServer();
        }).error(function (response) {
           alert('Please enter the correct what3words.');
        });
     }
  }
  
   function valueChanged(){
        if($('.toggleLatLong').is(":checked")){            
            $("#toggleWhat3Words").show();
          	$("#helpText").show();
        }
      else {
           $("#toggleWhat3Words").hide();
           $("#helpText").hide();
      }

    }
  
    function submitServer(){
         let api = '{{settings.sweetlegs_rocks_api}}'
        let requestData = {};
         requestData.customer_id = '{{customer.id}}';
         requestData.store_id = '{{settings.store_id}}';

        if($('.postal-code-error').hasClass('hideMe')) {
          $('.saveButton').attr('disabled', true);
             $.ajax({
               url:`${api}/api/id-locators/edit`,
                type:'post',
                data:$('#id-locater').serialize(), 
                success:function(response){
                  if(response) {
                    $('.X-close').click();
                  }
                }
            });
        } else {
          alert('Please insert the valid postal code.');
        }

    }
  
  function calculateGeocode()
  {
        var geocoder = new google.maps.Geocoder();
        var latitude;
        var longitude;
        var address = $('#postal-code').val();
        if(address) {
          geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  $('.postal-code-error').addClass('hideMe');
                  latitude = results[0].geometry.location.lat();
                  longitude = results[0].geometry.location.lng();
                  $('#long').val(longitude); 
                  $('#lat').val(latitude);
                submitServer();
              } else {
                $('.postal-code-error').removeClass('hideMe');
              }
            }); 
        }  
  }
  
</script>


<style>
  #toggleWhat3Words {
    display:none;
  }
  .requiredText {
   font-size:10px;
   color:black;

  }
  .helpText {
  	font-size:10px;
   color:#ED2B91 !important; 

  }
  
  .helpText a {
  	font-size:10px;
    color:#ED2B91 !important;
    text-decoration: underline !important; 
  }
  
  .id-locator.modal .modal-dialog{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .pink {
    color:#ED2B91 !important;
  }
  .LatLong{
  margin-top:15px;
  }
  .addresses .pagination {
    display: none;
  }
  .store-locator {
    background-color:#ED2B91;
    }
  
   .store-locator:hover {
    background-color:#ed2b91c9;
   }
 
  .address {
    height: 250px;
  }
  .myaccount-content{
    width:100% !important;
    float:none;
  }
  .modal-backdrop{
    background:black !important;
    z-index:1 !important;
  }
  .closeModal{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin:10px;
    text-align: center;
  }

  .modal-header{
    background-color: white;
    font-weight: bold;
  }
  .modal-content {
    text-align: center;
    color: black;
    top: 0px;
    background-color: white;
    max-width: 550px;
    border: none;
    padding: 20px;
    max-height:80vh;
    overflow:scroll;
  }
  .modal-footer {
    max-height: 70px;
    margin-top: 0px;
    text-align: center;
    border-top: none;
  }
  .hideMe{
  	display: none !important; 
  }
  .popUpModal {
    height: 100%; 
    width: 100%; 
    display:none;
    position: fixed; 
    top: 100px; 
    right: 300;
    z-index: 999;
 }
 .modal-header {
   background-color: white;;
   border-bottom: none;
   max-height: 30px;
 }
  .modal-body {
    padding:  30px;
    padding-bottom: 0px;
    text-align: left;
    font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
  
  }
  .X-close{
    position: relative;
    float: right;
    font-size: 25px;
    z-index: 99;
  }
  .generateCoordinate {
    font-size: 12px;
    color: #e01111;
    margin-top: 20;
    position: relative;
    top: 25px;
    z-index: 999;
  }
  .postal-code-error {
    color: red;
    font-size: .8rem;
  }
  @media only screen and (max-width : 750px) { 
    .button-group {
      display:flex;
      flex-direction:column;
    }
    .store-locator {
    margin-top:10px !important;
    }
}
  .hide {
    display: none
  }
</style>