<style>
.Section--GiftWrap .cart-options-icon {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -2px;
}
  
  .GiftWrap__Item__Content {
    display: none;
  }
  .GiftWrap__Item__Content.in {
    display: block;
  }
  .Panel__Title.Heading.Text--subdued {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--text-dark);
    font-family: var(---font-stack-body);
    font-weight: var(---font-weight-body);
    font-style: var(---font-style-body);
    font-size: calc(var(--font-3)*var(---font-adjust-body));
}
  .Panel.in .panel-title-icon{
    transform: rotate(-360deg);
  }
  .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .panel-title-icon {
    margin-right: 30px;
    transform: rotate(-90deg);
    font-size: 11px;
    transition: all 0.3s ease;
  }
.template-cart .Section--GiftWrap .Panel__Content {
    padding: 30px;
    border: 1px solid #ddd;
}
  .cart__footer__shipping {
    border-bottom: 1px solid #ddd;
}
.Section--GiftWrap  img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: top;
  }
  .Section--GiftWrap button.gift-wrap-btn {
    width: 100%;
    margin-top: 20px;
  }
  .Section--GiftWrap .GiftWrap__Item__Content {
    padding-bottom: 45px;
}
  .Section--GiftWrap .Form__Group {
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    line-height: 1.65;
    font-size: 1rem;
    list-style: none;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    display: flex;
  }  
  
  .Section--GiftWrap .Form__Item {
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    line-height: 1.65;
    font-size: 1rem;
    list-style: none;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
    flex: 1;
  }
  .Section--GiftWrap .Form__Input.Form__Input--Mirror {
        text-size-adjust: 100%;
    list-style: none;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-appearance: none;
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #ddd;
    width: 100%;
    line-height: normal;
    resize: none;
    transition: border-color .1s ease-in-out;
    background: 0 0;
  }
  .Section--GiftWrap .Form__FloatingLabel {
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    bottom: calc(100% - 8px);
    left: 10px;
    padding: 0 5px;
    line-height: normal;
    color: #6a6a6a;
    font-size: 12px;
    pointer-events: none;
    transition: all .3s ease-in-out;
    opacity: 1;
    background: #fff;
    transform: translateY(0);
  }
  .Section--GiftWrap ul {
    margin: 0px;
  }
  .Grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; 
  }
  .Form__Group>:nth-child(2) {
    margin-left: 30px;
}
  .Section--GiftWrap .Grid__Cell {
    width: 50%;
  }
 .Section--GiftWrap .Grid>:nth-child(2) {
    margin-left: 5%;
}
  .Section--GiftWrap .GiftWrap__Label__Content {
    color: #6a6a6a;
}
  .GiftWrap__Label__Heading.Heading {
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c1b1b;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
    text-transform: uppercase;
  }
  .GiftWrap__Label__Content ul {
    list-style: inside;
    margin-left: 20px;
  }
  .gift-wrap {
    display: flex;
    justify-content: space-between;
  }
  .gift-wrap>:nth-child(1) {
    width: 50%;
  }
  .Section--GiftWrap {
    width: 100%;
  }
  .giftwrap-container {
    border-bottom: 1px solid #ddd;
  }
@media only screen and (max-width: 700px) {
  .Section--GiftWrap .Form__Group {
    display: block;
  }
    .Form__Group>:nth-child(2) {
    margin-left: 0px;
  }
  .gift-wrap {
    display: block;
  }
  .Section--GiftWrap {
    width: 100%;
  }
  .panel-title-icon {
    margin-right: 14px;
  }
} 
  
</style>

{%- if section.settings.enable_gift_wrap -%}

  <div
   class="Section Section--GiftWrap border-top"
   data-gift-wrap-option="{{ cart.attributes["Gift Wrap Option"] | escape }}">
    <div class="Panel giftwrap-container">
      <div class="panel-title">
        <div> 
          <p class="Panel__Title Heading Text--subdued">
            {{ 'Gift_Wrap_Icon.png' | asset_url | img_tag: '', 'cart-options-icon' }}
            Packaging & Gifting

          </p>
        </div>
        <div class="panel-title-icon Panel__Title">
          <svg class="Icon Icon--select-arrow" role="presentation" viewBox="0 0 19 12">
              <polyline fill="none" stroke="currentColor" points="17 2 9.5 10 2 2" fill-rule="evenodd" stroke-width="2" stroke-linecap="square"></polyline>
            </svg>
        </div>
      </div>

      <div class="Panel__Content" style="display:none;">

        <div class="Grid" style="margin-bottom:30px;">
          <div class="Grid__Cell 1/2--phone 1/2--tablet-and-up 1/2--desk">
            <div class="cart-carousel">
              {%- for block in section.blocks -%}
                {%- assign image = block.settings.image -%}
                {%- unless image == blank -%}
                  <div style="width: 100%;">
                    <img src="{{ image | img_url: '800x800', crop: 'center' }}" alt="{{ image.alt }}" />
                  </div>
                {%- endunless -%}
              {%- endfor -%}
            </div>
          </div>

          <div class="Grid__Cell 1/2--phone 1/2--tablet-and-up 1/2--desk">
            {{ section.settings.gift_slider_text }}
          </div>
        </div>

        {{ section.settings.gift_wrap_content }}

        <ul class="GiftWrap__Items">
    
          {%- if section.settings.enable_free_gift_message -%}
            <li class="GiftWrap__Item">
              <div class="GiftWrap__Item__Header">
                <label class="GiftWrap__Label" for="GiftWrap__FreeGiftMessageRadio">
                  <input
                   id="GiftWrap__FreeGiftMessageRadio"
                   type="radio"
                   name="attributes[Gift Wrap Option]"
                   value="Gift Message (Free)"
                   {% if cart.attributes["Gift Wrap Option"] == "Gift Message (Free)" %} checked{% endif %}
                  >
                  <span class="GiftWrap__Label__Wrapper">
                    <span class="GiftWrap__Label__Heading Heading">Gift Message (Free)</span>
                  </span>
                </label>
              </div>
              <div
               class="GiftWrap__Item__Content{% if cart.attributes["Gift Wrap Option"] == "Gift Message (Free)" %} in{% endif %}"
               data-name="Gift Message (Free)"
              >
                <span  class="GiftWrap__Label__Content">Your complimentary gift message will be printed on the packing slip.</span>
                <br>
              <br>
                <div class="Form__Group">
                  <div class="Form__Item">
                    <input id="free-gift-message-to" class="Form__Input Form__Input--Mirror" type="text" name="attributes[To]" value="{{ cart.attributes["To"] }}">
                    <label for="free-gift-message-to" class="Form__FloatingLabel">To</label>
                  </div>

                  <div class="Form__Item">
                    <input id="free-gift-message-from" class="Form__Input Form__Input--Mirror" type="text" name="attributes[From]" value="{{ cart.attributes["From"] }}">
                    <label for="free-gift-message-from" class="Form__FloatingLabel">From</label>
                  </div>
                </div>

                <div class="Form__Item">
                  <textarea id="free-gift-message-gift-message" class="Form__Input Form__Input--Mirror" name="attributes[Gift Message]">{{ cart.attributes["Gift Message"] }}</textarea>
                  <label for="free-gift-message-gift-message" class="Form__FloatingLabel">Gift Message</label>
                </div>

                <button
                 class="gift-wrap-btn Form__Submit btn btn--primary btn--large uppercase">
                 Save Gift Message
               </button>
              </div>
            </li>
          {%- endif -%}

          {%- assign product_gift_wrap_supplies = all_products[section.settings.product_gift_wrap_supplies] -%}
          {%- assign product_gift_wrap_supplies_2 = all_products[section.settings.product_gift_wrap_supplies_2] -%}
          <script>console.log("product_gift_wrap_supplies_2")</script>
          <script>console.log({{product_gift_wrap_supplies_2 | json}})</script>
          {% include 'gift-wrap-supply' product_gift_wrap_supplies: all_products[section.settings.product_gift_wrap_supplies], option_label: "Gift Wrap Supplies" %}
          {% include 'gift-wrap-supply' product_gift_wrap_supplies: all_products[section.settings.product_gift_wrap_supplies_2], option_label: "Gift Wrap Supplies 2" %}

          {%- assign product_gift_wrap_service_handle = section.settings.product_gift_wrap_service -%}
          {%- assign product_gift_wrap_service = all_products[product_gift_wrap_service_handle] -%}
          {%- unless product_gift_wrap_service == blank -%}
            <li class="GiftWrap__Item">
              <div class="GiftWrap__Item__Header">
                <label class="GiftWrap__Label" for="GiftWrap__GiftWrapServiceRadio">
                  <input
                   id="GiftWrap__GiftWrapServiceRadio"
                   type="radio"
                   name="attributes[Gift Wrap Option]"
                   value="Gift Wrap Service"
                   {% if cart.attributes["Gift Wrap Option"] == "Gift Wrap Service" %} checked{% endif %}
                  >
                  <span class="GiftWrap__Label__Wrapper">
                    <span  class="GiftWrap__Label__Heading Heading">{{ product_gift_wrap_service.title }}</span>
                     <span style:"display: none" class="GiftWrap__Label__Content">{{ product_gift_wrap_service.description }}</span>
                  </span>
                </label>
              </div>
              <div
               class="GiftWrap__Item__Content{% if cart.attributes["Gift Wrap Option"] == "Gift Wrap Service" %} in{% endif %}"
               data-name="Gift Wrap Service">
               
                <ul class="GiftWrap__Variants">
              
                  {%- for variant in product_gift_wrap_service.variants -%}
                    <li class="GiftWrap__Variant" data-variant-id="{{ variant.id }}">
                      <img src="{{ variant.image | img_url: '600x' }}" />

                      <label class="GiftWrap__Variant__QuantityLabel">Qty:</label>

                      <select class="GiftWrap__Variant__Quantity">
                        {%- for i in (1..5) -%}
                          <option value="{{ i }}">{{ i }} ({{ variant.price | times: i | money }})</option>
                        {%- endfor -%}
                      </select>
                    </li>
                  {%- endfor -%}
                </ul>
 
                <button
                 class="gift-wrap-btn Form__Submit btn btn--primary btn--large uppercase">
                 Save Selection
               </button>
              </div>
            </li>
          {% endunless %}
          {%- assign product_gift_box_service_handle = section.settings.product_gift_box_service -%}
          {%- assign product_gift_box_service = all_products[product_gift_box_service_handle] -%}
          <script>console.log("product_gift_box_service")</script>
          <script>console.log({{product_gift_box_service | json}})</script>
          {% comment %}{%- assign product_gift_box_service = all_products['basic-shipping-box'] -%}{% endcomment %}
          {%- unless product_gift_box_service == blank -%}
          <li teste-box class="GiftWrap__Item">
            <div class="GiftWrap__Item__Header">
              <label class="GiftWrap__Label" for="GiftWrap__BasicBox">
                <input
                       id="GiftWrap__BasicBox"
                       type="radio"
                       name="attributes[Gift Wrap Option]"
                       value="Basic Shipping Box"
                       {% if cart.attributes["Gift Wrap Option"] == "Basic Shipping Box" %} checked{% endif %}
                       >
                <span class="GiftWrap__Label__Wrapper">
                    <span class="GiftWrap__Label__Heading Heading">{{ product_gift_box_service.title }}</span>
                  <span style="display: none" class="GiftWrap__Label__Content">{{ product_gift_box_service.description }}</span>
                </span>
              </label>
            </div>
            <div
               class="GiftWrap__Item__Content{% if cart.attributes["Gift Wrap Option"] == "Basic Shipping Box" %} in{% endif %}"
               data-name="Basic Shipping Box"
              >
              
              <ul class="GiftWrap__Variants">
                {%- for variant in product_gift_box_service.variants -%}
                <li class="GiftWrap__Variant" data-variant-id="{{ variant.id }}">
                  <img width="375px;" height="375px;" src="{{ variant.image | img_url: '600x' }}" />

                  <label class="GiftWrap__Variant__QuantityLabel">Qty:</label>
                  <select class="GiftWrap__Variant__Quantity">
                    <option value="1">1 ({{ variant.price | times: 1 | money }})</option>
                  </select>
                </li>
                {%- endfor -%}
              </ul>
              
                <button
                 class="gift-wrap-btn Form__Submit btn btn--primary btn--large uppercase">
                 Save
               </button>
              </div>
          </li>
		  {% endunless %}

            {%- comment -%}
              <!-- Original gift wrap service functionality -->
              <li class="GiftWrap__Item">
                <div class="GiftWrap__Item__Header">
                  <label class="GiftWrap__Label" for="GiftWrap__GiftWrapServiceRadio">
                    <input
                     id="GiftWrap__GiftWrapServiceRadio"
                     type="radio"
                     name="attributes[Gift Wrap Option]"
                     value="Gift Wrap Service"
                     {% if cart.attributes["Gift Wrap Option"] == "Gift Wrap Service" %} checked{% endif %}
                    >
                    <span class="GiftWrap__Label__Wrapper">
                      <span class="GiftWrap__Label__Heading Heading">{{ product_gift_wrap_service.title }}</span>
                      <div class="GiftWrap__Item__Content{% if cart.attributes["Gift Wrap Option"] == "Gift Wrap Service" %} in{% endif %}"   data-name="Gift Wrap Service">
                      <span id="box" style:"display: none" class="GiftWrap__Label__Content" >{{ product_gift_wrap_service.description }}</span>
                      </div>
                        </span>
                  </label>
                </div>

                <div
                 class="GiftWrap__Item__Content{% if cart.attributes["Gift Wrap Option"] == "Gift Wrap Service" %} in{% endif %}"
                 data-name="Gift Wrap Service">
                  <h4>Select a Color</h4>

                  <ul class="GiftWrap__Variants">
                    {%- for variant in product_gift_wrap_service.variants -%}
                      <li class="GiftWrap__Variant" data-variant-id="{{ variant.id }}">
                        <label for="GiftWrap__GiftWrapServiceVariantRadio--{{ variant.id }}">
                          <input
                           id="GiftWrap__GiftWrapServiceVariantRadio--{{ variant.id }}"
                           type="radio"
                           name="Gift Wrap Service Variant"
                           value="{{ variant.id }}"
                          >
                          <div class="GiftWrap__Variant__Body">
                            <img src="{{ variant.image | img_url: '600x' }}" />
                            <p class="GiftWrap__Variant__Title">{{ variant.title }}</p>
                          </div>
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>

                  <div class="Form__Group">
                    <div class="Form__Item">
                      <input id="gift-wrap-service-to" class="Form__Input Form__Input--Mirror" type="text" name="attributes[To]" value="{{ cart.attributes["To"] }}">
                      <label for="gift-wrap-service-to" class="Form__FloatingLabel">To</label>
                    </div>

                    <div class="Form__Item">
                      <input id="gift-wrap-service-from" class="Form__Input Form__Input--Mirror" type="text" name="attributes[From]" value="{{ cart.attributes["From"] }}">
                      <label for="gift-wrap-service-from" class="Form__FloatingLabel">From</label>
                    </div>
                  </div>

                  <div class="Form__Item">
                    <textarea id="gift-wrap-service-gift-message" class="Form__Input Form__Input--Mirror" name="attributes[Gift Message]">{{ cart.attributes["Gift Message"] }}</textarea>
                    <label for="gift-wrap-service-gift-message" class="Form__FloatingLabel">Gift Message</label>
                  </div>

                  <button
                   class="gift-wrap-btn Form__Submit btn btn--primary btn--large uppercase">
                   Save Gift Wrap Selection
                 </button>
                </div>
              </li>
            {%- endcomment -%}
   <li class="GiftWrap__Item">
            <div class="GiftWrap__Item__Header">
              <label class="GiftWrap__Label" for="GiftWrap__NoGift">
                <input
                       id="GiftWrap__NoGift"
                       type="radio"
                       name="attributes[Gift Wrap Option]"
                       value="None"
                       {% if cart.attributes["Gift Wrap Option"] == "None" or cart.attributes["Gift Wrap Option"] == blank %} checked{% endif %}
                       >
                <span class="GiftWrap__Label__Wrapper">
                  <span class="GiftWrap__Label__Heading Heading">None</span>
                </span>
              </label>
            </div>
            <div
               class="GiftWrap__Item__Content{% if cart.attributes["Gift Wrap Option"] == "None" or cart.attributes["Gift Wrap Option"] == blank %} in{% endif %}"
               data-name="None"
              >
                <button
                 class="gift-wrap-btn Form__Submit btn btn--primary btn--large uppercase">
                 Save
               </button>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    (function(){
      var allowUpdate = false;
      var cart = {{ cart | json }};
      console.log( cart );
      var productGiftWrapSupplies = {{ product_gift_wrap_supplies | json }};
      var productGiftWrapSupplies2 = {{ product_gift_wrap_supplies_2 | json }};
      var productGiftWrapService = {{ product_gift_wrap_service | json }};
      var productGiftBoxService = {{ product_gift_box_service | json }};
      var selectors = {
        panelTitle: '.Panel__Title',
        giftWrapOptionRadio: '[name="attributes[Gift Wrap Option]"]',
        mirrorInput: '.Form__Input--Mirror',
        updateBtn: '.gift-wrap-btn',
        form: {
          to: '[name="attributes[To]"]',
          from: '[name="attributes[From]"]',
          giftMessage: '[name="attributes[Gift Message]"]',
        },
        item: {
          
          content: '.GiftWrap__Item__Content'
        }
       
      };
    
      
    /*    $(".GiftWrap__Item").click(function() {
           
          if ($("input[name='attributes[Gift Wrap Option]']") .is(":checked") ){
        
           $('.GiftWrap__Label__Content').attr('style', 'display : block');
        
      } else if(!($("input[name='attributes[Gift Wrap Option]']") .is(":checked") )){
          
          $('.GiftWrap__Label__Content').attr('style', 'display : none');
          }
         
          
    });  */  
   
      
      var removeGiftWrapProducts = function( callback ) {
        // TODO:

        if (typeof callback === "function") {
          callback();
        }
      }

      $('body').on('change', selectors.giftWrapOptionRadio, function(e){
        e.preventDefault();
        var val = $(this).val();
        console.log(val, $(selectors.item.content));
         

        $(selectors.item.content).not('[data-name="' + val + '"]').slideUp(500, function(){
          $(this).removeClass('in');
        
          $(this).find(selectors.form.to).attr('disabled', true);
          $(this).find(selectors.form.from).attr('disabled', true);
          $(this).find(selectors.form.giftMessage).attr('disabled', true);
        });
        $(selectors.item.content).filter('[data-name="' + val + '"]').slideDown(500, function(){
          $(this).addClass('in');
          $(this).find(selectors.form.to).attr('disabled', false);
          $(this).find(selectors.form.from).attr('disabled', false);
          $(this).find(selectors.form.giftMessage).attr('disabled', false);
        });
//         if (val !== 'None') {
          $('.save-gift-wrap-message').show();
          $('.Cart__Checkout').attr("disabled", true);            
//         } else {
//           $('.Cart__Checkout').attr("disabled", false);
//           $('.save-gift-wrap-message').hide();
//         }
      });

      $('body').on('change', selectors.mirrorInput, function(){
        var val = $(this).val(),
            name = $(this).attr('name');
        $('[name="' + name + '"]').val(val);
      });

      $('body').on('click', selectors.updateBtn, function(e){
        if( allowUpdate ) {
          return;
        }

        e.preventDefault();
        e.stopPropagation();

        var updates = {};
        var giftWrapOption = $('[name="attributes[Gift Wrap Option]"]:checked').val();
		
        // Remove all gift wrap supply variant quantity
        $('.GiftWrap__Item__Content').filter('[data-name="Gift Wrap Supplies"]').find('.GiftWrap__Variant').each(function(){
          var variantId = $(this).attr('data-variant-id');
          updates[variantId] = 0;
        });
        $('.GiftWrap__Item__Content').filter('[data-name="Gift Wrap Supplies 2"]').find('.GiftWrap__Variant').each(function(){
          var variantId = $(this).attr('data-variant-id');
          updates[variantId] = 0;
        });
        // Remove all gift wrap service variant quantity
        $('.GiftWrap__Item__Content').filter('[data-name="Gift Wrap Service"]').find('.GiftWrap__Variant').each(function(){
          var variantId = $(this).attr('data-variant-id');
          updates[variantId] = 0;
        });
        
        $('.GiftWrap__Item__Content').filter('[data-name="Basic Shipping Box"]').find('.GiftWrap__Variant').each(function(){
          var variantId = $(this).attr('data-variant-id'),
              quantity = parseInt( $(this).find('.GiftWrap__Variant__Quantity').val() ) || 0;
          updates[variantId] = 0;
        });

        if( giftWrapOption == 'Gift Message (Free)' ) {
        }
        
        if( giftWrapOption == 'Basic Shipping Box' ) {
          $('.GiftWrap__Item__Content').filter('[data-name="Basic Shipping Box"]').find('.GiftWrap__Variant').each(function(){
            var variantId = $(this).attr('data-variant-id'),
                quantity = parseInt( $(this).find('.GiftWrap__Variant__Quantity').val() ) || 0;
            updates[variantId] = quantity;
          });
        }

        if( giftWrapOption == 'Gift Wrap Supplies' ) {
//           $( selectors.form.to ).val('');
//           $( selectors.form.from ).val('');
//           $( selectors.form.giftMessage ).val('');

          // Update gift wrap supply variant quantity
          $('.GiftWrap__Item__Content').filter('[data-name="Gift Wrap Supplies"]').find('.GiftWrap__Variant').each(function(){
            var variantId = $(this).attr('data-variant-id'),
                quantity = parseInt( $(this).find('.GiftWrap__Variant__Quantity').val() ) || 0;
            updates[variantId] = quantity;
          });
        }

        if( giftWrapOption == 'Gift Wrap Supplies 2' ) {
//           $( selectors.form.to ).val('');
//           $( selectors.form.from ).val('');
//           $( selectors.form.giftMessage ).val('');

          // Update gift wrap supply variant quantity
          $('.GiftWrap__Item__Content').filter('[data-name="Gift Wrap Supplies 2"]').find('.GiftWrap__Variant').each(function(){
            var variantId = $(this).attr('data-variant-id'),
                quantity = parseInt( $(this).find('.GiftWrap__Variant__Quantity').val() ) || 0;
            updates[variantId] = quantity;
          });
        }

        if( giftWrapOption == 'Gift Wrap Service' ) {
//           $( selectors.form.to ).val('');
//           $( selectors.form.from ).val('');
//           $( selectors.form.giftMessage ).val('');

          // Update gift wrap supply variant quantity
          $('.GiftWrap__Item__Content').filter('[data-name="Gift Wrap Service"]').find('.GiftWrap__Variant').each(function(){
            var variantId = $(this).attr('data-variant-id'),
                quantity = parseInt( $(this).find('.GiftWrap__Variant__Quantity').val() ) || 0;
            updates[variantId] = quantity;
          });

          /*
            // Original Gift Wrap Service functionality
            var giftWrapServiceVariantId = $('[name="Gift Wrap Service Variant"]:checked').val();
            // Add gift wrap service variant
            $('.GiftWrap__Item__Content').filter('[data-name="Gift Wrap Service"]').find('.GiftWrap__Variant').each(function(){
              var variantId = $(this).attr('data-variant-id');

              if( variantId == giftWrapServiceVariantId ) {
                updates[variantId] = 1;
              } else {
                updates[variantId] = 0;
              }
            });
          */
        }

        console.log('updates');
        console.log(updates);

        var attributes = {};
        attributes['Gift Wrap Option'] = giftWrapOption;
        if (giftWrapOption === 'None' || giftWrapOption === 'Basic Shipping Box') {
          attributes['To'] = '';
          attributes['From'] = '';
          attributes['Gift Message'] = '';
        } else {
          attributes['To'] = $( selectors.form.to ).val();
          attributes['From'] = $( selectors.form.from ).val();
          attributes['Gift Message'] = $( selectors.form.giftMessage ).val();
        }
        $.post('/cart/update.js', {
          updates: updates,
          attributes: attributes,
        }).always(function(){
          $("html, body").animate({ scrollTop: 0 }, 1000);
          location.reload();
          // allowUpdate = true;
          // $(selectors.updateBtn).first().click();
          $(selectors.panelTitle).first().click();
          if (window.sections && window.sections.instances) {
            for (var i=0; i<window.sections.instances.length; i++) {
              if (window.sections.instances[i].type === 'cart') {
                window.sections.instances[i]._rerenderCart(); 
                $("html, body").animate({ scrollTop: 0 }, 1000);
              }
            }
          }
        });
        return false;
      });

      $('body').on('click', selectors.panelTitle, function(e){
        var $panel = $(this).closest('.Panel'),
            $panelContent = $panel.find('.Panel__Content');
	
        var giftWrapOption = $('[name="attributes[Gift Wrap Option]"]:checked').val();
        
        if( $panel.hasClass('in') ) {
          $panel.removeClass('in');
          $panelContent.slideUp();
          $('.Cart__Checkout').attr("disabled", false);
          $('.save-gift-wrap-message').hide();
        } else {
          $panel.addClass('in');
          $('.cart-carousel').flickity({});
          $panelContent.slideDown(300, function(){
            $('.cart-carousel').flickity('resize');
          });
          if (giftWrapOption !== 'None') {
            $('.save-gift-wrap-message').show();
            $('.Cart__Checkout').attr("disabled", true);            
          } else {
            $('.Cart__Checkout').attr("disabled", false);
            $('.save-gift-wrap-message').hide();
          }
        }
      });

      $(document).ready(function(){
        $('.cart-carousel').flickity({});
      
        $.getJSON( 'https://geo.sunbowl.ca/json', function( data ) {
          var country = data['country_name'];
          console.log(country);
          
          if(country != "United States"){
            
            $(".GiftWrap__Items li:nth-child(4)").hide();        
          };
        });
      	console.log("ready");
      });
    }());
  </script>

{%- endif -%}