{%- capture color_name -%}
	{{ section.id }}-{{ product.id }}-{% increment color_name %}
{%- endcapture -%}

{%- for option in product.options_with_values -%}
  {%- assign downcased_option = option.name | downcase -%}

  {%- if downcased_option == 'color' or downcased_option == 'colour' or downcased_option == 'couleur' -%}
    {%- assign variant_option = 'option' | append: forloop.index -%}
    {%- for value in option.values -%}
      {%- assign color_swatch_count = color_swatch_count | plus: 1 -%}
      {%- assign downcased_value = value | downcase -%}

      {%- capture color_id -%}
      	{{ section.id }}-{{ product.id }}-{% increment color_index %}
      {%- endcapture -%}

      {%- for variant in product.variants -%}
        {%- if variant[variant_option] == value -%}
          {%- assign variant_for_value = variant -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
      {% assign variant_quantity = 0 %}

      {%- for variant in product.variants -%}
        {% assign variant_handle = variant.option1 | handleize %}
        {% assign value_handle = value | handleize %}
        {% if variant_handle == value_handle %}
        	{% assign variant_quantity = variant_quantity | plus: variant.inventory_quantity %}
        {% endif %}
      {%- endfor -%}

      {% if variant_quantity > 0 %}
        <div class="ProductItem__ColorSwatchItem" {% if color_swatch_count >= 6 %} style="display:none;" {% endif %}>
          {%- if variant_for_value.image -%}
          {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: variant_for_value.image -%}
          {%- assign variant_image_url = variant_for_value.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- endif -%}
          {% assign swatch_color = 'swatch-color-' | append: value | handleize %}
          <input class="ColorSwatch__Radio" type="radio" name="{{ color_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if option.selected_value == value %} checked="checked" {% endif %} data-variant-url="{{ variant_for_value.url }}{% comment %}{% if variant_for_value.image %}#Image{{ variant_for_value.image.id }}{% endif %}{% endcomment %}" {% if variant_for_value.image %} data-image-id="{{ variant_for_value.image.id }}" data-image-url="{{ variant_image_url }}" data-image-widths="[{{ supported_sizes }}]" data-image-aspect-ratio="{{ variant_for_value.image.aspect_ratio }}" {% endif %} aria-hidden="true" data-variant-price="{{ variant_for_value.price }}" data-variant-quantity="{{ variant_quantity }}" data-variant-compare-at-price="{{ variant_for_value.compare_at_price }}">
          <label class="ColorSwatch ColorSwatch--small {{ swatch_color }}" for="{{ color_id }}" title="{{ value | escape }}" data-product-handle="{{ product.handle | handleize }}" data-tooltip="{{ value | escape }}" data-variant-count="{{ variant_quantity }}" data-variant-price="{{ variant_for_value.price }}" data-variant-quantity="{{ variant_quantity }}" data-variant-compare-at-price="{{ variant_for_value.compare_at_price }}"></label>
        </div>
      {% else %}
      	{%- assign color_swatch_count = color_swatch_count | minus: 1 -%}
      {% endif %}
    {%- endfor -%}

    {% if color_swatch_count >= 6 %}
    <div class="ProductItem__ColorSwatchItem">
      <a class="swatch-more" href="{{ product.url | within: collection }}">
        <span>+</span>
      </a>
    </div>
    {% endif %}

  {%- endif -%}
{%- endfor -%}