{% comment %}
	Display the weight of the variant on the product page.  
	If there is a variant option for size then pull the weights for each size.  
	This is typically Small, Medium, Large, and possibly Grand.
	These weights are displayed dynamically by JQuery script in theme.liquid.
{% endcomment %}
	
{% comment %} First check if product has variants, else just display the products weight {% endcomment %}
{% if product.variants.size > 1 %}
  {% assign small_wt = 0 %}
  {% assign med_wt = 0 %}
  {% assign large_wt = 0 %}
  {% assign grand_wt = 0 %}
  {% assign one_wt = 0 %}
  {% assign size_option_position = false %}
  
  {% comment %} Check which variant option is called Size {% endcomment %}
  {% for product_option in product.options_with_values %}
    {% if product_option.name == 'Size' %}
    	{% assign size_option_position = product_option.position %}
      	{% assign size_option_name = "option" | append:size_option_position %}
    {% endif %}
  {% endfor %}
  
  {% comment %} Loop through all variants and assign the weight to the appropriate variable, if weight is > zero {% endcomment %}
  {% for variant in product.variants %}
	{% if size_option_position %}
      {% if variant[size_option_name] == 'Small' and variant.weight > 0 %}
          {% assign small_wt = variant.weight_in_unit %}
		  {% assign small_wt_unit = variant.weight_unit %}
      {% elsif variant[size_option_name] == 'Medium' and variant.weight > 0 %}
          {% assign med_wt = variant.weight_in_unit %}
		  {% assign med_wt_unit = variant.weight_unit %}
      {% elsif variant[size_option_name] == 'Large' and variant.weight > 0 %}
          {% assign large_wt = variant.weight_in_unit %}
		  {% assign large_wt_unit = variant.weight_unit %}
	  {% elsif variant[size_option_name] == 'Grand' and variant.weight > 0 %}
          {% assign grand_wt = variant.weight_in_unit %}
		  {% assign grand_wt_unit = variant.weight_unit %}
      {% endif %}
	{% else %}
	  {% assign one_wt = variant.weight %}	
	  {% assign one_wt_unit = variant.weight_unit %}
	{% endif %}
  {% endfor %}
  
  {% if size_option_position %}
  	<div><p id="small_variant_wt" style="display: none;">{{ small_wt | remove: '.0'}}{{ small_wt_unit}}</p><p id="medium_variant_wt" style="display: none;">{{ med_wt | remove: '.0' }}{{ med_wt_unit }}</p>
      <p id="large_variant_wt" style="display: none;">{{ large_wt | remove: '.0' }}{{ large_wt_unit }}</p><p id="grand_variant_wt" style="display: none;">{{ grand_wt | remove: '.0' }}{{ grand_wt_unit }}</p></div>
  {% else %}
<div><p class="displayed_variant_weight">{{ one_wt | remove: ".0" }}{{ one_wt_unit }}</p></div>
  {% endif %}

{% else %}
<div><p class="displayed_variant_weight">{{ product.variants.first.weight_in_unit | remove: ".0" }}{{ product.variants.first.weight_unit }}</p></div>
{% endif %}