{%- unless product_gift_wrap_supplies == blank -%}
<li class="GiftWrap__Item">
  <div class="GiftWrap__Item__Header">
    <label class="GiftWrap__Label" for="GiftWrap__GiftWrapSuppliesRadio-{{option_label|handle}}">
      <input
             id="GiftWrap__GiftWrapSuppliesRadio-{{option_label|handle}}"
             type="radio"
             name="attributes[Gift Wrap Option]"
             value="{{option_label}}"
             {% if cart.attributes["Gift Wrap Option"] == option_label %} checked{% endif %}
             >
      <span class="GiftWrap__Label__Wrapper">
        <span class="GiftWrap__Label__Heading Heading">{{ product_gift_wrap_supplies.title }}</span>
        
      </span>
    </label>
  </div>
  <div
       class="GiftWrap__Item__Content{% if cart.attributes["Gift Wrap Option"] == option_label %} in{% endif %}"
       data-name="{{option_label}}"
       >
    <span class="GiftWrap__Label__Content">{{ product_gift_wrap_supplies.description }}</span>
    <ul class="GiftWrap__Variants">
      {% assign variant = product_gift_wrap_supplies.selected_or_first_available_variant %}
      <li class="GiftWrap__Variant" data-variant-id="{{ variant.id }}" style="display:block">
        <div class="Grid">
          <div class="Grid__Cell 1/1--phone 1/2--tablet-and-up">
            <img src="{{ variant.image | img_url: '600x' }}" />
            <!-- <p class="GiftWrap__Variant__Title">{{ variant.title }}</p> -->                          
          </div>
          <div class="Grid__Cell 1/1--phone 1/2--tablet-and-up">
            <label class="GiftWrap__Variant__QuantityLabel">Qty:</label>

            <select class="GiftWrap__Variant__Quantity">
              {%- for i in (1..5) -%}
              <option value="{{ i }}">{{ i }} ({{ variant.price | times: i | money }})</option>
              {%- endfor -%}
            </select>
          </div>
        </div>
      </li>
    </ul>

    <div class="Form__Group">
      <div class="Form__Item">
        <input id="free-gift-message-to" class="Form__Input Form__Input--Mirror" type="text" name="attributes[To]" value="{{ cart.attributes["To"] }}">
        <label for="free-gift-message-to" class="Form__FloatingLabel">To</label>
      </div>

      <div class="Form__Item">
        <input id="free-gift-message-from" class="Form__Input Form__Input--Mirror" type="text" name="attributes[From]" value="{{ cart.attributes["From"] }}">
        <label for="free-gift-message-from" class="Form__FloatingLabel">From</label>
      </div>
    </div>

    <div class="Form__Item">
      <textarea id="free-gift-message-gift-message" class="Form__Input Form__Input--Mirror" name="attributes[Gift Message]">{{ cart.attributes["Gift Message"] }}</textarea>
      <label for="free-gift-message-gift-message" class="Form__FloatingLabel">Gift Message</label>
    </div>

    <button
            class="gift-wrap-btn Form__Submit btn btn--primary btn--large uppercase">
      Save Gift Wrap Selection
    </button>
  </div>
</li>
{%- endunless -%}