<style>
/*   .step-1-containter {
    position: relative;
  }
  .step-1-containter::after {
    content: "";
    width: 100%;
    height: 100%;
    background:black;
    top: -50px;
    left: 0px;
    position: absolute;
    display: inline-block;
  } */
  .visibiltyHidden {
    display: none;
  }
  .link-text {
    color: #00c4b3;
    text-decoration: underline;
  }
  .response{
    padding: 6px 12px;
    border-radius: 5px;
  }
  .response.pending{
    color: #ED2B91;
  }
  .response.approved{
    color: #8DC63F;
  }
  .response.declined {
    color: #ec5757;
  }

   input::placeholder,textarea::placeholder{
    color:grey!important;
    padding: 10px!important;    
  }
 .stepDetails a{
    padding: 0px!important;
    font-weight: 600;
  }
  .step {
    opacity: 0.2;
  }
  .anchor {
    pointer-events: none;
    cursor: default;
  }
  .anchor.approved {
   pointer-events: all;
   cursor: pointer!important;
  }
  .anchor.approved:hover {
    background: #eee;
  }
  .step.approved {
    opacity: 1!important;
  }
  .sub-heading {
/*     white-space: nowrap; */
  }
  .approved {
    color: #8DC63F;
  }
  .canceled {
    color: red;
  }
  .pending, .waitlisted {
    color: #ED2B91;
  }
  .declined {
    color: #ec5757;
  }
  span.icon:after {
    content: "\f058";
    color: white;
    font-family: FontAwesome;
  } 
  span.icon.pending:after{
    content: "\f017";
    font-family: FontAwesome;
    color: #ED2B91!important;
  }
  span.icon.declined:after{
    content: "\f057";
    font-family: FontAwesome;
    color: #ec5757 !important;
  }
  span.icon.approved:after{
    content: "\f058";
    font-family: FontAwesome;
    color: #8DC63F !important;
  }
  [class*=" fa-"]:before {
    margin: 0px;
  }
  .title {
    font-size: 35px;
    padding: 50px;
    font-weight: 100;
    line-height: 1.5;
  }
  .message {
    background: #f4f6f8;
    color: black;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    padding: 50px;
    line-height: 2rem;
    margin-bottom: 0px;
    line-height: inherit;
  }
  .custom-file-upload.approved {
    cursor: pointer;
  }
  .main-step-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
  }
  .sub-step-heading, .sub-step-heading label {
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    text-transform: initial;
  }
  .statusbox {
    background: white;
    border: 5px solid black;
    text-align: center;
    display: inline-block;
    padding: 8px;
    margin-top: -20px;
  }
  .statusbox.approved {
     border: 5px solid black;
  }
  .sub-statusbox {
    background: white;
    border: 5px solid black;
    text-align: center;
    display: inline-block;
    margin-top: -20px;
    padding: 8px;
  }
  .description {
    font-size: 20px;
    padding-top: 5px;
    color: black;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 60px;
    line-height: 1.5rem;
  }
  .sub-description {
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 30px;
    color: black;
    padding-top: 5px;
  }
  .sub-statusbox.empty {
    padding: 0px 18px;
  }
  
  .steps div {
    display: flex;
  }
  .statusbox .fas.fa-check {
    margin: .2em;
    color: #00c336b5;  
  }
  .fal.fa-clock {
    margin: .2em;
    color:#ED2B91;
  }
  .sub-statusbox .fas.fa-check {
    margin: .2em;
    color: black;
  }
  .vertical-line {
    border-right: 5px solid black;
    margin-right: -15px;
    z-index: -9999;
    position: relative;
    margin-bottom: 150px;
    margin-top: -10px;
 
  }
  .stepDetails {
    padding-left: 50px;
    display: flex;
  }
  .verticalText {
    transform: rotate(-90deg);
    position: absolute;
    bottom: -105px;
    left: -68px;
    font-size: 30px;
    font-weight: 600;
    background: white;
  }

  .message.footer {
    padding-left: 200px; 
    padding-right: 100px;
  }
  
  
  .loading-container {
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: #454f5ba6;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  .spinner {
    height: 14rem;
    width: 14rem;
    border: 5px solid #00c4b3;
    border-left: 5px solid #59f5e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin infinite 1.5s linear;
  }

  .spinner-text {
    position: absolute;
    font-size: 16px;
    color: #ffff;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  @media (max-width: 1200px) { 
    .title {
      padding: 30px;
      font-size: calc(18px + (40 - 20) * ((100vw - 300px) / (2000 - 300)));
    }
    .main-step-heading {
      font-size: calc(16px + (35 - 16) * ((100vw - 300px) / (2000 - 300)));
    }
    .sub-step-heading, .sub-step-heading label {
      font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (2000 - 300)));
    }
    .message {
      padding: 30px;
      font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (2000 - 300)));
      line-height: inherit;
    }
     .stepDetails {
      padding-left: 30px;
    }
     .description {
      font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (2000 - 300)));
    }
    .sub-description {
      font-size: calc(10px + (30 - 10) * ((100vw - 300px) / (2000 - 300)));
    }
    .message.footer {
        padding: 40px;
    }
    .verticalText {
      font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (2000 - 300)));
      bottom: -80px;
      left: -54px;
    }
  }
  @media (max-width: 780px) { 
    .title {
      padding: 0px 10px;
    }
    .message {
      padding: 10px;
    }
    .stepDetails {
      padding-left: 10px;
    }
    .main-step-heading .col-xs-11 {
      padding-left: 25px;
    }
    .verticalText {
      left: -46px;
    }
  }
  @media (max-width: 500px) { 
    .statusbox, .sub-statusbox {
      padding: 5px;
    }
    .sub-statusbox {
      padding: 3px;
    }
    ol {
      margin-left: 0.9rem;
    }
    .sub-step-heading .col-xs-1 {
      padding: 0px;
      padding-right: 5px;
    }
    .response {
      padding: 5px 10px;
      border-radius: 5px;
    }
    .page-header.spacing{
      margin-bottom: 0px;
    }
    .stepDetails{
      margin-top: -35px;
    }
  }
</style>

{% assign counter = 0 %}
{% if customer.metafields.my_fields.step_31.value.status == "pending" %}
{% assign counter = 1 %}
{% endif %}

{% if customer.metafields.my_fields.step_3.value.status == "approved"%}
{% assign counter = 2 %}
{% endif %}

{% if customer.metafields.my_fields.step_3.value.status == "declined"%}
{% assign counter = 3 %}
{% endif %}

{% if customer.metafields.my_fields.step_31.value.status == "approved" and customer.metafields.my_fields.step_3.value.status == "pending" %}
{% assign counter = 4 %}
{% endif %}
{% unless customer  %}
<script type="text/javascript">
  window.location = "/account/login?return_url=/pages/id-sign-up-dashboard";
</script>
{% endunless %}
<main class="loading-container">
  <p class="spinner-text">
    Uploading...
  </p>
  <div class="spinner"></div>
</main>
{%- include 'language-selector' -%}
<input type="hidden" class="customerId" value="{{customer.id}}"/>
{% unless customer.metafields.my_fields.step_3.value.status == 'approved' %}
<div class="row">
  <div class="col-sm-12">
  <p style="padding: 0; margin-bottom: 2rem" class="title">
    <span class="english-version">
      Becoming an Independent Distributor is easy.  Simply follow the steps laid out below and our team will review each part of your application as you go.
    </span>
    <span class="french-version visibiltyHidden">Devenir un distributeur indépendant est facile. Suivez simplement les étapes décrites ci-dessous et notre équipe examinera chaque partie de votre application au fur et à mesure.</span>
  </p>
  </div>
</div>
{% endunless %}
<div class="row">
  <div class="col-sm-12"> 
    <!--  Dynamic Message    -->
   {%-if customer.metafields.my_fields.step_3.value.status == 'pending'  -%}
    <p class="message english-version"> Hi {{customer.first_name}}. Thanks for completing Step 3.  We’ll get back to you shortly about next steps!</p>
    <p class="message french-version"> Bonjour {{customer.first_name}}. Merci d’avoir compléter l’Étape 3.  Nous vous reviendrons sous peu en regard des prochaines étapes. </p>
    
    
    {%- elsif customer.metafields.my_fields.step_3.value.status == 'approved' -%}
    <p class="message english-version"> Congratulations {{customer.first_name}}! You have been approved as a SweetLegs Independent Distributor.
      Keep an eye on your inbox…we’ll be sending you more details soon. </p>
    <p class="message french-version"> Félicitations {{customer.first_name}}!  Vous avez été approuvé en tant que distributeur indépendant SweetLegs.  Gardez un œil sur votre boîte de réception… nous vous enverrons plus de détails bientôt.
 </p>

    {% elsif customer.metafields.my_fields.step_3.value.status == 'declined' or customer.metafields.my_fields.step2.value.status == 'declined' %}
    <p class="message english-version"> Hi {{customer.first_name}}.  It looks like there was an issue with the last step. Please redo this step and we’ll review once submitted.</p>
     <p class="message french-version"> Salut {{customer.first_name}}.  Il semble qu’il y ait eu un problème avec la dernière étape.  Veuillez refaire cette étape et nous examinerons le tout une fois soumis.</p>

    {%- elsif customer.metafields.my_fields.step2.value.status == 'pending' -%}
    <p class="message english-version"> Hi {{customer.first_name}}, Thanks for completing Step 2.  We’ll get back to you shortly about next steps! </p>
    <p class="message french-version"> Bonjour {{customer.first_name}}. Merci d’avoir compléter l’Étape 2.  Nous vous reviendrons sous peu en regard des prochaines étapes.</p>

      
    {%- elsif customer.metafields.my_fields.step2.value.status == 'approved' -%}
    <p class="message english-version"> Hi {{customer.first_name}}. You’ve successfully completed Step 2.  Please move on to Step 3…you’re almost there! </p>
     <p class="message french-version"> Salut {{customer.first_name}}. Vous avez terminé avec succès l’étape 2.  Veuillez passer à l’étape 3…vous y êtes presque ! </p>

    
    {% elsif customer.metafields.my_fields.step1.value.status == 'pending' %}
    <p class="message english-version"> Hi {{customer.first_name}}. Thanks for starting the application process to become a SweetLegs Independent Distributor!  We’ll review your responses and get back to you within 24 hours. </p>
    <p class="message french-version">Bonjour {{customer.first_name}}. Merci d’avoir rempli le questionnaire ! Nous allons réviser votre soumission dans le 24 heures qui suivent, et nous vous reviendrons sous peu. </p>
    
    {%- elsif customer.metafields.my_fields.step1.value.status == 'approved' -%}    
    <p class="message english-version"> Hi {{customer.first_name}}, Thanks for completing the questionnaire!  Please continue on to Step 2. </p>
     <p class="message french-version"> Bonjour  {{customer.first_name}}. Vous avez compléter l’Étape 1 avec succès ! Veuillez SVP continuer à l’Étape 2.  Une fois soumis, nous réviserons le tout dans le 24 heures qui suivent et nous vous reviendrons sous peu.</p>

    
    {% elsif customer.metafields.my_fields.step1.value.status == 'declined' %}
    <p class="message english-version"> Hi {{customer.first_name}}. We have reviewed your application and regrettably we will not be moving forward at this time.  You will receive an email shortly with more details.  </p>
     <p class="message french-version"> Bonjour {{customer.first_name}}. Malheureusement nous ne pouvons aller de l’avant en ce moment car votre application n’atteint pas un de nos critères.  Vous recevrez un message sous peu avec plus de détails.</p>
    
    {% else %}
    {% endif %}
    <!--      -->
  </div>
</div>
{% unless customer.metafields.my_fields.step_3.value.status == 'approved' %}
<div class="stepDetails" style="margin-top: 4rem">
  <div class="vertical-line"><div class="verticalText">Complete</div></div>
  <div style="width: 100%">
    <div class="row">
      <div class="col-sm-12 step-1-containter">
        <div class="row main-step-heading">
          <div class="col-xs-1 col-md-1 " style="padding:0px;">
            <span class="statusbox {{ customer.metafields.my_fields.step1.value.status | downcase }}"><span class="icon {{ customer.metafields.my_fields.step1.value.status | downcase }}"></span></span>
          </div>
          <div class="col-xs-11 col-md-11">
            <div>
              <ol>
                <li>
                  <a class="{% if customer.metafields.my_fields.step1.value.status %} anchor {% endif %}" href="/pages/sign-up-form">
                    <span class="english-version">Fill out our <span class="link-text">questionnaire.</span></span>
                    <span class="french-version visibiltyHidden">Remplissez notre <span class="link-text">questionnaire.</span></span></a>
                  <span class="response {{ customer.metafields.my_fields.step1.value.status }}">{{ customer.metafields.my_fields.step1.value.status | capitalize }}</span>
                </li>
                <div class="description">
                  <span class="english-version">Click the link above and fill out our questionnaire. This helps us determine if you’re the right fit for SweetLegs!</span>
                  <span class="french-version visibiltyHidden">Cliquez sur le lien ci-dessus et remplissez notre questionnaire. Cela nous aidera à déterminer si vous êtes un bon match pour SweetLegs!</span>
                </div>
              </ol>
            </div>           
          </div>
        </div>
      </div>
    </div>
    
  <!--  STEP 2    -->
    <div class="row">
      <div class="col-sm-12">
        <div class="row main-step-heading">
          <div class="col-xs-1" style="padding:0px;">
            <span class="statusbox {{ customer.metafields.my_fields.step2.value.status  | downcase }}"><span class="icon {{ customer.metafields.my_fields.step2.value.status  | downcase }}"></span></span>
          </div>
          <div {% if customer.metafields.my_fields.step1.value.status == 'approved' %} style="opacity: 1"; {% endif %} class="col-xs-11 step {{customer.metafields.my_fields.step1.value.status | downcase}}">
            <div>
              <ol start="2" style="color: black">
                <li><a class="{% unless customer.metafields.my_fields.step1.value.status == 'approved'%} anchor {% endunless %}" href="/pages/core-fundamentals">
                  <span class="english-version">Understand the <span class="link-text">Core Fundamentals.</span></span>
                  <span class="french-version visibiltyHidden">Acceptez les <span class="link-text">Principes fondamentaux.</span></span>
                </a>
                  <span class="response {{customer.metafields.my_fields.step2.value.status}}">{{customer.metafields.my_fields.step2.value.status | capitalize}}</span>
                </li>
                <div class="description">
                  <span class="english-version">Click the link above and initial each section to confirm you understand the
SweetLegs brand and rules that help make our program successful.</span>
                    <span class="french-version visibiltyHidden">Cliquez sur le lien ci-dessus et révisez chaque section pour confirmer que vous comprenez les règlements de SweetLegs qui contribuent au succès de notre programme.</span>
                 
                </div>
              </ol>
              </div>
          </div>
        </div>
      </div>
    </div>
    
  <!--  STEP 3    -->
    
    <div class="row">
      <div class="col-sm-12">
        <div class="row main-step-heading">
          <div class="col-xs-1" style="padding:0px;">
            {% if customer.metafields.my_fields.step_3.value.status %}       
            {% assign statusStep3 = customer.metafields.my_fields.step_3.value.status %}
            {% endif %}
            
            <span class="statusbox {{statusStep3}}"><span class="icon {{statusStep3}}"></span></span>
          </div>
          <div class="col-xs-11">
            <div>
              <ol start="3" style="color: black">
              <div style="color: black" class="step3 {% if customer.metafields.my_fields.step2.value.status == 'approved' %} 
                      {% else %} step {% endif %} {{customer.metafields.my_fields.step2.value.status | downcase}}">
                <li>
                  <span class="english-version">Review the Policies & Procedures and sign the contract.</span>
                  <span class="french-version visibiltyHidden">Révisez les Politiques et procédures et signez le contrat.</span>
                  <span class="response 
                               {% if counter == 1 %} {{customer.metafields.my_fields.step_31.value.status }} 
                               {% elsif counter == 2 %} {{ statusStep3 }} 
                               {% elsif counter == 3 %} {{ customer.metafields.my_fields.step_3.value.status }} 
                               {% elsif counter == 4 %} {{ customer.metafields.my_fields.step_3.value.status }} 
                               {% endif %}">
                    {% if counter == 1 %} {{customer.metafields.my_fields.step_31.value.status | capitalize }} 
                    {% elsif counter == 2 %} {{ statusStep3 | capitalize }} 
                    {% elsif counter == 3 %} {{ customer.metafields.my_fields.step_3.value.status | capitalize }}  
                    {% elsif counter == 4 %} {{ customer.metafields.my_fields.step_3.value.status | capitalize }} 
                    {% endif %}
                  </span>
                </li>
                <div class="description">
                  <span class="english-version">The Policies & Procedures manual and the SweetLegs Contract are the backbone of our program and keeps
everyone working as a team and in concert.</span>
                  <span class="french-version visibiltyHidden">Les Politiques et procédures ainsi que le contrat SweetLegs sont l'épine dorsale de notre programme et s’assurent que toute l’équipe travaille selon les mêmes règlements..</span>
                </div>
              </div>

              <div class="row sub-step-heading {% if customer.metafields.my_fields.step2.value.status == 'approved' %} 
                      {% else %} step {% endif %} {{customer.metafields.my_fields.step2.value.status | downcase}}">
                  <div class="col-xs-1">
                    <span class="sub-statusbox"><span class="icon 
                      {{ customer.metafields.my_fields.step_31.value.status }} 
                      "></span></span>
                  </div>
                  <div class="col-xs-10" style="padding: 0px; padding-left: 20px;">
                    <div class="sub-heading signContract {% if customer.metafields.my_fields.step_31.value.status %} anchor {% endif %}"><a href="/pages/review-the-policies-and-procedures">
                      <span class="english-version">Review the <span class="link-text">Policies & Procedures.</span>{% if customer.metafields.my_fields.step_31.value.status == 'approved' %}<span style="color: #8DC63F; margin-left: 5px">Completed</span>{% endif %}</span>
                      <span class="french-version visibiltyHidden">Révisez les <span class="link-text">Politiques et procédures.</span>{% if customer.metafields.my_fields.step_31.value.status == 'approved' %}<span style="color: #8DC63F; margin-left: 5px">Completed</span>{% endif %}</span>
                    </a></a></div>
                      <p class="sub-description">
                        <span class="english-version">This manual breaks down every aspect of your SweetLegs business.
Review the Policies & Procedures above to continue. </span>
                        <span class="french-version visibiltyHidden">
                          Ce guide vous donne un aperçu de tous les aspects de votre entreprise SweetLegs.  Réviser le document ci-dessus afin de continuer.
                        </span>
                      </p>
                  </div>
            </div>
                
                <div class="row sub-step-heading {% if customer.metafields.my_fields.step_31.value.status == 'approved' %} 
                      {% else %} step {% endif %} {{customer.metafields.my_fields.step_31.value.status | downcase}}">
                  <div class="col-xs-1">
                    <span class="sub-statusbox"><span class="icon 
                      {{ customer.metafields.custom.step_32.value.status }}"></span></span>
                  </div>
                  <div class="col-xs-10 " style="padding: 0px; padding-left: 20px;">
                    <div class="sub-heading signContract {% if customer.metafields.my_fields.step_3.value.status %} anchor {% endif %}"><a href="/pages/sign-the-contract">
                      <span class="english-version link-text">Agree and sign the contract.</span>{% if customer.metafields.custom.step_32.value.status == 'approved' %}<span class="english-version" style="color: #8DC63F; margin-left: 5px">Completed</span>{% endif %}
                      <span class="french-version visibiltyHidden link-text">Révisez et signez le contrat.</span>{% if customer.metafields.custom.step_32.value.status == 'approved' %}<span class="french-version visibiltyHidden" style="color: #8DC63F; margin-left: 5px">Completed</span>{% endif %}
                    </a></a></div>
                      <p class="sub-description">
                        <span class="english-version">Click the link above and sign each area. This contract ensures
everyone is consistent and working together as a team.</span>
                        <span class="french-version visibiltyHidden">
                          Cliquez sur le lien ci-dessus et signez chaque section.  Ce contrat assure que tous les distributeurs indépendants suivent les mêmes règlements.</span>
                      </p>
                  </div>
            </div>
  
          
                <div class="row sub-step-heading {% if customer.metafields.custom.step_32.value.status == 'approved' %} 
                      {% else %} step {% endif %} {{customer.metafields.custom.step_32.value.status | downcase}}">
                    <div class="col-xs-1">
                      <span class="sub-statusbox "><span class="icon {% if  customer.metafields.my_fields.step_3.value.status == 'pending'  %}approved{% endif %}"></span></span>
                    </div>
                   <div class="col-xs-10 " style="padding: 0px; padding-left: 20px;">
                       <div class="sub-heading">
                         <form class="uploadFile">
                          <label for="fileToUpload" class="custom-file-upload {{ customer.metafields.custom.step_32.value.status }}">
                              <span class="english-version link-text">Upload proof of address.</span>{% if  customer.metafields.my_fields.step_3.value.status== 'pending' %}<span class="english-version" style="color: #8DC63F; margin-left: 5px">Completed</span>{% endif %}
                            <span class="french-version visibiltyHidden link-text">Téléchargez une preuve d’adresse. </span>{% if  customer.metafields.my_fields.step_3.value.status == 'pending' %}<span class="french-version visibiltyHidden" style="color: #8DC63F; margin-left: 5px">Completed</span>{% endif %}
                            <i class="fa fa-cloud-upload"></i>
                          </label>
                            <input class="{% if customer.metafields.my_fields.step_3.value.status %} anchor {% endif %}" type="file" name="fileToUpload" id="fileToUpload" required enctype="multipart/form-data" style="display: none">
                         </form>
                      </div>
                        <p class="sub-description">
                          <span class="english-version">Click above to upload a photo of your ID.</span>
                          <span class="french-version visibiltyHidden">
                              Cliquez ci-dessus afin de télécharger votre carte d’identité.
                          </span>
                        </p>
                    </div>
                 </div>  
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 25px;">
  <div>
    <p class="message footer" > 
      <span class="english-version">Have any questions?  We’re here to help!  Contact us at <a href = "mailto:idsupport@sweetlegs.ca" class="link-text" style="text-decoration: underline!important; border: none">idsupport@sweetlegs.ca</a>.</span>
        <span class="french-version visibiltyHidden">
Avez-vous des questions? Nous sommes là pour vous aider ! Contactez-nous à <a href = "mailto:idsupport@sweetlegs.ca" class="link-text" style="text-decoration: underline!important; border: none">idsupport@sweetlegs.ca</a>.</span>
    </p>
  </div>
</div>
{% endunless %}
<script>  
   function ValidateFileUpload() {
     var fuData = document.getElementById('fileToUpload');
     var FileUploadPath = fuData.value;
     
     if (FileUploadPath == '') {
       alert("Please upload an image");
       return 0;
     } 
     else 
     {
       var Extension = FileUploadPath.substring(
         FileUploadPath.lastIndexOf('.') + 1).toLowerCase();
       if(fuData.files[0].size > 3500000){
         alert("File is too big to upload. It can upload only 3 mega bytes");
         return 0;
       }
       if (Extension == "gif" || Extension == "png" || Extension == "bmp"
           || Extension == "jpeg" || Extension == "jpg") {

         if (fuData.files && fuData.files[0]) {
           var reader = new FileReader();

           reader.onload = function(e) {
             $('#blah').attr('src', e.target.result);
           }
           reader.readAsDataURL(fuData.files[0]);
         }
         return 1;
       } 
       else {
         alert("Photo only allows file types of GIF, PNG, JPG, JPEG and BMP. ");
         return 0;
       }
     }
     return 1;
  }
  
  $(document).ready(function(e) {   
    $("#fileToUpload").change( function(evt) {
      if(!ValidateFileUpload()) {
        return 0;
      }
      var f = evt.target.files[0]; // FileList object
      const fileValue = evt.target.value;
      customerId = {{customer.id}};
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        const fileType = fileValue.substring(fileValue.lastIndexOf('.') + 1).toLowerCase();
        return function(e) {
          var binaryData = e.target.result;
          //Converting Binary Data to base 64
          var base64String = window.btoa(binaryData);
          const formData = {
            img: base64String,
            customerId: customerId,
          }
          $('.loading-container').css("display", "flex");
          $.ajax({
            url : ` https://sweetlegs.rocks/api/distributor-onboarding/step3/proof-of-id`,
            type : 'POST',
            data: {
              img: `data:image/png;base64, ${base64String}`,
              customerId: customerId,
            },
            success : function(data) {
                $('.loading-container').css("display", "none");
                window.location = "/pages/id-sign-up-dashboard";
            }
          });
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsBinaryString(f);      
    })
  });
</script>
        
        
