{%- assign success_msg = 'general.newsletter_form.confirmation' | t -%}

{% form 'customer', class: class, id: id %}
  {% render 'form-status', form: form, form_id: id, success_message: success_msg %}

  {%- unless form.posted_successfully? -%}
    <div class="newsletter-form-inner">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <label for="{{ id }}-email" class="visually-hidden">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
      <input type="email"
        class="input"
        name="contact[email]"
        id="{{ id }}-email"
        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
        autocorrect="off"
        autocapitalize="off"
      >

      <div class='guarantee_box'>
        <input type="checkbox" id="newsletterGuaranteeCheck" />
        <p class='guarantee_rte'>
          By submitting your email address, you acknowledge receipt of, review of, and agreement to Chick-fil-A’s <a href="https://www.chick-fil-a.com/legal#terms_and_conditions" target="_blank" rel="noopener noreferrer">Terms & Conditions</a>, as well as receipt of Chick-fil-A’s <a href="https://www.chick-fil-a.com/legal#privacy_policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and <a href="https://www.chick-fil-a.com/legal#your_california_privacy_rights" target="_blank" rel="noopener noreferrer">California Privacy Notice</a>.
        </p>
      </div>
      
      <button type="submit" name="commit" id="Subscribe" class="newsletter-form__button btn btn--primary btn--small btn--medium-ns">
        {{ 'general.newsletter_form.submit' | t }}
      </button>
    </div>
  {%- endunless -%}
{% endform %}