<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":16324681,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":true,"j":"","k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":false,"r":true,"s":null,"t":null,"u":1,"v":false,"w":"circle","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"};
pn.settings.singleProductSettings=[];
pn.settings.tagSettings=[{"id":14817895,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":true,"j":"Pre-Order","k":null,"l":null,"m":"tag-parent","n":"39249465704535","o":false,"handle":"pre-order-popshield-protectors-100-count-free-shipping-in-u-s","p":"6537368305751","y":"https://cdn.shopify.com/s/files/1/1661/9981/products/PopShieldclear_e6992e78-db63-4bcf-80cb-9e7b407446f4.png?v=1614636376","q":false,"r":true,"s":99168,"t":null,"u":1,"v":false,"w":"ribbon","tag":"Preorder","x":"Pre-Order","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>