{% assign max = 0 %}
{% for tag in product.tags %}
  {% assign startsWith = 'options:max:' %}
  {% assign checkArray = tag | split:startsWith %}

  {% if checkArray[0] == blank %}
	{% assign max = checkArray[1] | plus: 0 %}
  {% endif %}
{% endfor %}

{% if max > 0 %}
<div class="product-options" data-max="{{max}}">
  <table>
    {% for tag in product.tags %}
      {% assign startsWith = 'option:' %}
      {% assign checkArray = tag | split:startsWith %}

      {% if checkArray[0] == blank %}
        <tr>
          <td>{{checkArray[1]}}</td>
          <td>
            <select name="properties[{{checkArray[1]}}]">
              <option value="">0</option>
              {% for i in (1..max) %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </td>        
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
<p class="product-options-message text-center"></p>
{% endif %}