<!-- product-title-price.liquid  -->

{% assign current_variant = product.selected_or_first_available_variant %}

{% if block.settings.product_show_vendor and product.vendor %}
  <div class="product__subheading">
    <p><a href="{{ product.vendor | url_for_vendor }}" class="border-bottom-link uppercase">{{ product.vendor }}</a></p>
  </div>
{% endif %}

<div class="product__headline" {{ block.shopify_attributes }}>

  <div class="product__title__wrapper">
    <h1 class="product__title">{{ product.title }}</h1>

    {%- if block.settings.show_rating and product.metafields.reviews.rating.value != blank -%}
      <div class="rating__wrapper__title">
        {% render 'product-rating', product: product, show_rating_count: block.settings.show_rating_count %}
      </div>
    {%- endif -%}
  </div>

  <div class="product__price__wrap">
    <div class="product__price__main" data-price-wrapper>

      {% if current_variant.compare_at_price > current_variant.price %}
        {% assign on_sale = true %}
      {% endif %}

      <span class="ProductMeta__Price Price {% if on_sale %}Price--highlight{% endif %} Text--subdued u-h4" data-money-convertible data-product-price>{{ current_variant.price | money }}</span>
      <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4" data-money-convertible data-compare-price>{{ current_variant.compare_at_price | money }}</span>
      <span data-compare-text></span>
      {%- if current_variant.compare_at_price > current_variant.price -%}
        <span class="final-sale">Final Sale</span>
      {%- endif -%}

    </div>
  </div>

</div>
