<div class="product-tabs">
    <ul class="tabs">
        <li class="description_tab active">
            <a href="#tab-add-info" id="info-title">Product Details</a>
        </li>           
        <li class="reviews_tab">
            <a href="#tab-reviews" id="review-title">{{ 'products.product.reviews' | t | escape }}</a>
        </li>      
    </ul>

<div class="panel" id="tab-add-info" >
    <div class="container">
        <div class="tag">
            <span class="info">SweetTops are high quality must-have essentials for your wardrobe,
                        and these garments are classic styles that are meant to pair seamlessly with your SweetLegs prints!
                         SweetTops were designed as everyday go-to styles that you can dress up or dress down easily.
                          They wash and wear beautifully and are extremely soft and comfortable.</span></div>
            <img src="https://cdn.shopify.com/s/files/1/0949/8004/files/tops-quality_1.jpg?15982">
    </div>
    <div class="container" >
        <div class="tag" style="top:80%">
        {% if product.title == "Classic Layering Tank" %}
          <span class="info">
            <span class="info-header">SIGNATURE FABRIC:</span>
           This signature fabric is made from a viscose fibre that has a silky look and superior softness. With added spandex, this blend is durable and will retain its shape beautifully.
          </span>
        {% elsif product.title == "Classic Swing Tank" %}
          <span class="info">
            <span class="info-header">SIGNATURE FABRIC:</span>
           This signature fabric is made from a viscose fibre that has a silky look and superior softness. With added spandex, this blend is durable and will retain its shape beautifully.
          </span>
		{% else %}
                    <span class="info">
            <span class="info-header">SIGNATURE FABRIC:</span>
                      {% if product.title contains 'V-Neck' %}
                        This signature fabric is made from a viscose and polyester blend. With added spandex, this blend is durable and will retain its shape beautifully.
                      {% else %}
                        We have developed our own signature fabric made from a luxuriously soft blend of rayon, polyester, and spandex. This combination results in a garment that drapes beautifully and breathes naturally.
                      {% endif %}
            
          </span>
		{% endif %}
      </div>
            <img src="https://cdn.shopify.com/s/files/1/0949/8004/files/tops-fabric_1.jpg?15982">
    </div>


{%- if product.type == 'SweetTops' -%}
	{% if product.title == "Classic Layering Tank" %}
		{%include 'info-table-tanks' %}
	{% elsif product.title == "Classic Swing Tank" %}
		{%include 'info-table-tanks' %}
  	{% else %}
		{%include 'info-table-sweettops' %}
	{% endif %}

{%- else -%}
{%include 'info-table-leggings' %}
{%- endif -%}

              

</div>
              
<div class="panel" id="tab-reviews" style='display:none;' >
                
    <div id="stamped-main-widget" class="stamped-main-widget"
data-product-id="{{ product.id }}"
data-name="{{ product.title | escape }}"
data-url="{{ shop.url }}{{ product.url }}"
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
data-description="{{ product.description | escape }}"
data-product-sku="{{product.handle}}">
    </div>
</div>
</div>


<style>
    .container {
     width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 20%;
    }
    .tag {
    float: left;
    position: absolute;
    left: 10%;
    top: 70%;
    z-index: 1000;
    background-color: white;
    color: black;
    font-weight: bold;
    width: 78%;
    padding: 50px;
    }
    .info {
    line-height: 1.7;
    font-weight: 400;
    font-size: 16px;
    }

    .info-header{

    font-weight: 900;
    }
    #tab-add-info > div:nth-child(2) {

    margin-bottom: 20% !important;
    }
    #tab-add-info > div:nth-child(3) {

    margin-bottom: 30% !important;
    }

@media (max-width:1024px) { 
    .container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 25%;
    }
    #tab-add-info > div:nth-child(2) {

    margin-bottom: 25% !important;
    }
    #tab-add-info > div:nth-child(3) {

    margin-bottom: 36% !important;
    }
 }

 @media (max-width:1023px) { 
    .container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 30%;
    }
    #tab-add-info > div:nth-child(2) {

    margin-bottom: 30% !important;
    }
    #tab-add-info > div:nth-child(3) {

    margin-bottom: 46% !important;
    }
 }

  @media (max-width:800px) { 
    .container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 45%;
    }
    #tab-add-info > div:nth-child(2) {

    margin-bottom: 33% !important;
    }

    #tab-add-info > div:nth-child(3) {

    margin-bottom: 70% !important;
    }
 }
  @media (max-width:700px) { 
    .container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 65%;
    }
    #tab-add-info > div:nth-child(2) {

    margin-bottom: 55% !important;
    }

    #tab-add-info > div:nth-child(3) {

    margin-bottom: 90% !important;
    }
 }

   @media (max-width:612px) { 
    .container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 110%;
    }
    #tab-add-info > div:nth-child(2) {

    margin-bottom: 76% !important;
    }

    #tab-add-info > div:nth-child(3) {

    margin-bottom: 150% !important;
    }
 }

@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 2000px)
and (-webkit-device-pixel-ratio : 3) { 
    img{
        max-width: 185%;

    }
    .container{
        margin-left: -12% !important; 
        margin-bottom: 121% !important; 


    }
    .tag{
    padding: 10% !important;
    width: 90% !important;
    margin-left: 10%;
    
    
    }
    .info{
    font-size:15px !important; 
    }

    #tab-add-info > div:nth-child(2) {

    margin-bottom: 90% !important;
    }

    #tab-add-info > div:nth-child(3) {

    margin-bottom: 200% !important;
    }

    #tab-add-info > div:nth-child(2) > img {
    position: relative;
    right: 59%;
    }

    
}






@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    img{
        max-width: 185%;

    }
    .container{
        margin-left: -12% !important; 
        margin-bottom: 121% !important; 


    }
    .tag{
    padding: 10% !important;
    width: 90% !important;
    margin-left: 10%;
    padding-right: 9% !important;
    
    }
    .info{
    font-size:15px !important; 
    }

    #tab-add-info > div:nth-child(2) {

    margin-bottom: 90% !important;
    }

    #tab-add-info > div:nth-child(3) {

    margin-bottom: 200% !important;
    }

    #tab-add-info > div:nth-child(2) > img {
    position: relative;
    right: 59%;
    }

    
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

img{
        max-width: 185%;

    }
    .container{
        margin-left: 18% !important; 
        margin-bottom: 121% !important; 


    }
    .tag{
    padding: 10% !important;
    width: 100% !important;
    margin: 5px -85px;
    padding-right: 9% !important;
    }
    .info{
    font-size:15px !important; 
    }

    #tab-add-info > div:nth-child(2) {

    margin-bottom: 90% !important;
    }

    #tab-add-info > div:nth-child(3) {

    margin-bottom: 200% !important;
    }

    #tab-add-info > div:nth-child(2) > img {
    position: relative;
    right: 48%;
    }

    

}
/* IPAD PRO */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    img{
        max-width: 185%;

    }
    .container{
        margin-left: 23% !important; 
        margin-bottom:27% !important; 


    }
    .tag{
    padding: 10% !important;
    width: 90% !important;
    margin-left: -23%;
    padding-right: 9% !important;
    
    }
    .info{
    font-size:15px !important; 
    }

    #tab-add-info > div:nth-child(2) {

    margin-bottom: 25% !important;
    }

    #tab-add-info > div:nth-child(3) {

    margin-bottom: 40% !important;
    }

    #tab-add-info > div:nth-child(2) > img {
    position: relative;
    right: 59%;
    }
}
</style>

<script>

var url = window.location.href;
var result = false;
  console.log(url.includes("#stamped-main-widget"));
if (url.includes("#stamped-main-widget")){
result = true ;
}
var reviews = document.getElementById('tab-reviews');
var info = document.getElementById('tab-add-info');
var ReviewTitle = document.getElementById('review-title');
var InfoTitle = document.getElementById('info-title');



$( document ).ready(function() {
  if(result == true){
     info.style.display = 'none';
     reviews.style.display = 'block';
     ReviewTitle.style.color = "black";
     InfoTitle.style.color = "#999";
     $('.stamped-summary-actions-newreview').css('visibility', 'visible');
  }
    console.log( "ready!",url,result, reviews);

});



</script>