{%unless product.handle contains 'free-sample' %}
{% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
{% form 'product', product, id: form_id, class: 'product-single__form' %}{% if content_for_header contains '.mageworx.com\/groupedproducts\/source.js?' and product.tags contains 'mw_grouped_product' %}<div class="mw-gp-container"></div>{% endif %}
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      {% if settings.variant_type == 'button' %}

        {% include 'variant-button-FIZZKIT', section_id: section_id, option_drop: option %}
      {% else %}
        {% include 'variant-dropdown', section_id: section_id %}
      {% endif %}
    {% endfor %}
  {% endunless %}
{%- if product.metafields.accentuate.bundle_label -%}
<div class="ProductBundler">
  {%- for label in product.metafields.accentuate.bundle_label -%}
    {% if total_variant_qty > 0%}  {%- endif -%}
  {%if label contains 'Free Sample'%}
  <div class="ProductBundler__Item">
    {% assign bundle_contents = product.metafields.accentuate.bundle_content[forloop.index0] | newline_to_br | split: '<br />' %}

    <label class="ProductBundler__Label">{{ label }}:</label>

    {%- if bundle_contents[1] == nil -%}
    <input type="hidden" name="properties1[{{ label | escape}}]" value="{{ bundle_contents | escape }}">
    <div class="ProductBundler__Content">{{ bundle_contents }}</div>
    {%- else -%}
    <div class="ProductBundler__Content">
       {%assign free_product_handle = 'free-sample'%}
        {%for tag in product.tags%}
         {%if tag contains 'extraproduct_'%}
          {%assign free_product_handle = tag | split: 'extraproduct_' | last%}
         {%endif%}
        {%endfor%}
        {%if free_product_handle != ''%}
        <select name="properties1[{{ label | escape}}]" class="free_sample">      
          {%assign free_product = all_products[free_product_handle]%}
          {%for free_variant in free_product.variants%}
          {%- for bundle_content in bundle_contents -%}
          {%- if bundle_content contains free_variant.title -%}
              <option value="{{ free_variant.id}}">{{ free_variant.title}}</option>
          {%- endif -%}
          {%- endfor -%}
          {%endfor%}
        </select>
      {%endif%}
    </div>
    {%- endif -%}
  </div>
  
  {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
  <select name="id" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {% if settings.quantity_enable %}
 {%comment%}      <div class="product__quantity product__quantity--{{ settings.variant_type }}">
      <label for="Quantity-{{ section_id }}">{{ 'products.product.quantity' | t }}</label>
      {% include 'quantity-input', id: section_id, qty: 1, min: 1 %}
    </div>  {%endcomment%}   
  {% endif %}

  {%- assign inventory_visible = false -%}
  {%- if settings.inventory_enable and current_variant.inventory_management == 'shopify' -%}
    {%- if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
      {%- assign inventory_visible = true -%}
    {%- endif -%}
  {%- endif -%}
  {%- if current_variant.inventory_quantity == 0 -%}
    {%- assign inventory_visible = false -%}
  {%- endif -%}

  <div
    id="ProductInventory-{{ section_id }}"
    class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
    >
    {% if current_variant.available %}
      {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
    {% endif %}
  </div>

  {%- if settings.inventory_transfers_enable -%}
    <div
      id="ProductIncomingInventory-{{ section_id }}"
      class="product__inventory{% if inventory_visible %} hide{% endif %}">
      {%- if current_variant.incoming and inventory_visible == false -%}
        {%- if current_variant.next_incoming_date -%}
          {% assign date = current_variant.next_incoming_date | date: format: 'date' %}
          {%- if current_variant.available -%}
            {{ 'products.product.will_not_ship_until' | t: date: date }}
          {%- else -%}
            {{ 'products.product.will_be_in_stock_after' | t: date: date }}
          {%- endif -%}
        {%- else -%}
          {{ 'products.product.waiting_for_stock' | t }}
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- assign enable_dynamic_buttons = false -%}
  {% if settings.enable_payment_button and template != 'product.preorder' %}
    {%- unless product.tags contains 'CBD' -%}
      {%- assign enable_dynamic_buttons = true -%}
    {%- endunless -%}
  {% endif %}

  {% if enable_dynamic_buttons %}
    <div class="payment-buttons">
  {% endif %}
   {%comment%}
    <button
      {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
      name="add" {% if content_for_header contains '.mageworx.com\/groupedproducts\/source.js?' and product.tags contains 'mw_grouped_product' %}disabled="disabled"{% endif %}
      id="AddToCart-{{ section_id }}"
      class="btn btn--full add-to-cart{% if enable_dynamic_buttons %} btn--secondary{% endif %}"
      {% unless current_variant.available %} disabled="disabled"{% endunless %}>
      <span id="AddToCartText-{{ section_id }}">
        {% if current_variant.available %}
          {% if template == 'product.preorder' %}
            {{ 'products.product.preorder' | t }}
          {% else %}
            {{ 'products.product.add_to_cart' | t }}
          {% endif %}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
    </button>

    {% if enable_dynamic_buttons %}
      {{ form | payment_button }}
    {% endif %}
  {%endcomment%}
  {% if enable_dynamic_buttons %}
    </div>
  {% endif %}
{%assign check_available = true %}
{%for variant in product.variants%}
{%unless variant.available%}
{%assign check_available = true%}
{%endunless%}
{%endfor%}

{%if check_available%}
<button {% unless current_variant.available %} disabled="disabled"{% endunless %} type="button" class="btn btn--full add-to-cart bundle_add_to_cart_FIZZKIT">{{ 'products.product.add_to_cart' | t }}</button>
{%else%}
<button disabled="disabled"  type="button" class="btn btn--full add-to-cart">{{ 'products.product.sold_out' | t }}</button>
{% endif %} 
<div id="VariantsJson-{{ section_id }}" class="hide" aria-hidden="true">
    {{ product.variants | json }}
  </div>
  {% if product.options.size > 1 %}
    <div id="CurrentVariantJson-{{ section_id }}" class="hide" aria-hidden="true">
      {{ current_variant | json }}
    </div>
  {% endif %}
{% endform %}
{%endunless%}