{%- unless grid_item_width -%}
{%- endunless -%}

{%- assign grid_item_width = 'medium-up--one-quarter small-up--one-half' -%}
{% for image in product.images %}
<div class="grid__item grid-product product-image-item {{ grid_item_width }}" data-aos="row-of-3">
  <div class="grid">
    <div class="grid__item small--one-third">       
      {% if fixed_aspect_ratio %}
      <div class="image-wrap">
        <div
             class="grid__image-ratio grid__image-ratio--cover grid__image-ratio--{{ image_size }} lazyload"
             data-bgset="{% include 'bgset', image: image %}"
             data-sizes="auto">
        </div>
        <noscript>
          <img class="lazyloaded" src="{{ image | img_url: '400x' }}" alt="{{ article.title | escape }}">
        </noscript>
      </div>
      {% else %}
      <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="lazyload"
             data-src="{{ img_url }}"
             data-widths="[180, 360, 540, 720, 900, 1080]"
             data-aspectratio="{{ image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ image.alt | escape }}">
        <noscript>
          <img class="lazyloaded" src="{{ image | img_url: '400x' }}" alt="{{ article.title | escape }}">
        </noscript>
      </div>
      {% endif %}
    </div>
    <div class="grid__item small--two-thirds">
      <div class="article__grid-meta center">
        {% unless collection.handle == 'treatment-finder' %}
        <span class="article__title" >{{ product.title }}</span>
        {% endunless %}
        <div style="margin-top: 10px" class="description">
          {{product.description}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}