{% assign opts = '' %}
	{% assign title = product.title |   %}
    {% if product.title contains '"' %}
     {% assign title = product.title | replace: '"', " " %}
    {% endif %}

             {% for option in product.options_with_values     %}
                 {% assign opts = option.name %} 
             {% endfor %}
           
              {% if opts == 'Title'  %}
                {% for variant in product.variants %}
					{% assign salePrice = variant.price %}
					{% if variant.compare_at_price > 0 %} 
						{% assign compareAtPrice = variant.compare_at_price %}  
                    {% else %}
                        {% assign compareAtPrice = variant.price %}  
                    {% endif %}
                    {% if product.tags contains "vault" %}
                      {% assign vault = 'vault-products' %} 
					{% else %}
					  {% assign vault = '' %} 
                    {% endif %}
					{% assign product_tags_string = product.tags | join: ' ' %}
                    <tr data-inventory-quantity="{{ variant.inventory_quantity }}"  class="{{ vault }}" data-filter-name="{{ title | downcase }}" data-name="{{ title | downcase }}" data-tag-array="{{ product.tags | join: "," | downcase }}" data-tag="{{ product.tags | join: "" | downcase  }}">
                      <td class="prodListImg">
                        {% if product.type  == 'Shorts'  %}
                       		<img src={{ product.images[1] | img_url: '50*50' }} alt={{product.title}} >
                        {% elsif product.tags contains 'show-image-1' %}
    						<img src={{ product.images[1] | img_url: '50*50' }} alt={{product.title}} >
                        {% elsif product.tags contains 'show-image-2' %}
    						<img src={{ product.images[2] | img_url: '50*50' }} alt={{product.title}} >
						{% else %}
                        	<img src={{ product.featured_image | img_url: '50*50' }} alt={{product.title}} >
                        {% endif %}
                      </td>
                      <td class="title" style="padding-left: 0px">
                        
                        <a href="{{ variant.url | collection }}">
                         <strong>{{ product.title }}</strong>{% unless variant.title contains 'Default' %} - {{ variant.title }}{% endunless %}
                        </a>
                      </td>
                      <td class="productPrice" style="padding-left:0px" data-tag-array="{{ product.tags | join: "," | downcase }}" data-tag="{{ product.tags}}" data-sale-price="{{ salePrice }}" data-compare="{{compareAtPrice | money}}" data-type="{{ product.type | downcase }}">  
                        	{{ variant.price | money }} {{ product.line_price }}                  
                  
                      </td>
                      <!--<td>
                         {{ variant.price | money }} {{ product.line_price }}

                      </td>-->
                      
                      <td class="prodListQty" style="text-align:center;">
						<input class='variantId' type='hidden'  name="quantity" value="{{variant.id}}" />
						<input class='variantUrl' type='hidden'  name="quantity" value="{{variant.url}}" />
                       
                        {% assign variant.inventory_quantity = variant.inventory_quantity | plus:0 %}
                          {% if variant.available and variant.inventory_quantity > 0%}
                       
                            {% assign vID = variant.id %}
                                   {% assign xQTY = 0 %}  
                         <i class="fa fa-minus prodListMinus" aria-hidden="true"></i>
                                  <input data-info=0  data-id="{{variant.id | downcase}}" data-name="updates[{{ variant.id }}]" onfocus="this.select()" type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="quantity field" min="0" max="{{ variant.inventory_quantity }}" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="{{ xQTY }}" tabindex="1" />  
                         <i class="fa fa-plus prodListPlus" aria-hidden="true"></i>
                          {% else %}
                            <small>Out of Stock</small>
                          {% endif %} 
                    </td>
                    </tr>
                {% endfor %}
			 {% else %}
                {% assign min_inventory = 0 %}
                {% for variant in product.variants %}
                  {% if variant.inventory_quantity < min_inventory  && variant.inventory_quantity != 0 %}
                    {% assign min_inventory = variant.inventory_quantity %}
                  {% endif %}
                {% endfor %}

                    <tr data-inventory-quantity="{{ min_inventory }}" class="parent" data-filter-name="{{ title | downcase }}" data-name="{{ title | downcase }}" data-tag-array="{{ product.tags | join: "," | downcase }}" data-tag="{{ product.tags | join: "" | downcase }}">
                     <td class="prodListImg">
                        {% if product.type  == 'Shorts'  %}
                       		<img src={{ product.images[1] | img_url: '50*50' }} alt={{product.title}} >
                        {% elsif product.tags contains 'show-image-1' %}
    						<img src={{ product.images[1] | img_url: '50*50' }} alt={{product.title}} >
                        {% elsif product.tags contains 'show-image-2' %}
    						<img src={{ product.images[2] | img_url: '50*50' }} alt={{product.title}} >
						{% else %}
                        	<img src={{ product.featured_image | img_url: '50*50' }} alt={{product.title}} >
                        {% endif %}
                      </td>
                      <td class="title" colspan="3">
                        <a href="{{ product.url | collection }}">
                         <strong>{{ product.title }}</strong>
                        </a>
                      </td>              
                    </tr>
                {% for variant in product.variants %}
					{% assign salePrice = variant.price %}
					{% if variant.compare_at_price > 0 %} 
						{% assign compareAtPrice = variant.compare_at_price %}  
                    {% else %}
                        {% assign compareAtPrice = variant.price %}  
                    {% endif %}
                    <tr data-inventory-quantity="{{ variant.inventory_quantity }}" class="sub" data-filter-name="{{ title | downcase }}" data-name="{{ title | downcase }} - {{ variant.title | downcase }}" data-tag-array="{{ product.tags | join: "," | downcase }}" data-tag="{{ product.tags | join: "" | downcase }}">
                      <td class="prodListImg">
                        {% if product.type  == 'Shorts'  %}
                       		<img src={{ product.images[1] | img_url: '50*50' }} alt={{product.title}} >
                        {% elsif product.tags contains 'show-image-1' %}
    						<img src={{ product.images[1] | img_url: '50*50' }} alt={{product.title}} >
                        {% elsif product.tags contains 'show-image-2' %}
    						<img src={{ product.images[2] | img_url: '50*50' }} alt={{product.title}} >
						{% else %}
                        	<img src={{ product.featured_image | img_url: '50*50' }} alt={{product.title}} >
                        {% endif %}
                      </td>
                      <td class="title">
                        <a href="{{ variant.url | collection }}">
                         <!-- {{ product.title }} -  -->{% unless variant.title contains 'Default' %}{{ variant.title }}{% endunless %}
                        </a>
                      </td>           
                      <td class="productPrice" style="padding-left:0px" data-tag-array="{{ product.tags | join: "," | downcase }}" data-tag="{{ product.tags}}"  data-sale-price="{{ salePrice }}" data-compare="{{compareAtPrice | money}}" data-tag="{{ product.tags}}" data-type="{{ product.type | downcase }}">
                        {{variant.price | money}}
                      </td>                    
                      <td class="prodListQty" style="text-align:center;">
						<input class='variantId' type='hidden'  name="quantity" value="{{variant.id}}" />
                       
                        {% assign variant.inventory_quantity = variant.inventory_quantity | plus:0 %}
                          {% if variant.available and variant.inventory_quantity > 0%}
                            {% assign vID = variant.id %}
                                   {% assign xQTY = 0 %}
                                   <i class="fa fa-minus prodListMinus" aria-hidden="true"></i>
                                  <input data-info=0 data-id="{{variant.id}}" data-name="updates[{{ variant.id }}]" onfocus="this.select()" type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="quantity field" min="0" max="{{ variant.inventory_quantity }}" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="{{ xQTY }}" tabindex="1" />
                        		  <input class='variantUrl' type='hidden'  name="quantity" value="{{variant.url}}" />
                        		<i class="fa fa-plus prodListPlus" aria-hidden="true"></i>

                          {% else %}
                            <small>Out of Stock</small>
                          {% endif %} 
                      </td>
                    </tr>
                {% endfor %}
     {% endif %}