{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_january-l2-11">
			<!-- START February Launch 2 REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_49_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_49_1" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-85" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.ca/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#7b99ff;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-49-slide-85-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:613px,346px,202px,5px;yo:-144px,-136px,-120px,186px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:852px,847px,780px,363px;h:948px,942px,868px,404px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:710;sp:1000;sR:710;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8290;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-MAINIMAGE.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:54px,1375px,1155px,949px;y:m;yo:-9px,-111px,-48px,60px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:321px,265px,201px,96px;h:476px,393px,298px,143px;"
								data-vbility="t,f,f,f"
								data-frame_0="y:top;"
								data-frame_1="st:700;sp:1000;sR:700;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:8300;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-legimage.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-49-slide-85-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:19px,-152px,-146px,10px;yo:13px,19px,49px,18px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:465px,467px,446px,262px;h:447px,449px,429px,252px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:1680;sp:1000;sR:1680;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:7320;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-heading.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-49-slide-85-layer-3" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-354px,-292px,-221px,0;yo:556px,459px,348px,369px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,226px;h:180px,148px,112px,30px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:2480;sp:1000;sR:2480;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6520;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-shopbutton-MOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-49-slide-85-layer-9" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:18px,-166px,-162px,791px;yo:487px,498px,492px,378px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:309px,264px,279px,134px;h:41px,35px,37px,17px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:2480;sp:1000;sR:2480;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6520;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-shopbutton.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-49-slide-85-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1187px,916px,698px,282px;yo:398px,409px,404px,273px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:131px,125px,109px,65px;h:174px,166px,144px,86px;"
								data-frame_0="y:bottom;sX:2;sY:2;rZ:70deg;"
								data-frame_1="sp:1000;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:w;sp:1000;sR:9000;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-loopyteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-12" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:182px,-4px,136px,-39px;yo:-51px,-70px,-48px,-12px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:120px,117px,88px,70px;h:159px,155px,117px,93px;"
								data-btrans="rZ:90;"
								data-frame_0="rX:-70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;sp:1000;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:w;sp:1000;sR:9000;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-loopyteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-31px,-19px,-32px,-18px;yo:14px,149px,15px,147px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:124px,102px,77px,53px;h:145px,119px,90px,62px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-noodleblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-14" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1213px,943px,756px,344px;yo:270px,279px,280px,173px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:105px,111px,84px,51px;h:122px,129px,98px,59px;"
								data-btrans="rZ:250;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-noodleblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:432px,238px,276px,20px;yo:525px,534px,544px,467px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:118px,97px,73px,47px;h:140px,115px,87px,56px;"
								data-btrans="rZ:210;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-noodleteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:860px,549px,414px,-36px;yo:-30px,-27px,-19px,411px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:160px,169px,144px,91px;h:111px,117px,100px,63px;"
								data-frame_0="rX:70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;sp:1000;"
								data-frame_999="y:0;o:0;rX:70deg;oZ:-50;e:power4.inOut;st:w;sp:1000;sR:9000;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-loopyblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:642px,433px,380px,248px;yo:542px,538px,559px,467px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:160px,132px,129px,113px;h:111px,91px,89px,78px;"
								data-btrans="rZ:180;"
								data-frame_0="y:bottom;sX:2;sY:2;rZ:70deg;"
								data-frame_1="sp:1000;"
								data-frame_999="y:bottom;sX:2;sY:2;o:0;rZ:70deg;st:w;sp:1000;sR:9000;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-loopyblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-18" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:4px,-74px,-77px,-25px;yo:483px,480px,460px,283px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:159px,195px,148px,99px;h:156px,191px,145px,97px;"
								data-frame_0="y:100%;"
								data-frame_1="e:power4.inOut;sp:1000;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:9000;"
								style="z-index:23;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleoutlineteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1159px,870px,660px,343px;yo:-31px,-34px,-25px,-25px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:93px,100px,75px,91px;h:91px,98px,74px,89px;"
								data-frame_0="y:top;"
								data-frame_1="sp:1000;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:9000;"
								style="z-index:22;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleoutlineteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-20" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:105px,32px,0,38px;yo:451px,437px,545px,269px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:135px,121px,91px,70px;h:132px,119px,90px,69px;"
								data-frame_0="y:bottom;"
								data-frame_1="sp:1000;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:9000;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleoutlineblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1188px,916px,700px,342px;yo:1px,-15px,-11px,366px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:156px,160px,121px,62px;h:153px,157px,119px,61px;"
								data-frame_0="x:right;"
								data-frame_1="sp:1000;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:9000;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleoutlineblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-22" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:307px,59px,238px,130px;yo:558px,283px,557px,281px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:22px,18px,13px,11px;h:22px,18px,13px,11px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:26;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1210px,955px,725px,306px;yo:186px,158px,120px,13px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:22px,18px,13px,11px;h:22px,18px,13px,11px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:25;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-24" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-26px,33px,83px,322px;yo:218px,91px,32px,423px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:18px,14px,10px,7px;h:18px,14px,10px,7px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleteal.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-25" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-4px,25px,741px,330px;yo:416px,363px,585px,236px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:27px,22px,16px,7px;h:27px,22px,16px,7px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:27;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-26" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:825px,545px,140px,85px;yo:483px,474px,577px,439px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:18px,14px,10px,10px;h:18px,14px,10px,10px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:29;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-27" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1287px,1000px,759px,353px;yo:252px,231px,175px,87px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:13px,10px,7px,10px;h:13px,10px,7px,10px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:28;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circleblue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-28" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:26px,197px,359px,362px;yo:285px,15px,19px,331px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,6px,4px;h:10px,8px,6px,4px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:35;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:935px,940px,732px,360px;yo:132px,264px,225px,139px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:14px,11px,8px,11px;h:14px,11px,8px,11px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:33;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:411px,667px,506px,65px;yo:21px,128px,97px,10px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:13px,10px,7px,5px;h:13px,10px,7px,5px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:34;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-31" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1125px,869px,724px,274px;yo:521px,525px,383px,444px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:14px,11px,8px,10px;h:14px,11px,8px,10px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:32;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-32" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:419px,346px,419px,22px;yo:521px,430px,446px,236px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,6px,5px;h:10px,8px,6px,5px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:31;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-85-layer-33" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:843px,579px,10px,28px;yo:418px,405px,205px,100px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,6px,7px;h:10px,8px,6px,7px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:1000;sR:9000;"
								style="z-index:30;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MarL1-2022-SliderRevol-circlewhite.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-83" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.ca/pages/clearance" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#dce9f4;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-49-slide-83-layer-0" 
								class="rs-layer"
								href="https://sweetlegs.ca/pages/clearance" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:252px,142px,40px,-4px;yo:16px,14px,23px,13px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:361px,366px,345px,295px;h:358px,363px,342px,293px;"
								data-frame_0="y:top;"
								data-frame_1="st:540;sp:1000;"
								data-frame_999="y:top;o:0;st:w;sp:1000;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_SaleSaleSale-feb2022-heading.gif" data-no-retina> 
							</a><!--

							--><a
								id="slider-49-slide-83-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.ca/pages/clearance" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:276px,161px,61px,2px;yo:404px,394px,391px,326px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:311px,330px,307px,275px;h:78px,83px,77px,69px;"
								data-frame_0="x:left;"
								data-frame_1="st:1560;sp:1000;"
								data-frame_999="x:left;o:0;st:w;sp:1000;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_SaleSaleSale-feb2022-webbanner-SUBHEADER.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-49-slide-83-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:645px,549px,420px,1149px;yo:29px,25px,31px,214px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:321px,321px,313px,150px;h:505px,505px,493px,237px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:right;"
								data-frame_1="st:1010;sp:1000;"
								data-frame_999="x:right;o:0;st:w;sp:1000;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_SaleSaleSale-feb2022-webbanner-IMAGE.jpg" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-49-slide-83-layer-5" 
								class="rs-layer"
								href="https://sweetlegs.ca/pages/clearance" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:369px,262px,150px,-1px;yo:506px,501px,496px,413px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:121px,126px,130px,106px;h:25px,26px,27px,22px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:2020;sp:1000;sR:2020;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6980;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_SaleSaleSale-feb2022-webbanner-SHOPBUTTON.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-49-slide-83-layer-16" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;xo:2px,0,0,1521px;yo:424px,415px,407px,336px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:6390px,5276px,2405px,1159px;h:386px,318px,241px,116px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="sp:1000;sR:10;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8990;"
								style="z-index:8;background-color:#cae0ef;"
							> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_49_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider491"]!==undefined) {window.RS_MODULES.modules["revslider491"].once = false;window.revapi49 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_49_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_49_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_49_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_49_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_49_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_49_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_49_1_wrapper .uranus .tp-bullet.selected,#rev_slider_49_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_49_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_49_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_49_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_49_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi49;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider491"] = {init:function() {
			window.revapi49 = window.revapi49===undefined || window.revapi49===null || window.revapi49.length===0  ? document.getElementById("rev_slider_49_1") : window.revapi49;
			if(window.revapi49 === null || window.revapi49 === undefined || window.revapi49.length==0) { window.revapi49initTry = window.revapi49initTry ===undefined ? 0 : window.revapi49initTry+1; if (window.revapi49initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider491"].init()}); return;}
			window.revapi49 = jQuery(window.revapi49);
			if(window.revapi49.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_49_1"); return;}
			revapi49.revolutionInit({
					revapi:"revapi49",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61fa000ae7a91",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_january-l2-11" ).after( "<div id='revslider_show_january-l2-11'></div>" );
                            jQuery( "#revslider_drag_january-l2-11" ).hide();
                            jQuery("#revslider_foot_january-l2-11").appendTo("#revslider_show_january-l2-11");
                            jQuery("#revslider_show_january-l2-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>