{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_the-future-looks-bright-kids-sale-11">
			<!-- START ACTIVE THEME1 REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_122_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_122_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-351" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/pages/4th-of-july-sale-details" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#d4e5f6;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-122-slide-351-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:75px,52px,-80px,0;y:m;yo:0,0,0,34px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:397px,388px,463px,383px;h:524px,513px,612px,506px;"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-image.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-7" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c,c,r,c;xo:196px,190px,-2px,0;y:m;yo:0,0,2px,-229px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:690px,528px,498px,385px;h:523px,513px,606px,86px;"
								data-frame_0="x:right;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:11;background-color:#ffffff;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:606px,524px,342px,1px;yo:68px,79px,62px,17px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:423px,358px,380px,308px;h:118px,100px,106px,86px;"
								data-frame_0="y:-50,-41,-31,-14;"
								data-frame_1="st:1290;sp:1000;sR:1290;"
								data-frame_999="y:-50,-41,-31,-14;o:0;st:w;sp:1000;sR:7710;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-4thofjuly.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-9" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:777px,668px,505px,1085px;yo:147px,163px,155px,356px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:60px,49px,37px,100px;h:10px,8px,6px,23px;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;st:1300;sp:1000;sR:1300;"
								data-frame_999="o:0;st:w;sR:7700;"
								style="z-index:13;background-color:#d4e5f6;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:533px,473px,317px,1055px;yo:293px,302px,306px,226px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:549px,461px,425px,292px;h:62px,52px,48px,33px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:50,41,31,14;"
								data-frame_1="st:2640;sp:1000;sR:2640;"
								data-frame_999="y:50,41,31,14;o:0;st:w;sp:1000;sR:6360;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-40percentoff.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:591px,520px,331px,1106px;yo:178px,199px,185px,130px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:441px,364px,398px,321px;h:114px,94px,103px,83px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2400;sp:1000;sR:2400;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6600;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-celebrate.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-122-slide-351-layer-12" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/4th-of-july-sale-details" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:681px,591px,410px,-1px;yo:419px,424px,437px,400px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:263px,231px,236px,199px;h:57px,50px,51px,43px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3780;sp:1000;sR:3780;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5220;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-button.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-122-slide-351-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:634px,544px,376px,1015px;yo:368px,371px,373px,308px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:358px,328px,315px,236px;h:27px,25px,24px,18px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3780;sp:1000;sR:3780;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5220;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-exclusions.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-14" 
								data-type="text"
								data-color="#253046"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:579px,509px,313px,0;yo:503px,502px,520px,456px;"
								data-text="w:normal;s:12,9,11,10;l:15,12,15,13;a:center;"
								data-dim="w:473px,390px,435px,362px;h:auto,auto,auto,60px;"
								data-frame_0="y:100%;"
								data-frame_1="e:power4.inOut;st:4290;sp:1000;sR:4290;"
								data-frame_999="y:100%;o:0;e:power4.inOut;st:w;sp:1200;sR:4710;"
								style="z-index:20;font-family:'Roboto';"
							>Sale ends July 4, 2023 at 11:59PM PDT. Exclusions apply. While quantities last. No price matching. All sales are final. Valid on SweetLegs USA site only. 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1515px,1251px,950px,0;yo:113px,93px,70px,151px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,305px;h:180px,148px,112px,79px;"
								data-vbility="f,f,f,t"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2400;sp:1000;sR:2400;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6600;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-celebrateMOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1621px,1338px,1016px,14px;yo:148px,122px,92px,235px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,348px;h:180px,148px,112px,39px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:50,41,31,14;"
								data-frame_1="st:2650;sp:1000;sR:2650;"
								data-frame_999="y:50,41,31,14;o:0;st:w;sp:1000;sR:6350;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_4thOfJulySale-SliderRevol-40percentoffMOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-17" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c,c,r,c;xo:196px,190px,-2px,0;y:m;yo:0,0,2px,219px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:690px,528px,498px,390px;h:523px,513px,606px,86px;"
								data-vbility="f,f,f,t"
								data-frame_0="x:right;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:10;background-color:#ffffff;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-122-slide-351-layer-18" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1506px,1243px,944px,0;yo:191px,157px,119px,-32px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,383px;h:180px,148px,112px,538px;"
								data-vbility="f,f,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:9;background-color:rgba(0,0,0,0.13);"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-346" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#b6b79a;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-122-slide-346-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,2px,135px,173px;y:m;yo:-4px,0,-38px,-31px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1439px,1441px,1718px,1485px;h:608px,609px,726px,628px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JuneL2-2023-SliderRevol-BG.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-122-slide-346-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-15px,-206px,0,0;yo:97px,98px,59px,19px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:500px,513px,634px,318px;h:153px,157px,194px,97px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2490;sp:1000;sR:2490;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6510;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JuneL2-2023-SliderRevol-SUMMER.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-346-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:19px,50px,-746px,26px;y:m;yo:0,0,-87px,58px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:339px,343px,260px,157px;h:443px,449px,341px,205px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:50,41,31,14;"
								data-frame_1="st:1220;sp:1000;sR:1220;"
								data-frame_999="x:50,41,31,14;o:0;st:w;sp:1000;sR:7780;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JuneL2-2023-SliderRevol-IMAGE1.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-346-layer-7" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:22px,1367px,1301px,27px;y:m;yo:0,172px,136px,59px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:316px,260px,197px,147px;h:441px,364px,276px,206px;"
								data-vbility="t,f,f,t"
								data-frame_0="x:-50,-41,-31,-14;"
								data-frame_1="st:1230;sp:1000;sR:1230;"
								data-frame_999="x:-50,-41,-31,-14;o:0;st:w;sp:1000;sR:7770;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JuneL2-2023-SliderRevol-IMAGE2.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-346-layer-8" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:12px,-183px,36px,18px;yo:176px,188px,160px,72px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:486px,475px,595px,304px;h:179px,175px,219px,112px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2914;sp:1000;sR:2914;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6086;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JuneL2-2023-SliderRevol-SOLSTICE.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-346-layer-9" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:2px,-194px,0,0;yo:343px,350px,362px,170px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:249px,218px,257px,132px;h:32px,28px,33px,17px;"
								data-frame_0="y:-50,-41,-31,-14;"
								data-frame_1="st:3183;sp:1000;sR:3183;"
								data-frame_999="y:-50,-41,-31,-14;o:0;st:w;sp:1000;sR:5817;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JuneL2-2023-SliderRevol-COLLECTION.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-346-layer-10" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-192px,0,-14px;yo:434px,418px,467px,434px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:304px,284px,304px,181px;h:62px,58px,62px,37px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:4280;sp:1000;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JuneL2-2023-SliderRevol-BUTTON.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-122-slide-346-layer-14" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;y:m;yo:0,0,-62px,106px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1442px,1072px,814px,392px;h:600px,687px,753px,749px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:9;background-color:rgba(48,46,44,0.1);"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-292" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-122-slide-292-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-29px,-44px,1528px,34px;yo:-49px,6px,60px,149px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1384px,1167px,886px,632px;h:658px,555px,421px,301px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-image.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-7" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:574px,479px,3px,1px;yo:48px,95px,59px,4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:598px,493px,640px,314px;h:252px,208px,269px,132px;"
								data-frame_0="y:top;"
								data-frame_1="st:1490;sp:1000;sR:1490;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-header.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-8" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:602px,492px,0,0;yo:367px,363px,390px,147px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:560px,464px,561px,295px;h:32px,27px,32px,17px;"
								data-frame_0="x:right;"
								data-frame_1="st:2390;sp:1000;sR:2390;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6610;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-suhead.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-9" 
								class="rs-layer"
								href="/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:721px,593px,-2px,0;yo:443px,421px,470px,442px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,273px,301px,177px;h:57px,49px,54px,32px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:3270;sp:1000;sR:3270;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-button.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_122_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider1221"]!==undefined) {window.RS_MODULES.modules["revslider1221"].once = false;window.revapi122 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_122_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_122_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_122_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_122_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_122_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_122_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_122_1_wrapper .uranus .tp-bullet.selected,#rev_slider_122_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_122_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_122_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_122_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_122_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi122;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider1221"] = {init:function() {
			window.revapi122 = window.revapi122===undefined || window.revapi122===null || window.revapi122.length===0  ? document.getElementById("rev_slider_122_1") : window.revapi122;
			if(window.revapi122 === null || window.revapi122 === undefined || window.revapi122.length==0) { window.revapi122initTry = window.revapi122initTry ===undefined ? 0 : window.revapi122initTry+1; if (window.revapi122initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider1221"].init()}); return;}
			window.revapi122 = jQuery(window.revapi122);
			if(window.revapi122.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_122_1"); return;}
			revapi122.revolutionInit({
					revapi:"revapi122",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61f9fb5a88b00",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).after( "<div id='revslider_show_the-future-looks-bright-kids-sale-11'></div>" );
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).hide();
                            jQuery("#revslider_foot_the-future-looks-bright-kids-sale-11").appendTo("#revslider_show_the-future-looks-bright-kids-sale-11");
                            jQuery("#revslider_show_the-future-looks-bright-kids-sale-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>