{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_the-future-looks-bright-kids-sale-11">
			<!-- START ACTIVE THEME1 REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_122_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_122_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-376" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#2d2d1f;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-122-slide-376-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,-142px,-27px;yo:-136px,-188px,-144px,-79px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1465px,1209px,1147px,966px;h:983px,811px,770px,648px;"
								data-frame_1="e:power4.inOut;st:500;sp:2000;sR:500;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:7500;"
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AugustL1-2023-ElevatedEssentials-WebBanner-Background.jpg" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-122-slide-376-layer-1" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:30px,1418px,1077px,55px;y:m;yo:0,-40px,-30px,52px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:315px,260px,197px,128px;h:471px,388px,294px,192px;"
								data-vbility="t,f,f,t"
								data-frame_0="x:-50,-41,-31,-14;"
								data-frame_1="st:1900;sp:2000;sR:1900;"
								data-frame_999="x:-50,-41,-31,-14;o:0;st:w;sp:1000;sR:6100;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AugustL1-2023-ElevatedEssentials-WebBanner-Image1-png.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-376-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:28px,33px,-590px,56px;y:m;yo:-1px,0,7px,52px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:314px,367px,278px,128px;h:470px,550px,417px,192px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:50,41,31,14;"
								data-frame_1="st:1900;sp:2000;sR:1900;"
								data-frame_999="x:50,41,31,14;o:0;st:w;sp:1000;sR:6100;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AugustL1-2023-ElevatedEssentials-WebBanner-Image2.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-376-layer-3" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-198px,0,0;yo:354px,347px,359px,167px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:281px,294px,345px,179px;h:22px,23px,27px,14px;"
								data-frame_1="e:power4.inOut;st:4650;sp:1000;sR:4650;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:4350;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AugustL1-2023-ElevatedEssentials-WebBanner-Text.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-376-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-195px,0,0;yo:103px,84px,51px,23px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:467px,492px,602px,299px;h:189px,199px,244px,121px;"
								data-frame_1="e:power4.inOut;st:3380;sp:2000;sR:3380;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:4620;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AugustL1-2023-ElevatedEssentials-WebBanner-HeaderText.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-376-layer-10" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-200px,0,0;y:b;yo:116px,116px,84px,40px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:280px,295px,343px,179px;h:58px,61px,71px,37px;"
								data-frame_0="y:50,41,31,14;"
								data-frame_1="st:5720;sp:2000;sR:5720;"
								data-frame_999="y:50,41,31,14;o:0;st:w;sp:1000;sR:2280;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AugustL1-2023-ElevatedEssentials-WebBanner-ShopButton.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-353" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/pages/new-athleisure-landing-page" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#e6eae4;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-122-slide-353-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/new-athleisure-landing-page" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:789px,579px,850px,0;y:m;yo:0,-2px,3px,55px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:546px,548px,416px,269px;h:611px,614px,466px,301px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:50,41,31,14;"
								data-frame_1="sp:1000;"
								data-frame_999="x:50,41,31,14;o:0;st:w;sp:1000;sR:9000;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-06.jpg" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-122-slide-353-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-220px,0,671px;yo:240px,246px,258px,280px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:3px,2px,3px,1px;h:99px,81px,90px,32px;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;st:800;sp:1500;sR:800;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:7700;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-11.jpg" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-122-slide-353-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/new-athleisure-landing-page" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-1px,-215px,0,0;yo:88px,87px,66px,29px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:252px,278px,345px,168px;h:30px,33px,41px,20px;"
								data-frame_1="e:power4.inOut;st:800;sp:1500;sR:800;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:7700;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-athleisure.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-353-layer-19" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/new-athleisure-landing-page" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-217px,0,0;yo:146px,146px,140px,63px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:488px,515px,663px,344px;h:54px,57px,73px,38px;"
								data-frame_1="e:power4.inOut;st:810;sp:1500;sR:810;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:7690;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-recharged.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-353-layer-20" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/new-athleisure-landing-page" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-220px,0,0;yo:379px,367px,387px,119px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:245px,245px,273px,177px;h:18px,18px,20px,13px;"
								data-frame_1="e:power4.inOut;st:820;sp:1500;sR:820;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:7680;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-julycollection.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-353-layer-21" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/new-athleisure-landing-page" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-218px,0,673px;yo:453px,444px,452px,162px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:253px,284px,324px,208px;h:57px,64px,73px,47px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:50,41,31,14;"
								data-frame_1="st:2180;sp:1000;sR:2180;"
								data-frame_999="y:50,41,31,14;o:0;st:w;sp:1000;sR:6820;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-shopbutton.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-353-layer-22" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/new-athleisure-landing-page" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:38px,1236px,939px,1014px;y:m;yo:0,-25px,-18px,52px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:410px,338px,256px,388px;h:531px,438px,332px,503px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:-50,-41,-31,-14;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-41,-31,-14;o:0;st:w;sp:1000;sR:9000;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-fullbodyimage.jpg" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-122-slide-353-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1569px,1295px,983px,0;yo:209px,172px,130px,435px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,191px;h:180px,148px,112px,43px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:50,41,31,14;"
								data-frame_1="st:2170;sp:1000;sR:2170;"
								data-frame_999="y:50,41,31,14;o:0;st:w;sp:1000;sR:6830;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JulyL1-AthleisureRecharged-2023-SliderRevol-10.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-292" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-122-slide-292-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-29px,-44px,1528px,34px;yo:-49px,6px,60px,149px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1384px,1167px,886px,632px;h:658px,555px,421px,301px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-image.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-7" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:574px,479px,3px,1px;yo:48px,95px,59px,4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:598px,493px,640px,314px;h:252px,208px,269px,132px;"
								data-frame_0="y:top;"
								data-frame_1="st:1490;sp:1000;sR:1490;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-header.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-8" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:602px,492px,0,0;yo:367px,363px,390px,147px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:560px,464px,561px,295px;h:32px,27px,32px,17px;"
								data-frame_0="x:right;"
								data-frame_1="st:2390;sp:1000;sR:2390;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6610;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-suhead.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-9" 
								class="rs-layer"
								href="/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:721px,593px,-2px,0;yo:443px,421px,470px,442px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,273px,301px,177px;h:57px,49px,54px,32px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:3270;sp:1000;sR:3270;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-button.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_122_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider1221"]!==undefined) {window.RS_MODULES.modules["revslider1221"].once = false;window.revapi122 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_122_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_122_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_122_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_122_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_122_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_122_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_122_1_wrapper .uranus .tp-bullet.selected,#rev_slider_122_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_122_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_122_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_122_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_122_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi122;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider1221"] = {init:function() {
			window.revapi122 = window.revapi122===undefined || window.revapi122===null || window.revapi122.length===0  ? document.getElementById("rev_slider_122_1") : window.revapi122;
			if(window.revapi122 === null || window.revapi122 === undefined || window.revapi122.length==0) { window.revapi122initTry = window.revapi122initTry ===undefined ? 0 : window.revapi122initTry+1; if (window.revapi122initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider1221"].init()}); return;}
			window.revapi122 = jQuery(window.revapi122);
			if(window.revapi122.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_122_1"); return;}
			revapi122.revolutionInit({
					revapi:"revapi122",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61f9fb5a88b00",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).after( "<div id='revslider_show_the-future-looks-bright-kids-sale-11'></div>" );
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).hide();
                            jQuery("#revslider_foot_the-future-looks-bright-kids-sale-11").appendTo("#revslider_show_the-future-looks-bright-kids-sale-11");
                            jQuery("#revslider_show_the-future-looks-bright-kids-sale-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>