{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_gc-promo">
			<!-- START The Gift That Always Fits REVOLUTION SLIDER 6.5.6.10 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_53_10_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_53_10" style="" data-version="6.5.6.10">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-114" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="8500" data-anim="ms:460;" data-in="o:0;x:-100%;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#d8aee5;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-53-slide-114-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,-5px,0;yo:122px,115px,109px,129px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:930px,919px,929px,702px;h:376px,372px,376px,284px;"
								data-frame_0="y:100%;"
								data-frame_1="e:power4.inOut;st:810;sp:1200;"
								data-frame_999="o:1;st:w;sR:7640;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-banner-heading.gif?v=1639514961" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-114-layer-3" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;yo:533px,517px,525px,438px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:347px,358px,313px,268px;h:31px,32px,28px,24px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:990;sp:1000;sR:990;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-dec2021-SliderRevol-shopbutton.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-114-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,762px;yo:39px,32px,28px,119px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:924px,845px,701px,337px;h:58px,53px,44px,21px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1960;sp:1000;sR:1960;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5540;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-dec2021-SliderRevol-heading.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-114-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1392px,1149px,872px,0;yo:112px,92px,69px,29px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,333px;h:180px,148px,112px,81px;"
								data-vbility="f,f,f,t"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:980;sp:1000;sR:980;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6520;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-dec2021-SliderRevol-headingMOBILE.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_53_10',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider5310"]!==undefined) {window.RS_MODULES.modules["revslider5310"].once = false;window.revapi53 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_56_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_56_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_56_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_56_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_56_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_56_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_56_1_wrapper .uranus .tp-bullet.selected,#rev_slider_56_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_56_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_56_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_56_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_56_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_36_5_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_36_5_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_36_5_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_36_5_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_36_5_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_36_5_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_36_5_wrapper .uranus .tp-bullet.selected,#rev_slider_36_5_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_36_5_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_36_5_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_36_5_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_36_5_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_42_6_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_52_7_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_52_7_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_52_7_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_52_7_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_52_7_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_52_7_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_52_7_wrapper .uranus .tp-bullet.selected,#rev_slider_52_7_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_52_7_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_52_7_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_52_7_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_52_7_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_56_8_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_56_8_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_56_8_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_56_8_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_56_8_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_56_8_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_56_8_wrapper .uranus .tp-bullet.selected,#rev_slider_56_8_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_56_8_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_56_8_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_56_8_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_56_8_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_55_9_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_53_10_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi56,revapi36,revapi42,revapi52,revapi56_8,revapi55,revapi53;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider561"] = {init:function() {
			window.revapi56 = window.revapi56===undefined || window.revapi56===null || window.revapi56.length===0  ? document.getElementById("rev_slider_56_1") : window.revapi56;
			if(window.revapi56 === null || window.revapi56 === undefined || window.revapi56.length==0) { window.revapi56initTry = window.revapi56initTry ===undefined ? 0 : window.revapi56initTry+1; if (window.revapi56initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider561"].init()}); return;}
			window.revapi56 = jQuery(window.revapi56);
			if(window.revapi56.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_56_1"); return;}
			revapi56.revolutionInit({
					revapi:"revapi56",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider365"] = {init:function() {
			window.revapi36 = window.revapi36===undefined || window.revapi36===null || window.revapi36.length===0  ? document.getElementById("rev_slider_36_5") : window.revapi36;
			if(window.revapi36 === null || window.revapi36 === undefined || window.revapi36.length==0) { window.revapi36initTry = window.revapi36initTry ===undefined ? 0 : window.revapi36initTry+1; if (window.revapi36initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider365"].init()}); return;}
			window.revapi36 = jQuery(window.revapi36);
			if(window.revapi36.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_36_5"); return;}
			revapi36.revolutionInit({
					revapi:"revapi36",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider426"] = {init:function() {
			window.revapi42 = window.revapi42===undefined || window.revapi42===null || window.revapi42.length===0  ? document.getElementById("rev_slider_42_6") : window.revapi42;
			if(window.revapi42 === null || window.revapi42 === undefined || window.revapi42.length==0) { window.revapi42initTry = window.revapi42initTry ===undefined ? 0 : window.revapi42initTry+1; if (window.revapi42initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider426"].init()}); return;}
			window.revapi42 = jQuery(window.revapi42);
			if(window.revapi42.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_42_6"); return;}
			revapi42.revolutionInit({
					revapi:"revapi42",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider527"] = {init:function() {
			window.revapi52 = window.revapi52===undefined || window.revapi52===null || window.revapi52.length===0  ? document.getElementById("rev_slider_52_7") : window.revapi52;
			if(window.revapi52 === null || window.revapi52 === undefined || window.revapi52.length==0) { window.revapi52initTry = window.revapi52initTry ===undefined ? 0 : window.revapi52initTry+1; if (window.revapi52initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider527"].init()}); return;}
			window.revapi52 = jQuery(window.revapi52);
			if(window.revapi52.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_52_7"); return;}
			revapi52.revolutionInit({
					revapi:"revapi52",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider568"] = {init:function() {
			window.revapi56_8 = window.revapi56_8===undefined || window.revapi56_8===null || window.revapi56_8.length===0  ? document.getElementById("rev_slider_56_8") : window.revapi56_8;
			if(window.revapi56_8 === null || window.revapi56_8 === undefined || window.revapi56_8.length==0) { window.revapi56_8initTry = window.revapi56_8initTry ===undefined ? 0 : window.revapi56_8initTry+1; if (window.revapi56_8initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider568"].init()}); return;}
			window.revapi56_8 = jQuery(window.revapi56_8);
			if(window.revapi56_8.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_56_8"); return;}
			revapi56_8.revolutionInit({
					revapi:"revapi56_8",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			var revapi56 = revapi56_8;
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider559"] = {init:function() {
			window.revapi55 = window.revapi55===undefined || window.revapi55===null || window.revapi55.length===0  ? document.getElementById("rev_slider_55_9") : window.revapi55;
			if(window.revapi55 === null || window.revapi55 === undefined || window.revapi55.length==0) { window.revapi55initTry = window.revapi55initTry ===undefined ? 0 : window.revapi55initTry+1; if (window.revapi55initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider559"].init()}); return;}
			window.revapi55 = jQuery(window.revapi55);
			if(window.revapi55.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_55_9"); return;}
			revapi55.revolutionInit({
					revapi:"revapi55",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider5310"] = {init:function() {
			window.revapi53 = window.revapi53===undefined || window.revapi53===null || window.revapi53.length===0  ? document.getElementById("rev_slider_53_10") : window.revapi53;
			if(window.revapi53 === null || window.revapi53 === undefined || window.revapi53.length==0) { window.revapi53initTry = window.revapi53initTry ===undefined ? 0 : window.revapi53initTry+1; if (window.revapi53initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider5310"].init()}); return;}
			window.revapi53 = jQuery(window.revapi53);
			if(window.revapi53.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_53_10"); return;}
			revapi53.revolutionInit({
					revapi:"revapi53",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_gc-promo" ).after( "<div id='revslider_show_gc-promo'></div>" );
                            jQuery( "#revslider_drag_gc-promo" ).hide();
                            jQuery("#revslider_foot_gc-promo").appendTo("#revslider_show_gc-promo");
                            jQuery("#revslider_show_gc-promo .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>