{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_pre-bf-live-1">
			<!-- START BF WEEK REVOLUTION SLIDER 6.5.6.5 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_48_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_48_1" style="" data-version="6.5.6.5">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-102" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="8500" data-anim="ms:2000ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-48-slide-102-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/athleisure" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-201px,-346px,1082px,-72px;yo:-4px,-8px,-24px,-11px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1695px,1793px,1362px,878px;h:1122px,1187px,901px,581px;"
								data-vbility="t,t,f,t"
								data-frame_1="e:power4.inOut;sp:2000;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:6500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_bannerimage-resized.jpg?v=1635195228" data-no-retina> 
							</a><!--

							--><a
								id="slider-48-slide-102-layer-3" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/athleisure" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:604px,484px,0,0;y:t,t,m,m;yo:224px,240px,-11px,133px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:578px,484px,666px,305px;h:123px,103px,142px,65px;"
								data-frame_1="e:power4.inOut;st:3050;sp:2000;sR:3050;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:3450;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AthleisureWebBanner-logo.png?v=1635195220" data-no-retina> 
							</a><!--

							--><a
								id="slider-48-slide-102-layer-4" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/athleisure" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:731px,607px,-1px,0;yo:403px,413px,437px,438px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:301px,248px,330px,159px;h:52px,42px,57px,27px;"
								data-frame_1="e:power4.inOut;st:4650;sp:2000;sR:4650;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:1850;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AthleisureWebBanner-shopnow.png?v=1635195219" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-48-slide-102-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:737px,608px,0,0;yo:126px,130px,90px,303px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:296px,244px,338px,162px;h:37px,30px,42px,20px;"
								data-frame_1="e:power4.inOut;st:1490;sp:2000;sR:1490;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:5010;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AthleisureWebBanner-introducingtext.png?v=1635195219" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-111" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="8500" data-anim="ms:8500;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#172238;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-48-slide-111-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1483px,1465px,1396px,65px;yo:109px,89px,163px,243px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,239px;h:180px,148px,112px,296px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:top;"
								data-frame_1="sp:1000;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7500;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-mainphoto-mobile.png?v=1636044793" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-48-slide-111-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:50px,395px,1386px,0;y:t,t,t,m;yo:50px,87px,242px,153px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,301px;h:180px,148px,112px,31px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="x:1506px,1243px,944px,0px;y:120px,99px,75px,0px;st:1000;sp:1000;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-shopbutton-mobile.png?v=1636046703" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-48-slide-111-layer-25" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-892px,-768px,-666px,-647px;y:m;yo:-74px,-63px,-27px,-21px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:4466px,4240px,4009px,3120px;h:793px,753px,712px,554px;"
								data-frame_1="sp:50;"
								data-frame_999="o:0;st:w;sp:1000;sR:8450;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-swirls.png?v=1636045160" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-48-slide-111-layer-26" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,2px,1px,0;y:m;yo:0,-16px,-12px,-5px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:3606px,2977px,2918px,2189px;h:901px,744px,729px,547px;"
								data-frame_1="sp:50;"
								data-frame_999="o:0;st:w;sp:1000;sR:8450;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-leaftexture-long.png?v=1636045463" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-48-slide-111-layer-27" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:310px,44px,1396px,672px;yo:78px,31px,55px,26px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:346px,386px,293px,141px;h:479px,535px,406px,195px;"
								data-vbility="t,t,f,f"
								data-frame_0="y:bottom;"
								data-frame_1="sp:1000;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:7500;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-mainphoto-desktop.png?v=1636044793" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-48-slide-111-layer-28" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:51px,1591px,1444px,696px;yo:43px,83px,95px,45px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:316px,260px,197px,94px;h:451px,372px,282px,135px;"
								data-vbility="t,f,f,f"
								data-frame_0="y:top;"
								data-frame_1="sp:1000;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7500;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-legphoto.png?v=1636044793" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-48-slide-111-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:660px,436px,9px,3px;yo:25px,25px,25px,-5px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:556px,564px,600px,328px;h:616px,625px,665px,364px;"
								data-frame_0="y:top;"
								data-frame_1="st:510;sp:1000;sR:510;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6990;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-heading.png?v=1636044793" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-48-slide-111-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:803px,587px,0,616px;yo:474px,475px,484px,195px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:253px,250px,277px,249px;h:43px,42px,47px,42px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:1000;sp:1000;sR:1000;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6500;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_NovL1-2021-SliderRevol-shopbutton.png?v=1636044794" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_48_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider481"]!==undefined) {window.RS_MODULES.modules["revslider481"].once = false;window.revapi48 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_48_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_48_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_48_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_48_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_48_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_48_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_48_1_wrapper .uranus .tp-bullet.selected,#rev_slider_48_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_48_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_48_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_48_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_48_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi48;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider481"] = {init:function() {
			window.revapi48 = window.revapi48===undefined || window.revapi48===null || window.revapi48.length===0  ? document.getElementById("rev_slider_48_1") : window.revapi48;
			if(window.revapi48 === null || window.revapi48 === undefined || window.revapi48.length==0) { window.revapi48initTry = window.revapi48initTry ===undefined ? 0 : window.revapi48initTry+1; if (window.revapi48initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider481"].init()}); return;}
			window.revapi48 = jQuery(window.revapi48);
			if(window.revapi48.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_48_1"); return;}
			revapi48.revolutionInit({
					revapi:"revapi48",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_pre-bf-live-1" ).after( "<div id='revslider_show_pre-bf-live-1'></div>" );
                            jQuery( "#revslider_drag_pre-bf-live-1" ).hide();
                            jQuery("#revslider_foot_pre-bf-live-1").appendTo("#revslider_show_pre-bf-live-1");
                            jQuery("#revslider_show_pre-bf-live-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>