{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_new-live-1">
			<!-- START NEW LIVE 1 REVOLUTION SLIDER 6.5.7 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_14_5_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_14_5" style="" data-version="6.5.7">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-23" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="7500ms" data-anim="ms:7510;r:0;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#102f33;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-14-slide-23-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-3px,-12px,167px,0;yo:59px,69px,69px,-3px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:462px,421px,399px,287px;h:462px,421px,399px,287px;"
								data-frame_0="y:top;"
								data-frame_1="st:990;sp:1000;"
								data-frame_999="y:top;o:0;st:w;sp:1000;"
								style="z-index:23;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-HEADING.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-14-slide-23-layer-20" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:8px,3px,180px,-1px;yo:410px,387px,369px,413px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:298px,257px,265px,207px;h:53px,46px,47px,37px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:990;sp:1500;sR:990;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6010;"
								style="z-index:27;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-SHOPBUTTON.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-14-slide-23-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:867px,725px,925px,860px;yo:28px,66px,141px,496px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:327px,270px,205px,98px;h:483px,398px,302px,145px;"
								data-vbility="t,t,f,f"
								data-frame_0="x:right;"
								data-frame_1="sp:1500;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:7000;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-IMAGE2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-22" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:45px,29px,48px,0;yo:81px,139px,96px,213px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:328px,270px,303px,173px;h:487px,402px,450px,257px;"
								data-frame_0="x:left;"
								data-frame_1="sp:1500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:7000;"
								style="z-index:26;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-IMAGE1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1041px,859px,661px,291px;yo:-23px,-18px,-32px,-8px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:244px,201px,152px,95px;h:330px,272px,206px,128px;"
								data-frame_0="x:right;skX:-85;"
								data-frame_1="st:2060;sp:1000;sR:2060;"
								data-frame_999="x:right;o:0;skX:-85;st:w;sp:1000;sR:5440;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-TEALTRIANGLE1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-24" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-62px,-49px,-86px,-31px;yo:478px,494px,485px,433px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:445px,367px,529px,254px;h:189px,156px,224px,107px;"
								data-frame_0="x:left;skX:85;"
								data-frame_1="st:2070;sp:1000;sR:2070;"
								data-frame_999="x:left;o:0;skX:85;st:w;sp:1000;sR:5430;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-TEALTRIANGLE2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-25" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1020px,816px,486px,245px;yo:434px,419px,463px,408px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:325px,268px,203px,181px;h:304px,251px,190px,169px;"
								data-frame_0="rX:-70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:2060;sp:1000;sR:2060;"
								data-frame_999="y:0;o:0;rX:-70deg;oZ:-50;e:power4.inOut;st:w;sp:1000;sR:5440;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-PINKCIRCLE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-26" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-117px,-98px,-54px,-92px;yo:-49px,-71px,-51px,-23px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:375px,309px,264px,164px;h:351px,289px,247px,154px;"
								data-frame_0="rX:70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:2070;sp:1000;sR:2070;"
								data-frame_999="y:0;o:0;rX:70deg;oZ:-50;e:power4.inOut;st:w;sp:1000;sR:5430;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-PINKCIRCLE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-27" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:510px,421px,422px,194px;yo:-41px,-33px,-24px,-41px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:274px,226px,202px,157px;h:170px,140px,125px,97px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-GREENPINE1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-28" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:581px,454px,431px,-111px;yo:485px,472px,485px,-36px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:330px,272px,220px,166px;h:142px,117px,95px,71px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-GREENPINE2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-126px,-67px,-87px,-52px;yo:257px,6px,278px,169px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:274px,252px,227px,161px;h:170px,156px,141px,100px;"
								data-btrans="rZ:90;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:2080;sp:1000;sR:2080;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5420;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-GREENPINE1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1108px,815px,700px,244px;yo:216px,502px,220px,403px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:242px,272px,201px,172px;h:104px,117px,86px,74px;"
								data-btrans="rZ:90;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:2070;sp:1000;sR:2070;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5430;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-GREENPINE2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-31" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:360px,261px,242px,-37px;yo:484px,469px,471px,324px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:163px,177px,185px,111px;h:162px,175px,183px,110px;"
								data-frame_0="x:left;"
								data-frame_1="st:2100;sp:1000;sR:2100;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:5400;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-REDLEAVES1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-32" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:766px,636px,696px,322px;yo:-7px,-15px,40px,58px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:186px,153px,140px,103px;h:243px,200px,183px,135px;"
								data-frame_0="x:right;"
								data-frame_1="st:2090;sp:1000;sR:2090;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:5410;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-REDLEAVES2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-33" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:238px,135px,217px,290px;yo:-100px,-75px,-55px,189px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:241px,241px,192px,156px;h:237px,237px,189px,154px;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-GREENSTAR.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-34" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:887px,666px,623px,-62px;yo:459px,449px,435px,378px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:279px,230px,224px,145px;h:275px,227px,221px,143px;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-GREENSTAR.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-35" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1176px,886px,621px,11px;yo:39px,17px,17px,439px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:116px,95px,93px,68px;h:60px,49px,48px,35px;"
								data-btrans="rZ:180;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2120;sp:1000;sR:2120;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5380;"
								data-frame_999_mask="u:t;"
								style="z-index:25;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-37" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:996px,764px,673px,-3px;yo:525px,528px,490px,71px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:58px,47px,46px,32px;h:63px,52px,50px,35px;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2110;sp:1000;sR:2110;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5390;"
								data-frame_999_mask="u:t;"
								style="z-index:22;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-38" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:14px,115px,359px,310px;yo:14px,74px,494px,296px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:58px,47px,48px,34px;h:63px,52px,52px,37px;"
								data-btrans="rZ:900;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2100;sp:1000;sR:2100;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5400;"
								data-frame_999_mask="u:t;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-23-layer-39" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:202px,174px,236px,19px;yo:14px,20px,4px,299px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:116px,95px,99px,68px;h:60px,49px,51px,35px;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2100;sp:1000;sR:2100;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5400;"
								data-frame_999_mask="u:t;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS2.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-14-slide-23-layer-53" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:7px,5px,3px,-135px;yo:-33px,-27px,15px,-15px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1243px,1026px,779px,699px;h:829px,684px,519px,466px;"
								data-frame_999="o:0;st:w;"
								style="z-index:28;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-24" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/sweettops" data-target="_self" data-seoz="front" data-duration="7800" data-anim="ms:7800;r:0;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#fdfdfd;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-14-slide-24-layer-24" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-188px,-204px,-170px,-2px;yo:-23px,-62px,-42px,138px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:975px,1021px,896px,552px;h:706px,739px,649px,400px;"
								data-frame_1="e:back.in;sp:2000;sR:10;"
								data-frame_999="o:0;e:power2.in;st:6460;sp:1800;sR:4450;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/246/assets/DSC_2776-TUNIC-cropped-lowerres-.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-24-layer-27" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:607px,1480px,1480px,1480px;yo:223px,255px,255px,255px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:['589px','589px','589px','589px'];h:['95px','95px','95px','95px'];"
								data-vbility="t,f,f,f"
								data-frame_1="st:1870;sp:2000;sR:1870;"
								data-frame_999="o:0;st:6440;sp:1800;sR:2570;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/246/assets/AugL2-2021-TopsBannerSliderRevol-heading-desktop_.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-14-slide-24-layer-28" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/sweettops" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:608px,639px,544px,0;yo:410px,439px,316px,146px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:246px,246px,180px,156px;h:41px,41px,30px,26px;"
								data-frame_1="st:3320;sp:1680;sR:3320;"
								data-frame_999="o:0;st:6430;sp:1800;sR:1430;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/246/assets/AugL2-2021-TopsBannerSliderRevol-shopbutton.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-14-slide-24-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1558px,630px,539px,1137px;yo:219px,134px,122px,152px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:381px,348px,227px,227px;h:258px,236px,154px,154px;"
								data-vbility="f,t,t,f"
								data-frame_1="st:1870;sp:2000;sR:1870;"
								data-frame_999="o:0;st:6440;sp:1800;sR:2570;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL2-2021-TopsBannerSliderRevol-heading-tablet.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-14-slide-24-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:1273px,1273px,1273px,0;yo:204px,204px,204px,18px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:['317px','317px','317px','317px'];h:['103px','103px','103px','103px'];"
								data-vbility="f,f,f,t"
								data-frame_1="st:1870;sp:2000;sR:1870;"
								data-frame_999="o:0;st:6440;sp:1800;sR:2570;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/AugL2-2021-TopsBannerSliderRevol-heading-mobile.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-14-slide-24-layer-32" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/sweettops" target="_self" rel="nofollow"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:13;"
							> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_14_5',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider145"]!==undefined) {window.RS_MODULES.modules["revslider145"].once = false;window.revapi14 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><script src="{{asset_url_rev}}revolution.addon.snow.min.js?ver=6.5.7"></script><style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_11_3_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }.rs-layer.slidelink a span{background-repeat:no-repeat; background:unset}
		#rev_slider_13_4_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_13_4_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_13_4_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_13_4_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_13_4_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_13_4_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_13_4_wrapper .uranus .tp-bullet.selected,#rev_slider_13_4_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_13_4_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_13_4_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_13_4_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_13_4_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }.rs-layer.slidelink a span{background-repeat:no-repeat; background:unset}
		#rev_slider_14_5_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_14_5_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_14_5_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_14_5_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_14_5_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_14_5_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_14_5_wrapper .uranus .tp-bullet.selected,#rev_slider_14_5_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_14_5_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_14_5_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_14_5_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_14_5_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		var	tpj = jQuery;

		var	revapi11,revapi13,revapi14;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider113"] = {init:function() {
			window.revapi11 = window.revapi11===undefined || window.revapi11===null || window.revapi11.length===0  ? document.getElementById("rev_slider_11_3") : window.revapi11;
			if(window.revapi11 === null || window.revapi11 === undefined || window.revapi11.length==0) { window.revapi11initTry = window.revapi11initTry ===undefined ? 0 : window.revapi11initTry+1; if (window.revapi11initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider113"].init()}); return;}
			window.revapi11 = jQuery(window.revapi11);
			if(window.revapi11.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_11_3"); return;}
			revapi11.revolutionInit({
					revapi:"revapi11",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider134"] = {init:function() {
			window.revapi13 = window.revapi13===undefined || window.revapi13===null || window.revapi13.length===0  ? document.getElementById("rev_slider_13_4") : window.revapi13;
			if(window.revapi13 === null || window.revapi13 === undefined || window.revapi13.length==0) { window.revapi13initTry = window.revapi13initTry ===undefined ? 0 : window.revapi13initTry+1; if (window.revapi13initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider134"].init()}); return;}
			window.revapi13 = jQuery(window.revapi13);
			if(window.revapi13.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_13_4"); return;}
			revapi13.revolutionInit({
					revapi:"revapi13",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider145"] = {init:function() {
			window.revapi14 = window.revapi14===undefined || window.revapi14===null || window.revapi14.length===0  ? document.getElementById("rev_slider_14_5") : window.revapi14;
			if(window.revapi14 === null || window.revapi14 === undefined || window.revapi14.length==0) { window.revapi14initTry = window.revapi14initTry ===undefined ? 0 : window.revapi14initTry+1; if (window.revapi14initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider145"].init()}); return;}
			window.revapi14 = jQuery(window.revapi14);
			if(window.revapi14.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_14_5"); return;}
			revapi14.revolutionInit({
					revapi:"revapi14",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
								snow: {
									startSlide: "first",
									endSlide: "last",
									maxNum: "100",
									minSize: "5",
									maxSize: "5",
									minOpacity: "0.3",
									maxOpacity: "1",
									minSpeed: "30",
									maxSpeed: "100",
									minSinus: "1",
									maxSinus: "100",
								},
			});
			
                		if(typeof RsSnowAddOn !== "undefined") RsSnowAddOn(tpj, revapi14);

		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_new-live-1" ).after( "<div id='revslider_show_new-live-1'></div>" );
                            jQuery( "#revslider_drag_new-live-1" ).hide();
                            jQuery("#revslider_foot_new-live-1").appendTo("#revslider_show_new-live-1");
                            jQuery("#revslider_show_new-live-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>