{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_the-future-looks-bright-kids-sale-11">
			<!-- START ACTIVE THEME1 REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_68_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_68_1" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-134" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.ca/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#6594a3;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-68-slide-134-layer-5" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:419px,314px,1093px,63px;y:m;yo:-4px,4px,-47px,101px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:409px,404px,306px,178px;h:614px,606px,460px,267px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:right;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-mainimage.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-68-slide-134-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:600px,1280px,1210px,42px;yo:46px,92px,70px,244px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:310px,256px,194px,138px;h:507px,418px,317px,226px;"
								data-vbility="t,f,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-legimage.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-68-slide-134-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:91px,84px,0,0;yo:166px,208px,170px,134px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:427px,444px,498px,400px;h:622px,647px,726px,583px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-bgshape1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-134-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:92px,84px,0,0;yo:-247px,-234px,-315px,-264px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:419px,447px,492px,400px;h:419px,447px,492px,400px;"
								data-frame_0="y:top;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-bgshape2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-68-slide-134-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:68px,75px,120px,47px;yo:108px,97px,77px,38px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:205px,209px,218px,123px;h:99px,101px,105px,59px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1500;sp:1000;sR:1500;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:7500;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-headingFOLLOWTHE.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-68-slide-134-layer-10" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:19px,30px,-4px,1px;yo:50px,51px,18px,7px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:565px,566px,635px,341px;h:373px,374px,420px,225px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2240;sp:1000;sR:2240;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6760;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-headingSUNLIGHT.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-68-slide-134-layer-27" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:140px,151px,3px,1060px;y:t,t,b,b;yo:456px,457px,74px,155px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:326px,311px,313px,150px;h:60px,58px,58px,27px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:2770;sp:1000;sR:2770;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6230;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-shopbutton.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-68-slide-134-layer-28" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:50px,41px,31px,0;yo:50px,41px,31px,386px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,178px;h:180px,148px,112px,31px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:2780;sp:1000;sR:2780;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6220;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-shopbuttonMOBILE.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-124" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.com/pages/size-guide" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-68-slide-124-layer-6" 
								class="rs-layer"
								href="https://www.sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-29px,-44px,1528px,34px;yo:-48px,6px,60px,149px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1384px,1167px,886px,632px;h:658px,555px,421px,301px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-image.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-68-slide-124-layer-7" 
								class="rs-layer"
								href="https://www.sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:574px,479px,3px,1px;yo:48px,95px,59px,4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:598px,493px,640px,314px;h:252px,208px,269px,132px;"
								data-frame_0="y:top;"
								data-frame_1="st:1490;sp:1000;sR:1490;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-header.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-68-slide-124-layer-8" 
								class="rs-layer"
								href="https://www.sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:602px,492px,0,0;yo:367px,363px,390px,147px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:560px,464px,561px,295px;h:32px,27px,32px,17px;"
								data-frame_0="x:right;"
								data-frame_1="st:2390;sp:1000;sR:2390;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6610;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-suhead.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-68-slide-124-layer-9" 
								class="rs-layer"
								href="https://www.sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:721px,593px,-2px,0;yo:443px,421px,470px,442px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,273px,301px,177px;h:57px,49px,54px,32px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:3270;sp:1000;sR:3270;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-button.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-126" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-68-slide-126-layer-0" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-223px,-182px,-225px,-34px;yo:-47px,-49px,-15px,139px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:797px,819px,750px,445px;h:658px,676px,619px,367px;"
								data-frame_0="x:-50,-41,-31,-14;"
								data-frame_1="st:500;sp:1500;sR:500;"
								data-frame_999="x:-50,-41,-31,-14;o:0;st:w;sp:1000;sR:8000;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_JuneLdresses-2022-SliderRevol-facephoto.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-68-slide-126-layer-5" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:677px,1315px,1309px,1201px;yo:-2px,106px,75px,104px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:737px,608px,461px,222px;h:610px,503px,382px,184px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:50,41,31,14;"
								data-frame_1="st:500;sp:1500;sR:500;"
								data-frame_999="x:50,41,31,14;o:0;st:w;sp:1000;sR:8000;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_JuneLdresses-2022-SliderRevol-pocketphoto.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-68-slide-126-layer-8" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,200px,143px,0;yo:215px,211px,216px,61px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:465px,520px,421px,319px;h:105px,117px,95px,72px;"
								data-frame_1="e:power4.inOut;st:3300;sp:1500;sR:3300;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5200;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_JuneLdresses-2022-SliderRevol-heading.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-68-slide-126-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,199px,136px,0;yo:127px,105px,134px,26px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:264px,297px,225px,162px;h:31px,35px,26px,19px;"
								data-frame_1="e:power4.inOut;st:1790;sp:1500;sR:1790;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:6710;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_JuneLdresses-2022-SliderRevol-introducing.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-68-slide-126-layer-12" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,194px,135px,979px;yo:421px,429px,408px,195px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:266px,291px,225px,108px;h:57px,62px,48px,23px;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;st:5020;sp:1500;sR:5020;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:3480;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_JuneLdresses-2022-SliderRevol-shopnow.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-68-slide-126-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1707px,1409px,1070px,0;yo:177px,146px,110px,391px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,203px;h:180px,148px,112px,40px;"
								data-vbility="f,f,f,t"
								data-frame_1="e:power4.inOut;st:5000;sp:1500;sR:5000;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:3500;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_JuneLdresses-2022-SliderRevol-shopnowMOBILE.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_68_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider681"]!==undefined) {window.RS_MODULES.modules["revslider681"].once = false;window.revapi68 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_68_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_68_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_68_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_68_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_68_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_68_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_68_1_wrapper .uranus .tp-bullet.selected,#rev_slider_68_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_68_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_68_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_68_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_68_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi68;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider681"] = {init:function() {
			window.revapi68 = window.revapi68===undefined || window.revapi68===null || window.revapi68.length===0  ? document.getElementById("rev_slider_68_1") : window.revapi68;
			if(window.revapi68 === null || window.revapi68 === undefined || window.revapi68.length==0) { window.revapi68initTry = window.revapi68initTry ===undefined ? 0 : window.revapi68initTry+1; if (window.revapi68initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider681"].init()}); return;}
			window.revapi68 = jQuery(window.revapi68);
			if(window.revapi68.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_68_1"); return;}
			revapi68.revolutionInit({
					revapi:"revapi68",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61fa000ae7a91",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).after( "<div id='revslider_show_the-future-looks-bright-kids-sale-11'></div>" );
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).hide();
                            jQuery("#revslider_foot_the-future-looks-bright-kids-sale-11").appendTo("#revslider_show_the-future-looks-bright-kids-sale-11");
                            jQuery("#revslider_show_the-future-looks-bright-kids-sale-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>