{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_oct-l2---live-1">
			<!-- START Oct L2 bright REVOLUTION SLIDER 6.5.7 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_39_5_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_39_5" style="" data-version="6.5.7">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-87" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="8500" data-anim="ms:8500;r:0;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#8ad8d6;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-39-slide-87-layer-20" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:['100%','100%','100%','100%'];"
								data-frame_999="o:0;st:w;"
								style="z-index:28;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-39-slide-87-layer-40" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-250px,-142px,-182px,-248px;yo:-215px,-70px,-14px,-1px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1572px,1298px,1211px,925px;h:862px,711px,664px,507px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;sp:1000;"
								data-frame_999="sX:0.9;sY:0.9;o:0;e:power2.inOut;st:w;sp:1000;sR:7500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-snowdots.png?v=1634245009" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-41" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-204px,-180px,-3px;y:t,t,t,m;yo:-38px,-29px,-11px,-90px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:360px,358px,341px,267px;h:502px,499px,475px,372px;"
								data-frame_0="y:top;"
								data-frame_1="st:600;sp:1000;sR:600;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6900;"
								data-loop_0="y:-10;"
								data-loop_999="y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:23;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-header.png?v=1634245005" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-42" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:846px,-498px,-657px,596px;y:t,m,m,m;yo:23px,530px,491px,32px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:343px,360px,348px,167px;h:504px,529px,512px,246px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:right;"
								data-frame_1="sp:1000;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:7500;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-phototree.png?v=1634245006" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-43" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:53px,565px,403px,601px;y:t,m,m,m;yo:54px,-5px,0,37px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:343px,360px,338px,162px;h:504px,528px,496px,239px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:left;"
								data-frame_1="sp:1000;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:7500;"
								style="z-index:25;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-photoknees.png?v=1634245005" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-45" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:12px,-25px,-118px,-154px;yo:-26px,-3px,69px,43px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1241px,1161px,981px,807px;h:636px,595px,503px,414px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:7500;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-largesnowflakes.png?v=1634245005" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-46" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-206px,-182px,-8px;y:t,t,t,m;yo:497px,501px,487px,160px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:239px,273px,230px,229px;h:47px,54px,45px,45px;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:1800;sp:600;sR:1800;"
								data-frame_999="o:0;rY:360deg;e:back.in;st:w;sp:500;sR:6100;"
								style="z-index:27;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-shopbutton.png?v=1634245008" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-47" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:184px,402px,299px,176px;yo:257px,270px,79px,-23px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:265px,218px,224px,151px;h:253px,208px,214px,144px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:1410;sp:1000;sR:1410;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:6090;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-bluecircle.png?v=1634245040" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-48" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:787px,703px,629px,186px;yo:63px,-87px,91px,268px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:262px,216px,164px,157px;h:250px,206px,156px,150px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:1420;sp:1000;sR:1420;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:6080;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-bluecircle.png?v=1634245040" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-49" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-146px,2px,-49px,-75px;yo:287px,240px,281px,83px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:266px,219px,166px,170px;h:254px,209px,158px,162px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:1420;sp:1000;sR:1420;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:6080;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-bluecircle.png?v=1634245040" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-50" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:684px,480px,411px,238px;yo:-190px,-158px,-113px,-89px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:245px,202px,153px,158px;h:301px,248px,188px,194px;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:1410;sp:1000;sR:1410;"
								data-frame_999="o:0;rY:360deg;e:back.in;st:w;sp:500;sR:6090;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-redornament.png?v=1634245008" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-51" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1095px,871px,642px,302px;yo:396px,336px,357px,224px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:250px,206px,198px,158px;h:308px,254px,244px,194px;"
								data-btrans="rZ:180;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:1420;sp:1000;sR:1420;"
								data-frame_999="o:0;rY:360deg;e:back.in;st:w;sp:500;sR:6080;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-redornament.png?v=1634245008" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-52" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:306px,401px,323px,-42px;yo:466px,363px,341px,244px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:245px,235px,178px,141px;h:301px,289px,219px,174px;"
								data-btrans="rZ:90;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:1420;sp:1000;sR:1420;"
								data-frame_999="o:0;rY:360deg;e:back.in;st:w;sp:500;sR:6080;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-redornament.png?v=1634245008" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-53" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-207px,-66px,-60px,603px;yo:58px,78px,70px,171px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:245px,202px,204px,98px;h:301px,248px,251px,120px;"
								data-vbility="t,t,t,f"
								data-btrans="rZ:260;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:1430;sp:1000;sR:1430;"
								data-frame_999="o:0;rY:360deg;e:back.in;st:w;sp:500;sR:6070;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-redornament.png?v=1634245008" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-54" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:671px,384px,409px,189px;yo:484px,82px,498px,411px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:341px,281px,269px,218px;h:233px,192px,184px,149px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:1410;sp:1000;sR:1410;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6090;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-present2.png?v=1634245009" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-55" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-188px,-102px,-77px,-140px;yo:-74px,-60px,-45px,66px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:367px,303px,252px,192px;h:197px,162px,135px,103px;"
								data-frame_0="y:top;"
								data-frame_1="st:1410;sp:1000;sR:1410;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6090;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-present1.png?v=1634245006" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-56" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-61px,-63px,-67px,-63px;yo:479px,432px,420px,396px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:268px,221px,226px,179px;h:273px,225px,230px,182px;"
								data-frame_0="x:left;"
								data-frame_1="st:1410;sp:1000;sR:1410;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6090;"
								style="z-index:26;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-present5.png?v=1634245006" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-57" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:219px,211px,166px,31px;yo:-75px,-86px,-58px,-43px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,262px,199px,163px;h:222px,183px,139px,114px;"
								data-frame_0="y:top;"
								data-frame_1="st:1400;sp:1000;sR:1400;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6100;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-present6.png?v=1634245007" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-58" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:967px,798px,606px,586px;yo:-111px,-91px,-69px,198px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:339px,279px,211px,198px;h:295px,243px,184px,172px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:top;"
								data-frame_1="st:1410;sp:1000;sR:1410;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6090;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-present3.png?v=1634246337" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-59" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1136px,848px,642px,258px;yo:128px,128px,143px,139px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:303px,250px,283px,213px;h:239px,197px,223px,168px;"
								data-frame_0="x:right;"
								data-frame_1="st:1410;sp:1000;sR:1410;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6090;"
								style="z-index:22;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-present4.png?v=1634246344" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-39-slide-87-layer-60" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1055px,871px,171px,2px;yo:284px,234px,463px,408px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:189px,156px,188px,186px;h:181px,149px,180px,178px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:1420;sp:1000;sR:1420;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:6080;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL2-SliderRev-bluecircle.png?v=1634245040" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_39_5',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider395"]!==undefined) {window.RS_MODULES.modules["revslider395"].once = false;window.revapi39 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_36_4_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_36_4_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_36_4_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_36_4_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_36_4_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_36_4_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_36_4_wrapper .uranus .tp-bullet.selected,#rev_slider_36_4_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_36_4_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_36_4_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_36_4_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_36_4_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_39_5_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		var	tpj = jQuery;

		var	revapi45,revapi36,revapi39;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider453"] = {init:function() {
			window.revapi45 = window.revapi45===undefined || window.revapi45===null || window.revapi45.length===0  ? document.getElementById("rev_slider_45_3") : window.revapi45;
			if(window.revapi45 === null || window.revapi45 === undefined || window.revapi45.length==0) { window.revapi45initTry = window.revapi45initTry ===undefined ? 0 : window.revapi45initTry+1; if (window.revapi45initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider453"].init()}); return;}
			window.revapi45 = jQuery(window.revapi45);
			if(window.revapi45.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_45_3"); return;}
			revapi45.revolutionInit({
					revapi:"revapi45",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					gridwidth:1240,
					gridheight:900,
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"900,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:""
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider364"] = {init:function() {
			window.revapi36 = window.revapi36===undefined || window.revapi36===null || window.revapi36.length===0  ? document.getElementById("rev_slider_36_4") : window.revapi36;
			if(window.revapi36 === null || window.revapi36 === undefined || window.revapi36.length==0) { window.revapi36initTry = window.revapi36initTry ===undefined ? 0 : window.revapi36initTry+1; if (window.revapi36initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider364"].init()}); return;}
			window.revapi36 = jQuery(window.revapi36);
			if(window.revapi36.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_36_4"); return;}
			revapi36.revolutionInit({
					revapi:"revapi36",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider395"] = {init:function() {
			window.revapi39 = window.revapi39===undefined || window.revapi39===null || window.revapi39.length===0  ? document.getElementById("rev_slider_39_5") : window.revapi39;
			if(window.revapi39 === null || window.revapi39 === undefined || window.revapi39.length==0) { window.revapi39initTry = window.revapi39initTry ===undefined ? 0 : window.revapi39initTry+1; if (window.revapi39initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider395"].init()}); return;}
			window.revapi39 = jQuery(window.revapi39);
			if(window.revapi39.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_39_5"); return;}
			revapi39.revolutionInit({
					revapi:"revapi39",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_oct-l2---live-1" ).after( "<div id='revslider_show_oct-l2---live-1'></div>" );
                            jQuery( "#revslider_drag_oct-l2---live-1" ).hide();
                            jQuery("#revslider_foot_oct-l2---live-1").appendTo("#revslider_show_oct-l2---live-1");
                            jQuery("#revslider_show_oct-l2---live-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>