{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_april-launch-1-12">
			<!-- START April Launch 2 REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_58_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_58_1" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-108" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#97dcf1;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-58-slide-108-layer-2" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:859px,662px,1021px,59px;y:m;yo:0,-1px,-24px,116px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:404px,404px,306px,157px;h:606px,607px,461px,235px;"
								data-vbility="t,t,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:560;sp:1000;sR:560;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8440;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-faceimage.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-108-layer-5" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:592px,495px,1214px,54px;y:m;yo:0,-4px,-25px,120px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:328px,258px,196px,130px;h:478px,376px,285px,190px;"
								data-vbility="t,t,f,t"
								data-frame_0="y:top;"
								data-frame_1="st:550;sp:1000;sR:550;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:8450;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-legimage.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-108-layer-6" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:67px,57px,2px,1px;yo:33px,62px,32px,8px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:449px,384px,467px,238px;h:416px,355px,432px,220px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1480;sp:1000;sR:1480;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:7520;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-heading.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-108-layer-7" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:162px,122px,0,0;yo:488px,468px,500px,409px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:270px,251px,301px,178px;h:44px,41px,49px,29px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:2690;sp:1000;sR:2690;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6310;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-shopbutton.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-58-slide-108-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:210px,170px,267px,-22px;yo:25px,30px,24px,405px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:108px,109px,109px,52px;h:38px,38px,38px,18px;"
								data-frame_0="x:right;"
								data-frame_1="st:2060;sp:1000;sR:2060;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6940;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud3blue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-58-slide-108-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-56px,-27px,-11px,-28px;yo:125px,89px,96px,36px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:108px,89px,138px,88px;h:33px,27px,42px,27px;"
								data-frame_0="x:left;"
								data-frame_1="st:2060;sp:1000;sR:2060;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6940;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-58-slide-108-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:472px,432px,640px,322px;yo:16px,9px,38px,79px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:167px,137px,174px,77px;h:63px,52px,65px,29px;"
								data-frame_0="x:right;"
								data-frame_1="st:2080;sp:1000;sR:2080;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6920;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-58-slide-108-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:522px,440px,347px,340px;yo:533px,508px,563px,213px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:107px,97px,123px,59px;h:40px,36px,46px,22px;"
								data-frame_0="x:right;"
								data-frame_1="st:2080;sp:1000;sR:2080;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6920;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-58-slide-108-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:235px,197px,677px,155px;yo:562px,545px,213px,18px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:131px,108px,82px,52px;h:46px,37px,28px,18px;"
								data-frame_0="x:left;"
								data-frame_1="st:2070;sp:1000;sR:2070;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6930;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud3blue.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-58-slide-108-layer-22" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:19px,18px,29px,-19px;yo:498px,459px,462px,231px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:95px,78px,125px,82px;h:36px,29px,47px,31px;"
								data-frame_0="x:left;"
								data-frame_1="st:2030;sp:1000;sR:2030;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6970;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-58-slide-108-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:548px,451px,666px,294px;yo:202px,188px,465px,391px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:104px,85px,94px,71px;h:32px,26px,29px,22px;"
								data-frame_0="x:right;"
								data-frame_1="st:2050;sp:1000;sR:2050;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6950;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-58-slide-108-layer-24" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-50px,-29px,73px,16px;yo:296px,283px,256px,154px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:95px,78px,71px,53px;h:33px,27px,25px,18px;"
								data-frame_0="x:left;"
								data-frame_1="st:2040;sp:1000;sR:2040;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6960;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-2022-SliderRevol-cloud3blue.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-109" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#3a4766;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-58-slide-109-layer-0" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-428px,-371px,1067px,-52px;y:m;yo:0,0,-15px,74px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:430px,404px,306px,141px;h:645px,606px,460px,211px;"
								data-vbility="t,t,f,t"
								data-frame_0="y:top;"
								data-frame_1="st:547;sp:1000;sR:547;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:8453;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-maternity-2022-SliderRevol-facephoto.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-109-layer-1" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:354px,257px,1207px,187px;y:m;yo:-2px,0,1px,74px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:345px,281px,213px,125px;h:503px,409px,310px,182px;"
								data-vbility="t,t,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:560;sp:1000;sR:560;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8440;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-maternity-2022-SliderRevol-legphoto.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-109-layer-3" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:756px,591px,2px,13px;yo:56px,95px,46px,14px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:447px,397px,508px,233px;h:383px,340px,435px,200px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1530;sp:1000;sR:1530;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:7470;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-maternity-2022-SliderRevol-heading.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-109-layer-4" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:787px,604px,0,0;yo:477px,465px,506px,450px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:364px,354px,428px,257px;h:30px,29px,35px,21px;"
								data-frame_0="y:bottom;"
								data-frame_1="y:-1px,0px,0px,0px;st:2120;sp:1000;sR:2120;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6880;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MayL2-maternity-2022-SliderRevol-shopbutton.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-105" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#f5f7f6;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-58-slide-105-layer-3" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-444px,-318px,780px,-54px;y:m;yo:-1px,-1px,2px,114px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:397px,395px,300px,155px;h:606px,604px,458px,237px;"
								data-vbility="t,t,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureLaunch-May2022-WebBanner-facephoto.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-105-layer-11" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:311px,1264px,960px,193px;y:m;yo:-4px,26px,19px,114px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,262px,199px,135px;h:500px,412px,313px,213px;"
								data-vbility="t,f,f,t"
								data-frame_0="y:top;"
								data-frame_1="st:1030;sp:1000;sR:1030;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7970;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureLaunch-May2022-WebBanner-legphoto.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-105-layer-12" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:677px,439px,331px,0;yo:275px,273px,277px,131px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:506px,548px,425px,326px;h:149px,162px,125px,96px;"
								data-frame_0="x:right;"
								data-frame_1="st:4490;sp:1000;sR:4490;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:4510;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureLaunch-May2022-WebBanner-cropsandshorts.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-58-slide-105-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:806px,584px,427px,0;yo:201px,206px,208px,101px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:250px,268px,233px,129px;h:29px,31px,27px,15px;"
								data-frame_1="e:power4.inOut;st:3050;sp:1280;sR:3050;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5670;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureLaunch-May2022-WebBanner-introducing.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-58-slide-105-layer-14" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:735px,516px,377px,0;yo:64px,59px,59px,26px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:382px,412px,339px,243px;h:85px,92px,75px,54px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2270;sp:1000;sR:2270;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureLaunch-May2022-WebBanner-logo.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-105-layer-15" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:797px,579px,400px,909px;yo:474px,484px,478px,246px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:264px,278px,275px,132px;h:50px,53px,52px,25px;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;st:5690;sp:1280;sR:5690;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:3030;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureLaunch-May2022-WebBanner-shopbutton.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-58-slide-105-layer-17" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1429px,1180px,-2px,915px;yo:206px,170px,-8px,82px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,304px,146px;h:180px,148px,610px,294px;"
								data-vbility="f,f,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:490;sp:1000;sR:490;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureLaunch-May2022-WebBanner-facephototablet.jpg" data-no-retina> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_58_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider581"]!==undefined) {window.RS_MODULES.modules["revslider581"].once = false;window.revapi58 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_58_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_58_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_58_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_58_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_58_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_58_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_58_1_wrapper .uranus .tp-bullet.selected,#rev_slider_58_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_58_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_58_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_58_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_58_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi58;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider581"] = {init:function() {
			window.revapi58 = window.revapi58===undefined || window.revapi58===null || window.revapi58.length===0  ? document.getElementById("rev_slider_58_1") : window.revapi58;
			if(window.revapi58 === null || window.revapi58 === undefined || window.revapi58.length==0) { window.revapi58initTry = window.revapi58initTry ===undefined ? 0 : window.revapi58initTry+1; if (window.revapi58initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider581"].init()}); return;}
			window.revapi58 = jQuery(window.revapi58);
			if(window.revapi58.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_58_1"); return;}
			revapi58.revolutionInit({
					revapi:"revapi58",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61fa000ae7a91",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_april-launch-1-12" ).after( "<div id='revslider_show_april-launch-1-12'></div>" );
                            jQuery( "#revslider_drag_april-launch-1-12" ).hide();
                            jQuery("#revslider_foot_april-launch-1-12").appendTo("#revslider_show_april-launch-1-12");
                            jQuery("#revslider_show_april-launch-1-12 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>