{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_pre-bf-live-1">
			<!-- START BF WEEK REVOLUTION SLIDER 6.5.6.10 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_40_8_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_40_8" style="" data-version="6.5.6.10">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-62" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="8500" data-anim="ms:2000ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-40-slide-62-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/athleisure" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-201px,-346px,1082px,-72px;yo:-4px,-8px,-24px,-11px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1695px,1793px,1362px,878px;h:1122px,1187px,901px,581px;"
								data-vbility="t,t,f,t"
								data-frame_1="e:power4.inOut;sp:2000;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:6500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_bannerimage-resized.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-40-slide-62-layer-3" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/athleisure" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:604px,484px,0,-1px;y:t,t,m,m;yo:224px,240px,-11px,123px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:578px,484px,666px,305px;h:123px,103px,142px,65px;"
								data-frame_1="e:power4.inOut;st:3050;sp:2000;sR:3050;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:3450;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureWebBanner-logo.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-40-slide-62-layer-4" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/athleisure" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:731px,607px,-1px,0;yo:403px,413px,437px,421px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:301px,248px,330px,159px;h:52px,42px,57px,27px;"
								data-frame_1="e:power4.inOut;st:4650;sp:2000;sR:4650;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:1850;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureWebBanner-shopnow.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-40-slide-62-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:737px,608px,0,0;yo:126px,130px,90px,303px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:296px,244px,338px,162px;h:37px,30px,42px,20px;"
								data-frame_1="e:power4.inOut;st:1490;sp:2000;sR:1490;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:5010;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AthleisureWebBanner-introducingtext.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_40_8',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider408"]!==undefined) {window.RS_MODULES.modules["revslider408"].once = false;window.revapi40 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_42_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_42_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_42_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_42_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_42_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_42_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_42_1_wrapper .uranus .tp-bullet.selected,#rev_slider_42_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_42_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_42_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_42_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_42_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_26_5_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_26_5_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_26_5_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_26_5_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_26_5_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_26_5_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_26_5_wrapper .uranus .tp-bullet.selected,#rev_slider_26_5_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_26_5_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_26_5_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_26_5_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_26_5_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_27_6_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_29_7_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_40_8_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi42,revapi26,revapi27,revapi29,revapi40;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider421"] = {init:function() {
			window.revapi42 = window.revapi42===undefined || window.revapi42===null || window.revapi42.length===0  ? document.getElementById("rev_slider_42_1") : window.revapi42;
			if(window.revapi42 === null || window.revapi42 === undefined || window.revapi42.length==0) { window.revapi42initTry = window.revapi42initTry ===undefined ? 0 : window.revapi42initTry+1; if (window.revapi42initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider421"].init()}); return;}
			window.revapi42 = jQuery(window.revapi42);
			if(window.revapi42.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_42_1"); return;}
			revapi42.revolutionInit({
					revapi:"revapi42",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider265"] = {init:function() {
			window.revapi26 = window.revapi26===undefined || window.revapi26===null || window.revapi26.length===0  ? document.getElementById("rev_slider_26_5") : window.revapi26;
			if(window.revapi26 === null || window.revapi26 === undefined || window.revapi26.length==0) { window.revapi26initTry = window.revapi26initTry ===undefined ? 0 : window.revapi26initTry+1; if (window.revapi26initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider265"].init()}); return;}
			window.revapi26 = jQuery(window.revapi26);
			if(window.revapi26.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_26_5"); return;}
			revapi26.revolutionInit({
					revapi:"revapi26",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider276"] = {init:function() {
			window.revapi27 = window.revapi27===undefined || window.revapi27===null || window.revapi27.length===0  ? document.getElementById("rev_slider_27_6") : window.revapi27;
			if(window.revapi27 === null || window.revapi27 === undefined || window.revapi27.length==0) { window.revapi27initTry = window.revapi27initTry ===undefined ? 0 : window.revapi27initTry+1; if (window.revapi27initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider276"].init()}); return;}
			window.revapi27 = jQuery(window.revapi27);
			if(window.revapi27.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_27_6"); return;}
			revapi27.revolutionInit({
					revapi:"revapi27",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider297"] = {init:function() {
			window.revapi29 = window.revapi29===undefined || window.revapi29===null || window.revapi29.length===0  ? document.getElementById("rev_slider_29_7") : window.revapi29;
			if(window.revapi29 === null || window.revapi29 === undefined || window.revapi29.length==0) { window.revapi29initTry = window.revapi29initTry ===undefined ? 0 : window.revapi29initTry+1; if (window.revapi29initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider297"].init()}); return;}
			window.revapi29 = jQuery(window.revapi29);
			if(window.revapi29.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_29_7"); return;}
			revapi29.revolutionInit({
					revapi:"revapi29",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider408"] = {init:function() {
			window.revapi40 = window.revapi40===undefined || window.revapi40===null || window.revapi40.length===0  ? document.getElementById("rev_slider_40_8") : window.revapi40;
			if(window.revapi40 === null || window.revapi40 === undefined || window.revapi40.length==0) { window.revapi40initTry = window.revapi40initTry ===undefined ? 0 : window.revapi40initTry+1; if (window.revapi40initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider408"].init()}); return;}
			window.revapi40 = jQuery(window.revapi40);
			if(window.revapi40.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_40_8"); return;}
			revapi40.revolutionInit({
					revapi:"revapi40",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_pre-bf-live-1" ).after( "<div id='revslider_show_pre-bf-live-1'></div>" );
                            jQuery( "#revslider_drag_pre-bf-live-1" ).hide();
                            jQuery("#revslider_foot_pre-bf-live-1").appendTo("#revslider_show_pre-bf-live-1");
                            jQuery("#revslider_show_pre-bf-live-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>