{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_the-future-looks-bright-kids-sale-1">
			<!-- START ACTIVE THEME REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_63_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_63_1" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-178" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#fbb6d8;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-63-slide-178-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1252px,1252px,1270px,1062px;h:606px,606px,615px,514px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL1-2022-SliderRevol-bgtrees.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-63-slide-178-layer-1" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,r,r,r;xo:841px,52px,-453px,28px;y:m;yo:0,0,-8px,88px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:357px,359px,272px,152px;h:537px,540px,410px,228px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:right;"
								data-frame_1="st:1220;sp:1000;sR:1220;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:7780;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL1-2022-SliderRevol-fullphoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-178-layer-6" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:48px,1294px,983px,26px;y:m;yo:0,-41px,-31px,87px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:360px,297px,225px,152px;h:539px,445px,338px,228px;"
								data-vbility="t,f,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:1200;sp:1000;sR:1200;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:7800;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL1-2022-SliderRevol-legphoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-178-layer-7" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:3px,-199px,0,1px;y:m;yo:-3px,-5px,-7px,-109px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:512px,543px,600px,309px;h:250px,265px,293px,151px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:2220;sp:1000;sR:2220;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6780;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL1-2022-SliderRevol-jingle.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-178-layer-8" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-204px,-1px,1px;yo:89px,71px,56px,22px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:338px,367px,360px,193px;h:77px,84px,82px,44px;"
								data-frame_0="y:top;"
								data-frame_1="st:2220;sp:1000;sR:2220;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6780;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL1-2022-SliderRevol-getreadyto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-178-layer-9" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-201px,0,0;yo:449px,464px,469px,437px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:317px,317px,327px,199px;h:62px,62px,64px,39px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3560;sp:1000;sR:3560;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5440;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL1-2022-SliderRevol-button.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-179" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/products/everyday-raglan-pullover" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#d6bac9;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-63-slide-179-layer-0" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/products/everyday-raglan-pullover" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:63px,-2px,-29px,83px;yo:-17px,-12px,0,204px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:432px,431px,420px,208px;h:619px,618px,603px,298px;"
								data-frame_0="x:left;"
								data-frame_1="st:1250;sp:1000;sR:1250;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:7750;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL2-2022-SliderRevol-image.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-179-layer-1" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/products/everyday-raglan-pullover" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:532px,1093px,933px,660px;yo:219px,209px,169px,203px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:592px,488px,370px,178px;h:116px,95px,72px,34px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:right;"
								data-frame_1="st:2850;sp:1000;sR:2850;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6150;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL2-2022-SliderRevol-heading.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-179-layer-2" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/products/everyday-raglan-pullover" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:671px,562px,398px,0;yo:141px,142px,154px,69px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:311px,249px,249px,147px;h:27px,22px,22px,13px;"
								data-frame_0="y:top;"
								data-frame_1="st:2160;sp:1000;sR:2160;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6840;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL2-2022-SliderRevol-introducingthe.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-179-layer-3" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/products/everyday-raglan-pullover" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:673px,551px,399px,705px;yo:397px,428px,403px,261px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:309px,255px,246px,115px;h:54px,44px,43px,20px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4060;sp:1000;sR:4060;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4940;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL2-2022-SliderRevol-button.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-63-slide-179-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,c,c,c;xo:1351px,171px,132px,0;yo:206px,197px,210px,98px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,362px,287px,201px;h:180px,193px,153px,107px;"
								data-vbility="f,t,t,t"
								data-frame_0="x:right;"
								data-frame_1="st:2840;sp:1000;sR:2840;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6160;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL2-2022-SliderRevol-heading2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-63-slide-179-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1321px,1090px,828px,0;yo:106px,87px,66px,414px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,263px;h:180px,148px,112px,35px;"
								data-vbility="f,f,f,t"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4070;sp:1000;sR:4070;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4930;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_NovL2-2022-SliderRevol-buttonMOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-63-slide-179-layer-8" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:500px,436px,350px,0;y:m;yo:0,6px,2px,-107px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:654px,496px,343px,264px;h:439px,427px,384px,183px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1250;sp:1000;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;"
								style="z-index:9;background-color:#ffffff;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-63-slide-179-layer-13" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;y:m;yo:0,0,0,-1px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1157px,935px,689px,329px;h:522px,517px,523px,459px;"
								data-border="bos:solid;boc:#eccfe0;bow:2px,2px,2px,2px;"
								data-frame_0="y:-50,-41,-31,-14;"
								data-frame_1="st:660;sp:1000;sR:660;"
								data-frame_999="y:-50,-41,-31,-14;o:0;st:w;sp:1000;sR:8340;"
								style="z-index:8;background-color:#d6bac9;"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-175" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/collections/outerwear" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#d5dfe0;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-63-slide-175-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1420px,-3px,995px,685px;yo:31px,-6px,23px,24px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:347px,405px,307px,147px;h:523px,610px,463px,223px;"
								data-vbility="f,t,f,f"
								data-frame_0="y:top;"
								data-frame_1="st:1280;sp:1000;sR:1280;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7720;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL2-CozyDuo-2022-SliderRevol-06.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-63-slide-175-layer-1" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/outerwear" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:62px,1139px,865px,-1px;y:m;yo:0,-29px,-22px,5px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:426px,351px,266px,249px;h:537px,443px,336px,314px;"
								data-vbility="t,f,f,t"
								data-frame_0="y:top;"
								data-frame_1="st:1280;sp:1000;sR:1280;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7720;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL2-CozyDuo-2022-SliderRevol-05.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-175-layer-2" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/outerwear" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:572px,442px,0,702px;yo:66px,82px,54px,248px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:619px,546px,713px,343px;h:103px,91px,119px,57px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:left;"
								data-frame_1="st:2040;sp:1000;sR:2040;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6960;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL2-CozyDuo-2022-SliderRevol-07.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-175-layer-3" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/outerwear" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:569px,445px,1px,0;yo:190px,197px,193px,19px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:622px,541px,701px,337px;h:104px,90px,117px,56px;"
								data-frame_0="x:right;"
								data-frame_1="st:2400;sp:1000;sR:2400;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6600;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL2-CozyDuo-2022-SliderRevol-08.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-175-layer-4" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/outerwear" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:568px,443px,1px,697px;yo:314px,313px,330px,331px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:621px,543px,703px,338px;h:104px,91px,117px,56px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:left;"
								data-frame_1="st:2820;sp:1000;sR:2820;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6180;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL2-CozyDuo-2022-SliderRevol-07.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-175-layer-5" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/outerwear" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:692px,540px,0,680px;yo:481px,474px,507px,319px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:352px,352px,397px,191px;h:32px,32px,36px,17px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:3830;sp:1000;sR:3830;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5170;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL2-CozyDuo-2022-SliderRevol-10.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-63-slide-175-layer-10" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:32px,1154px,876px,0;y:m;yo:-1px,-19px,-14px,2px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:487px,402px,305px,335px;h:478px,394px,299px,277px;"
								data-vbility="t,f,f,t"
								data-frame_0="y:top;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;background-color:#c0d2d4;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-63-slide-175-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1401px,1156px,878px,20px;yo:138px,113px,85px,434px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,335px;h:180px,148px,112px,43px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:3830;sp:1000;sR:3830;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5170;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_OctL2-CozyDuo-2022-SliderRevol-09.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_63_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider631"]!==undefined) {window.RS_MODULES.modules["revslider631"].once = false;window.revapi63 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_63_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_63_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_63_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_63_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_63_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_63_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_63_1_wrapper .uranus .tp-bullet.selected,#rev_slider_63_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_63_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_63_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_63_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_63_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi63;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider631"] = {init:function() {
			window.revapi63 = window.revapi63===undefined || window.revapi63===null || window.revapi63.length===0  ? document.getElementById("rev_slider_63_1") : window.revapi63;
			if(window.revapi63 === null || window.revapi63 === undefined || window.revapi63.length==0) { window.revapi63initTry = window.revapi63initTry ===undefined ? 0 : window.revapi63initTry+1; if (window.revapi63initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider631"].init()}); return;}
			window.revapi63 = jQuery(window.revapi63);
			if(window.revapi63.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_63_1"); return;}
			revapi63.revolutionInit({
					revapi:"revapi63",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61fa000ae7a91",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-1" ).after( "<div id='revslider_show_the-future-looks-bright-kids-sale-1'></div>" );
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-1" ).hide();
                            jQuery("#revslider_foot_the-future-looks-bright-kids-sale-1").appendTo("#revslider_show_the-future-looks-bright-kids-sale-1");
                            jQuery("#revslider_show_the-future-looks-bright-kids-sale-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>