{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_outfit-yourself">
			<!-- START Outfit Yourself Bundle Sale REVOLUTION SLIDER 6.5.7 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_40_6_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_40_6" style="" data-version="6.5.7">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-89" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="8500">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#313e5b;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-40-slide-89-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:46px,6px,1069px,21px;yo:47px,38px,111px,180px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:287px,306px,232px,85px;h:443px,473px,359px,131px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:left;"
								data-frame_1="sp:1000;"
								data-frame_999="o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-pattern2.png?v=1634843778" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:176px,130px,939px,529px;yo:104px,102px,84px,258px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:389px,405px,307px,147px;h:451px,470px,357px,172px;"
								data-vbility="t,t,f,f"
								data-frame_0="y:top;"
								data-frame_1="sp:1000;"
								data-frame_999="y:top;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-photo.png?v=1634843779" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-5" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:27px,-17px,939px,267px;yo:472px,476px,336px,222px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:203px,205px,155px,86px;h:51px,51px,38px,72px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:right;"
								data-frame_1="sp:1000;"
								data-frame_999="x:right;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:10;background-color:#f089c6;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:378px,357px,840px,404px;yo:26px,19px,72px,34px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:691px,658px,499px,240px;h:298px,284px,215px,103px;"
								data-vbility="t,t,f,f"
								data-frame_0="y:top;"
								data-frame_1="sp:1000;"
								data-frame_999="y:top;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-heading.png?v=1634843777" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:618px,573px,912px,439px;yo:266px,255px,215px,103px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:396px,407px,309px,148px;h:176px,181px,137px,66px;"
								data-vbility="t,t,f,f"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1220;sp:1000;sR:1220;"
								data-frame_999="sX:0.9;sY:0.9;o:0;st:7500;sp:1000;sR:5280;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-details.png?v=1634843777" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-12" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:652px,604px,0,0;yo:466px,464px,461px,429px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:320px,341px,327px,202px;h:46px,49px,47px,29px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:1210;sp:1000;sR:1210;"
								data-frame_999="y:bottom;o:0;st:7500;sp:1000;sR:5290;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-shopbutton.png?v=1634843779" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-13" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:654px,607px,191px,0;yo:524px,535px,539px,470px;"
								data-text="w:normal;s:12,12,14,10;l:25,20,15,7;ls:1px,0px,0px,0px;a:center;"
								data-dim="w:311px,335px,397px,321px;h:auto,21px,auto,10px;"
								data-frame_1="e:power4.inOut;st:1680;sp:1010;sR:1680;"
								data-frame_999="o:0;e:power4.inOut;st:7500;sp:1000;sR:4810;"
								style="z-index:14;font-family:'Montserrat';"
							>Discount automatically applies at checkout. 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1094px,1274px,967px,766px;yo:196px,181px,137px,226px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:116px,95px,72px,63px;h:365px,301px,228px,198px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:right;"
								data-frame_1="sp:1000;"
								data-frame_999="x:right;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-pattern1.png?v=1634843778" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-16" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:1079px,1238px,940px,453px;yo:48px,145px,110px,53px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:80px,66px,50px,24px;h:232px,191px,145px,69px;"
								data-vbility="t,f,f,f"
								data-frame_0="y:top;"
								data-frame_1="sp:1000;"
								data-frame_999="y:top;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:16;background-color:#877ba6;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1451px,1123px,684px,691px;yo:227px,122px,-57px,270px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,686px,150px;h:180px,148px,661px,144px;"
								data-vbility="f,f,t,f"
								data-frame_0="x:right;"
								data-frame_1="sp:1000;"
								data-frame_999="x:right;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-pattern3.png?v=1634843779" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-18" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1451px,1123px,-586px,938px;yo:227px,122px,-19px,-35px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,686px,330px;h:180px,148px,661px,318px;"
								data-vbility="f,f,t,f"
								data-frame_0="x:left;"
								data-frame_1="sp:1000;"
								data-frame_999="x:left;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-pattern3.png?v=1634843779" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:1305px,1077px,14px,10px;yo:299px,246px,18px,11px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,520px,317px;h:180px,148px,259px,158px;"
								data-vbility="f,f,t,t"
								data-frame_0="y:top;"
								data-frame_1="sp:1000;"
								data-frame_999="y:top;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-heading-MOBILE.png?v=1634843778" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-20" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:1401px,1107px,1px,0;yo:241px,207px,301px,349px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,517px,300px;h:180px,148px,119px,69px;"
								data-vbility="f,f,t,t"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:1220;sp:1000;sR:1220;"
								data-frame_999="sX:0.9;sY:0.9;o:0;st:7500;sp:1000;sR:5280;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-details-MOBILE.png?v=1634843777" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-40-slide-89-layer-22" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1413px,1166px,963px,0;yo:341px,281px,204px,140px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,192px;h:180px,148px,112px,193px;"
								data-vbility="f,f,f,t"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="sp:1000;"
								data-frame_999="sX:0.9;sY:0.9;o:0;st:7500;sp:1000;sR:6500;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OutfitYourself-oct2021-slider-photo-MOBILE.png?v=1634843779" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_40_6',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider406"]!==undefined) {window.RS_MODULES.modules["revslider406"].once = false;window.revapi40 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_36_4_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_36_4_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_36_4_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_36_4_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_36_4_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_36_4_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_36_4_wrapper .uranus .tp-bullet.selected,#rev_slider_36_4_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_36_4_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_36_4_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_36_4_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_36_4_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_39_5_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_40_6_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		var	tpj = jQuery;

		var	revapi45,revapi36,revapi39,revapi40;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider453"] = {init:function() {
			window.revapi45 = window.revapi45===undefined || window.revapi45===null || window.revapi45.length===0  ? document.getElementById("rev_slider_45_3") : window.revapi45;
			if(window.revapi45 === null || window.revapi45 === undefined || window.revapi45.length==0) { window.revapi45initTry = window.revapi45initTry ===undefined ? 0 : window.revapi45initTry+1; if (window.revapi45initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider453"].init()}); return;}
			window.revapi45 = jQuery(window.revapi45);
			if(window.revapi45.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_45_3"); return;}
			revapi45.revolutionInit({
					revapi:"revapi45",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					gridwidth:1240,
					gridheight:900,
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"900,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:""
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider364"] = {init:function() {
			window.revapi36 = window.revapi36===undefined || window.revapi36===null || window.revapi36.length===0  ? document.getElementById("rev_slider_36_4") : window.revapi36;
			if(window.revapi36 === null || window.revapi36 === undefined || window.revapi36.length==0) { window.revapi36initTry = window.revapi36initTry ===undefined ? 0 : window.revapi36initTry+1; if (window.revapi36initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider364"].init()}); return;}
			window.revapi36 = jQuery(window.revapi36);
			if(window.revapi36.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_36_4"); return;}
			revapi36.revolutionInit({
					revapi:"revapi36",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider395"] = {init:function() {
			window.revapi39 = window.revapi39===undefined || window.revapi39===null || window.revapi39.length===0  ? document.getElementById("rev_slider_39_5") : window.revapi39;
			if(window.revapi39 === null || window.revapi39 === undefined || window.revapi39.length==0) { window.revapi39initTry = window.revapi39initTry ===undefined ? 0 : window.revapi39initTry+1; if (window.revapi39initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider395"].init()}); return;}
			window.revapi39 = jQuery(window.revapi39);
			if(window.revapi39.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_39_5"); return;}
			revapi39.revolutionInit({
					revapi:"revapi39",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider406"] = {init:function() {
			window.revapi40 = window.revapi40===undefined || window.revapi40===null || window.revapi40.length===0  ? document.getElementById("rev_slider_40_6") : window.revapi40;
			if(window.revapi40 === null || window.revapi40 === undefined || window.revapi40.length==0) { window.revapi40initTry = window.revapi40initTry ===undefined ? 0 : window.revapi40initTry+1; if (window.revapi40initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider406"].init()}); return;}
			window.revapi40 = jQuery(window.revapi40);
			if(window.revapi40.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_40_6"); return;}
			revapi40.revolutionInit({
					revapi:"revapi40",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_outfit-yourself" ).after( "<div id='revslider_show_outfit-yourself'></div>" );
                            jQuery( "#revslider_drag_outfit-yourself" ).hide();
                            jQuery("#revslider_foot_outfit-yourself").appendTo("#revslider_show_outfit-yourself");
                            jQuery("#revslider_show_outfit-yourself .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>