{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_december-l1-launch-1-1">
			<!-- START January L2 REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_57_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_57_1" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-124" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/pages/maternity" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#fdb1cf;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-57-slide-124-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1439px,1188px,902px,0;yo:256px,211px,160px,94px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,328px;h:180px,148px,112px,303px;"
								data-vbility="f,f,f,t"
								data-frame_0="rX:-70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:2430;sp:1000;sR:2430;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8660;sp:1000;sR:5230;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-headingMOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1418px,1170px,888px,0;yo:256px,211px,160px,418px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,229px;h:180px,148px,112px,28px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:3200;sp:1000;sR:3200;"
								data-frame_999="y:bottom;o:0;st:8310;sp:1000;sR:4110;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-shopBLACK.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-57-slide-124-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:30;"
							> 
							</a><!--

							--><rs-layer
								id="slider-57-slide-124-layer-25" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:757px,533px,339px,-78px;yo:-21px,-64px,-47px,-62px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:557px,594px,594px,513px;h:629px,671px,671px,579px;"
								data-frame_0="x:right;"
								data-frame_1="st:1470;sp:1000;sR:1470;"
								data-frame_999="x:right;o:0;st:8660;sp:1000;sR:6190;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-imageMain-3.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-26" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-7px,1378px,1046px,969px;yo:0,12px,9px,63px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:445px,367px,278px,133px;h:620px,512px,389px,187px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:left;"
								data-frame_1="st:720;sp:1000;sR:720;"
								data-frame_999="x:left;o:0;st:8680;sp:1000;sR:6960;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-imageLegs.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-28" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-159px,-138px,775px;yo:40px,29px,52px,296px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:531px,514px,487px,234px;h:440px,426px,404px,194px;"
								data-vbility="t,t,t,f"
								data-frame_0="rX:-70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:2060;sp:1000;sR:2060;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8670;sp:1000;sR:5610;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-mainheading.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-165px,-142px,812px;yo:498px,490px,491px,285px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:319px,294px,327px,157px;h:39px,36px,40px,19px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:2630;sp:1000;sR:2630;"
								data-frame_999="y:bottom;o:0;st:8320;sp:1000;sR:4690;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-shopRED.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:32px,-8px,-2px,727px;yo:314px,276px,393px,408px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3530;sp:500;sR:3530;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8790;sp:1000;sR:4760;"
								style="z-index:29;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-31" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:333px,94px,107px,745px;yo:418px,400px,430px,423px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3690;sp:500;sR:3690;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8780;sp:1000;sR:4590;"
								style="z-index:28;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-32" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1165px,935px,734px,725px;yo:446px,435px,455px,381px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3150;sp:500;sR:3150;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8790;sp:1000;sR:5140;"
								style="z-index:27;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-33" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1173px,964px,732px,742px;yo:297px,292px,221px,126px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3920;sp:500;sR:3920;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8780;sp:1000;sR:4360;"
								style="z-index:26;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-34" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:806px,627px,459px,801px;yo:406px,291px,332px,310px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3210;sp:500;sR:3210;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8800;sp:1000;sR:5090;"
								style="z-index:25;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-35" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:395px,319px,220px,742px;yo:573px,576px,556px,355px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3670;sp:500;sR:3670;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8770;sp:1000;sR:4600;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-36" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:611px,549px,355px,683px;yo:545px,409px,429px,353px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3380;sp:500;sR:3380;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8780;sp:1000;sR:4900;"
								style="z-index:23;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-37" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:882px,606px,458px,687px;yo:525px,522px,533px,300px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3860;sp:500;sR:3860;"
								data-frame_999="o:0;st:8770;sp:1000;sR:4410;"
								style="z-index:22;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-38" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1095px,916px,751px,571px;yo:27px,37px,55px,151px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:2960;sp:500;sR:2960;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8780;sp:1000;sR:5320;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-39" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:347px,321px,240px,733px;yo:24px,4px,25px,387px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3530;sp:500;sR:3530;"
								data-frame_999="o:0;st:8770;sp:1000;sR:4740;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-40" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:830px,611px,647px,559px;yo:12px,111px,-8px,218px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3840;sp:500;sR:3840;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8780;sp:1000;sR:4440;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-41" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:591px,545px,421px,814px;yo:9px,14px,20px,340px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3080;sp:500;sR:3080;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8780;sp:1000;sR:5200;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-42" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-42px,47px,29px,704px;yo:502px,512px,544px,255px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3850;sp:500;sR:3850;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8790;sp:1000;sR:4440;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-43" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-12px,88px,66px,735px;yo:46px,16px,12px,336px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3300;sp:500;sR:3300;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8790;sp:1000;sR:4990;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-44" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1225px,1010px,756px,628px;yo:124px,129px,296px,156px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3550;sp:500;sR:3550;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8790;sp:1000;sR:4740;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-57-slide-124-layer-45" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-44px,33px,-13px,775px;yo:198px,121px,134px,257px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,30px,14px;h:46px,37px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:3280;sp:500;sR:3280;"
								data-frame_999="y:200%;sX:2;sY:2;o:0;rX:-20deg;rY:-20deg;e:power3.out;st:8790;sp:1000;sR:5010;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_JanL2-2022-SliderRevol-heart.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_57_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider571"]!==undefined) {window.RS_MODULES.modules["revslider571"].once = false;window.revapi57 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_57_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi57;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider571"] = {init:function() {
			window.revapi57 = window.revapi57===undefined || window.revapi57===null || window.revapi57.length===0  ? document.getElementById("rev_slider_57_1") : window.revapi57;
			if(window.revapi57 === null || window.revapi57 === undefined || window.revapi57.length==0) { window.revapi57initTry = window.revapi57initTry ===undefined ? 0 : window.revapi57initTry+1; if (window.revapi57initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider571"].init()}); return;}
			window.revapi57 = jQuery(window.revapi57);
			if(window.revapi57.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_57_1"); return;}
			revapi57.revolutionInit({
					revapi:"revapi57",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_december-l1-launch-1-1" ).after( "<div id='revslider_show_december-l1-launch-1-1'></div>" );
                            jQuery( "#revslider_drag_december-l1-launch-1-1" ).hide();
                            jQuery("#revslider_foot_december-l1-launch-1-1").appendTo("#revslider_show_december-l1-launch-1-1");
                            jQuery("#revslider_show_december-l1-launch-1-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>