{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_december-l1-launch-1">
			<!-- START December L1 LAUNCH 1 REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_56_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_56_1" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-131" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ff5dbd;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-56-slide-131-layer-1" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							> 
							</a><!--

							--><rs-layer
								id="slider-56-slide-131-layer-3" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:742px,464px,358px,9px;yo:-96px,-86px,-89px,109px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:542px,549px,534px,354px;h:719px,728px,708px,470px;"
								data-frame_0="y:100%;"
								data-frame_1="e:power4.inOut;st:350;sp:1200;sR:350;"
								data-frame_999="y:100%;o:0;e:power4.inOut;st:w;sp:1200;sR:8450;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FebL1-2022-SliderRevol-image-MAIN.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-56-slide-131-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-416px,1157px,879px,1085px;y:m;yo:0,-8px,-6px,-36px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:294px,242px,183px,88px;h:520px,429px,325px,156px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:left;"
								data-frame_1="st:340;sp:1190;sR:340;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8470;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FebL1-2022-SliderRevol-image2.jpg" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-56-slide-131-layer-5" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-201px,-132px,955px;yo:28px,23px,42px,72px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:500px,502px,471px,227px;h:456px,458px,430px,207px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;st:1500;sp:1000;sR:1500;"
								data-frame_999="sX:0.9;sY:0.9;o:0;st:w;sp:1000;sR:7500;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FebL1-2022-SliderRevol-heading.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-56-slide-131-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-13px,-218px,-147px,996px;yo:509px,513px,509px,340px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:245px,272px,254px,122px;h:27px,30px,28px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:2380;sp:1000;sR:2380;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6620;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FebL1-2022-SliderRevol-shopbutton.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-56-slide-131-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1694px,1398px,1062px,0;yo:144px,118px,89px,-1px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,353px;h:180px,148px,112px,185px;"
								data-vbility="f,f,f,t"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;st:1500;sp:1000;sR:1500;"
								data-frame_999="sX:0.9;sY:0.9;o:0;st:w;sp:1000;sR:7500;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FebL1-2022-SliderRevol-heading-MOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-56-slide-131-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1721px,1421px,1079px,0;yo:147px,121px,91px,374px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,220px;h:180px,148px,112px,32px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:2400;sp:1000;sR:2400;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6600;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FebL1-2022-SliderRevol-shopbutton-MOBILE.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-122" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/pages/maternity" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-56-slide-122-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1466px,1210px,919px,53px;yo:87px,71px,53px,0;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,372px;h:180px,148px,112px,248px;"
								data-vbility="f,f,f,t"
								data-frame_1="e:power4.inOut;st:560;sp:3000;sR:560;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:6440;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_MaternityBanner-SliderRevol-image-mobile.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-56-slide-122-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:0,0,-74px,771px;y:m;yo:89px,0,5px,-118px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:850px,638px,638px,400px;h:834px,626px,626px,393px;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;st:570;sp:3000;sR:570;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:6430;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_MaternityBanner-SliderRevol-image.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-56-slide-122-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:696px,552px,407px,0;yo:268px,277px,256px,368px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:395px,326px,305px,230px;h:85px,70px,66px,49px;"
								data-frame_1="e:power4.inOut;st:4440;sp:2000;sR:4440;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:3560;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_MaternityBanner-SliderRevol-subheading.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-56-slide-122-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:273px,208px,170px,0;yo:442px,435px,393px,440px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:399px,351px,304px,233px;h:59px,48px,45px,34px;"
								data-frame_1="e:power4.inOut;st:6120;sp:2000;sR:6120;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:1880;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_MaternityBanner-SliderRevol-shopnowbutton.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-56-slide-122-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:646px,477px,396px,25px;yo:105px,103px,123px,270px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:504px,477px,338px,324px;h:112px,106px,75px,72px;"
								data-frame_1="e:power4.inOut;st:2740;sp:2000;sR:2740;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:5260;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_MaternityBanner-SliderRevol-title2.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-56-slide-122-layer-15" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/maternity" target="_self"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:14;"
							> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_56_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider561"]!==undefined) {window.RS_MODULES.modules["revslider561"].once = false;window.revapi56 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_56_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_56_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_56_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_56_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_56_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_56_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_56_1_wrapper .uranus .tp-bullet.selected,#rev_slider_56_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_56_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_56_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_56_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_56_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi56;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider561"] = {init:function() {
			window.revapi56 = window.revapi56===undefined || window.revapi56===null || window.revapi56.length===0  ? document.getElementById("rev_slider_56_1") : window.revapi56;
			if(window.revapi56 === null || window.revapi56 === undefined || window.revapi56.length==0) { window.revapi56initTry = window.revapi56initTry ===undefined ? 0 : window.revapi56initTry+1; if (window.revapi56initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider561"].init()}); return;}
			window.revapi56 = jQuery(window.revapi56);
			if(window.revapi56.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_56_1"); return;}
			revapi56.revolutionInit({
					revapi:"revapi56",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61f9fb5a88b00",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_december-l1-launch-1" ).after( "<div id='revslider_show_december-l1-launch-1'></div>" );
                            jQuery( "#revslider_drag_december-l1-launch-1" ).hide();
                            jQuery("#revslider_foot_december-l1-launch-1").appendTo("#revslider_show_december-l1-launch-1");
                            jQuery("#revslider_show_december-l1-launch-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>