{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_the-future-looks-bright-kids-sale-11">
			<!-- START ACTIVE THEME1 REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_122_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_122_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-308" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#f6bbdd;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-122-slide-308-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-2px,-1px,0;y:m;yo:0,-1px,0,0;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1645px,1618px,1626px,1358px;h:612px,602px,605px,505px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:500;sp:1000;sR:500;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AprL1-2023-SliderRevol-05.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-122-slide-308-layer-7" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-168px,0,0;yo:53px,55px,42px,12px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:483px,448px,486px,273px;h:386px,358px,389px,218px;"
								data-frame_0="y:top;"
								data-frame_1="st:1270;sp:1000;sR:1270;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AprL1-2023-SliderRevol-09.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-308-layer-8" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:846px,562px,1103px,-4px;yo:-31px,-30px,39px,173px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:412px,412px,313px,232px;h:639px,639px,485px,360px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:right;"
								data-frame_1="st:1250;sp:1000;sR:1250;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:7750;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AprL1-2023-SliderRevol-07.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-308-layer-9" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-5px,1350px,1025px,929px;yo:-13px,78px,59px,135px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:389px,321px,243px,117px;h:624px,515px,391px,188px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:left;"
								data-frame_1="st:1260;sp:1000;sR:1260;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:7740;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AprL1-2023-SliderRevol-06.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-308-layer-10" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-185px,0,0;yo:459px,448px,467px,379px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:349px,336px,344px,267px;h:78px,75px,77px,60px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2600;sp:1000;sR:2600;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6400;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_AprL1-2023-SliderRevol-08.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-292" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-122-slide-292-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-29px,-44px,1528px,34px;yo:-49px,6px,60px,149px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1384px,1167px,886px,632px;h:658px,555px,421px,301px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-image.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-7" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:574px,479px,3px,1px;yo:48px,95px,59px,4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:598px,493px,640px,314px;h:252px,208px,269px,132px;"
								data-frame_0="y:top;"
								data-frame_1="st:1490;sp:1000;sR:1490;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-header.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-8" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:602px,492px,0,0;yo:367px,363px,390px,147px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:560px,464px,561px,295px;h:32px,27px,32px,17px;"
								data-frame_0="x:right;"
								data-frame_1="st:2390;sp:1000;sR:2390;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6610;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-suhead.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-122-slide-292-layer-9" 
								class="rs-layer"
								href="/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:721px,593px,-2px,0;yo:443px,421px,470px,442px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,273px,301px,177px;h:57px,49px,54px,32px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:3270;sp:1000;sR:3270;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_FindYourFit-SliderRevol-button.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_122_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider1221"]!==undefined) {window.RS_MODULES.modules["revslider1221"].once = false;window.revapi122 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_122_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_122_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_122_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_122_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_122_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_122_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_122_1_wrapper .uranus .tp-bullet.selected,#rev_slider_122_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_122_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_122_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_122_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_122_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi122;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider1221"] = {init:function() {
			window.revapi122 = window.revapi122===undefined || window.revapi122===null || window.revapi122.length===0  ? document.getElementById("rev_slider_122_1") : window.revapi122;
			if(window.revapi122 === null || window.revapi122 === undefined || window.revapi122.length==0) { window.revapi122initTry = window.revapi122initTry ===undefined ? 0 : window.revapi122initTry+1; if (window.revapi122initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider1221"].init()}); return;}
			window.revapi122 = jQuery(window.revapi122);
			if(window.revapi122.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_122_1"); return;}
			revapi122.revolutionInit({
					revapi:"revapi122",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61f9fb5a88b00",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).after( "<div id='revslider_show_the-future-looks-bright-kids-sale-11'></div>" );
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-11" ).hide();
                            jQuery("#revslider_foot_the-future-looks-bright-kids-sale-11").appendTo("#revslider_show_the-future-looks-bright-kids-sale-11");
                            jQuery("#revslider_show_the-future-looks-bright-kids-sale-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>