{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_nov5tops">
			<!-- START Sweettops launc REVOLUTION SLIDER 6.5.7 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_1_6_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_1_6" style="" data-version="6.5.7">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-1" data-title="NOV4LAUNCH" data-link="{{ request.path | slice: 1,2}}/collections/tops" data-target="_self" data-seoz="front" data-duration="10000" data-anim="ms:600;r:0;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-1-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-373px,-306px,-251px,-129px;y:m;yo:-4px,21px,-20px,23px;"
								data-text="l:22;fw:700,600,700,700;a:center,left,left,left;"
								data-dim="w:719px,719px,614px,455px;h:859px,859px,733px,545px;"
								data-blendmode="multiply"
								data-frame_1="e:power3.out;st:3740;sp:1280;sR:3740;"
								data-frame_999="o:0;st:w;sR:4980;"
								style="z-index:11;cursor:pointer;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-2" 
								class="Fashion-BigDisplay"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,458px;y:m;yo:0,0,0,121px;"
								data-text="s:45,35,30,25;l:60,60,60,40;ls:4px;fw:700;a:center,left,left,left;"
								data-dim="w:auto,579px,523px,407px;h:auto,74px,74px,74px;"
								data-vbility="f,f,f,f"
								data-blendmode="multiply"
								data-frame_1="e:power2.inOut;sp:1560;sR:10;"
								data-frame_999="o:0;e:back.in;st:2410;sp:1250;sR:840;"
								style="z-index:6;font-family:'Lato';cursor:pointer;"
							>GET READY TO FALL IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-3" 
								class="Fashion-BigDisplay"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="xo:423px,395px,306px,149px;y:m;yo:-39px,-29px,-31px,-8px;"
								data-text="s:45,35,25,12;l:60;ls:4px,4px,4px,3px;fw:100,600,600,600;"
								data-dim="w:auto,auto,auto,195px;"
								data-blendmode="multiply"
								data-frame_1="st:3220;sp:1440;sR:3220;"
								data-frame_999="o:0;st:6460;sp:800;sR:1800;"
								style="z-index:13;font-family:'Raleway';cursor:pointer;"
							>PROUDLY INTRODUCING 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:429px,389px,301px,148px;yo:275px,278px,281px,253px;"
								data-text="l:22;fw:500,600,700,700;a:left,left,left,center;"
								data-dim="w:606px,495px,379px,207px;h:99px,81px,62px,34px;"
								data-blendmode="multiply"
								data-frame_1="st:4400;sp:1340;sR:4400;"
								data-frame_999="o:0;st:6470;sp:780;sR:730;"
								style="z-index:12;cursor:pointer;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-6" 
								class="rev-btn rev-withicon"
								data-type="button"
								data-color="rgba(255,255,255,1)"
								data-xy="xo:434px,393px,307px,167px;yo:310px,299px,304px,241px;"
								data-text="s:17;l:5,5,5,17;fw:500;a:left,left,left,center;"
								data-dim="w:174px,192px,172px,172px;h:auto,43px,auto,auto;"
								data-actions='o:click;a:simplelink;target:_self;url:/collections/sweettops;'
								data-rsp_bd="off"
								data-blendmode="multiply"
								data-padding="t:12;r:35;b:12;l:35;"
								data-border="bor:30px,30px,30px,30px;"
								data-frame_1="st:7190;sp:640;sR:7190;"
								data-frame_999="o:0;st:w;sR:2170;"
								data-frame_hover="c:#000;bgc:#00c4b3;boc:#000;bor:30px,30px,30px,30px;bos:solid;oX:50;oY:50;sp:0;e:power3.out;"
								style="z-index:14;background-color:#000000;font-family:'Roboto';cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"
							>SHOP NOW<i class="fa-chevron-right"></i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-8" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="fw:700;a:center,left,left,left;"
								data-dim="w:4000px;h:602px;"
								data-blendmode="multiply"
								data-frame_1="sp:360;sR:10;"
								data-frame_999="o:0;st:2100;sp:1360;sR:1730;"
								style="z-index:5;background-color:#f2f2f2;cursor:pointer;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-10" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;xo:5px,0,0,0;y:m;yo:5px,0,0,0;"
								data-text="fw:400,600,700,700;a:center,left,left,left;"
								data-dim="w:4000px;h:602px;"
								data-blendmode="multiply"
								data-frame_1="st:2150;sp:1010;sR:2150;"
								data-frame_999="o:0;st:w;sR:6840;"
								style="z-index:10;background-color:#f2f2f2;cursor:pointer;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-11" 
								class="Fashion-BigDisplay"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:l,c,l,l;xo:430px,76px,308px,155px;y:m;yo:-28px,-36px,-20px,-27px;"
								data-text="s:45,35,25,15;l:60;ls:4px;fw:700,600,600,600;"
								data-dim="w:auto,auto,auto,195px;"
								data-blendmode="multiply"
								data-frame_1="st:7190;sp:630;sR:7190;"
								data-frame_999="o:0;st:w;sp:320;sR:2180;"
								style="z-index:15;font-family:'Raleway';cursor:pointer;"
							>GET YOURS TODAY. 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-12" 
								class="Fashion-BigDisplay"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,6px;y:m;yo:0,0,0,-7px;"
								data-text="s:45,35,30,45;l:60,60,60,50;ls:4px;fw:700;a:center,left,left,left;"
								data-dim="w:auto,579px,523px,307px;h:auto,74px,74px,auto;"
								data-vbility="f,f,f,f"
								data-blendmode="multiply"
								data-frame_1="e:power2.inOut;sp:1550;sR:10;"
								data-frame_999="o:0;e:back.in;st:2380;sp:1250;sR:820;"
								style="z-index:7;font-family:'Lato';cursor:pointer;"
							>GET READY </BR>TO FALL </BR>IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-14" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="s:45,35,30,25;l:60,60,60,40;ls:4px;fw:700;a:center;"
								data-dim="w:835px;"
								data-vbility="t,t,t,f"
								data-blendmode="multiply"
								data-frame_1="sp:1540;sR:10;"
								data-frame_999="o:0;st:2410;sp:1210;sR:860;"
								style="z-index:9;font-family:'Lato';cursor:pointer;"
							>GET READY TO FALL IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-15" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="s:45,35,30,35;l:60,60,60,40;ls:4px;fw:700;a:center;"
								data-dim="w:835px;h:100px;"
								data-vbility="f,f,f,t"
								data-blendmode="multiply"
								data-frame_1="sp:1540;sR:10;"
								data-frame_999="o:0;st:2410;sp:1210;sR:860;"
								style="z-index:8;font-family:'Lato';cursor:pointer;"
							>GET READY </BR>TO FALL </BR>IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-2" data-title="SweetTops" data-link="{{ request.path | slice: 1,2}}/collections/new" data-target="_self" data-seoz="front" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#50aa9e;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-2-layer-4" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:-1503px,-1589px,-1527px,-1893px;y:m;yo:-6px,-4px,-4px,-24px;"
								data-text="fw:500;a:inherit;"
								data-dim="w:1239px;h:614px;"
								data-frame_0="tp:600;"
								data-frame_1="tp:600;sR:10;"
								data-frame_999="o:0;tp:600;st:w;sR:5690;"
								style="z-index:5;background-color:#50aa9e;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-2-layer-3" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:1507px,1380px,1070px,693px;yo:-16px,-28px,-32px,-28px;"
								data-text="fw:500;a:inherit;"
								data-dim="w:1241px;h:721px;"
								data-frame_0="tp:600;"
								data-frame_1="tp:600;sR:10;"
								data-frame_999="o:0;tp:600;st:w;sR:5690;"
								style="z-index:6;background-color:#50aa9e;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-2-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,-174px;y:m;yo:0,0,0,-26px;"
								data-text="l:22;fw:500,400,400,500;a:inherit;"
								data-dim="w:1810px,1810px,1357px,1357px;h:800px,800px,600px,600px;"
								data-frame_0="o:1;tp:600;"
								data-frame_1="tp:600;sR:10;"
								data-frame_999="o:0;tp:600;st:w;sR:5690;"
								style="z-index:7;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/166/assets/LaunchBannerBG-optimized.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-2-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,-35px;y:m;yo:0,0,0,-15px;"
								data-text="l:22;fw:500,400,400,500;a:inherit;"
								data-dim="w:426px,426px,377px,284px;h:828px,828px,732px,552px;"
								data-frame_0="y:100%;o:1;tp:600;"
								data-frame_1="tp:600;e:power3.out;sp:870;sR:10;"
								data-frame_999="y:-100%;tp:600;e:back.inOut;st:w;sR:5120;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/166/assets/LaunchBannerBG-title.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-3" data-title="glasses" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-3-layer-11" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:-932px,-932px,-660px,-866px;yo:-1px,-1px,0,-1px;"
								data-text="fw:900;a:center;"
								data-dim="w:3126px,3126px,2095px,2096px;h:102px,102px,100px,79px;"
								data-frame_0="tp:600;"
								data-frame_1="tp:600;sR:10;"
								data-frame_999="o:0;tp:600;st:w;sR:5690;"
								style="z-index:5;background:linear-gradient(rgba(0,0,0,0.1) 0%, rgba(28,28,28,0.1) 11%, rgba(255,255,255,0) 100%);cursor:pointer;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-12" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:-932px,-431px,-659px,-862px;yo:502px,502px,601px,425px;"
								data-text="fw:900;a:center;"
								data-dim="w:3113px,2095px,2095px,2096px;h:102px,100px,100px,79px;"
								data-frame_0="rZ:180;tp:600;"
								data-frame_1="rZ:180;tp:600;sR:10;"
								data-frame_999="o:0;tp:600;st:w;sR:5690;"
								style="z-index:6;background:linear-gradient(rgba(0,0,0,0.1) 0%, rgba(28,28,28,0.1) 11%, rgba(255,255,255,0) 100%);cursor:pointer;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-10" 
								class="rev-btn rev-hiddenicon"
								data-type="button"
								data-xy="xo:742px,599px,268px,73px;yo:362px,314px,517px,358px;"
								data-text="s:15;l:15;fw:900;a:center,left,center,center;"
								data-actions='o:click;a:simplelink;target:_self;url:/pages/sunglasses;d:1;'
								data-rsp_bd="off"
								data-padding="t:12;r:35;b:12;l:35;"
								data-border="bor:30px,30px,30px,30px;"
								data-frame_0="tp:600;"
								data-frame_1="tp:600;sR:10;"
								data-frame_999="o:0;tp:600;st:w;sR:5690;"
								data-frame_hover="c:#000;bgc:rgba(0,196,179,0.75);boc:#0a0a0a;bor:30px,30px,30px,30px;bos:solid;oX:50;oY:50;sp:0;e:power3.out;"
								style="z-index:7;background-color:#0a0000;font-family:'Roboto';cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-transform:uppercase;letter-spacing:1px;"
							>VIEW ALL 8 STYLES <i class="fa-chevron-right"></i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-8" 
								class="Fashion-BigDisplay"
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:369px,335px,2px,5px;yo:214px,193px,372px,244px;"
								data-text="s:60,50,50,40;l:60,50,50,40;fw:900;a:left,left,center,center;"
								data-dim="w:496px;"
								data-frame_0="tp:600;"
								data-frame_1="tp:600;sR:10;"
								data-frame_999="o:0;tp:600;st:w;sR:5690;"
								style="z-index:8;font-family:'Raleway';cursor:pointer;"
							>CONFIDENCE <BR>STRIKES 
AGAIN 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:10px,21px,107px,22px;yo:140px,158px,123px,81px;"
								data-text="l:22;fw:900;a:left,center,center,center;"
								data-dim="w:727px,575px,575px,337px;h:287px,227px,227px,133px;"
								data-frame_0="tp:600;"
								data-frame_1="tp:600;st:380;sp:660;sR:380;"
								data-frame_999="o:0;tp:600;st:w;sR:4960;"
								style="z-index:9;cursor:pointer;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/164/assets/black_blue-feature_full-size.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_1_6',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider16"]!==undefined) {window.RS_MODULES.modules["revslider16"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:500%2C900%7CLato:700%7CRaleway:100%2C600%2C700%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script src="{{asset_url_rev}}revolution.addon.snow.min.js?ver=6.5.7"></script><style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_11_3_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }.rs-layer.slidelink a span{background-repeat:no-repeat; background:unset}
		#rev_slider_13_4_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_13_4_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_13_4_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_13_4_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_13_4_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_13_4_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_13_4_wrapper .uranus .tp-bullet.selected,#rev_slider_13_4_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_13_4_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_13_4_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_13_4_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_13_4_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }.rs-layer.slidelink a span{background-repeat:no-repeat; background:unset}
		#rev_slider_14_5_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_14_5_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_14_5_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_14_5_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_14_5_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_14_5_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_14_5_wrapper .uranus .tp-bullet.selected,#rev_slider_14_5_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_14_5_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_14_5_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_14_5_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_14_5_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_1_6_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_1_6_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_1_6_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_1_6_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_1_6_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_1_6_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_1_6_wrapper .uranus .tp-bullet.selected,#rev_slider_1_6_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_1_6_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_1_6_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_1_6_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_1_6_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		var	tpj = jQuery;

		var	revapi11,revapi13,revapi14,revapi1;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider113"] = {init:function() {
			window.revapi11 = window.revapi11===undefined || window.revapi11===null || window.revapi11.length===0  ? document.getElementById("rev_slider_11_3") : window.revapi11;
			if(window.revapi11 === null || window.revapi11 === undefined || window.revapi11.length==0) { window.revapi11initTry = window.revapi11initTry ===undefined ? 0 : window.revapi11initTry+1; if (window.revapi11initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider113"].init()}); return;}
			window.revapi11 = jQuery(window.revapi11);
			if(window.revapi11.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_11_3"); return;}
			revapi11.revolutionInit({
					revapi:"revapi11",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider134"] = {init:function() {
			window.revapi13 = window.revapi13===undefined || window.revapi13===null || window.revapi13.length===0  ? document.getElementById("rev_slider_13_4") : window.revapi13;
			if(window.revapi13 === null || window.revapi13 === undefined || window.revapi13.length==0) { window.revapi13initTry = window.revapi13initTry ===undefined ? 0 : window.revapi13initTry+1; if (window.revapi13initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider134"].init()}); return;}
			window.revapi13 = jQuery(window.revapi13);
			if(window.revapi13.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_13_4"); return;}
			revapi13.revolutionInit({
					revapi:"revapi13",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider145"] = {init:function() {
			window.revapi14 = window.revapi14===undefined || window.revapi14===null || window.revapi14.length===0  ? document.getElementById("rev_slider_14_5") : window.revapi14;
			if(window.revapi14 === null || window.revapi14 === undefined || window.revapi14.length==0) { window.revapi14initTry = window.revapi14initTry ===undefined ? 0 : window.revapi14initTry+1; if (window.revapi14initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider145"].init()}); return;}
			window.revapi14 = jQuery(window.revapi14);
			if(window.revapi14.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_14_5"); return;}
			revapi14.revolutionInit({
					revapi:"revapi14",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
								snow: {
									startSlide: "first",
									endSlide: "last",
									maxNum: "100",
									minSize: "5",
									maxSize: "5",
									minOpacity: "0.3",
									maxOpacity: "1",
									minSpeed: "30",
									maxSpeed: "100",
									minSinus: "1",
									maxSinus: "100",
								},
			});
			
                		if(typeof RsSnowAddOn !== "undefined") RsSnowAddOn(tpj, revapi14);

		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider16"] = {init:function() {
			window.revapi1 = window.revapi1===undefined || window.revapi1===null || window.revapi1.length===0  ? document.getElementById("rev_slider_1_6") : window.revapi1;
			if(window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length==0) { window.revapi1initTry = window.revapi1initTry ===undefined ? 0 : window.revapi1initTry+1; if (window.revapi1initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider16"].init()}); return;}
			window.revapi1 = jQuery(window.revapi1);
			if(window.revapi1.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_1_6"); return;}
			revapi1.revolutionInit({
					revapi:"revapi1",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
								snow: {
									startSlide: "2",
									endSlide: "last",
									maxNum: "400",
									minSize: "0.2",
									maxSize: "6",
									minOpacity: "0.3",
									maxOpacity: "1",
									minSpeed: "30",
									maxSpeed: "100",
									minSinus: "1",
									maxSinus: "100",
								},
			});
			
                		if(typeof RsSnowAddOn !== "undefined") RsSnowAddOn(tpj, revapi1);

		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_nov5tops" ).after( "<div id='revslider_show_nov5tops'></div>" );
                            jQuery( "#revslider_drag_nov5tops" ).hide();
                            jQuery("#revslider_foot_nov5tops").appendTo("#revslider_show_nov5tops");
                            jQuery("#revslider_show_nov5tops .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>