{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_ready-set-sale-1">
			<!-- START April Live  REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_53_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_53_1" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-103" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.ca/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#95defc;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-53-slide-103-layer-0" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:764px,1133px,860px,784px;yo:-4px,60px,45px,37px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:624px,515px,391px,188px;h:607px,501px,380px,183px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:right;"
								data-frame_1="st:370;sp:1000;sR:370;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:8630;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-kneephoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-53-slide-103-layer-1" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-47px,-38px,887px,657px;yo:8px,6px,36px,0;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:594px,618px,469px,390px;h:587px,610px,463px,385px;"
								data-vbility="t,t,f,f"
								data-frame_0="x:left;"
								data-frame_1="st:370;sp:1000;sR:370;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8630;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-fullbodyphoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-53-slide-103-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-11px,172px,-2px,-2px;yo:19px,35px,24px,54px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:587px,586px,599px,414px;h:433px,432px,442px,305px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1400;sp:1000;sR:1400;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:7600;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-heading.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-53-slide-103-layer-4" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,180px,1px,0;yo:482px,501px,490px,394px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:222px,186px,204px,186px;h:50px,42px,46px,42px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:2670;sp:1000;sR:2670;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6330;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-button.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-53-slide-103-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:761px,-11px,52px,304px;yo:533px,454px,519px,-3px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,44px,37px;h:47px,38px,42px,35px;"
								data-frame_0="y:bottom;sX:2;sY:2;rZ:70deg;"
								data-frame_1="st:2100;sp:1000;sR:2100;"
								data-frame_999="y:bottom;sX:2;sY:2;o:0;rZ:70deg;st:w;sp:1000;sR:6900;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-faisy.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-6" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-9px,262px,684px,314px;yo:472px,31px,3px,432px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:55px,45px,43px,36px;h:52px,42px,41px,34px;"
								data-frame_0="y:bottom;sX:2;sY:2;rZ:70deg;"
								data-frame_1="st:2682;sp:1000;sR:2682;"
								data-frame_999="y:bottom;sX:2;sY:2;o:0;rZ:70deg;st:w;sp:1000;sR:6318;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-faisy.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1193px,936px,552px,28px;yo:275px,521px,534px,-1px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:55px,45px,45px,38px;h:52px,42px,43px,36px;"
								data-frame_0="y:bottom;sX:2;sY:2;rZ:70deg;"
								data-frame_1="st:1530;sp:1000;sR:1530;"
								data-frame_999="y:bottom;sX:2;sY:2;o:0;rZ:70deg;st:w;sp:1000;sR:7470;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-faisy.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:224px,324px,35px,100px;yo:45px,167px,51px,13px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:12px,9px,6px,10px;h:12px,9px,6px,10px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3590;sp:1000;sR:3590;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5410;"
								style="z-index:22;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:407px,496px,138px,199px;yo:508px,548px,504px,25px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,11px,10px;h:10px,8px,11px,10px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3590;sp:1000;sR:3590;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5410;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:882px,415px,31px,399px;yo:493px,492px,393px,254px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,10px,4px;h:10px,8px,10px,4px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3570;sp:1000;sR:3570;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5430;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1209px,975px,679px,139px;yo:406px,33px,453px,472px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,6px,2px;h:10px,8px,6px,2px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3580;sp:1000;sR:3580;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5420;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:3px,18px,732px,168px;yo:348px,357px,336px,20px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,10px,4px;h:10px,8px,10px,4px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3570;sp:1000;sR:3570;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5430;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-22" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1233px,34px,705px,197px;yo:484px,554px,532px,375px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:12px,9px,10px,10px;h:12px,9px,10px,10px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3580;sp:1000;sR:3580;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5420;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:576px,855px,350px,312px;yo:566px,514px,575px,387px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,6px,10px;h:10px,8px,6px,10px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3570;sp:1000;sR:3570;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5430;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-103-layer-24" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:891px,407px,52px,28px;yo:21px,68px,308px,427px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,8px,6px,10px;h:10px,8px,6px,10px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3570;sp:1000;sR:3570;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5430;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AprL2-2022-SliderRevol-circle.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-89" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.ca/pages/maternity" data-target="_self" data-seoz="front" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-53-slide-89-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1466px,1210px,919px,53px;yo:87px,71px,53px,0;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,372px;h:180px,148px,112px,248px;"
								data-vbility="f,f,f,t"
								data-frame_1="e:power4.inOut;st:560;sp:3000;sR:560;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:6440;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MaternityBanner-SliderRevol-image-mobile.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-89-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:0,0,-74px,771px;y:m;yo:89px,0,5px,-118px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:850px,638px,638px,400px;h:834px,626px,626px,393px;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;st:570;sp:3000;sR:570;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:6430;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MaternityBanner-SliderRevol-image.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-89-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:696px,552px,407px,0;yo:268px,277px,256px,368px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:395px,326px,305px,230px;h:85px,70px,66px,49px;"
								data-frame_1="e:power4.inOut;st:4440;sp:2000;sR:4440;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:3560;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MaternityBanner-SliderRevol-subheading.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-89-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:273px,208px,170px,0;yo:442px,435px,393px,440px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:399px,351px,304px,233px;h:59px,48px,45px,34px;"
								data-frame_1="e:power4.inOut;st:6120;sp:2000;sR:6120;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:1880;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MaternityBanner-SliderRevol-shopnowbutton.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-53-slide-89-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:646px,477px,396px,25px;yo:105px,103px,123px,270px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:504px,477px,338px,324px;h:112px,106px,75px,72px;"
								data-frame_1="e:power4.inOut;st:2740;sp:2000;sR:2740;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:5260;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_MaternityBanner-SliderRevol-title2.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_53_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider531"]!==undefined) {window.RS_MODULES.modules["revslider531"].once = false;window.revapi53 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_53_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_53_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_53_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_53_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_53_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_53_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_53_1_wrapper .uranus .tp-bullet.selected,#rev_slider_53_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_53_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_53_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_53_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_53_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi53;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider531"] = {init:function() {
			window.revapi53 = window.revapi53===undefined || window.revapi53===null || window.revapi53.length===0  ? document.getElementById("rev_slider_53_1") : window.revapi53;
			if(window.revapi53 === null || window.revapi53 === undefined || window.revapi53.length==0) { window.revapi53initTry = window.revapi53initTry ===undefined ? 0 : window.revapi53initTry+1; if (window.revapi53initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider531"].init()}); return;}
			window.revapi53 = jQuery(window.revapi53);
			if(window.revapi53.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_53_1"); return;}
			revapi53.revolutionInit({
					revapi:"revapi53",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61fa000ae7a91",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_ready-set-sale-1" ).after( "<div id='revslider_show_ready-set-sale-1'></div>" );
                            jQuery( "#revslider_drag_ready-set-sale-1" ).hide();
                            jQuery("#revslider_foot_ready-set-sale-1").appendTo("#revslider_show_ready-set-sale-1");
                            jQuery("#revslider_show_ready-set-sale-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>