{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_the-future-looks-bright-kids-sale-1">
			<!-- START ACTIVE THEME REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_63_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_63_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-221" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/collections/anytime-jeggings" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#f9f9f7;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-63-slide-221-layer-5" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/anytime-jeggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-116px,-86px,-155px,705px;yo:4px,-30px,-1px,32px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:581px,614px,572px,275px;h:615px,650px,606px,292px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FebL1-Jeggings-2023-SliderRevol-legphoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-221-layer-6" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/anytime-jeggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:693px,1284px,975px,0;yo:-16px,-19px,-14px,174px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:699px,577px,438px,380px;h:755px,623px,473px,411px;"
								data-vbility="t,f,f,t"
								data-frame_0="x:right;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FebL1-Jeggings-2023-SliderRevol-fullbodyphoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-221-layer-7" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/anytime-jeggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:5px,174px,122px,3px;yo:75px,64px,96px,9px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:528px,525px,441px,275px;h:127px,126px,106px,66px;"
								data-frame_0="y:top;"
								data-frame_1="st:1150;sp:1000;sR:1150;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7850;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FebL1-Jeggings-2023-SliderRevol-sayhellotothe.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-221-layer-8" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/anytime-jeggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:1px,179px,130px,0;yo:220px,219px,238px,86px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:521px,539px,449px,279px;h:166px,172px,143px,89px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2340;sp:1000;sR:2340;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6660;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FebL1-Jeggings-2023-SliderRevol-anytimejeggings.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-221-layer-9" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/anytime-jeggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,176px,122px,608px;yo:460px,466px,439px,198px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:160px,154px,135px,65px;h:34px,33px,29px,13px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:3040;sp:1000;sR:3040;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5960;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FebL1-Jeggings-2023-SliderRevol-button.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-63-slide-221-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1493px,1232px,936px,0;yo:208px,171px,129px,400px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,206px;h:180px,148px,112px,38px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:3040;sp:1000;sR:3040;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5960;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FebL1-Jeggings-2023-SliderRevol-button-mobile.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-186" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-63-slide-186-layer-6" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-29px,-44px,1528px,34px;yo:-49px,6px,60px,149px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1384px,1167px,886px,632px;h:658px,555px,421px,301px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-image.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-186-layer-7" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:574px,479px,3px,1px;yo:48px,95px,59px,4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:598px,493px,640px,314px;h:252px,208px,269px,132px;"
								data-frame_0="y:top;"
								data-frame_1="st:1490;sp:1000;sR:1490;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-header.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-186-layer-8" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:602px,492px,0,0;yo:367px,363px,390px,147px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:560px,464px,561px,295px;h:32px,27px,32px,17px;"
								data-frame_0="x:right;"
								data-frame_1="st:2390;sp:1000;sR:2390;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6610;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-suhead.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-186-layer-9" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/pages/size-guide" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:721px,593px,-2px,0;yo:443px,421px,470px,442px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,273px,301px,177px;h:57px,49px,54px,32px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:3270;sp:1000;sR:3270;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-button.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-220" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/kids" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#f8c7dd;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-63-slide-220-layer-0" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/valentines" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:816px,552px,1107px,-7px;yo:-29px,-34px,-32px,152px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:509px,521px,395px,283px;h:651px,667px,506px,362px;"
								data-vbility="t,t,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_Valentines-SliderRevol-facephoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-220-layer-1" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/valentines" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-135px,1275px,968px,842px;yo:-4px,2px,1px,104px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:614px,507px,385px,185px;h:610px,503px,382px,184px;"
								data-vbility="t,f,f,f"
								data-frame_0="y:top;"
								data-frame_1="st:490;sp:1000;sR:490;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:8510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_Valentines-SliderRevol-legphoto.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-220-layer-2" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/valentines" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:10px,-173px,3px,689px;y:t,t,m,m;yo:55px,34px,-29px,-18px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:459px,503px,575px,303px;h:381px,418px,477px,252px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1530;sp:1000;sR:1530;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:7470;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_Valentines-SliderRevol-heartbg.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-220-layer-3" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/valentines" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:12px,-174px,0,0;yo:143px,129px,124px,25px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:495px,567px,669px,332px;h:121px,138px,163px,81px;"
								data-frame_0="x:left;"
								data-frame_1="st:2010;sp:1000;sR:2010;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6990;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_Valentines-SliderRevol-love.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-220-layer-4" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/valentines" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:422px,109px,0,0;yo:295px,298px,321px,123px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:425px,464px,525px,263px;h:55px,60px,68px,34px;"
								data-frame_0="x:right;"
								data-frame_1="st:2470;sp:1000;sR:2470;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6530;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_Valentines-SliderRevol-isintheair.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-63-slide-220-layer-11" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/valentines" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:478px,196px,0,0;yo:462px,476px,458px,334px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:299px,288px,321px,221px;h:54px,52px,58px,40px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3780;sp:1000;sR:3780;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5220;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_Valentines-SliderRevol-shopbutton.png" data-no-retina> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_63_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider631"]!==undefined) {window.RS_MODULES.modules["revslider631"].once = false;window.revapi63 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_63_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_63_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_63_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_63_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_63_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_63_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_63_1_wrapper .uranus .tp-bullet.selected,#rev_slider_63_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_63_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_63_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_63_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_63_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi63;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider631"] = {init:function() {
			window.revapi63 = window.revapi63===undefined || window.revapi63===null || window.revapi63.length===0  ? document.getElementById("rev_slider_63_1") : window.revapi63;
			if(window.revapi63 === null || window.revapi63 === undefined || window.revapi63.length==0) { window.revapi63initTry = window.revapi63initTry ===undefined ? 0 : window.revapi63initTry+1; if (window.revapi63initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider631"].init()}); return;}
			window.revapi63 = jQuery(window.revapi63);
			if(window.revapi63.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_63_1"); return;}
			revapi63.revolutionInit({
					revapi:"revapi63",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61fa000ae7a91",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-1" ).after( "<div id='revslider_show_the-future-looks-bright-kids-sale-1'></div>" );
                            jQuery( "#revslider_drag_the-future-looks-bright-kids-sale-1" ).hide();
                            jQuery("#revslider_foot_the-future-looks-bright-kids-sale-1").appendTo("#revslider_show_the-future-looks-bright-kids-sale-1");
                            jQuery("#revslider_show_the-future-looks-bright-kids-sale-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>