{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_july-launch-1-1">
			<!-- START August Launch 1 REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_71_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_71_1" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-140" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//www.sweetlegs.ca/collections/kids-leggings" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#37cccc;" data-parallax="off" data-no-retina>
<!--
							--><a
								id="slider-71-slide-140-layer-5" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,c,c,c;xo:186px,0,-2px,0;yo:77px,66px,77px,34px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:339px,355px,311px,178px;h:61px,64px,56px,32px;"
								data-frame_0="y:top;"
								data-frame_1="st:1200;sp:1000;sR:1200;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7800;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-BACKTO.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-6" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:24px,121px,63px,12px;yo:233px,225px,216px,108px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:160px,189px,158px,89px;h:164px,194px,162px,91px;"
								data-frame_0="x:left;"
								data-frame_1="st:2040;sp:1000;sR:2040;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6960;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-COOL-1.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-7" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:196px,323px,242px,106px;yo:171px,161px,161px,84px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:164px,188px,157px,90px;h:165px,189px,157px,90px;"
								data-frame_0="y:top;"
								data-frame_1="st:2260;sp:1000;sR:2260;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6740;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-COOL-2.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-8" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,c,c,c;xo:358px,92px,93px,51px;yo:258px,263px,251px,120px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:162px,184px,152px,86px;h:167px,190px,157px,89px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:2500;sp:1000;sR:2500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6500;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-COOL-3.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-9" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:544px,721px,578px,291px;yo:183px,148px,167px,87px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:132px,157px,130px,75px;h:156px,185px,154px,89px;"
								data-frame_0="x:right;"
								data-frame_1="st:2900;sp:1000;sR:2900;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6100;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-COOL-4.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-10" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:693px,1360px,1033px,0;yo:28px,88px,66px,224px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:525px,433px,328px,263px;h:528px,436px,331px,264px;"
								data-vbility="t,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-IMAGE.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-71-slide-140-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,c,c,c;xo:203px,0,0,0;yo:493px,499px,498px,429px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:316px,318px,300px,204px;h:53px,53px,50px,34px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:4890;sp:1000;sR:4890;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:4110;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-BUTTON.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-71-slide-140-layer-13" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-27px,64px,-21px,-29px;yo:20px,-17px,2px,-10px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:182px,218px,177px,115px;h:200px,240px,195px,126px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4080;sp:1000;sR:4080;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4920;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element10.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-71-slide-140-layer-14" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:188px,306px,208px,-52px;yo:381px,380px,374px,247px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:145px,160px,164px,97px;h:84px,93px,95px,56px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4160;sp:1000;sR:4160;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4840;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element3.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-140-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:579px,817px,616px,328px;yo:390px,373px,367px,262px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:89px,106px,98px,63px;h:164px,195px,180px,117px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3970;sp:1000;sR:3970;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5030;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element4.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-71-slide-140-layer-16" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:577px,858px,673px,325px;yo:10px,62px,64px,2px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:90px,103px,96px,60px;h:190px,216px,202px,127px;"
								data-btrans="rZ:-14;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4160;sp:1000;sR:4160;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4840;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element11.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-71-slide-140-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:526px,739px,576px,10px;yo:401px,391px,377px,435px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:35px,43px,37px,26px;h:65px,80px,68px,48px;"
								data-btrans="rZ:60;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4010;sp:1000;sR:4010;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4990;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-140-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:3px,106px,57px,1px;yo:414px,434px,388px,342px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:67px,64px,56px,37px;h:82px,78px,69px,45px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4300;sp:1000;sR:4300;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4700;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element1.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-71-slide-140-layer-20" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:305px,545px,399px,224px;yo:-18px,-20px,-13px,-19px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:74px,67px,60px,39px;h:76px,69px,62px,40px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4470;sp:1000;sR:4470;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4530;"
								style="z-index:22;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element8.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-21" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:155px,334px,188px,215px;yo:-8px,-1px,-8px,78px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:67px,55px,59px,37px;h:59px,48px,52px,33px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4210;sp:1000;sR:4210;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4790;"
								style="z-index:25;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element9.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-22" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:454px,726px,579px,335px;yo:2px,11px,6px,430px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:79px,95px,72px,45px;h:46px,55px,41px,26px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4380;sp:1000;sR:4380;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4620;"
								style="z-index:26;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element7.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-23" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:114px,263px,142px,112px;yo:154px,137px,133px,181px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:34px,34px,30px,23px;h:63px,63px,56px,42px;"
								data-btrans="rZ:40;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:3980;sp:1000;sR:3980;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5020;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element2.png" data-no-retina> 
							</a><!--

							--><a
								id="slider-71-slide-140-layer-24" 
								class="rs-layer"
								href="https://www.sweetlegs.ca/collections/kids-leggings" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:426px,579px,454px,323px;yo:165px,167px,163px,195px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:79px,70px,68px,47px;h:70px,62px,60px,42px;"
								data-btrans="rX:900;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4110;sp:1000;sR:4110;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4890;"
								style="z-index:23;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element9.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-71-slide-140-layer-25" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:77px,213px,97px,126px;yo:488px,506px,499px,-19px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:80px,72px,66px,37px;h:71px,64px,58px,33px;"
								data-btrans="rZ:-20;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:4510;sp:1000;sR:4510;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:4490;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_BackToCool-SliderRevol-element9.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-133" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#6594a3;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-71-slide-133-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:419px,314px,1093px,63px;y:m;yo:-4px,4px,-47px,101px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:409px,404px,306px,178px;h:614px,606px,460px,267px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:right;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-mainimage.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-133-layer-6" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:600px,1280px,1210px,42px;yo:46px,92px,70px,244px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:310px,256px,194px,138px;h:507px,418px,317px,226px;"
								data-vbility="t,f,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-legimage.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-133-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:91px,84px,0,0;yo:166px,208px,170px,134px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:427px,444px,498px,400px;h:622px,647px,726px,583px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-bgshape1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-133-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:92px,84px,0,0;yo:-247px,-234px,-315px,-264px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:419px,447px,492px,400px;h:419px,447px,492px,400px;"
								data-frame_0="y:top;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-bgshape2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-133-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:68px,75px,120px,47px;yo:108px,97px,77px,38px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:205px,209px,218px,123px;h:99px,101px,105px,59px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1500;sp:1000;sR:1500;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:7500;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-headingFOLLOWTHE.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-133-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:19px,30px,-4px,1px;yo:50px,51px,18px,7px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:565px,566px,635px,341px;h:373px,374px,420px,225px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2240;sp:1000;sR:2240;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6760;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-headingSUNLIGHT.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-133-layer-27" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:140px,151px,3px,1060px;y:t,t,b,b;yo:456px,457px,74px,155px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:326px,311px,313px,150px;h:60px,58px,58px,27px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:2770;sp:1000;sR:2770;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6230;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-shopbutton.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-133-layer-28" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:50px,41px,31px,0;yo:50px,41px,31px,386px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,178px;h:180px,148px,112px,31px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:2780;sp:1000;sR:2780;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6220;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL1-2022-SliderRevol-shopbuttonMOBILE.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-139" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="10000ms" data-anim="ms:50;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-71-slide-139-layer-6" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-29px,-44px,1528px,34px;yo:-49px,6px,60px,149px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1384px,1167px,886px,632px;h:658px,555px,421px,301px;"
								data-vbility="t,t,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:500;sp:1000;sR:500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:8500;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-image.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-139-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:574px,479px,3px,1px;yo:48px,95px,59px,4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:598px,493px,640px,314px;h:252px,208px,269px,132px;"
								data-frame_0="y:top;"
								data-frame_1="st:1490;sp:1000;sR:1490;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-header.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-139-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:602px,492px,0,0;yo:367px,363px,390px,147px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:560px,464px,561px,295px;h:32px,27px,32px,17px;"
								data-frame_0="x:right;"
								data-frame_1="st:2390;sp:1000;sR:2390;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:6610;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-suhead.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-71-slide-139-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,c,c;xo:721px,593px,-2px,0;yo:443px,421px,470px,442px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:318px,273px,301px,177px;h:57px,49px,54px,32px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:3270;sp:1000;sR:3270;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5730;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_FindYourFit-SliderRevol-button.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_71_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider711"]!==undefined) {window.RS_MODULES.modules["revslider711"].once = false;window.revapi71 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_71_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_71_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_71_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_71_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_71_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_71_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_71_1_wrapper .uranus .tp-bullet.selected,#rev_slider_71_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_71_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_71_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_71_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_71_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi71;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider711"] = {init:function() {
			window.revapi71 = window.revapi71===undefined || window.revapi71===null || window.revapi71.length===0  ? document.getElementById("rev_slider_71_1") : window.revapi71;
			if(window.revapi71 === null || window.revapi71 === undefined || window.revapi71.length==0) { window.revapi71initTry = window.revapi71initTry ===undefined ? 0 : window.revapi71initTry+1; if (window.revapi71initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider711"].init()}); return;}
			window.revapi71 = jQuery(window.revapi71);
			if(window.revapi71.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_71_1"); return;}
			revapi71.revolutionInit({
					revapi:"revapi71",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61fa000ae7a91",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_july-launch-1-1" ).after( "<div id='revslider_show_july-launch-1-1'></div>" );
                            jQuery( "#revslider_drag_july-launch-1-1" ).hide();
                            jQuery("#revslider_foot_july-launch-1-1").appendTo("#revslider_show_july-launch-1-1");
                            jQuery("#revslider_show_july-launch-1-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>