{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_december-l1-11">
			<!-- START December L1 LAUNCH REVOLUTION SLIDER 6.5.6.10 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_52_7_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_52_7" style="" data-version="6.5.6.10">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-118" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/up-to-50-off-boxing-day" data-target="_self" data-seoz="back" data-duration="8500" data-anim="ms:250;" data-in="o:0;x:-100%;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffd0de;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-52-slide-118-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:1px,0,0,953px;yo:12px,4px,50px,70px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:938px,945px,756px,364px;h:412px,415px,332px,160px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:top;"
								data-frame_1="st:630;sp:1000;sR:630;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6870;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BoxingDaySale-SliderRevol-heading.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-118-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,-1px,0;yo:441px,440px,410px,385px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:753px,740px,713px,343px;h:56px,55px,53px,25px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:1620;sp:1000;sR:1620;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5880;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BoxingDaySale-SliderRevol-subheading.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-118-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:5px,11px,3px,-2px;yo:-342px,-104px,-26px,-20px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1974px,1630px,1238px,1036px;h:1082px,893px,678px,568px;"
								data-frame_0="y:top;"
								data-frame_1="x:-1px,0px,0px,0px;y:-42px,-34px,-25px,-12px;st:450;sp:500;sR:450;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:7550;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BoxingDaySale-SliderRevol-09.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-118-layer-10" 
								data-type="text"
								data-color="#9a0029"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,1px,-5px,0;y:m;yo:251px,251px,227px,205px;"
								data-text="w:normal;s:14,14,13,10;l:22,22,22,18;ls:1px,1px,1px,0px;a:center;"
								data-dim="w:752px,726px,555px,324px;h:66px,54px,auto,auto;minh:0px,none,none,none;"
								data-frame_1="e:power4.inOut;st:2400;sp:1000;sR:2400;"
								data-frame_999="o:0;e:power2.in;st:w;sp:1000;sR:5100;"
								style="z-index:12;font-family:'Lato';"
							>Sale ends December 30, 2021 at 11:59PM PST. Limited quantities, while supplies last. No price matching. All discounted SweetLegs products are final sale. Cannot be combined with any other offers. 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-118-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1768px,1460px,1109px,0;yo:90px,74px,56px,4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,295px;h:180px,148px,112px,363px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:top;"
								data-frame_1="st:630;sp:1000;sR:630;"
								data-frame_999="y:top;o:0;st:w;sp:1000;sR:6870;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BoxingDaySale-SliderRevol-heading-MOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-52-slide-118-layer-15" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/up-to-50-off-boxing-day" target="_self"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-frame_999="o:0;st:w;"
								style="z-index:13;"
							> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-115" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/gift-certificates/products/gift-card" data-target="_self" data-seoz="back" data-duration="8500" data-anim="ms:460;" data-in="o:0;x:-100%;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#d8aee5;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-52-slide-115-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:2px,0,-5px,0;yo:122px,115px,109px,129px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:930px,919px,929px,702px;h:376px,372px,376px,284px;"
								data-frame_0="y:100%;"
								data-frame_1="e:power4.inOut;st:810;sp:1200;"
								data-frame_999="o:1;st:w;sR:7640;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-banner-heading.gif?v=1639514961" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-115-layer-3" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;yo:533px,517px,525px,438px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:347px,358px,313px,268px;h:31px,32px,28px,24px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:990;sp:1000;sR:990;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6510;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-dec2021-SliderRevol-shopbutton.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-52-slide-115-layer-4" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/gift-certificates/products/gift-card" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,762px;yo:39px,32px,28px,119px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:924px,845px,701px,337px;h:58px,53px,44px,21px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:1960;sp:1000;sR:1960;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:5540;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-dec2021-SliderRevol-heading.jpg" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-52-slide-115-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1392px,1149px,872px,0;yo:112px,92px,69px,29px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,333px;h:180px,148px,112px,81px;"
								data-vbility="f,f,f,t"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:980;sp:1000;sR:980;"
								data-frame_999="sX:0.8;sY:0.8;o:0;e:power4.out;st:w;sp:1000;sR:6520;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_GCpromo-dec2021-SliderRevol-headingMOBILE.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-52-slide-115-layer-26" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/gift-certificates/products/gift-card" target="_self"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							> 
							</a><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-112" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/new" data-target="_self" data-seoz="back" data-duration="8500" data-anim="ms:600;" data-in="o:0;y:-100%;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#f9d1dc;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-52-slide-112-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:844px,595px,990px,740px;y:m;yo:0,0,31px,118px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:367px,370px,281px,135px;h:526px,531px,403px,194px;"
								data-vbility="t,t,f,f"
								data-frame_0="y:top;"
								data-frame_1="st:840;sp:1000;sR:840;"
								data-frame_999="y:top;o:0;st:w;sp:500;sR:6660;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-photo1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:27px,1320px,1002px,811px;y:m;yo:0,-21px,-15px,-47px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:356px,293px,222px,107px;h:509px,420px,319px,153px;"
								data-vbility="t,f,f,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:840;sp:1000;sR:840;"
								data-frame_999="y:bottom;o:0;st:w;sp:500;sR:6660;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-photo2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-3px,-206px,0,550px;yo:47px,70px,66px,137px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:404px,396px,434px,231px;h:381px,374px,410px,218px;"
								data-vbility="t,t,t,f"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:1810;sp:1000;sR:1810;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5690;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-heading.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-52-slide-112-layer-3" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-1px,-207px,-18px,626px;yo:475px,481px,514px,310px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:272px,260px,283px,136px;h:48px,46px,50px,24px;"
								data-vbility="t,t,t,f"
								data-frame_0="y:bottom;"
								data-frame_1="st:1800;sp:1000;sR:1800;"
								data-frame_999="y:bottom;o:0;st:w;sp:500;sR:5700;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-shopbutton.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-52-slide-112-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:717px,519px,674px,316px;yo:-9px,118px,102px,70px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:41px,45px,53px,31px;h:39px,43px,51px,30px;"
								data-btrans="rZ:140;"
								data-frame_0="x:left;"
								data-frame_1="st:2240;sp:1000;sR:2240;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5260;"
								data-loop_999="sX:1.2;sY:1.2;o:0.6;sp:2000;e:power0.inOut;yys:t;yyf:t;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-starpink.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:419px,98px,59px,13px;yo:528px,534px,430px,420px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:49px,40px,43px,27px;h:47px,38px,41px,26px;"
								data-btrans="rZ:30;"
								data-frame_0="y:bottom;"
								data-frame_1="st:2230;sp:1000;sR:2230;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5270;"
								data-loop_999="sX:1.2;sY:1.2;o:0.6;sp:2000;e:power0.inOut;yys:t;yyf:t;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-starpink.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-6" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:396px,31px,47px,18px;yo:116px,263px,226px,200px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:28px,31px,52px,37px;h:27px,30px,50px,35px;"
								data-btrans="rZ:40;"
								data-frame_0="y:100%;"
								data-frame_1="e:power4.inOut;st:2230;sp:1000;sR:2230;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5270;"
								data-loop_999="sX:1.2;sY:1.2;o:0.6;sp:2000;e:power0.inOut;yys:t;yyf:t;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-starpink.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:527px,354px,393px,208px;yo:15px,20px,17px,3px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:28px,34px,40px,27px;h:27px,32px,38px,26px;"
								data-btrans="rZ:20;"
								data-frame_0="x:right;"
								data-frame_1="st:2240;sp:1000;sR:2240;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5260;"
								data-loop_999="sX:1.2;sY:1.2;o:0.6;sp:2000;e:power0.inOut;yys:t;yyf:t;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-starwhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:50px,41px,959px,0;yo:50px,41px,205px,26px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,244px;h:180px,148px,112px,197px;"
								data-vbility="f,f,f,t"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:1810;sp:1000;sR:1810;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5690;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-heading-mobile.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:50px,41px,963px,0;yo:50px,41px,151px,359px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,291px;h:180px,148px,112px,31px;"
								data-vbility="f,f,f,t"
								data-frame_0="y:bottom;"
								data-frame_1="st:1800;sp:1000;sR:1800;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:5700;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-shopbutton-mobile.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:788px,516px,671px,308px;yo:491px,415px,363px,252px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:36px,37px,46px,30px;h:34px,35px,44px,29px;"
								data-btrans="rZ:20;"
								data-frame_0="y:top;"
								data-frame_1="st:2240;sp:1000;sR:2240;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5260;"
								data-loop_999="sX:1.2;sY:1.2;o:0.6;sp:2000;e:power0.inOut;yys:t;yyf:t;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-starwhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:398px,60px,53px,41px;yo:7px,47px,39px,114px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:24px,19px,14px,11px;h:24px,19px,14px,11px;"
								data-frame_0="x:left;"
								data-frame_1="st:2230;sp:1000;sR:2230;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5270;"
								data-loop_0="x:10px;y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:22;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlepink.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-12" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:777px,239px,207px,99px;yo:412px,22px,24px,1px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:14px,11px,18px,12px;h:14px,11px,18px,12px;"
								data-frame_0="x:right;"
								data-frame_1="st:2240;sp:1000;sR:2240;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5260;"
								data-loop_0="x:10px;y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlepink.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:50px,41px,948px,0;yo:50px,41px,262px,234px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,196px;h:180px,148px,112px,255px;"
								data-vbility="f,f,f,t"
								data-frame_0="x:left;"
								data-frame_1="st:830;sp:1000;sR:830;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:6670;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-photo1-mobile.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-14" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:677px,511px,597px,317px;yo:577px,527px,523px,435px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:20px,16px,24px,18px;h:20px,16px,24px,18px;"
								data-frame_0="x:50,41,31,14;"
								data-frame_1="st:2230;sp:1000;sR:2230;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5270;"
								data-loop_0="y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="x:10px;y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlepink.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:801px,61px,90px,16px;yo:46px,117px,109px,39px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:22px,26px,24px,23px;h:22px,26px,24px,23px;"
								data-frame_0="y:top;"
								data-frame_1="st:2220;sp:1000;sR:2220;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5280;"
								data-loop_0="y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:28;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:425px,37px,112px,48px;yo:450px,479px,368px,303px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:22px,20px,18px,8px;h:22px,20px,18px,8px;"
								data-frame_0="x:left;"
								data-frame_1="st:2220;sp:1000;sR:2220;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5280;"
								data-loop_0="x:10px;y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:27;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-18" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:583px,553px,659px,350px;yo:555px,260px,231px,175px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:12px,16px,27px,15px;h:12px,16px,27px,15px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:2230;sp:1000;sR:2230;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5270;"
								data-loop_0="y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="x:10px;y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:26;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:819px,297px,42px,59px;yo:157px,559px,524px,482px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:11px,9px,12px,10px;h:11px,9px,12px,10px;"
								data-frame_0="x:left;"
								data-frame_1="st:2230;sp:1000;sR:2230;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5270;"
								data-loop_0="x:10px;y:-10;oX:10%;oY:10%;oZ:20px;"
								data-loop_999="y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:25;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-20" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:654px,529px,632px,331px;yo:38px,30px,38px,25px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,12px,16px,10px;h:10px,12px,16px,10px;"
								data-frame_0="y:top;"
								data-frame_1="st:2230;sp:1000;sR:2230;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5270;"
								data-loop_0="y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlewhite.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-52-slide-112-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:411px,83px,700px,328px;yo:389px,390px,473px,317px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:10px,12px,13px,11px;h:10px,12px,13px,11px;"
								data-frame_0="x:right;"
								data-frame_1="st:2240;sp:1000;sR:2240;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:w;sp:500;sR:5260;"
								data-loop_0="y:-10;oX:30%;oY:30%;oZ:20px;"
								data-loop_999="x:10px;y:10;sp:6000;e:sine.inOut;yym:t;"
								style="z-index:23;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_DecL1-klaviyo-circlepink.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-52-slide-112-layer-27" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-frame_999="o:0;st:w;"
								style="z-index:29;"
							> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_52_7',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider527"]!==undefined) {window.RS_MODULES.modules["revslider527"].once = false;window.revapi52 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_56_1_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_56_1_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_56_1_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_56_1_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_56_1_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_56_1_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_56_1_wrapper .uranus .tp-bullet.selected,#rev_slider_56_1_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_56_1_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_56_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_56_1_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_56_1_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_36_5_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_36_5_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_36_5_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_36_5_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_36_5_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_36_5_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_36_5_wrapper .uranus .tp-bullet.selected,#rev_slider_36_5_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_36_5_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_36_5_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_36_5_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_36_5_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_42_6_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}
		#shop-now:hover{color:#f4cec8 !important }
		#rev_slider_52_7_wrapper .hephaistos.tparrows{cursor:pointer;background:rgba(0,0,0,0.5);width:40px;height:40px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_52_7_wrapper .hephaistos.tparrows.rs-touchhover{background:#000000}#rev_slider_52_7_wrapper .hephaistos.tparrows:before{font-family:'revicons';font-size:18px;color:#ffffff;display:block;line-height:40px;text-align:center}#rev_slider_52_7_wrapper .hephaistos.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-2px}#rev_slider_52_7_wrapper .hephaistos.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-2px}#rev_slider_52_7_wrapper .uranus .tp-bullet{border-radius:50%; box-shadow:0 0 0 2px rgba(255,255,255,0); -webkit-transition:box-shadow 0.3s ease; transition:box-shadow 0.3s ease; background:transparent; width:15px; height:15px}#rev_slider_52_7_wrapper .uranus .tp-bullet.selected,#rev_slider_52_7_wrapper .uranus .tp-bullet.rs-touchhover{box-shadow:0 0 0 2px rgba(255,255,255,1); border:none; border-radius:50%; background:transparent}#rev_slider_52_7_wrapper .uranus .tp-bullet-inner{-webkit-transition:background-color 0.3s ease,-webkit-transform 0.3s ease; transition:background-color 0.3s ease,transform 0.3s ease; top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%; background-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0.3); text-indent:-999em; cursor:pointer; position:absolute}#rev_slider_52_7_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,#rev_slider_52_7_wrapper .uranus .tp-bullet.rs-touchhover .tp-bullet-inner{transform:scale(0.4); -webkit-transform:scale(0.4); background-color:rgba(255,255,255,1)}
		#rev_slider_52_7_wrapper rs-loader.spinner3 div{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi56,revapi36,revapi42,revapi52;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider561"] = {init:function() {
			window.revapi56 = window.revapi56===undefined || window.revapi56===null || window.revapi56.length===0  ? document.getElementById("rev_slider_56_1") : window.revapi56;
			if(window.revapi56 === null || window.revapi56 === undefined || window.revapi56.length==0) { window.revapi56initTry = window.revapi56initTry ===undefined ? 0 : window.revapi56initTry+1; if (window.revapi56initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider561"].init()}); return;}
			window.revapi56 = jQuery(window.revapi56);
			if(window.revapi56.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_56_1"); return;}
			revapi56.revolutionInit({
					revapi:"revapi56",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider365"] = {init:function() {
			window.revapi36 = window.revapi36===undefined || window.revapi36===null || window.revapi36.length===0  ? document.getElementById("rev_slider_36_5") : window.revapi36;
			if(window.revapi36 === null || window.revapi36 === undefined || window.revapi36.length==0) { window.revapi36initTry = window.revapi36initTry ===undefined ? 0 : window.revapi36initTry+1; if (window.revapi36initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider365"].init()}); return;}
			window.revapi36 = jQuery(window.revapi36);
			if(window.revapi36.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_36_5"); return;}
			revapi36.revolutionInit({
					revapi:"revapi36",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(0,0,0,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider426"] = {init:function() {
			window.revapi42 = window.revapi42===undefined || window.revapi42===null || window.revapi42.length===0  ? document.getElementById("rev_slider_42_6") : window.revapi42;
			if(window.revapi42 === null || window.revapi42 === undefined || window.revapi42.length==0) { window.revapi42initTry = window.revapi42initTry ===undefined ? 0 : window.revapi42initTry+1; if (window.revapi42initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider426"].init()}); return;}
			window.revapi42 = jQuery(window.revapi42);
			if(window.revapi42.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_42_6"); return;}
			revapi42.revolutionInit({
					revapi:"revapi42",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider527"] = {init:function() {
			window.revapi52 = window.revapi52===undefined || window.revapi52===null || window.revapi52.length===0  ? document.getElementById("rev_slider_52_7") : window.revapi52;
			if(window.revapi52 === null || window.revapi52 === undefined || window.revapi52.length==0) { window.revapi52initTry = window.revapi52initTry ===undefined ? 0 : window.revapi52initTry+1; if (window.revapi52initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider527"].init()}); return;}
			window.revapi52 = jQuery(window.revapi52);
			if(window.revapi52.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_52_7"); return;}
			revapi52.revolutionInit({
					revapi:"revapi52",
					DPR:"dpr",
					duration:6000,
					visibilityLevels:"1240,1024,778,480",
					gridwidth:"1240,1024,778,375",
					gridheight:"600,600,600,500",
					lazyType:"smart",
					spinner:"spinner3",
					perspective:600,
					perspectiveType:"local",
					editorheight:"600,600,600,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar: {
						color:"rgba(38,38,38,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						mouseScrollNavigation:false,
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							swipe_min_touches:50
						},
						arrows: {
							enable:true,
							style:"hephaistos",
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-inner\"></span>",
							style:"uranus",
							hide_onleave:true,
							v_offset:30,
							space:10
						}
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						panZoomDisableOnMobile:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_december-l1-11" ).after( "<div id='revslider_show_december-l1-11'></div>" );
                            jQuery( "#revslider_drag_december-l1-11" ).hide();
                            jQuery("#revslider_foot_december-l1-11").appendTo("#revslider_show_december-l1-11");
                            jQuery("#revslider_show_december-l1-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>