{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div
  class="page-width text-{{ section.settings.align_text }}"
  data-section-id="{{ section.id }}"
  data-section-type="testimonials" style="padding-bottom: 50px">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="testimonials-wrapper">
      <div class="testimonials-slider" id="Testimonials-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div
            class="testimonials-slide--{{ block.id }}"
            data-aos="row-of-{{ section.blocks.size }}"
            {{ block.shopify_attributes }}>
            <blockquote class="testimonials-slider__text">
              <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"/></svg></span>
              {% if block.settings.testimonial != blank %}
                <div class="rte-setting text-spacing">{{ block.settings.testimonial }}</div>
              {% endif %}            
            </blockquote>            
          </div>
        {% endfor %}
      </div>
      <div class="slider-nav-thumbnails-wrapper">   
        <div class="slider-nav-thumbnails">
          {% for block in section.blocks %}
            {% if block.settings.image != blank %}
            <div
                 class="image-wrap text-spacing testimonail-image{% if section.settings.round_images %} testimonail-image--round{% endif %}">
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080]"
                   data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ block.settings.image.alt }}">
              <noscript>
                <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
              </noscript>
            </div>
            {% endif %}
          {% endfor%}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% if section.settings.divider %}</div>{% endif %}


<style>
  #shopify-section-{{section.id}} .image-wrap img:not([role="presentation"]){
    opacity:1;
  }
  #shopify-section-{{section.id}} .testimonail-image{
    background-color:transparent;

  }
  #shopify-section-{{section.id}} .slider-nav-thumbnails-wrapper{
    width:50%;
    margin:0 auto;
  }
  @media only screen and (max-width: 786px) {
    #shopify-section-{{section.id}} .slider-nav-thumbnails-wrapper{
      width:90%;
    }
  }
  #shopify-section-{{section.id}} .slider-nav-thumbnails-wrapper .image-wrap{
    margin:0 5%;   
  }

  #shopify-section-{{section.id}} .slider-nav-thumbnails-wrapper .slick-track{
    margin-top:30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  #shopify-section-{{section.id}} .slider-nav-thumbnails .slick-slide   img {
    opacity: 0.3;
  }

   #shopify-section-{{section.id}} .slider-nav-thumbnails .slick-slide.slick-current img{
    opacity: 1;
  } 
  
  #shopify-section-{{section.id}} .slick-arrow{
    color:#000;
  }
  #shopify-section-{{section.id}} .slick-arrow.slick-prev{
    left:-25px;
  }
  #shopify-section-{{section.id}} .slick-arrow.slick-next{
    right:-25px;
  }
</style>