{%- assign fixed_aspect_ratio = false -%}
{%- assign image_size = 'natural' -%}

<div id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="blocks">
  <div class="page-width page-content">
    <div class="blog-template__container">
      <h2 class="span-head__style HeadlineSpan text-left">
        {{section.settings.title}}
      </h2>
      <div class="grid">
        {% if section.settings.enable_filter %}
        <div class="grid__item medium-up--one-fifth"> 
          {% assign filter_categories = section.settings.filter_categories | split: ',' %}
          <ul class="removes no-bullets tag-list tag-list--active-tags">
          </ul>

          {% for category in filter_categories %}            
            {% assign all = '' %}
            {% for block in section.blocks %}
          	  {%- assign hide = false -%}
              {% unless block.settings.customer_tags == blank %}
                {% assign tags = block.settings.customer_tags | split: ',' %}
                {% assign hide = true %}
                {% for tag in tags %}
                  {% if customer.tags contains tag %}
                    {% assign hide = false %}
                  {% endif %}
                {% endfor %}
              {% endunless %}
              {% if hide %}
                {% continue %}
              {% endif %}
              {% unless block.settings.tags == blank %}
                {% assign tags = block.settings.tags | split: ',' %}
                {% for tag in tags %}
                  {% assign startsWith = category | append: '_' %}
                  {% assign checkArray = tag | split:startsWith %}
                  {% if checkArray[0] == blank %}
                    {% if all == '' %}
                      {% assign all = all | append: checkArray[1] %}
                    {% else %}
                      {% assign all = all | append: ',' | append: checkArray[1] %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endunless %}
            {% endfor %}
            {% unless all == '' %}
          	  {% assign all = all | split: ',' | uniq | sort %}
              <div class="collection-sidebar__group">
                <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header" aria-controls="CollectionSidebar-{{category|handle}}" aria-expanded="false">
                  {{category}}
                  {% include 'collapsible-icons' %}
                </button>
                <div id="CollectionSidebar-{{category|handle}}" class="collapsible-content collapsible-content--sidebar" style="height: 0px;">
                  <div class="collapsible-content__inner">
                    <ul class="no-bullets tag-list-filters tag-list tag-list--checkboxes">
                      {% for key in all %}
                        {% assign tag = category | append: '_' | append: key %}
                        <li class="tag" data-tag="{{tag}}">
                          <a href="#">
                            {{key}}
                            {% assign count = 0 %}
                            {% for block in section.blocks %}
                              {% assign search = category | append: '_' | append: key %}
                              {% if block.settings.tags contains search %}
                            	{% assign count = count | plus: 1 %}
                              {% endif %}
                            {% endfor %}
                            ({{count}})
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
          	  </div>
          	{% endunless %}
          {% endfor %}
          	
        </div>
        {% endif %}
        <div class="grid__item {% if section.settings.enable_filter %}medium-up--four-fifths{% endif %}">
          <div class="grid grid--uniform-2">
            {% for blocks in section.blocks %}
            {%- assign hide = false -%}
            {% unless blocks.settings.customer_tags == blank %}
              {% assign tags = blocks.settings.customer_tags | split: ',' %}
              {% assign hide = true %}
              {% for tag in tags %}
            	{% if customer.tags contains tag %}
            	  {% assign hide = false %}
            	{% endif %}
              {% endfor %}
            {% endunless %}
            {% if hide %}
              {% continue %}
            {% endif %}
            <div class="grid__item medium-up--one-third section-product" data-tags='{{blocks.settings.tags | replace: "'", '' | replace: '"', '' | split: ',' | json}}' data-aos="row-of-3">
              <div class="grid">
                <div class="grid__item small--one-third">       
                  {% if blocks.settings.image %}
                    {% if fixed_aspect_ratio %}
                    <div class="image-wrap">
                      <div
                           class="grid__image-ratio grid__image-ratio--cover grid__image-ratio--{{ image_size }} lazyload"
                           data-bgset="{% include 'bgset', image: blocks.settings.image %}"
                           data-sizes="auto">
                      </div>
                      <noscript>
                        <img class="lazyloaded" src="{{ blocks.settings.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
                      </noscript>
                    </div>
                    {% else %}
                    <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: blocks.settings.image.aspect_ratio }}%;">
                      {%- assign img_url = blocks.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img class="lazyload"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 900, 1080]"
                           data-aspectratio="{{ blocks.settings.image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ blocks.settings.image.alt | escape }}">
                      <noscript>
                        <img class="lazyloaded" src="{{ blocks.settings.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
                      </noscript>
                    </div>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="grid__item small--two-thirds">
                  <div class="article__grid-meta {% if template == 'index' %}center{% endif %}">

                    {% unless section.settings.hide_title %}
                    <a href="{{ blocks.settings.link }}" class="article__title" >{{ blocks.settings.title }}</a>
                    {% endunless %}
                    {% assign content = blocks.settings.content %}
                    {% unless content == blank %}
                    <div style="margin-top: 10px">
                      {{content}}
                    </div>
                    {% endunless %}

                    <div>
                      {% unless blocks.settings.link1_text == blank %}
                      {% assign target = "" %}
                      {% if blocks.settings.link1 contains 'http' %}
                      {% assign target = 'target="_blank"' %}
                      {% endif %}
                      <a {{target}} href="{{ blocks.settings.link1 }}" class="btn btn-secondary">{{ blocks.settings.link1_text }}</a>
                      {% endunless %}
                      {% unless blocks.settings.link2_text == blank %}
                      {% assign target = "" %}
                      {% if blocks.settings.link2 contains 'http' %}
                      {% assign target = 'target="_blank"' %}
                      {% endif %}
                      <a {{target}} href="{{ blocks.settings.link2 }}" class="btn btn-secondary">{{ blocks.settings.link2_text }}</a>
                      {% endunless %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>      
    </div>
  </div>
</div>