{% assign display_map = false %}
{%- if section.settings.api_key != blank and section.settings.map_address -%}
  {% assign display_map = true %}
{%- endif -%}

{%- if section.settings.image -%}
  {%- assign img_object = section.settings.image -%}
{%- else -%}
  {%- assign img_object = 'blank.svg' | asset_url -%}
{%- endif -%}

<div class="map-section grid--full{% if section.settings.image_left == true %} grid--rev{% endif %} homepage-double equalOverflowHeight {{ section.settings.height }}{% if display_map %} map-section--display-map{% endif %}"
     data-section-id="{{ section.id }}"
     data-section-type="index-map"
     data-style="{{ section.settings.style }}"
     data-zoom="{{ section.settings.zoom }}"
     data-api-key="{{ section.settings.api_key }}"
     {% if section.settings.margin %}
     style="margin: {{ section.settings.margin }}px 0;"
     {% endif %}
     >

  <div class="grid__item large--one-half medium--one-half double__block {{ section.settings.homepage_bg_color }} preventOverflow" {{ block.shopify_attributes }}>
    <div class="content--centered">
      <div class="{{ block.settings.text_align }} preventOverflowContent">
        {% if section.settings.heading != blank %}
          <h4 class="home__subtitle">{{ section.settings.heading | escape }}</h4>
        {% endif %}
        {% if section.settings.address != blank %}
          <div class="rte rte--homepage">
            <span>{{ section.settings.address }}</span>
          </div>
        {% endif %}
        {% if section.settings.button != blank and section.settings.map_address != blank %}
          <p>
            <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}" target="_blank" class="{{ section.settings.button_style }}">
            {{ section.settings.button | escape }}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="map-section__content map-section__background-wrapper grid__item large--one-half medium--one-half double__block homepage-image {{ block.settings.color }} preventOverflow">
    <div class="map-section__image">
      <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
      <div class="background-size-cover lazyload" data-bgset="{% include 'bgset', image: img_object %}" role="img" aria-label="{{ img_object.alt }}"></div>
    </div>
    <noscript>
      <div class="background-size-cover" style="background-image: url('{{ img_object | img_url: '540x' }}');"></div>
    </noscript>
    {% if display_map %}
      <div class="map-section__container {{ section.settings.height }}"
           id="Map-{{ section.id }}"
           data-address-setting="{{ section.settings.map_address | escape }}">
      </div>
    {% endif %}
  </div>

</div>