<div class="homepage-page {{ section.settings.homepage_page_color }}">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--five-sixths push--large--one-twelfth">
        {% if section.settings.title != '' %}
          <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
        {% endif %}
        {% if section.settings.home_page_richtext != blank %}
          <div class="homepage-page__content rte">
            {{ section.settings.home_page_richtext }}
          </div>
        {% endif %}
        {% unless section.settings.link_text == '' %}
        <div class="text-center">
          <a class="{{ section.settings.button_style }}" style="color:{{ section.settings.button_text_color }}; background-color:{{ section.settings.button_bg_color }}" href="{{ section.settings.link }}">{{ section.settings.link_text | escape }}</a>
        </div>
        {% endunless %}
      </div>
    </div>
  </div>
</div>