<div class="columns-slider">
  {% for block in section.blocks %}
  <div class="index__column {{ section.settings.align_text }}" {{ block.shopify_attributes }}>
    {% if block.settings.enable_image %}
      {% if block.settings.image != blank %}
      {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <div class="lazy-image column__image" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%; background-image:  url('{{ block.settings.image | img_url: '1x1' }}');">
          <img class="lazyload fade-in"
               alt="{{  block.settings.image.alt | default: block.settings.title }}"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
               data-aspectratio="{{  block.settings.image.aspect_ratio }}"
               data-parent-fit="cover"
               data-sizes="auto"/>
        </div>
        <noscript>
          <img src="{{ block.settings.image | img_url: '540x' }}" alt="{{ block.settings.image.alt | default: block.settings.title }}"/>
        </noscript>
      {% else %}
        <p>
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </p>
      {% endif %}
    {% endif %}
    {% if block.settings.title != blank %}
      <h5 class="h3 strong">{{ block.settings.title }}</h5>
    {% endif %}
    {% if block.settings.text != blank %}
      <div class="rte">{{ block.settings.text }}</div>
    {% endif %}
    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
      <a href="{{ block.settings.button_link }}" class="btn btn--clear btn--square uppercase{% if section.settings.btn_full == true %} btn--full{% endif %}">
        {{ block.settings.button_label | escape }}
      </a>
    {% endif %}
  </div>
  {% endfor %}
</div>
