<div class="homepage-page {{ section.settings.homepage_page_color }}{% unless section.settings.home_page_richtext != blank %} small-margin{% endunless %}"{% if section.settings.custom_bg_color == true %} style="background-color: {{ section.settings.bg_color }};"{% endif %}>
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--five-sixths push--large--one-twelfth">
        {% if section.settings.title != '' %}
          <h4 class="home__subtitle">
            {% if section.settings.image %}
              {{ section.settings.image | img_url: '30x' | img_tag: '','flourish-left' }}
            {% endif %}
            {{ section.settings.title | escape }}
            {% if section.settings.image %}
              {{ section.settings.image | img_url: '30x' | img_tag: '','flourish-right' }}
            {% endif %}
          </h4>
        {% endif %}
        {% if section.settings.home_page_richtext != blank %}
          <div class="homepage-page__content rte{% if section.settings.description_font_size %} {{ section.settings.description_font_size }}{% endif %}">
            {{ section.settings.home_page_richtext }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>