<div class="homepage-icons {{ section.settings.bg_color }}">
  <div class="wrapper {{ section.settings.icon_alignment }} {{ section.settings.icon_size }}">
    {% if section.settings.title != blank %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endif %}

    <div class="grid {% unless section.blocks.size == 5 %}grid-uniform{% endunless %}">
      {%- assign grid_item_width = 'large--one-third medium--one-third' -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'large--one-half medium--one-half push--large--one-quarter' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'large--one-half medium--one-half' -%}
        {% when 4 %}
          {%- assign grid_item_width = 'large--one-quarter medium--one-half' -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'large--one-half medium--one-half' -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        {% if section.blocks.size == 5 and forloop.index == 3 %}<div class="clearfix"></div>{% endif %}
        <div class="grid__item {{ column_width }} {{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="icon__column icon__column--{{ block.id }} {{ block.settings.icon_alignment }} {{ block.settings.icon_size }}">
            <style>.icon__column--{{ block.id }} .icon__column__icon svg g { stroke: {{ block.settings.icon_color }}; }</style>
            <div class="icon__column__icon" data-aos-delay="500" data-aos="svg-dash">{% include block.settings.icon_name %}</div>
            <div class="icon__column__text">
              {% if block.settings.title != blank %}
                <h5 class="h5--accent strong home--uppercase">{{ block.settings.title | escape }}</h5>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="rte icon__column__paragraph" data-aos="fade-up" data-aos-duration="500">{{ block.settings.text }}</div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      <div class="text-center">{{ 'home_page.onboarding.no_content' | t }}</div>
    {% endif %}
  </div>
</div>