{% if linklists[section.settings.sidebar_linklist].links.size > 0 %}
   <div class="original-menu">
      {% for link in linklists[section.settings.sidebar_linklist].links %}
         {% assign child1 = link.title | handle %}
         {% if linklists[child1] and linklists[child1].links.size > 0 %}
            <li class="has-sub level-1 original-li">
              <a class="newfont top-link" href="{{link.url}}">{{link.title | escape}}</a>
               <ul class="animated">
               {% for child1_link in linklists[child1].links %}
                  {% assign child2 = child1_link.title | handle %}
                  {% if linklists[child2] and linklists[child2].links.size > 0 %}
                     <li class="has-sub level-2">
                        <a class="top-link" href="{{child1_link.url}}">{{child1_link.title | escape}}</a>
                        <ul>
                        {% for child2 in linklists[child2].links %}
                           <li>
                              {{ child2.title | link_to: child2.url }}
                           </li>
                        {% endfor %}
                        </ul>
                     </li>
                  {% else %}
                     <li>
                        <a class="" href="{{child1_link.url}}">{{child1_link.title | escape}}</a>
                     </li>
                  {% endif %}
               {% endfor %}        
               </ul>
            </li>
         {% else %}
            <li>
               <a class="newfont" href="{{link.url}}">{{link.title | escape}}</a>
            </li>
         {% endif %}
      {% endfor %}
   </div>
{% endif %}
<div class='side-menu-mobile hide show-mobile'></div>








