<!--Dashboard Script-->

<script>
  var NoOfOrdersChartData = [];
  var SalesChartData = [];
  var CommissionChartData = [];  
  var FeatureWiseOrder = [];
  var FeatureWiseCommission = [];
  
  var setGraphData = function(data){
  
    $("#dash_card").hide();
    $("#orderTable").hide();
    $("#New_dash_card").show();
    $("#DashboardGraphs").show();
    NoOfOrdersChartData = data.NumberOfOrders;
    SalesChartData = data.TotalSaleOfMonths;
    CommissionChartData = data.TotalCommissionPerMonths;
    
//    console.log(NoOfOrdersChartData);
//    console.log(SalesChartData);
//    console.log(CommissionChartData); 
    
    if(FeatureWiseOrder.length == 0){
      FeatureWiseOrder.push(
        {"Feature" : "Discount Coupon", "Value" : data.salesrepCouponOrders[0].CouponCodeOrderCount != undefined && data.salesrepCouponOrders[0].CouponCodeOrderCount != null && data.salesrepCouponOrders[0].CouponCodeOrderCount != '' ? data.salesrepCouponOrders[0].CouponCodeOrderCount : 0},
        {"Feature" : "Return Customer", "Value" : data.TaggedCustomerOrdersDetails[0].TagCustomerOrderCount != undefined && data.TaggedCustomerOrdersDetails[0].TagCustomerOrderCount != null && data.TaggedCustomerOrdersDetails[0].TagCustomerOrderCount != ''? data.TaggedCustomerOrdersDetails[0].TagCustomerOrderCount : 0},
        {"Feature" : "Affiliate Order", "Value" : data.salesrepAffiliateOrders[0].AffiliateOrderCount != undefined && data.salesrepAffiliateOrders[0].AffiliateOrderCount != null && data.salesrepAffiliateOrders[0].AffiliateOrderCount != ''? data.salesrepAffiliateOrders[0].AffiliateOrderCount :0 },
        {"Feature" : "Client Invoice", "Value" : data.salesrepCustomerOrders[0].CustomerOrderCount != undefined && data.salesrepCustomerOrders[0].CustomerOrderCount != null && data.salesrepCustomerOrders[0].CustomerOrderCount != '' ? data.salesrepCustomerOrders[0].CustomerOrderCount : 0},
      )
//      console.log(FeatureWiseOrder);
    }
    if(FeatureWiseCommission.length == 0){
      FeatureWiseCommission.push(
        {"Feature" : "Discount Coupon", "Value" : data.salesrepCouponOrders[0].CouponCodeOrderCommission != undefined && data.salesrepCouponOrders[0].CouponCodeOrderCommission != null && data.salesrepCouponOrders[0].CouponCodeOrderCommission != '' ? data.salesrepCouponOrders[0].CouponCodeOrderCommission : 0 },
        {"Feature" : "Return Customer", "Value" : data.TaggedCustomerOrdersDetails[0].TagCustomerCommission != undefined && data.TaggedCustomerOrdersDetails[0].TagCustomerCommission != null && data.TaggedCustomerOrdersDetails[0].TagCustomerCommission != '' ? data.TaggedCustomerOrdersDetails[0].TagCustomerCommission : 0},
        {"Feature" : "Affiliate Order", "Value" : data.salesrepAffiliateOrders[0].AffiliateOrderCommission != undefined &&  data.salesrepAffiliateOrders[0].AffiliateOrderCommission != null && data.salesrepAffiliateOrders[0].AffiliateOrderCommission != '' ? data.salesrepAffiliateOrders[0].AffiliateOrderCommission : 0},
        {"Feature" : "Client Invoice", "Value" :  data.salesrepCustomerOrders[0].CustomerOrderCommission != undefined && data.salesrepCustomerOrders[0].CustomerOrderCommission != null && data.salesrepCustomerOrders[0].CustomerOrderCommission != '' ? data.salesrepCustomerOrders[0].CustomerOrderCommission : 0},      
      )
//    console.log(FeatureWiseCommission);
    }
     document.getElementById('CurrentMonthTotalOrder').innerHTML = NoOfOrdersChartData[0].countOfOrder != undefined && NoOfOrdersChartData[0].countOfOrder != null && NoOfOrdersChartData[0].countOfOrder != '' ? NoOfOrdersChartData[0].countOfOrder : 0;
     document.getElementById('CurrentMonthCommission').innerHTML = CommissionChartData[0].TotalCommission != undefined && CommissionChartData[0].TotalCommission != null && CommissionChartData[i].TotalCommission != '' ? CommissionChartData[i].TotalCommission + ' $'  : 0 + ' $';
     document.getElementById('CurrentMonthSales').innerHTML = SalesChartData[0].TotalSale != undefined && SalesChartData[0].TotalSale != null && SalesChartData[i].TotalSale != '' ? SalesChartData[i].TotalSale + ' $' : 0 + ' $';
     google.charts.setOnLoadCallback(showNoOfOrdersChartData);
     google.charts.setOnLoadCallback(showSalesChartData);
     google.charts.setOnLoadCallback(showCommissionChartData);
     google.charts.setOnLoadCallback(showFeatureWiseOrders);
     google.charts.setOnLoadCallback(showFeatureWiseCommission);
  }
  
  
  function showNoOfOrdersChartData() {
      var data1 = new google.visualization.DataTable();
      data1.addColumn('string', 'Month');
      data1.addColumn('number', 'Orders');
	  data1.addColumn({ type : 'number', role: 'annotation' });
		for(var i = NoOfOrdersChartData.length - 1; i >= 0; i--)
        {
        	data1.addRows([[NoOfOrdersChartData[i].month,NoOfOrdersChartData[i].countOfOrder,NoOfOrdersChartData[i].countOfOrder]]);
        }
    	
        var options = {
           title:'ORDERS',
           titleTextStyle: {
              fontSize: 15,
           },
           legend: 'none',
           hAxis: {
           	title: 'Month',
            titleTextStyle: {
                 bold: true,
                italic: false
            },
        	logScale: true,
        	},
           vAxis: {
              title: 'Orders',
              titleTextStyle: {
                 bold: true,
                italic: false
               },
             logScale: false,
           },  
           backgroundColor: '#E0E0E0',
           colors: ['#000000'],
        };

	var chart = new google.visualization.LineChart(document.getElementById('order_chart_div'));
    chart.draw(data1, options);
  }
   function showSalesChartData() {
  	var data3 = new google.visualization.DataTable();
    data3.addColumn('string', 'Month');
    data3.addColumn('number', 'Sales');
  
	for(var i = SalesChartData.length - 1; i >= 0; i--)
    {
    	data3.addRows([[SalesChartData[i].month,SalesChartData[i].TotalSale]]);
    } 
    
    var options = {
      
      title:'SALES',
      titleTextStyle: {
        	fontSize: 15,
        },
      legend: { position: 'bottom' },
      backgroundColor: '#E0E0E0',
      colors :["#6666FF","#CCE5FF","#3399FF","#99CCFF","#66B2FF","#7CB9E8"]
    };
    
    var chart = new google.visualization.PieChart(document.getElementById('sales_chart_div'));
    chart.draw(data3, options);
  }

  function showCommissionChartData()
  {
    var data2 = new google.visualization.DataTable();

     //   Declare columns
    data2.addColumn('string', 'Month');
    data2.addColumn('number', 'Commissions');
    data2.addColumn({ type : 'string', role: 'style' });
    data2.addColumn({ type : 'number', role: 'annotation' });
    for(var i = CommissionChartData.length - 1; i >= 0; i--)
    {
    	data2.addRows([[CommissionChartData[i].month, CommissionChartData[i].TotalCommission, 'opacity: 0.7',CommissionChartData[i].TotalCommission]]);
    }
	
    var options = {
    	title:'COMMISSION',
        titleTextStyle: {
        	fontSize: 15,
        },
      	trendlines: { 0: {} },
        legend: 'none',
        
        hAxis:{title: 'Month',
        	titleTextStyle: {
                bold: true,
                italic: false
        	}
         },
        vAxis: { 
        	title: 'Commission',
            format:moneyformate,
            titleTextStyle: {
                bold: true,
                italic: false
        	}
        },
        backgroundColor: '#E0E0E0',
        colors: ['#FF6619'],
       };
       var chart = new google.visualization.ColumnChart(document.getElementById('commission_chart_div'));
       chart.draw(data2, options);
  }
  
  var columnColors =['opacity: 0.45','opacity: 0.60','opacity: 0.75','opacity: 0.90'];
  function showFeatureWiseOrders(){
	var data4 = new google.visualization.DataTable();
	// Declare columns
    data4.addColumn('string', 'Feature');
    data4.addColumn('number', 'Orders');
    data4.addColumn({ type : 'number', role: 'annotation' });
    data4.addColumn({ type : 'string', role: 'style' });
    for(var i = FeatureWiseOrder.length - 1; i >= 0; i--)
    {
    	data4.addRows([[FeatureWiseOrder[i].Feature,FeatureWiseOrder[i].Value,FeatureWiseOrder[i].Value,columnColors[i]]]);
    }
    var options = {
    	title:'ORDERS',
        titleTextStyle: {
        	fontSize: 15,
        },
        legend: 'none',
      
        hAxis:{title: 'Feature',
        	titleTextStyle: {
                bold: true,
                italic: false
        	}
         },
        vAxis: { 
        	title: 'Orders',
            format:moneyformate,
            titleTextStyle: {
                bold: true,
                italic: false
        	}
        },
      	 backgroundColor: '#E0E0E0',
      	 colors: ['#FF6619'],
       };
       var chart = new google.visualization.ColumnChart(document.getElementById('FeatureWise_order_chart_div'));
       chart.draw(data4, options);    
  }
  var columnColors2 =["#3399FF","#99CCFF","#66B2FF","#7CB9E8"];
  function showFeatureWiseCommission(){
	var data5 = new google.visualization.DataTable();
	// Declare columns
    data5.addColumn('string', 'Feature');
    data5.addColumn('number', 'Value');
    data5.addColumn({ type : 'number', role: 'annotation' });
    data5.addColumn({ type : 'string', role: 'style' });
    for(var i = FeatureWiseCommission.length - 1; i >= 0; i--)
    {
    	data5.addRows([[FeatureWiseCommission[i].Feature,FeatureWiseCommission[i].Value,FeatureWiseCommission[i].Value,columnColors2[i]]]);
    }
    var options = {
    	title:'COMMISSION',
        titleTextStyle: {
        	fontSize: 15,
        },
        legend: 'none',
        	hAxis:{title: 'Feature',
           	titleTextStyle: {
                bold: true,
                italic: false
            	}
            },
           	vAxis: { 
            	title: 'Commission',
                format:moneyformate,
                titleTextStyle: {
                bold: true,
                italic: false
                }
            },
      	  backgroundColor: '#E0E0E0',
       };
       var chart = new google.visualization.ColumnChart(document.getElementById('FeatureWise_commission_chart_div'));
       chart.draw(data5, options);    
  }

  
</script>

<!--Your Clients Code-->
<script>
  ClientOrders=[];
var onSuccessClientOrdersData = function(response,Clientid)
{
   console.log(response.clientallorders);
  for(var data in response)
  {
    if(response[data].data.clientallorders != 0 && response[data].clientId==Clientid)
       { 
        
         var rows = '<tr>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Order Number </th>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Order Date</th>'+
      '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Subtotal</th>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Status</th>'+
        '<th colspan="3" data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Product Details</th></tr>';
     var items='';
         var quantity='';
         var price='';
         for(var order in response[data].data.clientallorders)
           { 
          items='';
              quantity='';
              price='';
             items+='<li><b>Product Title</b></li>';
             quantity+='<b><li>Quantity</b></li>';
             price+='<b><li>Price</b></li>';
             
             for(var item in response[data].data.clientallorders[order].lineitems)
             {
               if(response[data].data.clientallorders[order].lineitems[item].title!= "")
                {
                  items+='<li>'+response[data].data.clientallorders[order].lineitems[item].title+'</li>'
                  quantity+='<li>'+response[data].data.clientallorders[order].lineitems[item].quantity+'</li>'
                  price+='<li>'+response[data].data.clientallorders[order].lineitems[item].price+'</li>'
                }
             }
              var orderDate = new Date(parseInt(response[data].data.clientallorders[order].created_at.replace('/Date(', '')));
                rows += '<tr id="row' + i +'" class = "class="Polaris-DataTable__TableRow"">'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(response[data].data.clientallorders[order].order_number)+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(orderDate.toLocaleDateString())+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(response[data].data.clientallorders[order].subtotal_price.toFixed(2))+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(response[data].data.clientallorders[order].financial_status)+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><ul>'+items+'</ul></td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><ul>'+quantity+'</ul></td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><ul>'+price+'</ul></td></tr>';
             
           }        
              $("#norepclientorder").hide();
              $("#Clientdetails").hide();
              $("#ViewRepClientOrders").show();
              $("#ViewRepClientOrdersDetails").show();
              document.getElementById( 'ViewRepClientOrdersDetails' ).innerHTML = rows;
           break;
       }
    else
       {     
          $("#Clientdetails").hide();
          $("#ViewRepClientOrders").show();
          $("#norepclientorder").show();
      $("#ViewRepClientOrdersDetails").hide();       
       }
    
  }
    
  
}

var ClientOrdersDetails = function(Clientid,ClientName)
{  
  if(ClientOrders.length==0)
  {
    var urlVal=window.location.protocol +"//"+ window.location.hostname +"/apps/SalesRep?customerId="+Clientid+"&customerName="+ClientName+"&data=12";
    $.get(
          urlVal,
          function (data, status) {  
            ClientOrders.push({
                "clientId" :Clientid , 
                "data" :  data,
            });
          onSuccessClientOrdersData(ClientOrders,Clientid)         
     });
  }
  else if(ClientOrders.length>0)
  {
    if(ClientOrders.find(x => x.clientId === Clientid))
    {
          onSuccessClientOrdersData(ClientOrders,Clientid)   
    }
    else
    {
      var urlVal=window.location.protocol +"//"+ window.location.hostname +"/apps/SalesRep?customerId="+Clientid+"&customerName="+ClientName+"&data=12";
          $.get(
            urlVal,
            function (data, status) {  
            ClientOrders.push({
                "clientId" :Clientid , 
                "data" :  data,
            });
          onSuccessClientOrdersData(ClientOrders,Clientid)         
        });
      
    }
  }                              
}

var BacktoYourClientPage = function(){
                $("#Clientdetails").show();
                  $("#ViewRepClientOrders").hide();
       }
var onSuccessOrderProducts=function(response,textStatus)
{
  var rows = "";
    for(var item in response.ProductDetails)
    {  
        if(Number.isInteger(parseInt(item)))
        {
        $('#OrdersSubtotal').html(response.singleOrderDetailsFromShopify.subtotal_price.toFixed(2));
        $('#OrdersTax').html(response.singleOrderDetailsFromShopify.total_tax);
        $('#OrderTotal').html(response.singleOrderDetailsFromShopify.total_price.toFixed(2));
        $('#OrdersShipping').html(response.singleOrderDetailsFromShopify.total_shipping_price_set.shop_money.amount);
      var shipDate = response.ProductDetails[item].ship_date == undefined || response.ProductDetails[item].ship_date == null ? "" : response.ProductDetails[item].ship_date;
      var trackingNo = response.ProductDetails[item].trackingNumber == undefined || response.ProductDetails[item].trackingNumber == null ? "" : response.ProductDetails[item].trackingNumber;
      var discountedPrice = response.ProductDetails[item].discountedPrice == undefined || response.ProductDetails[item].discountedPrice == null ? "0" : response.ProductDetails[item].discountedPrice;
      var refundedQuantity = response.ProductDetails[item].refundedQuantity == undefined || response.ProductDetails[item].refundedQuantity == null ? "0" : response.ProductDetails[item].refundedQuantity;
      var totalPrice = response.ProductDetails[item].discountedPrice == undefined || response.ProductDetails[item].discountedPrice == null || response.ProductDetails[item].discountedPrice == "0" ? response.ProductDetails[item].quantity * response.ProductDetails[item].ItemPrice : response.ProductDetails[item].quantity * response.ProductDetails[item].discountedPrice;
         rows += '<tr class = "class="Polaris-DataTable__TableRow"">'+
              '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><img  style="height: 75px;" src='+response.ProductDetails[item].Image+' height="100"></td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+response.ProductDetails[item].Title+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+response.ProductDetails[item].quantity+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+refundedQuantity+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+response.ProductDetails[item].ItemPrice+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+discountedPrice+'</td>'+
              '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+trackingNo+'</td>'+
              '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+shipDate+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+totalPrice.toFixed(2)+'</td></tr>';

        }
    }
    return rows; 
}

var showModelData = function(Id, flag = "orderId")
{
  $('#modalDialog').show();
  $('#PopuploadGif').show();
  document.getElementById( 'ViewProductModel' ).innerHTML = "";
  $('#OrdersSubtotal').html("");
  $('#OrdersTax').html("");
  $('#OrdersShipping').html("");
  $('#OrderTotal').html("");
  $('#orderNote').html("");
    if(flag=="clientId")
    {
         $("#popupTitle").html("CUSTOMER DETAILS");
     $('#orderAmountDetailsOnPopup').hide();
        urlVal=window.location.protocol +"//"+ window.location.hostname +"/apps/SalesRep?customerId={{customer.id}}&customerName={{customer.first_name}}&clientId="+Id+"&data=25";
               $.get(
               urlVal,
               function (data, status) {
                      var rows = '<tr  class="Polaris-DataTable__TableRow">'+
                             '<th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="col" aria-disabled="true" align="left" width="100">Name</th>'+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">'+data.SingleClientOrders.ClientName+'</td>'+
                             '</tr>'+
                          '<tr>'+
                             '<th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="col" aria-disabled="true" align="left">Email</th>'+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+data.SingleClientOrders.CustomerMailid+'</td>'+
                          '</tr>'+
                          '<tr>'+
                             '<th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="col" aria-disabled="true" align="left">Address</th>'+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(data.SingleClientOrders.address1 == null ? "" : data.SingleClientOrders.address1)+'</td>'+
                          '</tr>'+
                          '<tr>'+
                             "<th class='Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric' scope='col' aria-disabled='true' align='left'>Company Name</th>"+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(data.SingleClientOrders.companyName == null ? "" : data.SingleClientOrders.companyName) +'</td>'+
                          '</tr>'+
                          '<tr>'+
                             '<th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="col" aria-disabled="true" align="left">Customers Notes </th>'+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(data.SingleClientOrders.notes == null ? "" :data.SingleClientOrders.notes)+'</td>'+
                          '</tr>'+
                          '<tr>'+
                             '<th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="col" aria-disabled="true" align="left">Total Spent(Subtotal+Tax)</th>'+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+currencyFormat+data.SingleShopifyCustomers.shopifyTotalSpent +'</td>'+
                          '</tr>'+
                          '<tr>'+
                             '<th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="col" aria-disabled="true" align="left">Number of Orders</th>'+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+data.SingleClientOrders.shopifyOrdersCount +'</td>'+
                          '</tr>'+
                          '<tr>'+
                             '<th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="col" aria-disabled="true" align="left">Tags</th>'+
                             '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+(data.SingleClientOrders.tags == null ? "" :data.SingleClientOrders.tags) +'</td>'+
                          '</tr>';
               $('#ViewProductModel').html(rows);
               $('#PopuploadGif').hide();
           }
         );          
    }
    else if(flag == "draftId")
    {
       $("#popupTitle").html("DRAFT ORDER DETAILS");
      var urlVal = window.location.protocol +"//"+ window.location.hostname +"/apps/SalesRep?customerId={{customer.id}}&customerName={{customer.first_name }}&orderId="+Id+"&data=20";
      $.get(
        urlVal,
        function (response, status) {  
          var rows = '<tr>'+
              '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;"></th>'+
              '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Product Name</th>'+
              '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Size</th>'+
              '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Quantity</th>'+
              '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Price</th>'+
              '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Status</th>'+
              '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Subtotal</th></tr>';
          for(var item in response.ProductDetails)
          { 
            if(Number.isInteger(parseInt(item)))
            {
              var subTotalPrice=response.ProductDetails[item].quantity*response.ProductDetails[item].ItemPrice;
              rows += '<tr class="Polaris-DataTable__TableRow">'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><img src='+response.ProductDetails[item].Image+' height="100"></td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><span>'+response.ProductDetails[item].Title+'</span></td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><span>'+response.ProductDetails[item].size+'</span></td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;text-transform: capitalize;">'+response.ProductDetails[item].quantity+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">$ '+parseFloat(response.ProductDetails[item].ItemPrice).toFixed(2)+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+response.ProductDetails[item].fulfillmentStatus+'</td>'+
                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">$ '+parseFloat(subTotalPrice).toFixed(2)+'</td></tr>';
            }
          }
          $('#ViewProductModel').html(rows);
          $('#PopuploadGif').hide();
          $('#orderAmountDetailsOnPopup').show();
          $('#OrdersSubtotal').html(response.draftOrder.subtotal_price);
          $('#OrdersTax').html(response.draftOrder.total_tax);
          $('#OrdersShipping').html(response.draftOrder.shipping_line.price);
          $('#OrderTotal').html(response.draftOrder.total_price);
          $('#orderNote').html(response.draftOrder.note);
          $('#OrdersSubtotal').html(response.draftOrder.subtotal_price.toFixed(2));
     });
    }
    else
    {
   $("#popupTitle").html("Product Details");
     var rows = '<tr>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Product</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Title</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Quantity</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Refunded Amount</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Item Price</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">discounted Price</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Tracking Number</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Ship Date</th>'+
        '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Total Price</th></tr>';
      
      if(flag == "orderNumber")
      {
        for(var item in ProductsArray)
        {                
          if(Number.isInteger(parseInt(item)) && ProductsArray[item].OrderNumber==Id)
          {
            isPresentInProductArray = true;
            $('#OrdersSubtotal').html(ProductsArray[item].subtotal);
            $('#OrdersTax').html(ProductsArray[item].tax);
            $('#OrdersShipping').html(ProductsArray[item].shipping);
            $('#OrderTotal').html(ProductsArray[item].total);
            $('#orderNote').html(ProductsArray[item].note);
            var discountedPrice = ProductsArray[item].discountedTotalPrice == undefined || ProductsArray[item].discountedTotalPrice == null || ProductsArray[item].discountedTotalPrice == "0.00" ? moneyformate +" 0.00" : moneyformate+" " + ProductsArray[item].discountedTotalPrice;
            var totalPrice = ProductsArray[item].discountedTotalPrice == undefined || ProductsArray[item].discountedTotalPrice == null || ProductsArray[item].discountedTotalPrice == "0.00" ? ProductsArray[item].quantity * ProductsArray[item].price : (ProductsArray[item].quantity * ProductsArray[item].price) - ProductsArray[item].discountedTotalPrice;
			var trackingNumber = ProductsArray[item].TrackingNumber == undefined || ProductsArray[item].TrackingNumber == null || ProductsArray[item].TrackingNumber == 0 ? "" : ProductsArray[item].TrackingNumber;
            rows += '<tr class = "class="Polaris-DataTable__TableRow"">'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+ProductsArray[item].image+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+ProductsArray[item].title+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+ProductsArray[item].quantity+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+ moneyformate +' '+ProductsArray[item].totalRefundedAmount+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+ moneyformate +' '+ ProductsArray[item].price+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+discountedPrice+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+trackingNumber+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+ProductsArray[item].ShipDate+'</td>'+
                    '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+ moneyformate +' '+totalPrice.toFixed(2)+'</td></tr>';
          }
        }
     $('#ViewProductModel').html(rows);
        $('#orderAmountDetailsOnPopup').show();
        $('#PopuploadGif').hide();
        }    
        else
        {
          var urlVal = window.location.protocol +"//"+ window.location.hostname +"/apps/SalesRep?customerId={{customer.id}}&customerName={{customer.first_name }}&orderId="+Id+"&data=19";
          $.get(
                urlVal,
                function (data, status) {  
                rows += onSuccessOrderProducts(data, status);
         $('#ViewProductModel').html(rows);
        $('#orderAmountDetailsOnPopup').show();
        $('#PopuploadGif').hide();
           });
        }
    }
          
    }
    var closeModal = function()
{
  $('#modalDialog').hide(); 
}

    var onSuccessSubmit = function (response,textStatus)
    {
      if(response == false)
      {
        $("#errorsmsg").show();
        $("#successmsg").hide();
      }
      else
      {
        $("#successmsg").show();
        $("#errorsmsg").hide();
      }
    $("#addsalesrep").html("Add SalesRep");
    }
  
  var AddSalesRep = function(){
    var url_string = window.location.href;
    var url = new URL(url_string);
    var ManagerId = url.searchParams.get("manager");

    if (!ManagerId) {
        ManagerId = url.searchParams.get("MANAGER");
    }
    
    if(document.getElementById("sr_salesrep_email").value==""){
        $('#emailerror').show();
      }     
      else if(document.getElementById("sr_salesrep_firstname").value==""){
        $('#fnameerror').show();
      }
      
      else{
        $("#addsalesrep").html("Adding SalesRep...");        
    $("#errorsmsg").hide();
    $("#successmsg").hide();
        
        var email = document.getElementById("sr_salesrep_email").value;
        var fname = document.getElementById("sr_salesrep_firstname").value;
        var lname = document.getElementById("sr_salesrep_lastname").value;
        
        var SalesRepId;
    {% if customer %}
      SalesRepId = {{customer.id}};
    {% else %}
      SalesRepId = "";
    {% endif %}
        
         var TeamManagerName="{{customer.first_name}} {{customer.last_name}}"
      
      var user = {
        "salesrepId" : SalesRepId,
          "email" : email,
            "name" : fname,
            "TeamManagerName": TeamManagerName,
            "Lname": lname,
          "IsTeamManager":true,
      }
        console.log(user);
        var data = JSON.stringify(user);
        var urlVal = window.location.protocol +"//"+ window.location.hostname +"/apps/SalesRep?pageIndex=21&data="+data;
        console.log(urlVal);
        $.post(
          urlVal,
        function (data, status) {                 
             onSuccessSubmit(data, status);                            
          }
      );
      }
  }

  var ShowSharedCartProducts=function(productarray,filter)
    {
        if(filter)
        {
            var orderRow = '<tr>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;"> </th>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Image</th>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Add Quantity</th>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Title</th>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Variant Title</th>'+
            '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" style="height: 54px;">Price</th></tr>';
      
                        for(var product in productarray)
                        {
                            for(var variant=0;productarray[product].variants.length>variant;variant++)
                            {
                            var productprice =productarray[product].variants[variant].price/100;
                                orderRow += '<tr class="Polaris-DataTable__TableRow">'+
                                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+
                                '<img class="sr_productImage plusIcon" src="{{ 'plusIcon.png' | asset_url }}" style="cursor: pointer;" onclick="AddProductToSharedCart(\''+productarray[product].title+'\',\''+productprice+'\',\''+productarray[product].images+'\',\''+productarray[product].type+'\',\''+productarray[product].variants[variant].id+'\',\''+productarray[product].variants[variant].option1+'\',\''+productarray[product].variants[variant].available+'\')"></td>'+                 
                                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><img class="sr_productImage" style="width:60px;" src="'+productarray[product].images+'"></td>'+
                                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><input type="text" style="width:90px;" id="quantity_'+productarray[product].variants[variant].id+'" placeholder="Quantity"></td>'+
                                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+productarray[product].title+'</td>'+
                                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+productarray[product].variants[variant].option1+'</td>'+     
                                '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">'+productprice+  " " +currency+'</td></tr>';                                                  
                                 
                            }
                        }
                                                                                                                                                    
                        document.getElementById('Carttable').innerHTML = orderRow; 
                        $('#SharedCarttable').show();
                        $("#SharedCartSpinner").hide(); 
            }
        else 
        {
            $('#SharedCarttable').hide();     
        }                                        
   } 

    var showAllSharedCart = function(data)
    {
        if(data.select.CartSharing)
              {
               var row = '<tr>'+
                '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric number" scope="col" style="height: 54px;">Cart Name</th>'+
                '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric number" scope="col" style="height: 54px;">Sharable Cart Link</th>' +
                '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric number" scope="col" style="height: 54px;">Copy Cart Link</th>' +
                '<th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric number" scope="col" style="height: 54px;">Delete Cart Link</th>';
              for(var i = 0; i < data.SharedCartDetails.length; i++)
              {
                row += '<tr id="row" class = "class="Polaris-DataTable__TableRow"">'+             
                     '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric commission" style="height: 72px;">'+(data.SharedCartDetails[i].CartName)+'</td>'+
                     '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric commission" style="height: 72px;"><a href="' + (data.SharedCartDetails[i].CartUrl.toLowerCase()) + '"; target="_blank"; id="sharedcartlink' + i + '" style="color:blue;text-transform: lowercase !important;" >' + (data.SharedCartDetails[i].CartUrl.toLowerCase()) + '</a></td>' +
                  '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><div><div class="Polaris-ButtonGroup__Item"><button type="button" id="copysharedcart' + i + '" class="Polaris-Button Polaris-Button--primary" style="font-size:18px;padding-left: 35px;padding-right: 35px;" onclick="CopySharedCartLink(\''+ i + '\')"><span class="Polaris-Button__Content"><span>Copy Cart Link</span></span></button></div></div></td>'+
                     '<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;"><div><div class="Polaris-ButtonGroup__Item"><button type="button" id="deletesharedcart' + i + '" class="Polaris-Button Polaris-Button--primary" style="font-size:18px;padding-left: 35px;padding-right: 35px;" onclick="DeleteSharedCartLink(\'' + data.SharedCartDetails[i].CartUniqueId + '\',\'' + data.SharedCartDetails[i].ShopName + '\',\'' + i + '\')"><span class="Polaris-Button__Content"><span>Delete Cart Link</span></span></button></div></div></td>';
              }
                document.getElementById('existingSharedCartDetails').innerHTML = row;
      }
    }
      
function CopySharedCartLink(idNum) {
  let element = document.getElementById("sharedcartlink"+idNum); //select the element
  let elementText = element.textContent; //get the text content from the element
  navigator.clipboard.writeText(elementText);
  $('#copysharedcart' + idNum).text('Copied!!');
  setTimeout(function () { $('#copysharedcart' + idNum).text('Copy Cart Link');  }, 3000);
}
</script>
<script>
function openTab(evt, tabName) {
  if(tabName == "YourPreviousOrders")
  {
    ViewInvoiceOrders();
  }
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<script>
  var mybutton = document.getElementById("scrollToTop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function scrollToTopFunction() {
  
    document.getElementById('ProductSearchInput').scrollIntoView();
    $(".ToTop").addClass("hide");
}

</script>
