<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
                
{% render 'orbislabs_sitemap_noindex' %}

    <!-- Infinite Options Fast Loading Script By ShopPad -->
    <script src="//d1liekpayvooaz.cloudfront.net/apps/customizery/customizery.js?shop={{shop.permanent_domain}}"></script>
  <link rel="stylesheet" href="https://obscure-escarpment-2240.herokuapp.com/stylesheets/bcpo-front.css">
  <script>var bcpo_product={{ product | json }}; {% if product.metafields.bcpo.bcpo_data %}var bcpo_data={{ product.metafields.bcpo.bcpo_data }};{% endif %} {% if shop.metafields.bcpo.bcpo_settings %}var bcpo_settings={{ shop.metafields.bcpo.bcpo_settings }};{% endif %}var bcpo_cdn = "{{'bcpo_cdn'|asset_url}}";var inventory_quantity = [];{% for v in product.variants %}inventory_quantity.push({{v.inventory_quantity}});{% endfor %}if(bcpo_product) { for (var i = 0; i < bcpo_product.variants.length; i += 1) { bcpo_product.variants[i].inventory_quantity = inventory_quantity[i]; }}</script>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

  {% include 'google-fonts' %}   

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% if settings.favicon152 != blank %}
    <link rel="apple-touch-icon" href="{{ settings.favicon152 | img_url: '152x152' }}" type="image/png">
  {% endif %} 

  {% include 'meta' %}
  {% include 'social-meta-tags' %}

  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}  

  <script>
    window.Sunrise = window.Sunrise || {};
    Sunrise.strings = {
      add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      money_format_json: {{shop.money_format | strip_html | json}},
      money_format: "{{shop.money_format}}",
      money_with_currency_format_json: {{ shop.money_with_currency_format | strip_html | json }},
      money_with_currency_format: "{{shop.money_with_currency_format}}",
      shop_currency: "{{shop.currency}}",
      locale: "{{shop.locale}}",
      locale_json: {{shop.locale | json}},
      customer_accounts_enabled: {{shop.customer_accounts_enabled}},
      customer_logged_in: {% if customer %}true{% else %}false{% endif%}
    };
  </script>  

  {% if template contains 'customers' %}
     {{ "shopify_common.js" | shopify_asset_url | script_tag }}
     {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'vendor.js' | asset_url | script_tag }} 
  {{ 'theme.js' | asset_url | script_tag }} 




  <!-- Avada Email Marketing Script -->
 {% include 'avada-em-setting' %}
  <!-- /Avada Email Marketing Script -->
  {% include 'wlm-head' %}
{{ content_for_header }}

  <!-- OrderLogic checkout restrictions ========================================= -->
  {% include 'order-logic' %}

  
<!-- spurit_dm-added -->
<!-- /spurit_dm-added -->
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}    
<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
 {% include 'discount-combine' %}
    
    {{ 'https://productoptions.w3apps.co/js/options.js' | script_tag }}
    <script type="text/javascript">
      setTimeout(function() { 
        w3productOptionsJS($); 
      }, 0);
    </script>
    
<script src="//staticxx.s3.amazonaws.com/aio_stats_lib_v1.min.js?v=1.0"></script>
{% include 'nerdy-form-builder' %}
<!-- GS-Inventory Start. Do not change -->
{% if template != "index" %}{% if product %}  
  <script class="gsinvProdScript">
    gsInventoryDefaultV = "{{ product.selected_or_first_available_variant.id }}";
    cntImages = 0;
    gsInventoryQty = {};
    gsIncoming = {};    
    gsIncomingDate = {};
    gsInventoryContinue = {};
    gssiproductUrl = "{{ product.handle }}";
    {% for variant in product.variants %} gsInventoryQty[{{variant.id}}] = {% if variant.inventory_management %} {{variant.inventory_quantity}} {% else %} 'na' {% endif %} ; gsIncomingDate[{{variant.id}}] = '{{variant.next_incoming_date}}'; gsInventoryContinue[{{variant.id}}] = '{{variant.inventory_policy}}'; gsIncoming[{{variant.id}}] = {% if variant.incoming %} true {% else %} false {% endif %} ; cntImages++; {% endfor %}    
  </script>
{% endif %}

{% if template != "index" %}<script async type="text/javascript" src="https://gravity-apps.com/showinventory/js/shopify/gsinventory6475.js?v=53f516fe58559646b60e456e5010b37e"></script>{% endif %}{% endif %}
<!-- GS-Inventory End. Do not change  --></head>

  <body id="{{template | handle}}"{% if template contains 'customers' %} class="customer-area"{% endif %} data-curr-format="{{shop.money_format}}" data-shop-currency="{{shop.currency}}">
    <div id="site-wrap">
      <header id="header" class="clearfix">  
        {% section 'header' %}
        {% include 'currencies-switcher' %}
      </header>

      <div id="content">
        {% section 'sidebar' %}
        <section role="main" id="main"> 
          {% include 'breadcrumbs' %}
          {% unless template contains 'customers' or template contains 'search' %}
            {% section 'banner-ad' %}
          {% endunless %}
          {% comment %}{{ content_for_layout }}{% endcomment %}{% include 'wlm-body' %}
          {% unless template contains 'customers' or template contains 'search' %}
            {% section 'logo-list' %}
          {% endunless%}
        </section>
      </div>
    </div><!-- site-wrap -->

    {% section 'footer' %}
    {% include 'currencies' %}  
    
    {% comment %} 
      {{ 'jquery.limit.min.js' | asset_url | script_tag }}
      <script>
        Shopify.Cart.limit(1);
      </script>
      {% unless settings.limit == 'No limit' %}
        {{ 'jquery.limit.min.js' | asset_url | script_tag }}
        <script>
          Shopify.Cart.setProductHandle('{{ product.handle }}');
          Shopify.Cart.limit( {
          	limitPer: '{{ settings.limit_per }}',
            limitQuantity: {{ settings.limit_quantity }}{% if settings.limit == 'Enabled for products listed' %},
            limitProductHandles: jQuery.trim("{{ settings.limit_product_handles }}").split(/[\s,;]+/){% endif %}{% if settings.limit_per == 'cart' and settings.limit_quantity == '1' %},
            limitSkipCartPage: {% if settings.limit_skip_cart_page %}true{% else %}false{% endif %}{% endif %}
          } );
        </script>
      {% endunless %}
    {% endcomment %}

    
  


<!--Gem_Page_Footer_Script-->
{% include 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->



<input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/><input type="hidden" name="aaaformbuilder_customer_logged_id" value="{{customer.id}}" id="aaaformbuilder_customer_logged_id">{% render 'preorder-now' %}
  
<!-- **BEGIN** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_ctb_main', product: product, customer: customer %}
    <!-- **END** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
</body>
 
</html>

