

{%- paginate customer.orders by 20 -%}
<div id="primary" class="content-area">
  {%- include 'page-header' -%}
   <div class="large-12 large-centered columns">
   	<div class="my_account_container">
    	<div class="myaccount_user">
      		{%- include 'account-navigation' -%}
    	</div>
  	</div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="entry-content">
        <div class="row">
          <div class="large-12 large-centered columns">
            <div class="my_account_container">
              <div class="myaccount_user">
                
                <div class="myaccount-content content order-history hideMe" style="overflow: auto">
                    <ul class="nav nav-tabs"   style="margin-left: 0px">
                      <li class="active"><a data-toggle="tab" href="#order">ORDER HISTORY</a></li>
                       {% if customer.tags contains "distributor" or customer.tags contains "Distributor" %}
                     	 <li><a data-toggle="tab" href="#refund">RETURNS HISTORY</a></li>
                       {% endif %}
                    </ul>

                    <div class="tab-content">
                      <div id="order" class="tab-pane fade in active">
                              {%- if customer.orders.size > 0 -%}
                              <h3>{{ 'customer.orders.title' | t }}</h3>
                              <table class="shop_table">
                                <thead>
                                  <tr>
                                    <th>{{ 'customer.orders.order_number' | t }}</th>
                                    <th>{{ 'customer.orders.date' | t }}</th>
                                    <th>{{ 'customer.orders.payment_status' | t }}</th>
                                    <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                                    <th class="order-quantity-outer">{{ 'customer.order.quantity' | t }}</th>
                                    <th>{{ 'customer.orders.total' | t }}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for order in customer.orders %}
                                  <tr>
                                    <td class="order-number" data-label="{{ 'customer.orders.order_number' | t }}">
                                      <a href="{{ order.customer_url }}">{{ order.name }}</a>
                                    </td>
                                    <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                                    <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                                    <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                                    <td data-label="{{ 'customer.orders.quantity' | t }}" class="order-quantity-outer">
                                      {% for line_item in order.line_items %}
                                        <span class="order-quantity">{{ line_item.quantity }}</span>
                                      {% endfor %}
                                    </td>
                                    <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                                    <td class="print" ><i data-url="{{order.customer_url}}" class="fa fa-print" style="font-size:18px;color: gray;"></i></td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              {%- if paginate.pages > 1 -%}
                                {%- include 'pagination' -%}
                              {%- endif -%}

                              {%- else -%}
                              <div class="infos">{{ 'customer.orders.none' | t }}</div>
                              {%- endif -%}
                      </div>
                      {% include 'id-refund' %}  
  				  </div>
                </div>
                
                
   
               
                
                
<!--                 address of customer -->
                <div class="content customer-address hideMe">
                	{%- include 'address' -%}
                </div>
                
<!--                 join the team section -->
                <div class="content join-the-team hideMe">
                  {%- include 'join-the-team'  -%}
                </div>

<!--                 reward of customer -->
                 <div class="content customer-reward">
                  <div style="margin-top: 60px"></div>
                	{%- include 'reward' -%}
                </div>
                
                
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endpaginate -%}
<script type="text/javascript">
 $(document).ready(function () {  
   var url = window.location.href;
   if(url.indexOf("address") != - 1 || url.indexOf("addresses") != - 1) {
     $('.content').addClass('hideMe');
     $('.customer-address').removeClass('hideMe');
     $('.address-nav').addClass('selected');
     $('.reward-nav').removeClass('selected');
   } else if(url.indexOf("page") != - 1) {
     $('.content').addClass('hideMe');
     $('.customer-address').addClass('hideMe');
     $('.order-history').removeClass('hideMe');
     $('.reward-nav').removeClass('selected');
     $('.order-history-nav').addClass('selected');
   }else if(url.indexOf("refund") != - 1) {
     $('.content').addClass('hideMe');
     $('.customer-address').addClass('hideMe');
     $('.order-history').removeClass('hideMe');
     $('.reward-nav').removeClass('selected');
     $('.order-history-nav').addClass('selected');
     $('#refund').addClass('in active');
     $('#order').removeClass('in active');
     $(".nav.nav-tabs li").toggleClass("active")
   }
 	
  $('.fa.fa-print').click(function(e){
    var url = $(this).attr('data-url');  
    $("<iframe>")                             // create a new iframe element
        .hide()                               // make it invisible
        .attr("src", url+"?printOrder") // point the iframe to the page you want to print
        .appendTo("body");                    // add iframe to the DOM to cause it to load the page
   });
   
   $('.my_account_container .myaccount_user .myaccount-navigation ul li').click(function(e) {
     $(".my_account_container .myaccount_user .myaccount-navigation ul li").removeClass('selected');
     $(this).addClass('selected');
     if ($(this).text().indexOf("Addresses") >= 0) {       
       $('.content').addClass('hideMe');
       $('.customer-address').removeClass('hideMe');
     } else if($(this).text().indexOf("History") >= 0) {
        $('.content').addClass('hideMe');
       $('.order-history').removeClass('hideMe');
     } else if($(this).text().indexOf("Logout") >= 0) {
       window.location.href = '/account/logout';
     } else if($(this).text().indexOf("Rewards") >= 0) {
        $('.content').addClass('hideMe');
       $('.customer-reward').removeClass('hideMe');
     } else if($(this).text().indexOf("Join") >= 0) {
       $('.content').addClass('hideMe');
       $('.join-the-team').removeClass('hideMe');
     }else if($(this).text().indexOf("Quick Order") >= 0) {
       window.location.href = '/pages/bulk-order-form';
     }     
   });
  });
  
</script>


<style>
  .fa.fa-print:hover{
     cursor: pointer;    
  }
  .shop_table th {
    text-align: left;
    padding: 20px 30px 20px 0;
  }
  .container {
     margin: 0px auto;
    padding: 0px;
  }
  .myaccount-content.content.order-history {
    float: none;
    width: 100%;
  }
  #primary.content-area, #primary.blog-content-area {
    margin-bottom: 20px;
  }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
   .my_account_container .myaccount_user .myaccount-navigation {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .my_account_container .myaccount_user .myaccount-content {
    float: left;
    width: 100%;
    margin: 0;
  }
  .hideMe {
    display:none;
   }
    
  } 
</style>