<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" style="--announcement-height: 1px;">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'theme-setup' %}
  {% render 'theme-setting-vars' %}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {% render 'social-meta-tags' %}

  {{ content_for_header }} 
 {{ shop.metafields.fontify.stylesheets }}

  {% render 'modal' %}
  {% render 'store-availability-drawer' %}

  <style type='text/css'>
    .password {
      min-height: unset;
      height: auto;
    }

    .password__content {
      background: #FFF;
      margin-top: 50px;
      margin-bottom: 10px;
      color: #DD0031;
      padding: 30px 10px 0px 10px;
      width: 90vw;
    }

    .password__content #contact_form {
      margin-top: 20px;
      margin-bottom: -20px;
    }

    .password__content .password__header .password__text strong {
      font-size: 2em;
    }

    .password__login-button {
      top: 10px;
      color: rgba(0,0,0,0);
    }

    .password__login-button svg {
      color: rgba(0,0,0,0);
    }
  </style>
<!-- OneTrust Cookies Consent Notice start -->
 
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="4eeb7bf7-e1e9-49fc-84fa-3395630bec87"></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice end -->
</head>

  <body class="template-password">
    {{ content_for_layout }}

    {% comment %}
      Set the following line to true to use the single theme.classic.js (no code-splitting, editable)
    {% endcomment %}
    {% assign useLegacyThemeJS = false %}

    {% if useLegacyThemeJS %}
      {% comment %}This is the classic monolithic build that is optionally used by intermediary theme devs who need to edit the JS{% endcomment %}
      <script src="{{ 'theme.classic.js' | asset_url }}" ></script>
    {% else %}
      {% comment %}This is the ES Module for modern browsers.  This features code splitting {% endcomment %}
      <script type="module" src="{{ 'theme.js' | asset_url }}" ></script>

      {% comment %}This is the fallback for browsers that don't support ES Modules, code-splitting is supported by systemJS{% endcomment %}
      <script nomodule src="{{ 's.min.js' | asset_url }}"></script>
      <script nomodule>
          System.import('{{ 'theme.nomodule.js' | asset_url }}');
      </script>
    {% endif %}

    {% comment %}
      Set the following line to true to import custom-events.js
    {% endcomment %}
    {% assign useCustomEvents = false %}

    {% if useCustomEvents %}
      <script src="{{ 'custom-events.js' | asset_url }}" ></script>
    {% endif %}
    <script src="{{ 'custom.js' | asset_url }}" ></script>
      <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=21791"></script><!--Gorgias Chat Widget End-->
  </body>

</html>
