{% capture style_custom_color %}
  {% if section.settings.custom_color %}
    color: {{ section.settings.body_text_color }} !important
  {% endif %}
{% endcapture %}

<div class="count-section wrapper arena-heading --section-ad {{ section.id }}">
  <div class="arena-static-ad">
    <div class="arena-static-ad-headings-wrapper">
      <div class="block">
        <h2 class="{{ section.settings.font_style_1 }}" style="{{ style_custom_color }}">
          {{ section.settings.heading_1 }}
        </h2>
        <h2 class="{{ section.settings.font_style_2 }}" style="{{ style_custom_color }}">
          {{ section.settings.heading_2 }}
        </h2>
      </div>
      <div class="block --blank-space"></div>
      <div class="block">
        <h2 class="{{ section.settings.font_style_3 }}" style="{{ style_custom_color }}">
          {{ section.settings.heading_3 }}
        </h2>
        <h2 class="{{ section.settings.font_style_4 }}" style="{{ style_custom_color }}">
          {{ section.settings.heading_4 }}
        </h2>
      </div>
    </div>
    <div class="content block">
      <p class="title" style="{{ style_custom_color }}">{{ section.settings.title }}</p>
      <p class="desc" style="{{ style_custom_color }}">{{ section.settings.description | strip_html }}</p>
    </div>
    <img
      src="{{ section.settings.image | image_url: width: 500 }}"
      loading="lazy"
      srcset="{{ section.settings.image | image_url: width: 500 }} 500w, {{ section.settings.image | image_url: width: 800 }} 800w, {{ section.settings.image | image_url: width: 1080 }} 1080w, {{ section.settings.image | image_url: width: 1500 }} 1500w"
      width="846"
      height="auto"
      sizes="(max-width: 479px) 94vw, (max-width: 767px) 57vw, (max-width: 991px) 41vw, (max-width: 1439px) 47vw, 468px"
      alt=""
      class="arena-static-ad-image block"
    >
    <div class="block">
      <a
        href="{{ section.settings.btn_url }}"
        class="hero__btn btn {{ section.settings.button_style }} {{ section.settings.button_color }}"
      >
        {{ section.settings.cta_text }}
      </a>
    </div>
    {% if section.settings.counter %}
      <div class="section-counter" style="{{ style_custom_color }}"></div>
    {% endif %}
  </div>
</div>

<style>
  .arena-heading.{{ section.id }} .arena-static-ad{
      background: {{ section.settings.background_color }}
  }

</style>

{% schema %}
{
  "name": "Arena Static Ad",
  "settings": [
    {
      "type": "checkbox",
      "id": "counter",
      "label": "Counter",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "custom_color",
      "label": "Overwrite text color?",
      "default": false
    },
    {
      "type": "color",
      "id": "body_text_color",
      "label": "Body color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "heading_1",
      "label": "Heading"
    },
    {
      "type": "select",
      "label": "Font family",
      "id": "font_style_1",
      "default": "heading-neue",
      "options": [
        {
          "value": "heading-neue",
          "label": "Neue"
        },
        {
          "value": "heading-ozymandias",
          "label": "Ozymandias"
        },
        {
          "value": "heading-neumeister-a",
          "label": "FDI Neumeister A"
        },
        {
          "value": "heading-neumeister-b",
          "label": "FDI Neumeister B"
        },
        {
          "value": "heading-sentient",
          "label": "Sentient"
        },
        {
          "value": "heading-sf-pro",
          "label": "SF Pro Text"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Heading"
    },
    {
      "type": "select",
      "label": "Font family",
      "id": "font_style_2",
      "default": "heading-neue",
      "options": [
        {
          "value": "heading-neue",
          "label": "Neue"
        },
        {
          "value": "heading-ozymandias",
          "label": "Ozymandias"
        },
        {
          "value": "heading-neumeister-a",
          "label": "FDI Neumeister A"
        },
        {
          "value": "heading-neumeister-b",
          "label": "FDI Neumeister B"
        },
        {
          "value": "heading-sentient",
          "label": "Sentient"
        },
        {
          "value": "heading-sf-pro",
          "label": "SF Pro Text"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading_3",
      "label": "Heading"
    },
    {
      "type": "select",
      "label": "Font family",
      "id": "font_style_3",
      "default": "heading-neue",
      "options": [
        {
          "value": "heading-neue",
          "label": "Neue"
        },
        {
          "value": "heading-ozymandias",
          "label": "Ozymandias"
        },
        {
          "value": "heading-neumeister-a",
          "label": "FDI Neumeister A"
        },
        {
          "value": "heading-neumeister-b",
          "label": "FDI Neumeister B"
        },
        {
          "value": "heading-sentient",
          "label": "Sentient"
        },
        {
          "value": "heading-sf-pro",
          "label": "SF Pro Text"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading_4",
      "label": "Heading"
    },
    {
      "type": "select",
      "label": "Font family",
      "id": "font_style_4",
      "default": "heading-neue",
      "options": [
        {
          "value": "heading-neue",
          "label": "Neue"
        },
        {
          "value": "heading-ozymandias",
          "label": "Ozymandias"
        },
        {
          "value": "heading-neumeister-a",
          "label": "FDI Neumeister A"
        },
        {
          "value": "heading-neumeister-b",
          "label": "FDI Neumeister B"
        },
        {
          "value": "heading-sentient",
          "label": "Sentient"
        },
        {
          "value": "heading-sf-pro",
          "label": "SF Pro Text"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
        { "value": "btn--primary", "label": "Bright accent" },
        { "value": "btn--secondary", "label": "Secondary accent" },
        { "value": "btn--neutral", "label": "Text color" },
        { "value": "btn--black", "label": "Black" },
        { "value": "btn--white", "label": "White" }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "btn uppercase",
      "options": [
        { "value": "caps--link", "label": "Capitalized text" },
        { "value": "btn uppercase", "label": "Solid button" },
        { "value": "btn--soft uppercase", "label": "Soft button" },
        { "value": "btn--outline uppercase", "label": "Outlined button" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Arena Static Ad"
    }
  ]
}
{% endschema %}
