{% assign defaultProduct = section.settings.collection.products[0] %}
<div class="count-section wrapper arena-heading --overflowx-hidden --section-ad {{ section.id }}">
  {% render 'announcment-component', section: section %}
  <div class="find-your-style">
    <div class="image-wrapper --aside">
      <img
        src="{{ defaultProduct.featured_image | image_url: width: 800 }}"
        loading="lazy"
        width="846"
        height="auto"
        class="arena-static-ad-image block"
      >
      <a href="{{ defaultProduct.url }}" class="hero__btn btn btn uppercase btn--black">SHOP NOW</a>
    </div>
    <div class="list-wrapper">
      <div class="heading">
        <h2 class="heading-ozymandias">Find your <span>style</span></h2>
      </div>
      <div class="find-your-style-list">
        {% for product in section.settings.collection.products %}
          <div
            class="product--row"
            data-product-url="{{ product.url }}"
            data-product-image="{{ product.featured_image | image_url: width: 800 }}"
          >
            <div>
              <h6 class="title">{{ product.title }}</h6>
              <p class="price">{{ product.price | money }}</p>
            </div>
            <div class="image-wrapper">
              <img
                src="{{ product.featured_image | image_url: width: 800 }}"
                loading="lazy"
                srcset="{{ product.featured_image | image_url: width: 800 }} 800w, {{ product.featured_image | image_url: width: 800 }} 800w, {{ product.featured_image | image_url: width: 1080 }} 1080w, {{ product.featured_image | image_url: width: 1500 }} 1500w"
                width="846"
                height="auto"
                sizes="(max-width: 479px) 94vw, (max-width: 767px) 57vw, (max-width: 991px) 41vw, (max-width: 1439px) 47vw, 468px"
                alt=""
                class="arena-static-ad-image block"
              >
              <a href="{{ product.url }}" class="hero__btn btn btn uppercase btn--black">SHOP NOW</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.product--row').forEach((row) => {
      row.addEventListener('click', (e) => {
        document.querySelectorAll('.product--row').forEach((el) => {
          el.classList.remove('active');
        });
        row.classList.add('active');
        const productURL = row.getAttribute('data-product-url');
        const productIMAGE = row.getAttribute('data-product-image');
        const aside = document.querySelector('.image-wrapper.--aside');
        aside.querySelector('img').src = productIMAGE;
        aside.querySelector('a').href = productURL;
      });
    });
  });
</script>
{% schema %}
{
  "name": "Arena Find Your Style",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#f7f7f7"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#545454"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 7
    },
    {
      "type": "checkbox",
      "id": "counter",
      "label": "Counter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "custom_color",
      "label": "Overwrite text color?",
      "default": false
    },
    {
      "type": "color",
      "id": "body_text_color",
      "label": "Body color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p><strong>Make an announcement</strong> | More info</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Arena Find Your Style"
    }
  ]
}
{% endschema %}
