<style>
  #template--banner-innoseal {
    background: #f0f0f0;
    padding: 100px 0px;
  }
  #template--banner-innoseal .brick__block__text {
    padding: 100px 0px;
  }
  #template--banner-innoseal .brick__block__text__inner_innoseal{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #template--banner-innoseal .banner-video {
    margin-left: 50px;
  }
  #template--banner-innoseal .h2 {
    font-family: Gotham;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
  }
  #template--banner-innoseal p {
    font-family: Gotham;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
  }
  @media only screen and (max-width: 700px) {
   #template--banner-innoseal .brick__block__text__inner_innoseal{
    display: block;
  }
    #template--banner-innoseal .banner-video {
    margin-left: 0px;
      margin-top: 50px;
  }
    #template--banner-innoseal iframe {
      width: 100%;
    }
}
</style>

<section id="template--banner-innoseal" style="--padding-ratio: 100%;">      
<div class="wrapper" data-prevent-transparent-header="">
    <div class="brick__block__text__inner_innoseal">
      {% for block in section.blocks %}
    		{% case block.type %}
      			{% when 'text' %}
                <div>
                  <div class="text__standard text-left" data-overflow-content="">
                      <h2 class="h2 standard__heading aos-init aos-animate" data-aos="hero" data-aos-anchor="[data-section-id='template--14386382372961__1649397773b6d90b23']" data-aos-order="2">
                        {{block.settings.kicker }}
                      </h2>
                      <div class="standard__rte font--3 columns--1 aos-init aos-animate" data-aos="hero" data-aos-anchor="[data-section-id='template--14386382372961__1649397773b6d90b23']" data-aos-order="3">
                        <p>{{block.settings.text }}</p>
                      </div>
                      <a href="{{block.settings.button_url}}" class="standard__cta btn btn--long uppercase btn--neutral aos-init aos-animate" data-aos="hero" data-aos-anchor="[data-section-id='template--14386382372961__1649397773b6d90b23']" data-aos-order="4">
                        {{block.settings.button_text}}
                      </a>
                  </div>
                </div>
               {% when 'image' %}
                 <div class="banner-video">
                      <iframe width="500px" height="315"
                  src="{{block.settings.videoLink}}"
                  frameborder="0" allowfullscreen>
                  </iframe>
                </div>
        {% endcase %}
  {% endfor %}
    </div>     
  </div>
</section>

{% schema %}
{
  "name": "Banner-Innoseal",
  "max_blocks": 2,
  "settings": [
  {
    "type": "select",
    "id": "height",
    "label": "Section height",
    "default": "use_screen_one_half",
    "options": [
      { "value": "use_screen_full", "label": "Full screen height"},
      { "value": "use_screen_three_quarters", "label": "Three quarters of screen height"},
      { "value": "use_screen_two_thirds", "label": "Two thirds of screen height"},
      { "value": "use_screen_one_half", "label": "One half of screen height"},
      { "value": "use_screen_one_third", "label": "One third of screen height"},
      { "value": "use_screen_one_fifth", "label": "One fifth of screen height"},
      { "value": "use_pixels_800", "label": "800px" },
      { "value": "use_pixels_650", "label": "650px" },
      { "value": "use_pixels_500", "label": "500px" },
      { "value": "image-height", "label": "Image height" }
    ]
  },
  {
    "type": "checkbox",
    "id": "padding",
    "label": "Add spacing",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "borders",
    "label": "Add borders",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "wrapper",
    "label": "Contain width",
    "default": false
  }
],
"blocks": [
    {
      "type": "image",
      "name": "Youtube Video Link",
      "settings": [
        {
          "type": "text",
          "id": "videoLink",
          "label": "Youtube Video Link"
        }
      ]
    },
    {
    "type": "text",
    "name": "Text",
    "settings": [
      {
        "type": "text",
        "id": "kicker",
        "label": "Kicker",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Text"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Link"
      }
    ]
  },
  {
    "type": "newsletter",
    "name": "Newsletter",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "kicker",
        "label": "Kicker",
        "default": "Newsletter"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Join to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
      },
      {
        "type":  "range",
        "id":    "text_size",
        "label": "Text size",
        "min":    1,
        "max":    5,
        "step":   1,
        "default":2
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-left",
        "options": [
          { "value": "text-left","label": "Left" },
          { "value": "text-center","label": "Centered" }
        ]
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Text"
      },
      {
        "type": "select",
        "id": "button_color",
        "label": "Color",
        "default": "btn--neutral",
        "options": [
          { "value": "btn--primary", "label": "Bright accent" },
          { "value": "btn--secondary", "label": "Secondary accent" },
          { "value": "btn--neutral", "label": "Text color" },
          { "value": "btn--black", "label": "Black" },
          { "value": "btn--white", "label": "White" }
        ]
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn--soft",
        "options": [
          { "value": "btn", "label": "Solid button" },
          { "value": "btn--soft", "label": "Soft button" },
          { "value": "btn--outline", "label": "Outlined button" }
        ]
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text color",
        "default": "text--neutral",
        "options": [
          { "value": "text--neutral", "label": "Normal text"},
          { "value": "text--white", "label": "White"},
          { "value": "text--primary", "label": "Primary accent"},
          { "value": "text--secondary", "label": "Secondary accent"},
          { "value": "text--black", "label": "Black"},
          { "value": "text--invert--primary", "label": "Primary dark accent"},
          { "value": "text--invert--secondary", "label": "Secondary dark accent"},
          { "value": "text--invert", "label": "Inverted text color"}
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "paragraph",
        "content": "Subscribers are under 'Accepts Marketing' in your [customer admin](/admin/customers)."
      }
    ]
  },
  {
    "type": "video",
    "name": "Video",
    "settings": [
      {
        "type": "header",
        "content": "Background video"
      },
      {
        "type": "text",
        "id": "video_link_bg",
        "label": "Video background link",
        "info": "MP4 video link from [files](/admin/settings/files)."
      },
      {
        "type": "select",
        "id": "object_position",
        "label": "Background video position",
        "default": "center-center",
        "options": [
          { "label": "Top", "value": "center-top" },
          { "label": "Right", "value": "right-center" },
          { "label": "Center", "value": "center-center" },
          { "label": "Left", "value": "left-center" },
          { "label": "Bottom", "value": "center-bottom" }
        ]
      },
      {
        "type": "header",
        "content": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "bg_position",
        "label": "Image position",
        "default": "center-center",
        "options": [
          { "label": "Top", "value": "center-top" },
          { "label": "Right", "value": "right-center" },
          { "label": "Center", "value": "center-center" },
          { "label": "Left", "value": "left-center" },
          { "label": "Bottom", "value": "center-bottom" }
        ]
      },
      {
        "type": "header",
        "content": "Video popup"
      },
      {
        "type": "video_url",
        "id": "video_link",
        "label": "Video popup link",
        "accept": ["youtube", "vimeo"],
        "info": "Streaming video source from YouTube or Vimeo.",
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "text",
        "id": "popup_text",
        "label": "Popup button text"
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "kicker",
        "label": "Kicker",
        "default": "Introducing"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured video"
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text",
        "default": "<p>This area is used to describe your video’s details.</p>"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Alignment",
        "default": "align--middle-center",
        "options": [
          { "value": "align--top-left", "label": "Top left"},
          { "value": "align--top-center", "label": "Top center"},
          { "value": "align--top-right", "label": "Top right"},
          { "value": "align--middle-left", "label": "Middle left"},
          { "value": "align--middle-center", "label": "Absolute center"},
          { "value": "align--middle-right", "label": "Middle right"},
          { "value": "align--bottom-left", "label": "Bottom left"},
          { "value": "align--bottom-center", "label": "Bottom center"},
          { "value": "align--bottom-right", "label": "Bottom right"}
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text color",
        "default": "text--white",
        "options": [
          { "value": "text--neutral", "label": "Normal text"},
          { "value": "text--white", "label": "White"},
          { "value": "text--primary", "label": "Primary accent"},
          { "value": "text--secondary", "label": "Secondary accent"},
          { "value": "text--black", "label": "Black"},
          { "value": "text--invert--primary", "label": "Primary dark accent"},
          { "value": "text--invert--secondary", "label": "Secondary dark accent"},
          { "value": "text--invert", "label": "Inverted text color"}
        ]
      },
      {
        "type":    "range",
        "id":      "overlay_opacity",
        "min":     0,
        "max":     100,
        "step":    5,
        "label":   "Image overlay opacity",
        "info":    "Increase contrast for legible text.",
        "default": 15
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "button_color",
        "label": "Color",
        "default": "btn--white",
        "options": [
          { "value": "btn--primary", "label": "Bright accent" },
          { "value": "btn--secondary", "label": "Secondary accent" },
          { "value": "btn--neutral", "label": "Text color" },
          { "value": "btn--black", "label": "Black" },
          { "value": "btn--white", "label": "White" }
        ]
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn",
        "options": [
          { "value": "btn", "label": "Solid button"},
          { "value": "btn--soft", "label": "Soft button"},
          { "value": "btn--outline", "label": "Outlined button"}
        ]
      }
    ]
  },
  {
    "type": "product",
    "name": "Product",
    "settings": [
      {
        "type": "header",
        "content": "Product"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "text",
        "id": "kicker",
        "label": "Kicker",
        "default": "Shop the look"
      },
      {
        "type": "text",
        "id": "badge_string",
        "label": "Custom badge"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          { "value": "text-left","label": "Left" },
          { "value": "text-center","label": "Centered" }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text color",
        "default": "text--neutral",
        "options": [
          { "value": "text--neutral", "label": "Normal text"},
          { "value": "text--white", "label": "White"},
          { "value": "text--primary", "label": "Primary accent"},
          { "value": "text--secondary", "label": "Secondary accent"},
          { "value": "text--black", "label": "Black"},
          { "value": "text--invert--primary", "label": "Primary dark accent"},
          { "value": "text--invert--secondary", "label": "Secondary dark accent"},
          { "value": "text--invert", "label": "Inverted text color"}
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background",
        "default": "#f7f7f7"
      },
      {
        "type": "color",
        "id": "bg_accent",
        "label": "Background accent",
        "default": "#ffffff"
      }
    ]
  },
  {
    "type": "collection",
    "name": "Collection",
    "settings": [
      {
        "type": "header",
        "content": "Collection"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "kicker",
        "label": "Kicker",
        "default": "Shop the look"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          { "value": "text-left","label": "Left" },
          { "value": "text-center","label": "Centered" }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text color",
        "default": "text--neutral",
        "options": [
          { "value": "text--neutral", "label": "Normal text"},
          { "value": "text--white", "label": "White"},
          { "value": "text--primary", "label": "Primary accent"},
          { "value": "text--secondary", "label": "Secondary accent"},
          { "value": "text--black", "label": "Black"},
          { "value": "text--invert--primary", "label": "Primary dark accent"},
          { "value": "text--invert--secondary", "label": "Secondary dark accent"},
          { "value": "text--invert", "label": "Inverted text color"}
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background",
        "default": "#f7f7f7"
      },
      {
        "type": "color",
        "id": "bg_accent",
        "label": "Background accent",
        "default": "#ffffff"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Banner-Innoseal",
      "category": "Image",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
