<!-- /sections/cart.liquid -->
{%- liquid
  assign hide_quantity = 'quantity--hide'
  if settings.cart_show_quantity
    assign hide_quantity = ''
  endif
  
  assign ajax_disable = false
  assign no_ajax_class = ''
  if settings.cart_style == 'compatible'
    assign ajax_disable = true
    assign no_ajax_class = 'no--ajax'
  endif

  assign full_init = ''
  assign empty_init = 'cart--hidden'
  if cart.item_count == 0
    assign empty_init = ''
    assign full_init = 'cart--hidden'
  endif
-%}

<div class="cart__template {{ no_ajax_class }} {{ hide_quantity }}"  data-section-id="{{ section.id }}" data-section-type="cart" data-ajax-disable="{{ ajax_disable }}">
  {% comment %} Cart is empty {% endcomment %}
  <div class="{{ empty_init }}" data-cart-empty>
    {% render 'cart-empty' %}
  </div>
  {% comment %} Cart is full {% endcomment %}
  <div class="wrapper pt2 pb4 {{ full_init }}" data-cart-form data-cart-loading>
    <div class="grid">
    <div class="grid__item medium-up--two-thirds">
    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
      <h3 class="h3--body">{{ 'cart.general.title' | t }}</h3>
      <div class="errors" data-form-errors style="display: none;"></div>
      <div class="cart__items__grid cart__heading__wrapper">
        <div class="cart__heading__back">
          <a href="{{ settings.cart_continue_browsing | default: routes.all_products_collection_url }}" class="cart__heading cart__return">
            {% render 'icon-arrow-long-left' %}
            &nbsp;
            {{ 'cart.general.continue_browsing' | t }}
          </a>
        </div>
        <div class="cart__items__price">
          <p class="cart__heading">{{ 'cart.label.price' | t }}</p>
        </div>
        <div class="cart__items__quantity">
          <p class="cart__heading">{{ 'cart.label.quantity' | t }}</p>
        </div>
        <div class="cart__items__total">
          <p class="cart__heading">{{ 'cart.label.total' | t }}</p>
        </div>
      </div>
      <div class="template__cart__body">
        <div class="errors" data-form-errors style="display: none;"></div>
        <div data-cart-form>
            {% comment %}
              The following snippet is refreshed via ajax with
              cart.items.liquid when the quantity is adjusted.
            {% endcomment %}
            <div data-line-items>
            {% render 'cart-line-items' %}
            </div>
        </div>
       <div class="gift-wrap">
         {% include 'cart-gift-wrap'%}
         
        </div>
         <div class="cart__footer__shipping">
            {%- if settings.cart_shipping_enable -%}
              {% render 'cart-shipping' %}
            {%- endif -%}
          </div>
        <div class="template__cart__footer" data-cart-bottom>
          
          <div class="cart__footer__notes">
            {%- if settings.cart_notes_enable -%}
              <label class="cart__notes__label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions" data-cart-note>{{ cart.note }}</textarea>
            {%- endif -%}
          </div>
         



          

          <div class="cart__footer__update">
            <span class="cart__update" data-update-button>
              <span class="cart__update__icon">{% render 'icon-sync' %}</span>
              <button type="submit" name="update" class="text-link">
                {{ 'cart.general.update' | t }}
              </button>
            </span>
          </div>

          {% if additional_checkout_buttons and settings.cart_show_additional_buttons %}
            <div class="cart__footer__additional">
              <div class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </form>
      </div>
    <div class="grid__item medium-up--two-sixths">
     <div class="cart__footer__total">

      <div class="cart__page__shipping">
      </div>

      <div class="page__footer__subtotal" data-cart-subtotal="">

      </div>
      <h5 class="order-summary-heading">Order Summary</h5>
      <div class="cart-summary-content">
          <p>
            <span class="cart__footer__label">SUBTOTAL</span>
            <span class="cart__footer__value" data-cart-final=""></span>
          </p>
        <p>
            <span class="cart__footer__label">SHIPPING </span>
            <span class="cart__footer__value">TBD</span>
          </p>
        <p>
            <span class="cart__footer__label">ESTIMATED TAX</span>
            <span class="cart__footer__value" data-cart-final="">TBD</span>
         </p>
         <p>
            <span class="cart__footer__label">TOTAL</span>
            <span class="cart__footer__value" data-cart-total=""></span>
          </p>
          <div class="cart__footer__checkout">
          <button type="submit" name="checkout" class="btn btn--primary btn--large uppercase checkout__button">
            Check Out
          </button>
        </div>
       </div>
    </div>
   </div>
   </div>
  </div>
</div>

{% schema %}
{
  "name": "Cart page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country to use",
      "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
      "default": "United States"
    },
    {
      "type": "header",
      "content": "Gift wrap"
    },
    {
      "type": "checkbox",
      "id": "enable_gift_wrap",
      "label": "Enable gift wrap",
      "default": true
    },
    {
      "type": "richtext",
      "id": "gift_slider_text",
      "label": "Gift slider text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis saepe at officiis corporis maxime totam unde molestiae accusantium veritatis minus sapiente officia non a eos explicabo eveniet, harum, iusto!</p>"
    },
    {
      "type": "richtext",
      "id": "gift_wrap_content",
      "label": "Gift wrap content",
      "default": "<p>Choose from one of the following options. Prices are never included on the packing slip, so it can also serve as a gift receipt.</p>"
    },
    {
      "type": "checkbox",
      "id": "enable_free_gift_message",
      "label": "Enable free gift message",
      "default": true
    },
    {
      "type": "product",
      "id": "product_gift_wrap_supplies",
      "label": "Gift wrap service"
    },
    {
      "type": "product",
      "id": "product_gift_wrap_supplies_2",
      "label": "Gift wrap supplies"
    },
    {
      "type": "product",
      "id": "product_gift_wrap_service",
      "label": "Gift wrap supplies 2"
    },
    {
      "type": "product",
      "id": "product_gift_box_service",
      "label": "Shipping box"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "640 x 640px .png recommended"
        }
      ]
    }
  ]
}
{% endschema %}