{%- assign disable_sticky_header = false -%}

{% if section.settings.enable %}
  {% if section.settings.collection_image_enable and collection.image %}
    <div
      id="CollectionHeaderSection"
      data-section-id="{{ section.id }}"
      data-section-type="collection-header"
      {% if section.settings.parallax %}data-parallax="true"{% endif %}>

      <div class="collection-hero">
        {% if section.settings.parallax %}
          <div class="parallax-container">
            <div
              class="parallax-image collection-hero__image lazyload"
              data-bgset="{% include 'bgset', image: collection.image %}"
              data-sizes="auto">
            </div>
          </div>
        {% else %}
          {%- assign img_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <img class="collection-hero__image image-fit lazyload"
            src=""
            data-src="{{ img_url }}"
            data-aspectratio="{{ collection.image.aspect_ratio }}"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ collection.image.alt | escape }}">
          <noscript>
            <img class="collection-hero__image image-fit"
              src="{{ collection.image | img_url: '1400x' }}"
              alt="{{ collection.image.alt | escape }}">
          </noscript>
        {% endif %}
        {% for block in section.blocks %}
          {% if block.settings.collection == collection.handle %}
            <div class="video-player" data-plyr-provider="{{block.settings.video_url.type}}" data-plyr-embed-id="{{block.settings.video_url.id}}"></div>
          {% endif %}
        {% endfor %}

        <div class="collection-hero__content">
          <div class="page-width">
            <header class="section-header section-header--hero ">
              <div class="collection--banner">
                {%- include 'breadcrumbs' -%}
                <h1 class="section-header__title">
                  {{ collection.title }}
                </h1>

                <div class="section-header__content">
                  {{ collection.description }}
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    {%- assign disable_sticky_header = true -%}
    <div class="index-section ">
      <div class="page-width text-center">
        <div class="grid">
          <section class="about-us">
            <div class="container">
              <div class="text-wrapper aos-init aos-animate" data-aos="fade-in">
                <p>{{ collection.title }}</p>
              </div>
              <center><pa></pa></center>
              <div class="text-wrapper2 aos-init aos-animate" data-aos="fade-in">
                <p>{{ collection.description }}</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  {%- assign disable_sticky_header = true -%}
{% endif %}

{%- if disable_sticky_header -%}
  {% comment %}
    Div to trigger theme.CollectionHeader JS
  {% endcomment %}
  <div
    id="CollectionHeaderSection"
    data-section-id="{{ section.id }}"
    data-section-type="collection-header">
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Collection header",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable header",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "collection_image_enable",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "parallax",
        "label": "Parallax image",
        "default": true
      }
    ],
	"blocks": [
	  {
		"type": "collection_video",
		"name": "Collection Video",
		"settings": [
		  {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
		  {
            "id": "video_url",
            "type": "video_url",
            "label": "Video URL",
            "accept": ["youtube", "vimeo"]
          }
		]
	  }
	]
  }
{% endschema %}
