<div id="currency-popup" style="padding:0;max-width:300px" class="password__login-form text-center mfp-hide">
  <div class="flex">
    <div class="content">
      <p class="h4 title">{{ section.settings.title }}</p>
         {%- form 'localization' -%}
              <div>
                <h2 class="visually-hidden" id="currency-heading">
                  {{ 'layout.footer.currency' | t }}
                </h2>
                <div class="popout" data-popout-currency>
                  <button type="button" class="popout__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-popout-toggle>
                    {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                    {%- include 'icon-select' -%}
                  </button>
                  <ul id="currency-list" class="popout-list" data-popout-list>
                    {% for currency in form.available_currencies %}
                      <li class="popout-list__item {% if currency.iso_code == form.current_currency.iso_code %}popout-list__item--current{% endif %}">
                        <a class="popout-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-popout-option>
                          <span>{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-popout-input/>
                </div>
              </div>
  		{%- endform -%}
    </div>
  </div>
</div>
<a class="js-toggle-currency-modal" data-mfp-src="#currency-popup" style="display:none">
</a>

<script type="text/javascript">
  $(function() {
    $('.js-toggle-currency-modal').magnificPopup({
      type: 'inline',
      mainClass: 'mfp-fade',
      closeOnBgClick: false,
      closeBtnInside: false,
      closeOnContentClick: false,
      tClose: 'x',
      removalDelay: 500,
      callbacks: {
        open: function() {
          window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
        },
        close: function() {
          window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
        }
      }
    });
  });
</script>
{% schema %}
{
  "name": "Currency Popup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": " Shipping To"
    }
  ],
  "presets": [
    {
      "name": "Currency Popup",
      "category": "Promotional"
    }
  ]
}
{% endschema %}

<script>
  
  
  
</script>