

<div
data-section-id="{{ section.id }}"
data-section-type="featured-content-section"
class="text-{{ section.settings.align_text }} FeaturedContent">

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
      {% if section.settings.title != blank %}
        <h2 class="page-title">{{ section.settings.title }}</h2>
      {% endif %}

      {% for block in section.blocks %}
        <div class="" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'text' %}
               <div class="FeaturedContent__Wrap">
                   {%- if block.settings.video_embed != blank -%}
                        <div class="FeaturedContent__video">
                            {{ block.settings.video_embed }}
                        </div>
                   {%- else -%}
                        <div class="FeaturedContent__Image {% if block.settings.image_2 != blank %} DualImage {% endif %}">
                            
                            {% assign imageSize = '1500x' %}
                            {%- if block.settings.image_2 != blank -%} 
                                {% assign imageSize = '1000x1500' %}
                            {%- endif -%}


                            {%- if block.settings.image_2 != blank -%}
                                <img src="{{ block.settings.image_1 | img_url: imageSize, crop: 'center' }}" alt="{{ block.settings.title }}" />
                                <img src="{{ block.settings.image_2 | img_url: imageSize, crop: 'center' }}" alt="{{ block.settings.title }}" />
                            {%- else -%}
                                <img src="{{ block.settings.image_1 | img_url: imageSize }}" alt="{{ block.settings.title }}" />
                            {%- endif -%}
                        </div>
                   {%- endif -%}
                    <h3 class="FeaturedContent__Title">{{ block.settings.title }}</h3>
                    <div class="FeaturedContent__Content">{{ block.settings.text }}</div>

                    {%- if block.settings.donate_btn -%}
                    <div class="FeaturedContent__Donate text-center">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="3KCHF5RD6L7AN">
                            <button type="submit"  name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" class="btn btn--primary">DONATE</button>
                            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                    {%- endif -%}
               </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>


{% schema %}
{
  "name": "Donation Content",
  "settings": [
    {
        "type": "header",
        "content": "Page Settings"
    },
    {
        "type": "text",
        "id": "title",
        "default": "Make a Tax-Deductible Donation to FarmHouse Fresh® Animal Sanctuary & Help Us Give Animals the Life They Deserve",
        "label": "Heading"
    }
  ],
  "blocks" : [
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "header",
                    "content": "Heading and Text Content"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>A sentence or two introducing your brand, what you sell, and what makes your brand compelling to customers.</p>"
                },
                {
                    "type": "header",
                    "content": "Feature Images or Videos"
                },
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "1st Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "2nd Image",
                    "info": "If leaved empty 1st image will expand to fill the width"
                },
                {
                    "type": "html",
                    "id": "video_embed",
                    "label": "Video Emebed Code",
                    "info": "This will replace the images completely if filled"
                },
                {
                    "type": "header",
                    "content": "Show the Donation Button?"
                },
                {
                    "type": "checkbox",
                    "id": "donate_btn",
                    "label": "Show Donate Button",
                    "default": true
                }
            ]
        }
    ]
}
{% endschema %}