<div id="geolocation-popup" style="padding:0;max-width:700px" class="password__login-form text-center mfp-hide">
  <div class="flex">
	<div>
      {{section.settings.image | img_url: '1000x' | img_tag}}
    </div>
    <div class="content">
      <p class="h4 title">{{ section.settings.title }}</p>
      <div class="rte descriptionCAD hideMe">{{section.settings.descriptionCAD}}</div>
      <div class="rte descriptionUSD hideMe">{{section.settings.descriptionUSD}}</div>
      <div class="action-button">
        <button onclick="closeStay()">Stay here</button>|
        <button onclick="closePopup()" class="button_cad hideMe">
        	{{section.settings.button_text_cad}}
        </button>
        <button onclick="closePopup()" class="button_usd hideMe">
        	{{section.settings.button_text_usd}}
        </button>
      </div>
    </div>
  </div>
</div>
<a class="js-toggle-login-modal" data-mfp-src="#geolocation-popup" style="display:none">

</a>


<script type="text/javascript">
  $(function() {  
  var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)redirect\s*\=\s*([^;]*).*$)|^.*$/, "$1");
  console.log("cookie length=" & cookieValue.length);
  
  if (cookieValue.length == 0) {
    fetch('https://geo.sunbowl.ca/json').then(function (response) {
      return response.json();
    })
    .then(function (body) {
       if((body.country_name == 'Canada' && document.querySelector('meta[id="in-context-paypal-metadata"]').dataset.currency == 'USD')) {
        $('#geolocation-popup .descriptionCAD').removeClass('hideMe');
         $('#geolocation-popup .button_cad').removeClass('hideMe');
        $('.js-toggle-login-modal').click();
      } else if((body.country_name.toLowerCase() == 'us' && document.querySelector('meta[id="in-context-paypal-metadata"]').dataset.currency == 'CAD')) {
        $('#geolocation-popup .descriptionUSD').removeClass('hideMe');
        $('#geolocation-popup .button_usd').removeClass('hideMe');
        $('.js-toggle-login-modal').click();
      }
    }); 
  } 
    
  $('.js-toggle-login-modal').magnificPopup({
      type: 'inline',
      mainClass: 'mfp-fade',
      closeOnBgClick: false,
      closeBtnInside: false,
      closeOnContentClick: false,
      tClose: 'x',
      removalDelay: 500,
  });
  
  if (cookieValue.length == 5) {
    $('.js-toggle-login-modal').magnificPopup('close');
  }
  });
  
  function closePopup(){
    if(document.querySelector('meta[id="in-context-paypal-metadata"]').dataset.currency == 'CAD') {
      var data = {
        currency_code: 'USD',
    	}
    } else if(document.querySelector('meta[id="in-context-paypal-metadata"]').dataset.currency == 'USD') {
      var data = {
        currency_code: 'CAD',
      }
    }
    

    jQuery.ajax({
      type: 'put',
      url: '/localization.js',
      data: data,
      dataType: 'json',
      success: function(d){
        location.reload();       
      }, 
      error: function(err) {
        location.reload();
      }
    });
    $('.js-toggle-login-modal').magnificPopup('close');
  }
  
  function closeStay(){
    document.cookie = "redirect=False;"
    $('.js-toggle-login-modal').magnificPopup('close');
  }
</script>
{% schema %}
{
  "name": "GeoLocation Popup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Welcome to Suetables"
    },
    {
      "type": "textarea",
      "id": "descriptionUSD",
      "label": "Description USD",
      "default": "It looks like you’re in USA"
    },
	{
      "type": "textarea",
      "id": "descriptionCAD",
      "label": "Description CAD",
      "default": "It looks like you're in Canada"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background"
    },
	{
      "type": "text",
      "id": "button_text_cad",
      "label": "Button Text USD",
	  "default": "Click here to see prices in CAD dollars"
    },
    {
      "type": "text",
      "id": "button_text_usd",
      "label": "Button Text CAD",
	  "default": "Click here to see prices in USD dollars"
    }
  ],
  "presets": [
    {
      "name": "GeoLocation Popup",
      "category": "Promotional"
    }
  ]
}
{% endschema %}

<script>
  
  
  
</script>