
{% if section.settings.divider %}<div class="section--divider">{% endif %}

{% style %}
  #shopify-section-image-with-slider {
    background-color: {{ section.settings.background_color }};
  }
{% endstyle %}

<div class="page-width"
    id="ImageWithSlider"
    data-section-id="{{ section.id }}"
    data-section-type="image-with-slider">
  <div class="feature-row" data-aos>
      <div class="feature-row__item feature-row__slider">
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <div>
              <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080]"
                    data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.image.alt }}">
              </div>
            </div>
          {% else %}
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="feature-row__item feature-row__text feature-row__text--left text-center">
        <h3 class="headline headline--bordered d-inline-block">WHAT THEY’RE SAYING</h3>
        <div class="feature-text__slider">
          {% for block in section.blocks %}
              <div>
                {{ block.settings.customer_review }}
                - {{ block.settings.title }}
              </div>
            {% endfor %}
        </div>
      </div>
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Image with Slider",
    "class": "index-section-padding image-with-text-container",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#FFF5EC"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "Slider",
        "name": "Slider",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "customer_review",
            "label": "Review",
            "default": "<p>Et vim graeco principes. Cu dico nullam pri. Duo stet possim quaerendum eu, cum in invenire platonem animal assentior nam.</p>",
            "info": "WHAT THEY’RE SAYING"
          },
          {
            "type": "checkbox",
            "id": "enable_item",
            "label": "Enable item",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
