<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

<style>
  #maternity-feature li {
    margin-bottom: 1.2rem;
    font-family: 'Noto Sans', sans-serif;
  }
 #maternity-feature ul {
  list-style: none;
 }

 #maternity-feature li {
  position: relative;
}

 #maternity-feature li:before {
    content: '\f004';
    position: absolute;
    left: -80px;
    font-family: 'FontAwesome';
    font-size: 8px;
    top: 10px;
}
  #maternity-feature h3 {
    color: black;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  #maternity-feature .img-styling {
    max-height: 680px;
    float: right;
  }

  #maternity-feature li {
    font-size: 1.5rem;
  }
  #maternity-feature h3 {
    letter-spacing: 4px;
  }
  #maternity-feature .empty_space{
    height: 100px;
  }
  @media only screen and (max-width: 600px) {
    #maternity-feature li {
      font-size: 1rem;
    }
    #maternity-feature .empty_space{
    	height: 60px;
  	}
  }
  @media only screen and (max-width: 984px) {
   #maternity-feature li:before {
    left: -30px;
    top: 10px;
   }
}
</style>


<div id="maternity-feature">
  <div class="row row-flex">
    <div data-aos="fade-left" data-aos-offset="250" data-aos-delay="150" data-aos-duration="1000" class="col-md-6 col-sm-12 col-xs-12">
      <div class="content">
        <img class="img-styling" src={{section.settings.image}} alt={{section.settings.image_alt}}/>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12">
      <div class="empty_space"><span class="empty_space_inner"></span></div>
      <div class="content">
        <ul>
          <h3 class="shortcode_title_1" data-aos="fade-right" data-aos-offset="100" data-aos-delay="150" data-aos-duration="1000">{{section.settings.heading}}</h3>
          {% assign i = 250 %}
          {% for block in section.blocks %}  
            {% assign i = i | plus: 150 %}
          		<li data-aos="fade-right" data-aos-offset="100" data-aos-delay={{ i }} data-aos-duration="1000"><span>{{ block.settings.list}}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>          
</div>


{% schema %}
  {
    "name": "Maternity Features",
    "settings": [{
     	  "type": "text",
          "id": "heading",
          "label": {
          	"en": "Heading"
		  }
	  },{
     	  "type": "text",
          "id": "image",
          "label": {
          	"en": "Image Url"
		  }
	  }],
   "blocks": [{
      "type": "list-left",
      "name": {
        "en": "List Item"
      },
      "settings": [
        {
          "type": "text",
          "id": "list",
          "label": {
            "en": "List"
          }
        }
      ]
    }
  ]}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
