<div id="LoginModal" style="padding:0;max-width:700px" class="password__login-form text-center mfp-hide">
  <div class="flex">
	<div>
      {{section.settings.image | img_url: '1000x' | img_tag}}
    </div>
    <div class="content">
      <p class="h4 title">{{ section.settings.title }}</p>
      <div class="rte">{{section.settings.description}}</div>
      {% include 'newsletter-form' %}
    </div>
  </div>
</div>
<a class="js-toggle-login-modal" data-mfp-src="#LoginModal" style="display:none">
  {{ 'general.password_page.password_link' | t }}
</a>

<style>
  #LoginModal .newsletter-form .btn {
    {% unless section.settings.button_text == blank %}
    color: {{section.settings.button_text}};
    {% endunless %}
    {% unless section.settings.button_bg == blank %}
    background-color: {{section.settings.button_bg}};
    {% endunless %}
  }
</style>
<script type="text/javascript">
  $(function() {
    function openNewsletterPopup(){
      $('.js-toggle-login-modal').click();
    }
    
    $('.js-toggle-login-modal').magnificPopup({
      type: 'inline',
      mainClass: 'mfp-fade',
      closeOnBgClick: false,
      closeBtnInside: false,
      closeOnContentClick: false,
      tClose: 'x',
      removalDelay: 500,
      callbacks: {
        open: function() {
          window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
        },
        close: function() {
          window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
        }
      }
    });
    if ( $('.storefront-password-form .errors').size() ) {
      openNewsletterPopup();
    }

    if(!localStorage.getItem("newsletter-popup")){
      openNewsletterPopup()
    }
    localStorage.setItem("newsletter-popup", "true")

  });
</script>
{% schema %}
{
  "name": "Newsletter Popup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter Popup"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec erat et ipsum molestie tempus. Sed eget turpis sit amet massa finibus aliquet a at purus."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background"
    },
    {
      "type": "color",
      "id": "button_text",
      "label": "Button Text"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Popup",
      "category": "Promotional"
    }
  ]
}
{% endschema %}

<script>
  
  
  
</script>