<div
    id="PageHeaderSection"
    data-section-id="{{ section.id }}"
    data-section-type="page-header"
   data-parallax="true">

    <div class="page-hero">
        
          <div class="parallax-container">
            <div
              class="parallax-image collection-hero__image lazyload"
              data-bgset="{% include 'bgset', image: section.settings.banner_image %}"
              data-sizes="auto">
            </div>
          </div>
      	{% if section.settings.video_url != blank %}
      		<div class="video-player" data-plyr-provider="{{section.settings.video_url.type}}" data-plyr-embed-id="{{section.settings.video_url.id}}"></div>
      	{% endif %}
       

        <div class="blog-hero__content">
          <div class="page-width">
            <header class="section-header section-header--hero">
              <div class="section-header__noshadow">
                <h1 class="section-header__title">
                    {{ section.settings.banner_heading }}
                </h1>
              </div>
            </header>
          </div>
        </div>
    </div>
</div>

<section class="about-us">
  <div class="container">
    <div class="text-wrapper ">
      {{ section.settings.intro_text }}
    </div>
      <center><pa></pa></center>
    <div class="text-wrapper2 ">
      {{ section.settings.intro_text2 }}
  	</div>
  </div>
    
</section>


<div class="product-wrapper">
  	<section class="product-wrapper-header">
      <div class="container">
        <h2 class="product-wrapper-heading">{{ section.settings.text_image_heading }}</h2>
      </div>
    </section>


    {%- for block in section.blocks -%}
      
        {% cycle '<div class="ingredients-page">','','','','','','','','','','','' %}
        <section class="go-fresh">
            <div class="page-width">
                <div class="container">
                    <div class="display-table v2">
                        <div class="display-cell v2">
                            <div class="img-wrap v3" style="background-image:url({{ block.settings.image | img_url: '720x720' }})">
                            </div>
                        </div>
                        <div class="display-cell v2" data-aos="fade-right">
                            <div class="text-wrap v2">
                                <div class="inner-wrapper" >
                                    <h2  data-aos="fade-in" >{{ block.settings.heading }}</h2>              
                                    {{ block.settings.content }}

                                    
                                    {% if block.settings.btntext != '' %}
                                    <p class="text-right"><a class="btn btn-secondary" href="{{ block.settings.link }}">{{ block.settings.btntext }}</a></p>
                                    {% endif %}      
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        {% cycle '','','','','','','','','','','','</div>' %}
    {%- endfor -%}

</div>

<div class="pagination">

  <span class="prev"><a title="">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>
    <span class="icon__fallback-text">Previous</span>
  </a></span>

  <span class="pagination__wrap">

  </span>
  
  <span class="next"><a title="">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path></svg>
    <span class="icon__fallback-text">Next</span>
  </a></span>
</div>
<style>
.load-more {
  text-align: center;
}
.ingredients-page {
  display: none;
}
.ingredients-page:nth-child(2){
  display: block;
}

.pagination__wrap .current{
  padding: 0 !important;
  cursor: default;
}

.pagination__wrap .page,
.prev,
.next {
  cursor: pointer;
}
</style>


<script>
const loadmore = document.querySelector('.load-more a');
    let currentItems = 2;
    loadmore.addEventListener('click', (e) => {
        e.preventDefault();
        const elementList = [...document.querySelectorAll('.go-fresh')];

        for (let i = currentItems; i < currentItems + 2; i++) {
            if (elementList[i]) {
                elementList[i].style.display = 'block';
            }
        }
        currentItems += 4;

        // Load more button will be hidden after list fully loaded
        if (currentItems >= elementList.length) {
            event.target.style.display = 'none';
        }
    })
</script>
{% schema %}
  {
    "name": "FHF Ingredients Options",
    "settings": [
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Heading"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image",
		"info": "Recommended image size: 1920 x 420 pixels"
      },
	  {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"]
      },
      {
        "type": "richtext",
        "id": "intro_text",
        "label": "Introduction"
      },
      {
        "type": "richtext",
        "id": "intro_text2",
        "label": "Introduction"
      }
    ],
    
    "blocks": [
      {
        "type": "list",
        "name": "Ingredients",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
			"info": "Recommended image size: 500 x 500 pixels"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "btntext",
            "label": "Button Text"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
