<!-- page-rescue-template -->
<div
     id="PageHeaderSection"
     data-section-id="{{ section.id }}"
     data-section-type="page-header"
     data-parallax="true">

  <div class="page-hero">

    <div class="parallax-container">
      <div
           class="parallax-image collection-hero__image lazyload"
           data-bgset="{% include 'bgset', image: section.settings.banner_image %}"
           data-sizes="auto">
      </div>
    </div>
    {% if section.settings.video_url != blank %}
    <div class="video-player" data-plyr-provider="{{section.settings.video_url.type}}" data-plyr-embed-id="{{section.settings.video_url.id}}"></div>
    {% endif %}


    <div class="blog-hero__content">
      <div class="page-width">
        <header class="section-header section-header--hero">
          <div class="section-header__noshadow">
            <h1 class="section-header__title">
              {{ section.settings.banner_heading }}
            </h1>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>

<section class="about-us">
  <div class="container">
    <div class="text-wrapper" data-aos="fade-in">
      {{ section.settings.intro_title }}
     </div>
      <center><pa></pa></center>
      <div class="text-wrapper2" data-aos="fade-in">
      {{ section.settings.intro_text }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Rescue Template Content",
    "settings": [
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Heading"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image",
		"info": "Recommended image size: 1920 x 600 pixels"
      },
	  {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"]
      },
	  {
        "type": "richtext",
        "id": "intro_title",
        "label": "Introduction Title"
      },
      {
        "type": "richtext",
        "id": "intro_text",
        "label": "Introduction Content"
      }  
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
