<div
    id="PageHeaderSection"
    data-section-id="{{ section.id }}"
    data-section-type="page-header"
   data-parallax="true">

    <div class="page-hero">
        
          <div class="parallax-container">
            <div
              class="parallax-image collection-hero__image lazyload"
              data-bgset="{% include 'bgset', image: section.settings.banner_image %}"
              data-sizes="auto">
            </div>
          </div>
      	{% if section.settings.video_url != blank %}
      		<div class="video-player" data-plyr-provider="{{section.settings.video_url.type}}" data-plyr-embed-id="{{section.settings.video_url.id}}"></div>
      	{% endif %}
       

        <div class="blog-hero__content">
          <div class="page-width">
            <header class="section-header section-header--hero">
              <div class="section-header__noshadow">
                <h1 class="section-header__title">
                    {{ section.settings.banner_heading }}
                </h1>
              </div>
            </header>
          </div>
        </div>
    </div>
</div>


<section class="about-us">
  <div class="container">
    <div class="text-wrapper" data-aos="fade-in">
      {{ section.settings.intro_text }}
     </div>
      <center><pa></pa></center>
      <div class="text-wrapper2" data-aos="fade-in">
      {{ section.settings.intro_text2 }}
    </div>
  </div>
</section>
<div class="product-wrapper">
  	<section class="product-wrapper-header">
      <div class="container">
        <h2 class="product-wrapper-heading">{{ section.settings.text_image_heading }}</h2>
      </div>
    </section>
    <section class="go-fresh">
        <div class="container">
            <div class="display-table">
                <div class="display-cell" data-aos="fade-left">
                    <div class="text-wrap">
                        <div class="inner-wrapper">

                            <h2>{{ section.settings.heading_left_first }}</h2>
                            {{ section.settings.content_left_first }}
                            {% if section.settings.button_caption_left_first != '' %}
                             <a href="{{ section.settings.link_left_first }}" class="btn btn-secondary"><span>{{ section.settings.button_caption_left_first }}</span></a>    
                            {% endif %}               
                        </div>
                    </div>
                </div>

                <div class="display-cell" data-aos="fade-in">
                  <div class="img-wrap v3" style="background-image:url({{ section.settings.image_first | img_url: '720x720' }})">
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="go-fresh">
        <div class="container">
            <div class="display-table v2">
                <div class="display-cell v2" data-aos="fade-in"> 
                  <div class="img-wrap v3" style="background-image:url({{ section.settings.image_second | img_url: '720x720' }})">
                  </div>
                </div>
                <div class="display-cell v2"  data-aos="fade-right">
                    <div class="text-wrap v2">
                        <div class="inner-wrapper">
                            <h2>{{ section.settings.heading_left_second }}</h2>
                            {{ section.settings.content_left_second }}
                                              

                            {% if section.settings.button_caption_left_second != '' %}
                            <a href="{{ section.settings.link_left_second }}" class="btn btn-secondary"><span>{{ section.settings.button_caption_left_second }}</span></a> 
                            {% endif %}          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="go-fresh">
        <div class="container">
            <div class="display-table">
                <div class="display-cell" data-aos="fade-left">
                    <div class="text-wrap">
                        <div class="inner-wrapper">
                            <h2>{{ section.settings.heading_left_third }}</h2>
                            {{ section.settings.content_left_third }}
                            {% if section.settings.button_caption_left_third != '' %}
                            <a href="{{ section.settings.link_left_third }}" class="btn btn-secondary"><span>{{ section.settings.button_caption_left_third }}</span></a>
                            {% endif %}    
                        </div>
                    </div>
                </div>
                <div class="display-cell" data-aos="fade-in">
                  <div class="img-wrap v3" style="background-image:url({{ section.settings.image_third | img_url: '720x720' }})">
                  </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% schema %}
  {
    "name": "Our Roots Options",
    "settings": [
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Heading"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
	  {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"]
      },
      {
        "type": "richtext",
        "id": "intro_text",
        "label": "Introduction"
      },
      {
        "type": "richtext",
        "id": "intro_text2",
        "label": "Introduction"
      },
      {
         "type":      "header",
         "content":   "Text Image Sections"
      },
      {
         "type":      "text",
         "id": "text_image_heading",
         "label":   "Text Image Heading"
      },
      {
        "type": "text",
        "id": "heading_left_first",
        "label": "First Section Heading"
      },
      {
        "type": "richtext",
        "id": "content_left_first",
        "label": "First Section content"
      },
      {
        "type": "url",
        "id": "link_left_first",
        "label": "First Section link"
      },
      {
        "type": "text",
        "id": "button_caption_left_first",
        "label": "First Section Button Text"
      },
      {
        "type": "image_picker",
        "id": "image_first",
        "label": "First Section Image"
      },
      {
        "type": "text",
        "id": "heading_left_second",
        "label": "Second Section Heading"
      },
      {
        "type": "richtext",
        "id": "content_left_second",
        "label": "Second Section content"
      },
      {
        "type": "url",
        "id": "link_left_second",
        "label": "Second Section link"
      },
      {
        "type": "text",
        "id": "button_caption_left_second",
        "label": "Second Section Button Text"
      },
      {
        "type": "image_picker",
        "id": "image_second",
        "label": "Second Section Image"
      },
      {
        "type": "text",
        "id": "heading_left_third",
        "label": "Third Section Heading"
      },
      {
        "type": "richtext",
        "id": "content_left_third",
        "label": "Third Section content"
      },
      {
        "type": "url",
        "id": "link_left_third",
        "label": "Third Section link"
      },
      {
        "type": "text",
        "id": "button_caption_left_third",
        "label": "Third Section Button Text"
      },
      {
        "type": "image_picker",
        "id": "image_third",
        "label": "Third Section Image"
      },
      {
         "type":      "header",
         "content":   "Texan Section"
      },
      {
        "type": "image_picker",
        "id": "texan_logo",
        "label": "Section logo"
      },
      {
        "type": "richtext",
        "id": "texan_content",
        "label": "Section content"
      },
      {
         "type":      "header",
         "content":   "Promise Section"
      },
      {
        "type": "text",
        "id": "promise_heading",
        "label": "Section Heading"
      }
    ],
    "blocks": [
      {
        "type": "list",
        "name": "Promise List",
        "settings": [
          {
            "type": "text",
            "id": "promise_list",
            "label": "List text"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
