<!-- page-virtualcam -->
<div
    id="PageHeaderSection"
    data-section-id="{{ section.id }}"
    data-section-type="page-header"
   data-parallax="true">

    <div class="page-hero">
        
          <div class="parallax-container">
            <div
              class="parallax-image collection-hero__image lazyload"
              data-bgset="{% include 'bgset', image: section.settings.banner_image %}"
              data-sizes="auto">
            </div>
          </div>
      	{% if section.settings.video_url != blank %}
      		<div class="video-player" data-plyr-provider="{{section.settings.video_url.type}}" data-plyr-embed-id="{{section.settings.video_url.id}}"></div>
      	{% endif %}
       

        <div class="blog-hero__content">
          <div class="page-width">
            <header class="section-header section-header--hero">
              <div class="section-header__noshadow">
                <h1 class="section-header__title">
                    {{ section.settings.banner_heading }}
                </h1>
              </div>
            </header>
          </div>
        </div>
    </div>
</div>


<section class="about-us">

    {%- if section.settings.intro_text != blank -%}
    <div class="container" data-aos="fade-in">
      <div class="text-wrapper ">
        {{ section.settings.intro_text }}
      </div>
      	{%- if section.settings.intro_text2 != blank -%}
      		<pa style="margin-left: auto;margin-right: auto;"></pa>
        	<div class="text-wrapper2 " data-aos="fade-in">
        		{{ section.settings.intro_text2 }}
        	</div>
    	{%- endif -%}
    </div>
    {%- endif -%}


  </section>



{% paginate blog.articles by 12 %}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width page-content" style="padding-top: 0px">

    <div class="blog-template__container">
      {%- include 'breadcrumbs' -%}

      <header class="section-header{% if section.settings.blog_show_tag_filter and blog.tags.size > 0 %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
        <h1 class="span-head__style popitheading">
          Virtual Cam
        </h1>

      </header>

      <div class="grid grid--uniform MasonGrid">
        {% for article in blog.articles %}
          {% include 'article-grid-item', grid_item_width: 'medium-up--one-third', per_row: '3', image_size: 'natural' %}
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  </div>
</div>
{% endpaginate %}

<script src="{{ 'grid.js' | asset_url }}"  defer="defer"></script>


  {% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "header",
        "content": "Page Banner and Title"
      },
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Heading"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"]
      },
      {
        "type": "header",
        "content": "Page Introductions"
      },
      {
        "type": "richtext",
        "id": "intro_text",
        "label": "1st line Introduction"
      },
      {
        "type": "richtext",
        "id": "intro_text2",
        "label": "2nd line Introduction"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
