<div class="our-story-slideshow {{ section.settings.homepage_logos_bg_color }}{% if section.settings.title != blank %} homepage-logos--tall{% endif %}" {% if section.settings.custom_bg_color == true %}style="background-color: {{ section.settings.bg_color }};"{% endif %}>

    {% if section.settings.title != blank %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="homepage-page__content rte">
        {{ section.settings.text }}
      </div>
    {% else %}
      <div class="homepage-page__content rte">
        {{ 'home_page.onboarding.no_content' | t }}
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="gallery-slider">
        {% for block in section.blocks %}
          <div{{ block.shopify_attributes }}>
            {% if block.settings.image != blank %}
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <div class="lazy-image" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%; background-image:  url('{{ block.settings.image | img_url: '1x1' }}');">
                <img class="lazyload fade-in"
                  alt="{{ block.settings.image.alt }}"
                  data-src="{{ img_url }}"
                  data-widths="[110, 160, 220, 320, 480]"
                  data-aspectratio="{{  block.settings.image.aspect_ratio }}"
                  data-parent-fit="cover"
                  data-sizes="auto"/>
              </div>
              <noscript>
                <img src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt | default: block.settings.title }}"/>
              </noscript>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      <div class="text-center">{{ 'home_page.onboarding.no_content' | t }}</div>
    {% endif %}
</div>

<script>
  $(document).ready(function(){
    $('.gallery-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      centerMode: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });
  });
</script>

{% schema %}
  {
    "name": "Slideshow",
    "class": "index-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Shortbread Snapshots"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "select",
        "id": "homepage_logos_bg_color",
        "label": "Background color",
        "default": "homepage--light",
        "options": [
          { "value": "homepage--white", "label": "White"},
          { "value": "homepage--light", "label": "Light"},
          { "value": "homepage--splash", "label": "Accent"},
          { "value": "homepage--dark", "label": "Dark"}
        ]
      },
      {
        "type": "checkbox",
        "id": "custom_bg_color",
        "label": "Use custom bg color"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Custom bg color"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "640 x 640px .png recommended"
          }
        ]
      }
    ]
  }
{% endschema %}
