{%- assign per_row = section.settings.per_row -%}

{%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}

{% case per_row %}
{% when 2 %}
  {%- assign grid_item_width = 'medium-up--one-half' -%}
{% when 3 %}
  {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
{% when 4 %}
  {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
{% when 5 %}
  {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
{% endcase %}



<nav class="find-facial-nav has-margin-bottom">
  <div class="page-width">
      <ul>
        {% for block in section.blocks %}
        {% assign current_collection = block.settings.selected_collection %}
          <li><a href="#{{ collections[current_collection].handle }}">{{ collections[current_collection].title }}</a></li>
        {%- endfor -%}
      </ul>
  </div>
</nav>
 


<div class="clearfix FindFacial">
    <div class="page-width">
      {% for block in section.blocks %}
        {% if block.type == 'bundle' %}
          {% assign current_collection = block.settings.selected_collection %}
          {% style %}
            .bundle-preview-{{ block.id }} .bundle-preview__inner {
              background-color: {{ block.settings.color }};
              height: 100%;
              width: 100%;
              display: flex;
              flex-flow: column;
              justify-content: flex-end;
            }
            .btn-{{ block.id }} {
              background-color: {{ block.settings.button_color }}
            }
          {% endstyle %}
          <div id="{{ collections[current_collection].handle }}" style="clear: both;display: block;"></div>
          <div class="collection-grid__wrapper">
            <div class="grid__item grid__item--content">
              <div class="section-header header-stylish text-left">
                {% assign title = collections[current_collection].title | split: ' ' %}
                <h2 class="section-header__title">{{title[0]}} <span>{{title[1]}}</span></h2>
              </div> 
              <div class="grid hawke-grid hawke-grid-reset grid--uniform grid--collection{% if section.settings.mobile_flush_grid %} small--grid--flush{% endif %}" data-scroll-to>
                <div class="grid__item grid-product aos-init aos-animate bundle-preview-{{ block.id }}">
                  <div class="bundle-preview__inner">
                    <h2>{{ block.settings.title }}</h2>
                    {{ block.settings.description }}

                    {% assign product_add_id = '' %}
                {%- for product in collections[current_collection].products limit: 10 -%}
                  {% assign product_add_id = product_add_id | append: product.selected_or_first_available_variant.id  %}
                  {% unless forloop.last %}
                    {% assign product_add_id = product_add_id | append: ',' %}
                  {% endunless %}
                {%- endfor -%}

                    <button type="button" class="btn btn-bundleCart btn-add-to-cart btn-{{ block.id }}" data-products="{{ product_add_id }}">ADD TO BASKET</button>
                  </div>
                </div>



                {% assign StepCounter = 0%}
                {%- for product in collections[current_collection].products limit: 10 -%}
                  {% assign StepCounter = StepCounter | plus: 1 %}
                  {% assign labelHandle = 'psl_' | append: StepCounter %}
                  {%- include 'product-grid-item-2', label:  block.settings[labelHandle]-%}
                {%- else -%}
                  <div class="grid__item">
                    <p>{{ 'collections.general.no_matches' | t }}</p>
                  </div>
                {%- endfor -%}



              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}


      {%- if settings.quick_shop_enable -%}
        {% for block in section.blocks %}
          {% if block.type == 'bundle' %}
            {%- for product in collections[block.settings.selected_collection].products -%}
              {%- if product.available -%}
                {%- include 'quick-shop-modal' -%}
              {%- endif -%}
            {%- endfor -%}
          {% endif %}
        {%- endfor -%}
      {%- endif -%}
    </div>
</div>

{% schema %}
  {
    "name": "Find a facial Page",
    "settings": [
      {
        "type": "range",
        "id": "per_row",
        "label": "Products per row",
        "default": 4,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "mobile_flush_grid",
        "label": "Flush grid on mobile",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "bundle",
        "name": "Bundle",
        "settings": [
          {
            "label": "Title",
            "id": "title",
            "type": "text",
            "info": "name of facial",
            "default": "Facial Name"
          },
          {
            "label": "Description",
            "id": "description",
            "type": "richtext",
            "default": "<p>Description of given facial</p>"
          },
          {
            "label": "Feature Collection",
            "id": "selected_collection",
            "type": "collection",
            "info": "Select a collection for bundle"
          },
          {
            "label": "Group Color",
            "id": "color",
            "type": "color",
            "default": "#FFF5EC"
          },
          {
            "label": "Button Color",
            "id": "button_color",
            "type": "color",
            "default": "#68883F"
          },
          {
            "type": "header",
            "content": "Product Step Label"
          },
          {
            "label": "Product 1",
            "id": "psl_1",
            "type": "text",
            "default": "Step 1: "
          },
          {
            "label": "Product 2",
            "id": "psl_2",
            "type": "text",
            "default": "Step 2: "
          },
          {
            "label": "Product 3",
            "id": "psl_3",
            "type": "text",
            "default": "Step 3: "
          },
          {
            "label": "Product 4",
            "id": "psl_4",
            "type": "text",
            "default": "Step 4: "
          },
          {
            "label": "Product 5",
            "id": "psl_5",
            "type": "text",
            "default": "Step 5: "
          },
          {
            "label": "Product 6",
            "id": "psl_6",
            "type": "text",
            "default": "Step 6: "
          },
          {
            "label": "Product 7",
            "id": "psl_7",
            "type": "text",
            "default": "Step 7: "
          },
          {
            "label": "Product 8",
            "id": "psl_8",
            "type": "text",
            "default": "Step 8: "
          },
          {
            "label": "Product 9",
            "id": "psl_9",
            "type": "text",
            "default": "Step 9: "
          },
          {
            "label": "Product 10",
            "id": "psl_10",
            "type": "text",
            "default": "Step 10: "
          }
        ]
      }
    ]
  }
{% endschema %}