<!-- /sections/page-corporate-gifting-contact.liquid-->
<div class="homepage-page{% unless section.settings.custom_bg_color == true %} {{ section.settings.homepage_page_color }}{% endunless %}"{% if section.settings.custom_bg_color == true %} style="background-color: {{ section.settings.bg_color }};"{% endif %}>
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--three-fifths push--large--one-fifth">
        {% if section.settings.title != '' %}
          <h4 class="home__subtitle">
            {% if section.settings.image %}
              {{ section.settings.image | img_url: '30x' | img_tag: '','flourish-left' }}
            {% endif %}
            {{ section.settings.title | escape }}
            {% if section.settings.image %}
              {{ section.settings.image | img_url: '30x' | img_tag: '','flourish-right' }}
            {% endif %}
          </h4>
        {% endif %}
        {% if section.settings.home_page_richtext != blank %}
          <div class="homepage-page__content rte">
            {{ section.settings.home_page_richtext }}
          </div>
        {% endif %}
        <div class="contact-form">
        {% include 'contact-form' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact from",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Let's Get Started"
    },
    {
      "id": "home_page_richtext",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "homepage_page_color",
      "label": "Background color",
      "default": "homepage--white",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "select",
      "id": "description_font_size",
      "label": "Description text size",
      "default": "rte rte--large",
      "options": [
        { "value": "rte", "label": "Regular"},
        { "value": "rte rte--large", "label": "Large"},
        { "value": "rte rte--xl", "label": "Extra Large"}
      ]
    },
    {
      "type": "checkbox",
      "id": "custom_bg_color",
      "label": "Use custom section bg color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Custom bg color"
    }
  ]
}
{% endschema %}
