<div id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="blocks">
  <div class="page-width page-content">
    <div class="blog-template__container">
      <h2 class="text-center">
        {{section.settings.title}}
      </h2>
      	<div class="grid grid--uniform">
        {% for blocks in section.blocks %}
          <div class="grid__item medium-up--one-third section-product" data-aos="row-of-3">
            <div class="grid">
              <div class="grid__item">   
                <div class="image-wrapper">
                  {% if blocks.settings.image %}
                  {{blocks.settings.image | img_url: '1000x' | img_tag}}
                  {% endif %}
                </div>
              </div>
              <div class="grid__item">
                <div class="article__grid-meta">
                  <p  class="article__title" >{{ blocks.settings.title }}</p>
                  {% assign content = blocks.settings.content %}
                  {% unless content == blank %}
                    <div style="margin-top:10px">
                      {{content}}
                    </div>
                  {% endunless %}
                  <a href="#" onclick="Calendly.initPopupWidget({url: '{{blocks.settings.link}}'});return false;" class="btn btn-secondary" >{{blocks.settings.btn_text}}</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Regions",
	"settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      }
	],
    "blocks": [
      {
        "type": "region",
        "name": "Region",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "content",
            "type": "richtext",
            "label": "Content"
          },
          {
            "id": "link",
            "type": "text",
            "label": "Calendly Link"
          },
          {
            "id": "btn_text",
            "type": "text",
            "label": "Button Text",
			"default": "Book 1-on-1"
          }
        ]
      }
    ]
  }
{% endschema %}