{%- if section.settings.layout == 'right' -%}
  {%- assign animate = 'left' -%}
{%- else -%}
  {%- assign animate = 'right' -%}
{%- endif -%}


{% if section.settings.divider %}<div class="section--divider">{% endif %}
{% if section.settings.layout == 'left' %}
<section class="go-fresh" style="overflow:visible">
  <div class="page-width">
    <div class="container">
      {% if section.settings.subtitle != blank %}
      <p class="popitheading" style="margin-top:-100px">{{ section.settings.subtitle }}</p>
      {% endif %}
      <div class="display-table v2">
        <div class="display-cell v2">
          <div class="img-wrap v3" style="background-image:url({{ section.settings.image | img_url: '720x720' }})">
          </div>
        </div>
        <div class="display-cell v2" data-aos="fade-right">
          <div class="text-wrap v2">
            <div class="inner-wrapper" >
              <h2  data-aos="fade-in" >{{ section.settings.title }}</h2>              
              {{ section.settings.text }}

              {% if section.settings.button_label != blank %}
              <a href="{{ section.settings.button_link }}" class="btn btn-secondary">
                {{ section.settings.button_label }}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
{% else %}
<section class="go-fresh">
  <div class="container">
    <div class="display-table">
      <div class="display-cell" data-aos="fade-left">
        <div class="text-wrap">
          <div class="inner-wrapper" >
            <h2  data-aos="fade-in" >{{ section.settings.title }}</h2>              
            {{ section.settings.text }}

            {% if section.settings.button_label != blank %}
            <a href="{{ section.settings.button_link }}" class="btn btn-secondary">
              {{ section.settings.button_label }}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="display-cell" data-aos="fade-in">
        <div class="img-wrap v3" style="background-position:top; background-image:url( '{{ section.settings.image | img_url: '720x720' }}' )"></div>
      </div>
    </div>
  </div>
</section>

{% endif %}

{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Image with text",
    "class": "featured-product-container",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
		"info": "Recommended image size: 500 x 500 pixels"
      },
      {
        "type": "range",
        "id": "image_width",
        "label": "Image width",
        "default": 500,
        "min": 100,
        "max": 500,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Improved"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
