<!-- /sections/section-columns.liquid -->

<div class="homepage-columns {{ section.settings.bg }}" data-section-id="{{ section.id }}" data-section-type="section-columns">
  <div class="wrapper">
    {% if section.settings.title != blank %}
      <h2 class="home__subtitle">{{ section.settings.title | escape }}</h2>
    {% endif %}
    <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %}">
      {%- assign grid_item_width = 'medium-up--one-half small--one-half' -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'medium-up--one-half small--one-half' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'medium-up--one-half small--one-half' -%}
      {% when 3 %}
          {%- assign grid_item_width = 'medium-up--one-third small--one-half' -%}
        {% when 4 %}
          {%- assign grid_item_width = 'medium-up--one-half small--one-half' -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'medium-up--one-half small--one-half' -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        {%- if section.blocks.size == 5 and forloop.index == 3 -%}<div class="clearfix"></div>{%- endif -%}
        <div class="index__column grid__item {{ column_width }} {{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <iframe width="500px" height="315" src="{{block.settings.video_url}}" frameborder="0" allowfullscreen="">
                  </iframe>
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      <div class="text-center">{{ 'home_page.onboarding.no_content' | t }}</div>
    {% endif %}
  </div>

</div>

{% schema %}
  {
    "name": "Video columns",
    "blocks": [
      {
        "type": "video_block",
        "name": "Video Column",
        "settings": [
          {
            "type": "text",
            "id": "video_url",
            "label": "Youtube Video Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video columns",
        "category": "Text",
        "blocks": [
          {
            "type": "video_block"
          },
          {
            "type": "video_block"
          },
          {
            "type": "video_block"
          }
        ]
      }
    ]
  }
{% endschema %}
