<style>
  #independent-distributor-program {
    font-size: 1.2rem;
    text-align: center;
  }
  .get-started-image {
    width: 50%;
  }
  .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}
  .page-title {
    display: none;
  }
  #independent-distributor-program .unique-text {
    color: #ED2B91;
    text-decoration: underline!important;
  }
  #independent-distributor-program .banner {
    text-align: center;
    line-height: 1.2;  
  }
   #independent-distributor-program .banner p{
    font-size: 2.3rem;
     line-height: 1.2;
  }
 #independent-distributor-program p {
   font-size: 1.5rem;
   line-height: 1.3;
 }
  #independent-distributor-program .button-container {
    display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

#independent-distributor-program .button-container:after, #independent-distributor-program .button-container:before {
  content: '';
  flex: 1 1 auto; 
  border-bottom: solid 4px #000;
}

.button-container .btn {
  flex: 0 1 auto;
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 30px 0 30px;
    color: white;
    font-weight: bold;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 0px;
    background: #47c1bf;
    margin: 50px;
} 
.number {
  border-radius: 50%;
    background: black;
    color: white;
    padding: 0px 20px;
    margin-right: 20px;
   margin-left: -90px;
}
  .know-card-container {
    display: flex;
    margin-bottom: 2rem;
  }
  .know-card-container img {
    max-width: 250px;
    margin-right: 150px;
  }
  .know-more-heading {
    text-align: center;
    margin: 4rem 0px;
  }
  .know-desc {
    margin-top: 2rem;
  }
  .item {
    padding: 3rem 0rem;
  }
  .owl-item.active.center {
    background: #ED2B91;
    padding: 0rem 3rem;
    transition: background 3s ease;
    color: white;
 }

  .owl-item.active:nth-child(1) {
  background: black;
}
  .testimonial {
    text-align: left;
  }
  .know-desc p {
    text-align: left;
  }
  .know-more {
    margin: 0 4rem;
  }
  @keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 1000px) {
 .get-started-image {
    width: 100%;
 }
 #independent-distributor-program .banner p {
   font-size: 1.3rem;
 }
  #independent-distributor-program .banner h2 {
    font-size: 1.6rem;
  }
 .button-container .btn {
       margin: 30px;
 }
 #independent-distributor-program .know-more-heading {
   margin-top: 2rem;
   font-size: 1.2rem;
 }
  .know-card-container {
    display: block;
  }
  .know-img-cnt img {
    max-width: 100%;
  }
  .number {
    margin-left: -40px;
    padding: 0px 9px;
    margin-right: 10px;
  }
  .know-desc {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  .footer-txt {
    text-align: left;
    margin-top: -20px;
  }
  .footer-txt div {
    margin-bottom: 2rem;
  }
  .know-more {
    margin: 10px;
  }
  .know-desc h1 {
    font-size: 1.4rem;
  }
  #independent-distributor-program p {
    font-size: 1.3rem;
  }
  .owl-item.active.center {
    padding: 0 2rem;
  }

  .button-container .btn {
    font-size: 1.3rem;
  }
}
</style>

<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <article class="page" id="independent-distributor-program">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
           <section class="banner" >
             <div class="banner-img">
               <img src="{{ 'BodyPos-10-grey.jpg' | asset_url }}" />
             </div>
             <div  data-aos="fade-up" data-aos-offset="80" data-aos-delay="100" data-aos-duration="1000">
               <h2> Start <span class="unique-text">your own business</span> and work <span class="unique-text">your</span> way.</h2>
               <p>
                 Combine your excitement for business with your passion for fashion!
                  Enjoy the flexibility of working your own hours and connecting with your
                  local community, all while spreading self-confidence and body positivity.
               </p>
             </div>
           </section>
            <div class="button-container">
              <button class="btn"><a href = "/pages/id-sign-up-dashboard" style="color: white; font-weight: bold">GET STARTED<a></button>             
            </div>
            <h2 class="know-more-heading">Want to know <span class="unique-text">more</span>?</h2>
            <section class="know-more">
              <div class="know-card-container">
                <div class="know-img-cnt">
                  <img src="{{ 'Artboard2.png' | asset_url }}" data-aos="fade-in" data-aos-offset="100" data-aos-delay="150" data-aos-duration="1000"/>
                </div>     
                <div class="know-desc" data-aos="fade-in" data-aos-offset="100" data-aos-delay="150" data-aos-duration="1000"/>
                  <div>
                    <h1 style="display: flex"><div class="number">1</div>Something For Everybody.</h1>
                    <p>
                      Our collection of stylish and fun products allows our customers to
                      create a wardrobe that is as unique as they are. Whether it’s
                      patterned leggings, beautiful SweetTops, Athleisure, Maternity, or
                      great accessories there’s something for everyone at SweetLegs!
                      Plus, our ongoing product launches keep your selections fresh!
                    </p>
                  </div>
                </div>      
              </div>
              <div class="know-card-container">
                <div class="know-img-cnt">
                  <img src="{{ 'Artboard4.png' | asset_url }}" data-aos="fade-in" data-aos-offset="100" data-aos-delay="250" data-aos-duration="1000"/>
                </div>     
                <div class="know-desc">
                  <div>
                    <h1 style="display: flex"><div class="number">2</div>Focus On Your Business.</h1>
                    <p>
                      Get 1-on-1 support from our amazing Canadian headquarters team
                      and Independent Distributor community. With access to an ongoing
                      database of resources, professional photoshoots, videos, and
                      graphics, plus professional marketing materials, you’ll look like a pro
                      as soon as you start.
                    </p>
                  </div>
                </div>      
              </div>
              <div class="know-card-container">
                <div class="know-img-cnt">
                  <img src="{{ 'Artboard3.png' | asset_url }}" data-aos="fade-in" data-aos-offset="100" data-aos-delay="350" data-aos-duration="1000"/>
                </div>     
                <div class="know-desc" data-aos="fade-in" data-aos-offset="100" data-aos-delay="150" data-aos-duration="1000"/>
                  <div>
                    <h1 style="display: flex"><div class="number">3</div>Earn Your Way.</h1>
                    <p style="margin-bottom: 0px">
                      SweetLegs Independent Distributors buy wholesale and make
                      money off each item they sell, so you’re in control of your success.
                      Distributors also benefit from an industry-leading warranty, full
                      compensation for defective products, and discounted shipping rates
                      to keep your business costs low and your earning potential high.
                      
                    </p>
                    <p style="color: #00c4b3; text-decoration: italic">* Bonus: Now earn 15% kickback for each online referral!</p>
                  </div>
                </div>      
              </div>
              <div class="know-card-container">
                <div class="know-img-cnt">
                  <img src="{{ 'Artboard0.png' | asset_url }}"data-aos="fade-in" data-aos-offset="100" data-aos-delay="450" data-aos-duration="1000"/>
                </div>     
                <div class="know-desc" data-aos="fade-in" data-aos-offset="100" data-aos-delay="150" data-aos-duration="1000"/>
                  <div>
                    <h1 style="display: flex"><div class="number">4</div>Social Selling Made Easy.</h1>
                    <p>
                     Our direct sales model does not utilize multi-level marketing, so
                      SweetLegs is void of any commissions, team building, or
                      compensation for team building. This means you can focus on your
                      customers in your community instead of recruiting a downline.
                    </p>
                  </div>
                </div>      
              </div>
            </section>
            <img class="get-started-image" src="{{ 'Artboard1.png' | asset_url }}" />
            <div class="button-container">
              <a href="/pages/id-sign-up-dashboard" class="btn" style="display:flex; align-items: center">APPLY NOW</a>             
            </div>
        {% section 'distributor-reviews-section' %}
            <div class="button-container">
              <button class="btn" style="background: #693c97"><a href = "mailto:idsupport@sweetlegs.ca" style="color: white; font-weight: bold">REACH OUT</a></button>  
            </div>
              <h2 class="know-more-heading">Have questions? <a href="">Reach out!</a></h2>
            <div class="footer-txt">
              <div>Our application process is simple, but if have a questions e-mail: <b>idsupport@sweetlegs.ca</b></div>
              <div >Our customer service hours are Monday to Friday, 7 AM to 3 PM PST, excluding statutory holidays.</div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:20,
    center: true,
    dot: false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3, 
            
        }
    }
})
</script>