{% section 'register-header' %}
{% section 'register-rich-text' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item">
      <div class="klaviyo-form-XeG2MQ"></div>
      
      {% comment %}
      <div class="form-vertical">
        {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" class="input-full" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

        <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
        <input type="text" name="customer[last_name]" id="LastName" class="input-full" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

        <label for="Email">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

        <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">

        <label for="CompanyName">{{ 'customer.register.company_name' | t }}</label>
        <input type="text" name="customer[note][company_name]" id="CompanyName" class="input-full" {% if form.note.company_name %}value="{{ form.note.company_name }}"{% endif %} autocapitalize="words">

        <label for="Phone">{{ 'customer.register.phone' | t }}</label>
        <input type="tel" name="customer[note][phone]" id="Phone" class="input-full" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">

        <label for="BusinessAddress">{{ 'customer.register.business_address' | t }}</label>
        <input type="text" name="customer[note][business_address]" id="BusinessAddress" class="input-full" {% if form.note.business_address %}value="{{ form.note.business_address }}"{% endif %} autocapitalize="words">

        <label for="BusinessAddress2">{{ 'customer.register.business_address2' | t }}</label>
        <input type="text" name="customer[note][business_address2]" id="BusinessAddress2" class="input-full" {% if form.note.business_address2 %}value="{{ form.note.business_address2 }}"{% endif %} autocapitalize="words">

        <label for="City">{{ 'customer.register.city' | t }}</label>
        <input type="text" name="customer[note][city]" id="City" class="input-full" {% if form.note.city %}value="{{ form.note.city }}"{% endif %} autocapitalize="words">

        <label for="State">{{ 'customer.register.state' | t }}</label>
        <input type="text" name="customer[note][state]" id="State" class="input-full" {% if form.note.state %}value="{{ form.note.state }}"{% endif %} autocapitalize="words">

        <label for="Country">{{ 'customer.register.country' | t }}</label>
        <input type="text" name="customer[note][country]" id="Country" class="input-full" {% if form.note.country %}value="{{ form.note.country }}"{% endif %} autocapitalize="words">

        <label for="Zip">{{ 'customer.register.zip' | t }}</label>
        <input type="text" name="customer[note][zip]" id="Zip" class="input-full" {% if form.note.zip %}value="{{ form.note.zip }}"{% endif %} autocapitalize="words">

        <label for="Website">{{ 'customer.register.website' | t }}</label>
        <input type="text" name="customer[note][website]" id="Website" class="input-full" {% if form.note.website %}value="{{ form.note.website }}"{% endif %} autocapitalize="words">

        <label for="Social">{{ 'customer.register.social' | t }}</label>
        <input type="text" name="customer[note][social]" id="Social" class="input-full" {% if form.note.social %}value="{{ form.note.social }}"{% endif %} autocapitalize="words">

        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
        </p>

        {% endform %}
      </div>
      {% endcomment %}
    </div>
  </div>
</div>
<style>
  .main-content {
    background-color: #FFF5EC;
    padding-bottom: 60px;
  }
  .about-us {
    background-color: transparent;
  }
  .index-section {
    margin-bottom: 0;
  }
</style>
