
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}  <div class="powr-social-media-icons" id="ed03126d_1598019569"></div>
<script type="text/javascript">
  window.AVADA_EM = window.AVADA_EM || {};

  window.AVADA_EM.product = {
    id: {{ product.id|json }},
    title: {{ product.title|json }},
    variants: {{ product.variants|json }},
    selectedVariant: {{ product.selected_variant.id|json }},
    vendor: {{ product.vendor|json }},
    productType: {{ product.type|json }},
    collections: {{ product.collections|map:'title'|json }},
    image: "https:{{ product.featured_image.src|img_url:'grande' }}",
    url: "{{ shop.secure_url }}{{ product.url }}",
    price: {{ product.price |json }},
    tags: {{ product.tags |json }},
  };
</script>
