
<script>console.log({{shop.products_count}})</script>
{% paginate search.results by shop.products_count %}

<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

  <div class="grid">
    <div class="grid__item">
      <header class="section-header">
        <h1 class="section-header__title">
          {{ 'general.search.title' | t }}
        </h1>
      </header>

      {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}

      {% if search.performed %}

        <hr class="hr--medium">

        <div data-section-id="{{ section.id }}" data-section-type="collection-template-boost-pfs-original">
          <div class="section-header">
            {% if search.results_count == 0 %}
              <p>
                {{ 'general.search.no_results_html' | t: terms: search.terms }}
              </p>
            {% endif %}
          </div>

          <div class="grid grid--uniform">
			{% assign counterTRUE = 0 %}
            {% assign counterFALSE = 0 %}
            {% for item in search.results %}
            <span style="display: none" data-true="{{forloop.index}}"></span>

{%- comment -%} Wholesale Gorilla: do not delete unless app is uninstalled{%- endcomment -%}
{%- assign wsgTempProd = item -%}{%- assign wsgExclude = false -%}{%- if forloop.first == true -%}{%- assign wsgActive = false -%}{%- assign wsgActiveCustomer = false -%}
{%- include 'wsg-status' wsgStatusAction: 'init' | strip -%}{%- endif -%}{%- if wsgActive -%}{%- if wsgTempProd.object_type == 'product' -%}{%- include 'wsg-status' wsgStatusAction: 'col-item' | strip -%}{%- endif -%}{%- endif -%}{%- if wsgExclude -%} {%- continue -%} {%- endif -%}
{%- comment -%} end WSG {%- endcomment -%}

              {% if item.object_type == 'product' %}
                {%- assign product = item -%}
                {% include 'product-check' %}
                {% if can_see %}
                  {% include 'product-grid-item' %}
            		{% assign counterTRUE = counterTRUE | plus: 1%}
            	{% else %}
                    {% assign counterFALSE = counterFALSE | plus: 1%}
                {% endif %}
              {% else %}
                <div class="grid__item grid-search medium-up--one-quarter small--one-half">
                  <div class="grid-search__page">
                    <a href="{{ item.url }}" class="grid-search__page-link">
                      <span class="grid-search__page-content">
                        <span class="h4">{{ item.title }}</span>
                        {% if item.object_type == 'article' and item.image %}
                          {%- assign img_url = item.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="grid-product__image lazyload"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 540]"
                              data-aspectratio="{{ item.image.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ item.title | escape }}">
                        {% endif %}
                        {{ item.content | strip_html | truncatewords: 45 }}
                      </span>
                    </a>
                  </div>
                </div>
              {% endif %}

            {% endfor %}
            
            <script>console.log("FALSE: {{counterFALSE}} --- TRUE: {{counterTRUE}}")</script>

            {% for item in search.results %}
{%- comment -%} Wholesale Gorilla: do not delete unless app is uninstalled{%- endcomment -%}
{%- assign wsgTempProd = item -%}{%- assign wsgExclude = false -%}{%- if forloop.first == true -%}{%- assign wsgActive = false -%}{%- assign wsgActiveCustomer = false -%}
{%- include 'wsg-status' wsgStatusAction: 'init' | strip -%}{%- endif -%}{%- if wsgActive -%}{%- if wsgTempProd.object_type == 'product' -%}{%- include 'wsg-status' wsgStatusAction: 'col-item' | strip -%}{%- endif -%}{%- endif -%}{%- if wsgExclude -%} {%- continue -%} {%- endif -%}
{%- comment -%} end WSG {%- endcomment -%}
              {% if item.object_type == 'product' %}
                {% if settings.quick_shop_enable %}
                  {%- assign product = item -%}
                  {% include 'quick-shop-modal' %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>


      {% endif %}

    </div>
  </div>
</div>

<script>
  (function() {
    console.debug("{{page_title }}")
      const original_title = document.title
       document.title = "Search: " + {{counterTRUE}} + " results found for '{{search.terms}}' - {{shop.name}}"      
})();
</script>

{% endpaginate %}