<div id="search-results" class="inner-wrap">  
   <form action="/search" method="get" class="search-form clearfix" role="search">
    <div class="inline-group">
     <input class="input-text" type="text" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" />
     <span class="button-wrap">
        <button class="button" type="submit">{{ 'general.search.submit' | t }}</button>
     </span>
  </div>
</form>  


{% if search.performed %}
   {% paginate search.results by 10 %}  

   {% if search.results_count == 0 %} 
      <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
   {% else %}
      <h3>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h3> 
      <ol>
      {% for item in search.results %}
        {% if item.tags contains "hidden" %}
{% continue %}
{% endif %}
        {% if item.available %}
         <li class="clearfix">
         {% if item.object_type == 'article' %}
            <!-- 'item' is an article -->
            {% if item.image %}
               <div class="res-image">
                  <a href="{{ item.url }}" title="{{ item.title | escape }}">
                     {{ item | image_url: 'small' | img_tag: item.title }}
                  </a>
               </div>
            {% endif %}
         {% elsif item.object_type == 'page' %}
            <!-- 'item' is a page -->
         {% else %}
            <!-- 'item' is a product -->
            {% if item.featured_image %}
               <div class="res-image">
                  <a href="{{item.url}}" title="">
                     {{ item.featured_image | product_img_url: 'small' | img_tag }}
                  </a>
               </div>
            {% endif %}
         {% endif %}             
         <h4>{{ item.title | link_to: item.url }}</h4>
         {% if item.object_type == 'product' %}
           <p>{% if item.price_varies %}{{'products.general.from' | t }} {% endif %}<span class=price-money>{{item.price | money}}</span></p>
         {% endif %}
         <span class="search-result-text">{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>
         </li>
           {% endif %}
      {% endfor %}
      </ol>            
   {% endif %}

   {% if paginate.pages > 1 %}
     <div class="paginate">
       {% include 'pagination' %}
     </div>
   {% endif %}

   {% endpaginate %}       
{% endif %} 
</div>



