<div class="blog-header">
  <h1 class="page-title">{{article.title}}</h1>
  {% include 'blog-tags' %}
</div>

<div class="article-meta">
  {% if section.settings.blog_show_author %}
    <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
  {% endif %}

  {% if section.settings.blog_show_date %}
    <span class="article__date">
      {{ article.published_at | time_tag: '%b %d, %Y' }}
    </span>
  {% endif %}
  {% if blog.comments_enabled? %}
    <span class="post-comment-count">
      <a class="comment-count" href="{{article.url}}#comments">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</a>
    </span>            
  {% endif %}
</div>       

<div class="article-content" itemprop="articleBody">
  {% if article.image %}
    {% assign featured_image_src = article | img_url: '1024x1024' %}
  {% endif %}
  {% unless featured_image_src == blank %}
    <div class="article-featured-image">
      <a href="{{ article.url }}">{{ featured_image_src | img_tag: article.title }}</a>
    </div>
  {% endunless %}
  {{ article.content }}
</div>   

{% if section.settings.show_share_buttons %}
  {% capture shareHeading %}{{ 'blogs.general.share_this_post' | t }}{% endcapture %}
  {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image, share_heading:shareHeading %}
{% endif %}

{% if blog.next_article or blog.previous_article %}
   <div class="article-nav clearfix"> 
      {% if blog.previous_article %}
         <a class="go-left button secondary" href="{{blog.previous_article}}">{{ 'blogs.article.older_post' | t }}</a>
      {% endif %}
      {% if blog.next_article %}
         <a class="go-right button secondary" href="{{blog.next_article}}">{{ 'blogs.article.newer_post' | t }}</a>
      {% endif %}    
   </div>
{% endif %}  

{% schema %}
  {
    "name": "Posts",
    "class": "inner-wrap",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}

      
 
      