{%- capture image_size -%}{{section.settings.thumb-size}}{%- endcapture -%}

{% if section.settings.title != blank %}
  <h3>{{ section.settings.title | escape }}</h3>
{% endif %}

<ul class="block-grid columns{{section.settings.grid}} collection-th collection-list flexbox-grid" data-section-id="{{ section.id }}" data-section-type="collection-list">
  {% for block in section.blocks limit: section.blocks.size %}
    <li {{ block.shopify_attributes }}>
      {%- assign collection = collections[block.settings.collection] -%}
      {% include 'collection-grid-item', collection_image_size: image_size %}   
    </li>
  {% endfor %}
</ul>

{% if section.blocks.size == 0 %}
  <div class="wrapper">
    <div class="rte text-center">
     {{ 'homepage.onboarding.no_content' | t }}
   </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 24,
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "select",
        "id": "thumb-size",
        "label": "Image size",
        "default": "200x200",
        "options": [
          {
            "value": "120x120",
            "label": "Small"
          },
          {
            "value": "200x200",
            "label": "Medium"
          },
          {
            "value": "400x400",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Collections per row",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "settings": {
          "grid": "3"
        },
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}
