{% if linklists[section.settings.top_linklist].links.size > 0 %}
   <nav class="top-menu hide-mobile clearfix" role="navigation" data-menuchosen="{{section.settings.top_linklist}}">
     <ul>
      {% for link in linklists[section.settings.top_linklist].links %}
         {% assign child1 = link.title | handle %}
         {% if linklists[child1] and linklists[child1].links.size > 0 %}
            <li class="has-sub level-1 from-top-menu">
               <a class="newfont" href="{{ link.url }}">{{ link.title | escape }}</a>
               <ul>
               {% for child1_link in linklists[child1].links %}
                     <li>
                        <a href="{{ child1_link.url }}">{{ child1_link.title | escape }}</a>                    
                     </li>
               {% endfor %}        
               </ul>
            </li>
         {% else %}
            <li class="from-top-menu">
               <a class="newfont{% if link.active %} active{% endif %} " href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
         {% endif %}
      {% endfor %}
     </ul>
   </nav>
{% endif %}